Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

fix panic and task generate
  internal/ent/hooks/event.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmodule.go
  internal/ent/hooks/standard_test.go
  internal/ent/interceptors/modules_test.go
  internal/ent/privacy/rule/modules.go
  internal/ent/schema/organizationsetting.go
  internal/ent/schema/orgsubscription.go
  internal/entitlements/features/features.go
  internal/graphapi/control_clone.go
Due: generate

bug: fixup oauth cookies for dev envs (#1112)
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
Due: generate

bug: ensure graph tests exist on seed failure (#1111)
  internal/graphapi/models_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/tools_test.go
Due: generate

fixes
  config/config-dev.example.yaml
  internal/ent/interceptors/modules.go
  internal/ent/schema/jobresult.go
  internal/ent/schema/organization.go
  internal/ent/schema/scheduledjob.go
  internal/ent/schema/task.go
  internal/httpserve/handlers/webhook.go
Due: generate

fix missing builders, generate db update
  db/migrations-goose-postgres/20250818221557_tcc.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250818221555_tcc.sql
  db/migrations/atlas.sum
  internal/graphapi/models_test.go
  internal/graphapi/trustcentercompliance_test.go
Due: generate

regen
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Due: generate

trust center compliance
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/trustcentercompliance/create.go
  cmd/cli/cmd/trustcentercompliance/delete.go
  cmd/cli/cmd/trustcentercompliance/get.go
  cmd/cli/cmd/trustcentercompliance/root.go
  cmd/cli/main.go
  fga/model/model.fga
  internal/ent/hooks/trustcenter_compliance.go
  internal/ent/interceptors/standard.go
  internal/ent/schema/standard.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenter_compliance.go
  internal/graphapi/query/trustcentercompliance.graphql
  internal/graphapi/trustcentercompliance_test.go
Due: format-graphql, generate

rebase
  internal/graphapi/models_test.go
Due: generate

fix test
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcentersubprocessor_test.go
Due: generate

try adding brew back
  .goreleaser.yaml
Due: none

fixup
  .goreleaser.yaml
Due: none

add mod cache
  .github/workflows/releaser.yml
Due: none

add homebrew_casks back to goreleaser (#1114)
  .github/workflows/releaser.yml
  .goreleaser.yaml
Due: none

fix: missing clone of assessment methods
  internal/graphapi/control_clone.go
  internal/graphapi/models_test.go
Due: generate

fix: missing clone of assessment methods (#1118)
  internal/graphapi/control_clone.go
  internal/graphapi/models_test.go
Due: generate

programs should be archiveable
  go.mod
  go.sum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/program/program.go
  internal/ent/generated/programhistory/programhistory.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/ent.resolvers.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/models_test.go
  internal/graphapi/program_test.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/programstatus.go
Due: generate

fix test and task db:create
  cmd/cli/cmd/orgsubscription/root.go
  db/migrations-goose-postgres/20250820212023_remove_product_tier.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250820211949_remove_product_tier.sql
  db/migrations/atlas.sum
  internal/entitlements/entmapping/mapping_test.go
Due: generate

use correct context
  internal/graphapi/control_clone.go
Due: generate

dup build
  docker/Taskfile.yaml
Due: none

tools
  .gitignore
  Taskfile.yaml
  cmd/catalog/migrate/main_test.go
  docker/docker-compose.yml
  go.mod
  go.sum
  jsonschema/Taskfile.yaml
  jsonschema/schema_generator.go
  pkg/entitlements/mocks/stripe.go
Due: generate

more
  Taskfile.yaml
  cmd/cli/Taskfile.yaml
  cmd/cli/main.go
  go.mod
  go.sum
  internal/ent/entconfig/config.go
  internal/ent/hush/bench/bench_test.go
  internal/ent/hush/bench/doc.go
  internal/entitlements/genfeatures/features.go
  internal/genhelpers/doc.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  pkg/gencmd/generate/main.go
  pkg/summarizer/llm_test.go
Due: generate

more
  internal/entitlements/features/features.go
Due: generate

config:gen
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

bump gqlgen-plugin
  go.mod
  go.sum
  internal/graphapi/ent.resolvers.go
  internal/graphapi/generate/gen_gqlgen.go
  internal/graphapi/program_test.go
Due: generate

test updates
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/custom_domain_shared.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_exports.go
  pkg/corejobs/export.go
Due: generate

use more generic | instead of / where commit messages might exist
  .buildkite/lib/templates.sh
Due: none

Ability to archive a program (#1119)
  go.mod
  go.sum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/program/program.go
  internal/ent/generated/programhistory/programhistory.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/ent.resolvers.go
  internal/graphapi/generate/gen_gqlgen.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/models_test.go
  internal/graphapi/program_test.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/programstatus.go
Due: generate

use more generic | instead of / where commit messages might exist (#1123)
  .buildkite/lib/templates.sh
Due: none

bug: fixup export perms, enable config, fixup docker
  cmd/cli/Taskfile.yaml
  docker/configs/riverboat/.config.dev.yaml
  docker/docker-compose-riverboat.yml
  internal/ent/generated/export/export.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/usertuples.go
  internal/ent/interceptors/file.go
  internal/ent/schema/export.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/errors.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  pkg/corejobs/export.go
  pkg/corejobs/export_test.go
  pkg/openlaneclient/interceptor.go
Due: generate

feat: export file permissions, missing task commands, enable flag for jobs (#1124)
  cmd/cli/Taskfile.yaml
  docker/configs/riverboat/.config.dev.yaml
  docker/docker-compose-riverboat.yml
  internal/ent/generated/export/export.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/usertuples.go
  internal/ent/interceptors/file.go
  internal/ent/schema/export.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/errors.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/custom_domain_shared.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_exports.go
  pkg/corejobs/export.go
  pkg/corejobs/export_test.go
  pkg/openlaneclient/interceptor.go
Due: generate

feat: run published core in docker network
  .gitignore
  README.md
  config/config-dev.docker.yaml
  docker/Taskfile.yaml
  docker/docker-compose-published.yml
  docker/docker-compose-riverboat.yml
  pkg/corejobs/delete_exports.go
  pkg/corejobs/validate_custom_domain.go
Due: generate

feat: run published core in docker network
  docker/docker-compose-published.yml
Due: none

cleanup
  docker/configs/riverboat/.config.dev.yaml
  docker/docker-compose-riverboat.yml
Due: none

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
