Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

reuse cloning and make sure when cloning for a program
  fga/model/model.fga
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/programextended.resolvers.go
Due: generate

more pipeline
  .buildkite/pipeline.yaml
Due: none

mount the volumes
  .buildkite/pipeline.yaml
Due: none

cleanup
  .buildkite/hooks/pre-command
Due: none

maxprocs
  .buildkite/pipeline.yaml
Due: none

revert
  .buildkite/pipeline.yaml
Due: none

test parallel
  Taskfile.yaml
Due: none

add system tests
  internal/graphapi/control_clone.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programextended_test.go
  internal/graphapi/standard_test.go
Due: generate

add system tests
  internal/graphapi/control_clone.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programextended_test.go
Due: generate

remove comment
  internal/ent/schema/standard.go
Due: generate

drop controls
  internal/graphapi/programextended_test.go
Due: generate

delete standard too
  internal/graphapi/programextended_test.go
Due: generate

remove bad config line
  .golangci.yaml
Due: none

remove bad config line (#716)
  .golangci.yaml
Due: none

fix reviews
  internal/ent/schema/standard.go
  internal/graphapi/control_clone.go
  internal/graphapi/controlextended.resolvers.go
Due: generate

gotestum
  .buildkite/pipeline.yaml
  Taskfile.yaml
  go.mod
  tools.go
Due: generate

test
  Taskfile.yaml
Due: none

feat: error codes on requests
  go.mod
  go.sum
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/control_test.go
  internal/graphapi/errors.go
  internal/graphapi/gqlerrors/code.go
  internal/graphapi/gqlerrors/doc.go
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/helpers.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tools_test.go
  pkg/testutils/client.go
Due: generate

go mod tidy
  go.mod
  go.sum
Due: none

fix message, cleanup tests, use save, not savex
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/models_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/seed_test.go
  pkg/openlaneclient/client.go
Due: generate

ensure interface
  internal/graphapi/errors.go
Due: generate

comments
  internal/graphapi/gqlerrors/errors.go
Due: generate

comments
  internal/graphapi/errors.go
Due: generate

test command
  Taskfile.yaml
Due: none

feat: error codes on requests (#720)
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/control_test.go
  internal/graphapi/errors.go
  internal/graphapi/gqlerrors/code.go
  internal/graphapi/gqlerrors/doc.go
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/helpers.go
  internal/graphapi/models_test.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/seed_test.go
  pkg/openlaneclient/client.go
  pkg/testutils/client.go
Due: generate

Add standard id to programs with members resolver too
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_clone.go
  internal/graphapi/generated/programextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/schema/programextended.graphql
  pkg/openlaneclient/models.go
Due: generate

Tsk go:lint
  internal/graphapi/control_clone.go
Due: generate

make standardID optional
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_clone.go
  internal/graphapi/generated/programextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/programextended.graphql
  pkg/openlaneclient/models.go
Due: generate

add tests
  internal/graphapi/programextended_test.go
Due: generate

Feat : add standard cloning to other program endpoints (#727)
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_clone.go
  internal/graphapi/generated/programextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/programextended_test.go
  internal/graphapi/schema/programextended.graphql
  pkg/openlaneclient/models.go
Due: generate

last few graph
  internal/graphapi/organization_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/query/tfasetting.graphql
  internal/graphapi/tfasetting_test.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

last few graph
  internal/graphapi/tfasetting_test.go
Due: generate

fix
  internal/graphapi/tfasetting_test.go
Due: generate

cleanup
  internal/graphapi/apitoken_test.go
  internal/graphapi/auditlog_test.go
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/entitytype_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/helpers_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/mappabledomain_test.go
  internal/graphapi/notes_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/personalaccesstoken_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/search_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/subcontrol_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/user_test.go
  internal/graphapi/usersetting_test.go
  internal/graphapi/webauthn_test.go
Due: generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
