Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

env vars only
  config/configmap.yaml
  jsonschema/schema_generator.go
Due: generate

feat: update for config map (#1155)
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  config/pushsecrets/core-db-primarydbsource.yaml
  config/pushsecrets/core-db-secondarydbsource.yaml
  config/pushsecrets/core-integrationoauthprovider-github-clientsecret.yaml
  config/pushsecrets/core-integrationoauthprovider-slack-clientsecret.yaml
  config/pushsecrets/core-jobqueue-connectionuri.yaml
  config/pushsecrets/core-sessions-encryptionkey.yaml
  config/pushsecrets/core-sessions-signingkey.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/oauth_integration_helpers.go
  jsonschema/schema_generator.go
Due: generate

bug: fix multi-word schema names
  internal/ent/generate/entc.go
  internal/graphapi/export_test.go
  pkg/enums/exportenums/generate.go
  pkg/enums/exporttype.go
Due: generate

bug: export for multi-word schemas
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/exportable_generated.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/export_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
Due: generate

another fix
  pkg/enums/exportenums/generate.go
  pkg/enums/exporttype.go
Due: generate

another comment
  pkg/enums/exportenums/generate.go
Due: generate

remove unused var
  internal/ent/generate/entc.go
  pkg/enums/exportenums/generate.go
Due: generate

add doc.go
  pkg/enums/exportenums/doc.go
Due: generate

fix comments, use output dir
  pkg/enums/exportenums/generate.go
Due: generate

bump to latest entx
  go.mod
  go.sum
Due: none

riverboat
  go.mod
  go.sum
Due: none

linter now that its a lintable file
  pkg/enums/exportenums/generate.go
Due: generate

bug: export internalPolicy schema (#1156)
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/exportable_generated.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/export_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/exportenums/doc.go
  pkg/enums/exportenums/generate.go
  pkg/enums/exporttype.go
Due: generate

feat: wrap config map in if create
  config/configmap.yaml
  jsonschema/schema_generator.go
  jsonschema/templates/configmap.tmpl
Due: generate

feat: wrap config map in if create (#1158)
  config/configmap.yaml
  jsonschema/schema_generator.go
  jsonschema/templates/configmap.tmpl
Due: generate

fix: config map fixes
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  internal/ent/entconfig/config.go
  jsonschema/schema_generator.go
Due: generate

fix: config map fixes (#1159)
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  internal/ent/entconfig/config.go
  jsonschema/schema_generator.go
Due: generate

generate resolvers
  go.mod
  go.sum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/internalpolicy.resolvers.go
  internal/graphapi/procedure.resolvers.go
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/query/procedure.graphql
  internal/graphapi/query/simple/procedure.graphql
  internal/graphapi/schema/internalpolicy.graphql
  internal/graphapi/schema/procedure.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/objects/storage/gcs.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

validate if modules feature is enabled before checking for subscription status when switching org
  internal/httpserve/authmanager/authmanager.go
Due: generate

validate if modules feature is enabled before checking for subscription status when switching org (#1162)
  internal/httpserve/authmanager/authmanager.go
Due: generate

create trust center domain resolver
  cmd/cli/cmd/trustcenterdomain/create.go
  cmd/cli/cmd/trustcenterdomain/doc.go
  cmd/cli/cmd/trustcenterdomain/root.go
  cmd/cli/main.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterdomain.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/simple/trustcenterdomain.graphql
  internal/graphapi/query/trustcenterdomain.graphql
  internal/graphapi/schema/trustcenterdomain.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Due: format-graphql, generate

some impl
  config/config.go
  internal/graphapi/errors.go
  internal/graphapi/query/simple/trustcenter.graphql
  internal/graphapi/query/trustcenter.graphql
  internal/graphapi/resolver.go
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/httpserve/serveropts/option.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

test
  config/config.example.yaml
  config/helm-values.yaml
  internal/graphapi/trustcenterdomain_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/openlaneclient/graphclient.go
  pkg/testutils/client.go
Due: generate

delete fixes
  config/.env.example
  config/config.go
  config/helm-values.yaml
  internal/ent/hooks/custom_domain.go
  internal/ent/interceptors/trustcenter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/dnsverification.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/trustcenterdomain_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: generate

fixin
  config/configmap.yaml
  internal/ent/schema/dnsverification.go
  internal/graphapi/query/simple/trustcenter.graphql
  internal/graphapi/query/trustcenter.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

bug: attempt to fix sed bk bug
  .buildkite/image-tag-automation.sh
  .buildkite/lib/templates.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/templates/slack/pr-ready-notification.json
  .buildkite/tests/Taskfile.yaml
  .buildkite/tests/slack-utils.bats
  .gitignore
Due: none

bug: attempt to fix sed bk bug (#1163)
  .buildkite/image-tag-automation.sh
  .buildkite/lib/templates.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/templates/slack/pr-ready-notification.json
  .buildkite/tests/Taskfile.yaml
  .buildkite/tests/slack-utils.bats
  .gitignore
Due: none

create trust center domain resolver (#1145)
  cmd/cli/cmd/trustcenterdomain/create.go
  cmd/cli/cmd/trustcenterdomain/doc.go
  cmd/cli/cmd/trustcenterdomain/root.go
  cmd/cli/main.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap.yaml
  config/helm-values.yaml
  internal/ent/hooks/custom_domain.go
  internal/ent/interceptors/trustcenter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/customdomain_test.go
  internal/graphapi/errors.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterdomain.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/simple/trustcenter.graphql
  internal/graphapi/query/simple/trustcenterdomain.graphql
  internal/graphapi/query/trustcenter.graphql
  internal/graphapi/query/trustcenterdomain.graphql
  internal/graphapi/resolver.go
  internal/graphapi/schema/trustcenterdomain.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
  pkg/testutils/client.go
Due: format-graphql, generate

cf major upgrade
  go.mod
  go.sum
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/create_custom_domain_test.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_custom_domain_test.go
  pkg/corejobs/internal/cloudflare/client.go
  pkg/corejobs/internal/cloudflare/mocks/mocks.go
  pkg/corejobs/validate_custom_domain.go
  pkg/corejobs/validate_custom_domain_test.go
Due: generate

missed commiting this with PR-1163
  .buildkite/tests/load_template_test.sh
Due: none

missed commiting this with PR-1163 (#1166)
  .buildkite/tests/load_template_test.sh
Due: none

rollup migrations
  db/migrations-goose-postgres/20250829015349_procedure_files.sql
  db/migrations-goose-postgres/20250829190134_policy_procedure_imports.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250829015339_procedure_files.sql
  db/migrations/20250829190122_policy_procedure_imports.sql
  db/migrations/atlas.sum
Due: none

fix bug with archiving program
  internal/ent/hooks/program.go
  internal/graphapi/program_test.go
Due: generate

fix bug with archiving program (#1168)
  internal/ent/hooks/program.go
  internal/graphapi/program_test.go
Due: generate

add control extended queries to exported client
  pkg/openlaneclient/graphclient.go
Due: generate

add control extended queries to exported client
  internal/graphapi/query/simple/controlextended.graphql
Due: format-graphql, generate

gen mocks
  pkg/corejobs/internal/olclient/mocks/mocks.go
Due: generate

add control extended queries to exported client (#1170)
  internal/graphapi/query/simple/controlextended.graphql
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
