Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

trust center compliance
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/trustcentercompliance/create.go
  cmd/cli/cmd/trustcentercompliance/delete.go
  cmd/cli/cmd/trustcentercompliance/get.go
  cmd/cli/cmd/trustcentercompliance/root.go
  cmd/cli/main.go
  fga/model/model.fga
  internal/ent/hooks/trustcenter_compliance.go
  internal/ent/interceptors/standard.go
  internal/ent/schema/standard.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenter_compliance.go
  internal/graphapi/query/trustcentercompliance.graphql
  internal/graphapi/trustcentercompliance_test.go
Due: format-graphql, generate

fix
  internal/ent/generated/file/file.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/file.go
Due: generate

fix linter issues
  pkg/gencmd/generate.go
Due: generate

more linter
  pkg/gencmd/generate.go
Due: generate

remove old test
  Taskfile.yaml
  internal/ent/hooks/objectownedtuples.go
  internal/ent/hooks/objectownedtuples_test.go
Due: generate

why is it flakey...no idea
  internal/graphapi/jobrunner_test.go
Due: generate

updates
  internal/graphapi/control_test.go
Due: generate

linter + cleanup
  internal/ent/hooks/objectownedtuples.go
  internal/ent/schema/mixin_objectowned.go
Due: generate

actually save linter
  internal/ent/schema/mixin_grouppermissions.go
Due: generate

fix model
  fga/model/model.fga
Due: none

fix fga tests
  fga/model/model.fga
  fga/tests/tests.yaml
Due: none

cleanup + entgo upgrade
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/ent/generated/gql_collection.go
  internal/ent/hooks/edges.go
  internal/ent/hooks/objectownedtuples.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/defaults.go
Due: generate

fix flakey tests
  go.mod
  go.sum
  internal/ent/hooks/revision.go
  internal/graphapi/procedure_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/standard_test.go
Due: generate

switch to entx
  db/create_migrations.go
  db/migrations-goose-postgres/20250804035349_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250804034858_edges.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/accessmap/accessmap.go
  internal/ent/generate/entc.go
  internal/ent/generated/accessmap.go
  internal/ent/schema/control.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/defaults.go
  internal/ent/schema/group.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/jobrunner_registration_token.go
  internal/ent/schema/jobrunner_token.go
  internal/ent/schema/mappedcontrol.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/mixin_createacess.go
  internal/ent/schema/mixin_document.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_userowned.go
  internal/ent/schema/onboarding.go
  internal/ent/schema/organization.go
  internal/ent/schema/orgmembership.go
  internal/ent/schema/orgmodule.go
  internal/ent/schema/orgprice.go
  internal/ent/schema/orgproduct.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/programmembership.go
  internal/ent/schema/risk.go
  internal/ent/schema/scheduledjob.go
  internal/ent/schema/scheduledjobrun.go
  internal/ent/schema/task.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenter_subprocessor.go
  internal/ent/schema/user.go
  internal/ent/schema/usersetting.go
Due: generate

rebase
  go.mod
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/task_test.go
  internal/graphapi/testclient/client.go
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
Due: generate

add group manager scope
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/_tuples.yaml
  internal/ent/hooks/apitoken.go
  internal/graphapi/models_test.go
Due: generate

fix one more test
  internal/graphapi/task_test.go
Due: generate

updates for version 2 goreleaser
  .goreleaser.yaml
Due: none

updates for version 2 goreleaser (#1075)
  .goreleaser.yaml
Due: none

bug: version should be an int not a string
  .goreleaser.yaml
Due: none

bug: version should be an int not a string (#1076)
  .goreleaser.yaml
Due: none

remove brew, we are using renovate
  .goreleaser.yaml
Due: none

remove brew, we are using renovate (#1077)
  .goreleaser.yaml
Due: none

bump iam package
  go.mod
  go.sum
  internal/ent/interceptors/features.go
  internal/ent/interceptors/features_test.go
  internal/ent/privacy/rule/features.go
  internal/ent/privacy/rule/features_test.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/dnsverification.go
  internal/ent/schema/mappable_domain.go
  internal/ent/schema/subprocessor.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/token_sso_test.go
Due: generate

fixes
  internal/ent/generated/control/control.go
  internal/ent/generated/dnsverification/dnsverification.go
  internal/ent/generated/mappabledomain/mappabledomain.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/jobrunner.go
  internal/ent/schema/jobrunner_token.go
  internal/graphapi/seed_test.go
Due: generate

v5
  go.mod
  go.sum
  pkg/corejobs/create_custom_domain.go
  pkg/corejobs/create_custom_domain_test.go
  pkg/corejobs/delete_custom_domain.go
  pkg/corejobs/delete_custom_domain_test.go
  pkg/corejobs/internal/cloudflare/client.go
  pkg/corejobs/internal/cloudflare/mocks/mocks.go
  pkg/corejobs/validate_custom_domain.go
  pkg/corejobs/validate_custom_domain_test.go
Due: generate

go mod tidy
  go.mod
  go.sum
Due: none
