Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

fix: do not allow controls from system to be linked, require edit (#738)
  internal/ent/interceptors/auditlogs.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/mixin_objectowned.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
  internal/graphapi/program_test.go
  internal/graphapi/query/internalpolicy.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

db verification db changes
  cmd/cli/cmd/customdomain/root.go
  internal/ent/schema/customdomain.go
  internal/ent/schema/mixin_orgowned.go
Due: generate

custom + mappable domain CLI
  cmd/cli/cmd/customdomain/create.go
  cmd/cli/cmd/customdomain/get.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/customdomain/update.go
  cmd/cli/cmd/mappabledomain/create.go
  cmd/cli/cmd/mappabledomain/root.go
  cmd/cli/main.go
Due: generate

fix linting
  internal/ent/hooks/job.go
  internal/ent/interceptors/job.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/schema/jobrunner.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/job_runner_register.go
  internal/httpserve/handlers/job_runner_register_test.go
  internal/httpserve/route/job_runner.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: generate

tests
  internal/httpserve/handlers/job_runner_register_test.go
Due: generate

skip graphql publish
  .buildkite/pipeline.yaml
Due: none

skip graphql publish (#743)
  .buildkite/pipeline.yaml
Due: none

fix: add missing openapi ref
  internal/httpserve/server/openapi.go
Due: generate

task db:create
  db/migrations-goose-postgres/20250518185859_job_runners.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250518185856_job_runners.sql
  db/migrations/atlas.sum
  pkg/openlaneclient/models.go
Due: generate

fix: add missing openapi ref (#744)
  internal/httpserve/server/openapi.go
Due: generate

Add comments
  internal/ent/privacy/token/job_runner.go
Due: generate

update job logic
  internal/ent/hooks/job.go
Due: generate

fix tests
  internal/ent/generated/jobrunner/jobrunner.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/job.go
  internal/ent/privacy/rule/job_runner.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/schema/jobrunner.go
  internal/graphapi/jobrunner_test.go
  internal/graphapi/jobrunnertoken_test.go
  internal/graphapi/models_test.go
  pkg/models/ipaddress_test.go
Due: generate

fix tests
  internal/ent/hooks/job.go
  internal/graphapi/jobrunner_registration_token_test.go
  internal/graphapi/jobrunnertoken_test.go
Due: generate

fix tests
  internal/graphapi/jobrunner_test.go
  internal/graphapi/jobrunnertoken_test.go
Due: generate

add interceptor to filter out system owned runners
  internal/ent/generated/jobrunner/jobrunner.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/interceptors/job.go
  internal/ent/schema/jobrunner.go
  internal/graphapi/jobrunner_test.go
Due: generate

fix lint
  internal/ent/interceptors/job.go
Due: generate

remove bypass
  internal/graphapi/jobrunner_test.go
Due: generate

feat: consistentl use org display name, instead of name for things like emails
  cmd/cli/cmd/organizationsetting/root.go
  cmd/cli/cmd/usersetting/root.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/query/organizationsetting.graphql
  internal/httpserve/handlers/email.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

feat: consistentl use org display name, instead of name for things like emails (#746)
  cmd/cli/cmd/organizationsetting/root.go
  cmd/cli/cmd/usersetting/root.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/query/organizationsetting.graphql
  internal/httpserve/handlers/email.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

default should now be not implemented, not preparing
  cmd/cli/cmd/subcontrol/create.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/subcontrol.resolvers.go
  internal/graphapi/subcontrol_test.go
Due: generate

fix tests
  internal/graphapi/control_test.go
  internal/graphapi/subcontrol_test.go
Due: generate

default control status should now be not implemented, not preparing (#750)
  cmd/cli/cmd/subcontrol/create.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/subcontrol.resolvers.go
  internal/graphapi/subcontrol_test.go
Due: generate

fix: expiresAt was being set on creation, but we were using trialExpiresAt for trials
  cmd/cli/cmd/orgsubscription/root.go
  internal/ent/hooks/event.go
Due: generate

cleanup, revert redis 8
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-redis.yml
  internal/ent/hooks/event.go
Due: generate

fix: set trialExpiresAt for `trialing` status (#751)
  cmd/cli/cmd/orgsubscription/root.go
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-redis.yml
  internal/ent/hooks/event.go
Due: generate

bug: fix ability to update permissions on managed group to other objects
  go.mod
  internal/ent/hooks/group.go
  internal/graphapi/group_test.go
  internal/graphapi/query/group.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

correct slices pkg
  go.mod
  internal/ent/hooks/group.go
Due: generate
