Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

Update seed_test.go
  internal/graphapi/seed_test.go
Due: generate

Update trustcenter_test.go
  internal/graphapi/trustcenter_test.go
Due: generate

fix build
  internal/graphapi/trustcenter_test.go
Due: generate

fix build
  internal/graphapi/seed_test.go
Due: generate

linter
  .golangci.yaml
  Taskfile.yaml
  internal/ent/generate/entc.go
  internal/genhelpers/checksum.go
Due: generate

cleanup checksums
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/.client_checksum
Due: none

rebase + regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  Taskfile.yaml
  internal/graphapi/testclient/.client_checksum
Due: none

checksums
  .gitattributes
  Taskfile.yaml
  internal/ent/checksum/.gitkeep
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.gitkeep
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.gitkeep
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.gitkeep
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.gitkeep
Due: none

revert
  .golangci.yaml
Due: none

add logic
  internal/ent/hooks/usersettings.go
Due: generate

add tests
  internal/ent/hooks/usersettings.go
  internal/httpserve/handlers/verify_test.go
Due: generate

match other ProviderCacheKey calls
  internal/objects/service.go
Due: generate

fix tests
  internal/objects/service_test.go
Due: generate

add nodes
  internal/graphapi/query/customdomain.graphql
Due: format-graphql, generate

remove status
  internal/ent/hooks/usersettings.go
Due: generate

auto mark invites as accepted when autojoining org (#1742)
  internal/ent/hooks/usersettings.go
  internal/httpserve/handlers/verify_test.go
Due: generate

fix checksum path for testclient
  internal/graphapi/generate/gen_client.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: generate

fix checksum path for testclient (#1748)
  internal/graphapi/generate/gen_client.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: generate

fix: remove duplicate add comment ids
  internal/graphapi/note.resolvers.go
Due: generate

delete custom domain in trust center hook
  internal/ent/hooks/trustcenter.go
Due: generate

removed gopls config
  gopls.yaml
Due: none

merge conflicts fixes
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/subscription.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: generate

rebase and regenerate
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/models.go
Due: generate

bump stripe api version
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  pkg/entitlements/config.go
Due: generate

bump stripe api version (#1755)
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  pkg/entitlements/config.go
Due: generate

remove gen
  Taskfile.yaml
Due: none

update references
  internal/ent/hooks/custom_domain.go
  internal/ent/hooks/export.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcenterdoc.go
  internal/ent/hooks/trustcentersetting.go
  internal/ent/hooks/trustcenterwatermarkconfig.go
  internal/graphapi/trustcenter_test.go
Due: generate

more updates
  .buildkite/pipeline.yaml
  .github/labeler.yml
  .golangci.yaml
  .goreleaser.yaml
  .typos.toml
  Taskfile.yaml
  cli/main.go
  go.mod
  go.sum
  pkg/gencmd/README.md
  pkg/gencmd/generate.go
  pkg/gencmd/templates/create.tmpl
  pkg/gencmd/templates/delete.tmpl
  pkg/gencmd/templates/get.tmpl
  pkg/gencmd/templates/root.tmpl
  pkg/gencmd/templates/update.tmpl
  pkg/objects/examples/openlane/file_base64.go
  pkg/testutils/login/sso/README.md
  sonar-project.properties
Due: generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
