Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

feat: add cli for file and url document upload
  cmd/cli/cmd/internalpolicy/create.go
  cmd/cli/cmd/internalpolicy/root.go
  cmd/cli/cmd/procedure/create.go
  cmd/cli/cmd/procedure/root.go
  internal/graphapi/query/simple/internalpolicy.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

generate
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: generate

feat: add cli for file and url document upload (#1329)
  cmd/cli/cmd/internalpolicy/create.go
  cmd/cli/cmd/internalpolicy/root.go
  cmd/cli/cmd/procedure/create.go
  cmd/cli/cmd/procedure/root.go
  internal/graphapi/query/simple/internalpolicy.graphql
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

feat: new impersonation event schema to persist the impersonation request logs
  internal/ent/schema/impersonationevent.go
Due: generate

fix test
  internal/graphapi/tools_test.go
Due: generate

remove import of internal in summarizer pkg
  internal/ent/entconfig/config.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
  pkg/summarizer/config.go
  pkg/summarizer/config_enum.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/llm.go
  pkg/summarizer/llm_test.go
  pkg/summarizer/summary.go
Due: generate

cleanup
  internal/middleware/objects/validator.go
  pkg/summarizer/summary.go
Due: generate

migrations
  db/migrations-goose-postgres/20251003215500_action_plan_url.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20251003215456_action_plan_url.sql
  db/migrations/atlas.sum
Due: none

feat(impersonation_event): updated impersonation_event edges and added reverse edges in user and organization table
  internal/ent/schema/impersonationevent.go
  internal/ent/schema/organization.go
  internal/ent/schema/user.go
Due: generate

watermark doc job
  go.mod
  go.sum
  internal/ent/hooks/trustcenterdoc.go
  pkg/corejobs/watermark_doc.go
  pkg/corejobs/watermark_doc_test.go
Due: generate

stuff
  cmd/cli/cmd/trustcenterwatermarkconfig/get.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/trustcenterwatermarkconfig.go
  internal/httpserve/route/files.go
  internal/middleware/objects/middleware.go
  pkg/corejobs/watermark_doc.go
  pkg/corejobs/watermark_doc_test.go
Due: generate

fix stuff
  internal/ent/hooks/trustcenterwatermarkconfig.go
  internal/ent/schema/mixin_orgowned.go
  internal/middleware/objects/middleware.go
  pkg/corejobs/watermark_doc.go
  pkg/corejobs/watermark_doc_test.go
Due: generate

trigger job on watermark update
  internal/ent/hooks/trustcenterwatermarkconfig.go
Due: generate

Add impersonation metrics #1325
  .pre-commit-config.yaml
  go.mod
  go.sum
  internal/graphapi/query/jobrunnertoken.graphql
  internal/graphapi/query/simple/trustcenterdoc.graphql
  internal/graphapi/query/trustcentersubprocessor.graphql
  internal/httpserve/handlers/impersonation.go
  package-lock.json
  package.json
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: format-graphql, generate

feat: added ImpersonationType and ImpersonationAction enums for ImpersonationEvent schema
  internal/ent/schema/impersonationevent.go
  pkg/enums/impersonationaction.go
  pkg/enums/impersonationtype.go
Due: generate

fix: added missing field in the user edge of the ImpersonationEventSchema
  internal/ent/schema/impersonationevent.go
Due: generate

db:create
  db/migrations-goose-postgres/20251006153848_control_additional_fields.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20251006153845_control_additional_fields.sql
  db/migrations/atlas.sum
Due: none

config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

fix tests
  internal/ent/hooks/orgmembers.go
  internal/graphapi/group_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_sso_test.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/switch_test.go
Due: generate

feat: persist impersonation requests into the database (#1324 )
  db/migrations-goose-postgres/20251006190944_impersonation_event.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20251006190938_impersonation_event.sql
  db/migrations/atlas.sum
Due: none

fix tests
  internal/graphapi/group_test.go
  internal/graphapi/orgmembers_test.go
  internal/httpserve/handlers/oauth_login_sso_test.go
Due: generate

fix bug where not all groups are updated because of authenticated user context
  internal/ent/hooks/user.go
Due: generate

System managed group per org user (#1303)
  cmd/managedgroups/README.md
  cmd/managedgroups/main.go
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/user.go
  internal/graphapi/group_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_sso_test.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/switch_test.go
Due: generate

fix error on summary
  pkg/summarizer/summary.go
Due: generate

fix error on summary (#1346)
  pkg/summarizer/summary.go
Due: generate

improve error message for duplicated trust centers
  internal/ent/hooks/errors.go
  internal/ent/hooks/trustcenter.go
  internal/graphapi/trustcenter_test.go
Due: generate

fix: add modules to claims on refresh
  internal/httpserve/handlers/refresh.go
Due: generate

add a test
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/seed_test.go
Due: generate

fix: add modules to claims on refresh (#1347)
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/invite_test.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/seed_test.go
Due: generate

added validation function to validate filters of export_type
  internal/ent/validator/graphql_filter_validator.go
  internal/ent/validator/graphql_filter_validator_test.go
Due: generate

create trustcenter on webhook and make sure there can only be one at any given time
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/trustcenter.go
  internal/httpserve/handlers/webhook_helpers.go
Due: generate
