Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

automation updates
  .buildkite/image-tag-automation.sh
  .buildkite/lib/helm.sh
  .buildkite/tests/slack-utils.bats
  jsonschema/schema_generator.go
Due: generate

config:gen
  config/helm-values.yaml
Due: none

key on values.yaml
  .buildkite/image-tag-automation.sh
Due: none

generate configmap without defaults to easily allow overrides (#1139)
  .buildkite/lib/helm.sh
  .buildkite/tests/slack-utils.bats
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: generate

add verify interval to custom domain config
  pkg/corejobs/custom_domain_shared.go
Due: generate

add verify interval to custom domain config (#1141)
  pkg/corejobs/custom_domain_shared.go
Due: generate

update graph client + add cli commands for custom domains
  cmd/cli/cmd/customdomain/delete.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/mappabledomain/get.go
  cmd/cli/cmd/trustcenter/create.go
  internal/graphapi/query/customdomain.graphql
  internal/graphapi/query/simple/customdomain.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

subscription update cannot work for multiple products in the portal
  pkg/entitlements/portalsession.go
Due: generate

update graph client + add cli commands for custom domains (#1140)
  cmd/cli/cmd/customdomain/delete.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/mappabledomain/get.go
  cmd/cli/cmd/trustcenter/create.go
  internal/graphapi/query/customdomain.graphql
  internal/graphapi/query/simple/customdomain.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

update queries
  internal/graphapi/generate/.gqlgenc_cliclient.yml
  internal/graphapi/query/simple/apitoken.graphql
  internal/graphapi/query/simple/documentdata.graphql
  internal/graphapi/query/simple/evidence.graphql
  internal/graphapi/query/simple/export.graphql
  internal/graphapi/query/simple/file.graphql
  internal/graphapi/query/simple/integration.graphql
  internal/graphapi/query/simple/jobresult.graphql
  internal/graphapi/query/simple/jobrunner.graphql
  internal/graphapi/query/simple/onboarding.graphql
  internal/graphapi/query/simple/organization.graphql
  internal/graphapi/query/simple/orgmembershiphistory.graphql
  internal/graphapi/query/simple/orgsubscription.graphql
  internal/graphapi/query/simple/personalaccesstoken.graphql
  internal/graphapi/query/simple/subscriber.graphql
  internal/graphapi/query/simple/tfasetting.graphql
  internal/graphapi/query/simple/user.graphql
  internal/graphapi/query/simple/usersetting.graphql
  internal/graphapi/query/simple/webauthn.graphql
Due: format-graphql, generate

configure default for custom domain validation interval
  pkg/corejobs/custom_domain_shared.go
Due: generate

configure default for custom domain validation interval (#1143)
  pkg/corejobs/custom_domain_shared.go
Due: generate

add upload capability to job results
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/generated/jobresult/jobresult.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/jobresult.go
  internal/ent/schema/jobresult.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/jobresult.resolvers.go
  internal/graphapi/schema/jobresult.graphql
  internal/middleware/objects/validator.go
Due: generate

add missing upload parameters so the functionality actually gets added to the client
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/hooks/jobresult.go
  internal/graphapi/query/jobresult.graphql
  internal/graphapi/query/simple/jobresult.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

regen client and mocks
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: generate

update smart gen
  Taskfile.yaml
Due: none

more fixes
  cmd/cli/cmd/controlimplementation/root.go
  cmd/cli/cmd/controlobjective/root.go
  cmd/cli/cmd/errors.go
  cmd/cli/cmd/evidence/create.go
  cmd/cli/cmd/evidence/root.go
  cmd/cli/cmd/narrative/root.go
  cmd/cli/cmd/risk/root.go
  cmd/cli/cmd/task/root.go
  internal/graphapi/query/simple/controlimplementation.graphql
  internal/graphapi/query/simple/controlobjective.graphql
  internal/graphapi/query/simple/evidence.graphql
  internal/graphapi/query/simple/mappedcontrol.graphql
  internal/graphapi/query/simple/task.graphql
  internal/graphapi/trustcentercompliance.resolvers.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

regen...again
  pkg/openlaneclient/graphclient.go
Due: generate

fix tests related to nil pointer error
  internal/graphapi/trustcentercompliance_test.go
Due: generate

Revert "generate configmap without defaults to easily allow overrides (#1139)"
  .buildkite/lib/helm.sh
  .buildkite/tests/slack-utils.bats
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: generate

add payment method boolean
  internal/graphapi/query/organizationsetting.graphql
  internal/graphapi/testclient/graphclient.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

add CLI functionality for jobresult
  cmd/cli/cmd/jobresult/create.go
  cmd/cli/cmd/jobresult/update.go
Due: generate

add missing upload parameters so the functionality actually gets added to the client
  pkg/openlaneclient/graphclient.go
Due: generate

fix: actually use new simple queries for cli (#1146)
  pkg/openlaneclient/graphclient.go
Due: generate

Add upload ability to JobResults (#1144)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cmd/cli/cmd/jobresult/create.go
  cmd/cli/cmd/jobresult/update.go
  internal/ent/generated/jobresult/jobresult.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/jobresult.go
  internal/ent/schema/jobresult.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/jobresult.resolvers.go
  internal/graphapi/query/jobresult.graphql
  internal/graphapi/query/simple/jobresult.graphql
  internal/graphapi/schema/jobresult.graphql
  internal/graphapi/testclient/graphclient.go
  internal/middleware/objects/validator.go
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

updates to program status should be blocked if archived already
  internal/ent/hooks/errors.go
  internal/ent/hooks/program.go
  internal/graphapi/program_test.go
Due: generate

check for soft deletes
  internal/ent/hooks/program.go
Due: generate

make check more explicit
  internal/ent/hooks/program.go
Due: generate

Revert "generate configmap without defaults to easily allow overrides (#1139)" (#1148)
  .buildkite/lib/helm.sh
  .buildkite/tests/slack-utils.bats
  config/configmap.yaml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: generate

Block all updates to archived programs (#1150)
  internal/ent/hooks/errors.go
  internal/ent/hooks/program.go
  internal/graphapi/program_test.go
Due: generate

handle no category case
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/controlhelpers.go
Due: generate

add tests
  internal/graphapi/control_test.go
Due: generate

Default to No Category for controls when filtering by categories (#1152)
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/controlhelpers.go
Due: generate

allow secrets in env vars, used for local dev to override settings in things like docker compose
  config/.env.example
  config/configmap.yaml
  jsonschema/schema_generator.go
Due: generate

feat: update for config map
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  config/pushsecrets/core-db-primarydbsource.yaml
  config/pushsecrets/core-db-secondarydbsource.yaml
  config/pushsecrets/core-integrationoauthprovider-github-clientsecret.yaml
  config/pushsecrets/core-integrationoauthprovider-slack-clientsecret.yaml
  config/pushsecrets/core-jobqueue-connectionuri.yaml
  config/pushsecrets/core-sessions-encryptionkey.yaml
  config/pushsecrets/core-sessions-signingkey.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/oauth_integration_helpers.go
  jsonschema/schema_generator.go
Due: generate
