Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

improve tests
  internal/ent/privacy/rule/features.go
  internal/ent/privacy/rule/features_test.go
  internal/graphapi/control_test.go
  internal/graphapi/models_test.go
  internal/graphapi/seed_test.go
Due: generate

fix oas generation
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/accountfeatures.go
  internal/httpserve/handlers/acmesolver.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/examplecsv.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/job_runner_register.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_token.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/tfavalidate.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/handlers/webfinger.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: generate

fix up the test?
  internal/httpserve/handlers/webauthn.go
  pkg/models/models.go
Due: generate

Fix Server Startup Errors on Route Registration & other misc. OAS issues (#1090)
  internal/httpserve/handlers/acccountaccess.go
  internal/httpserve/handlers/acccountroles.go
  internal/httpserve/handlers/acccountrolesorganization.go
  internal/httpserve/handlers/accountfeatures.go
  internal/httpserve/handlers/acmesolver.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/examplecsv.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/job_runner_register.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_register.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resendemail.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_token.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/tfavalidate.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/httpserve/handlers/userinfo.go
  internal/httpserve/handlers/userinfo_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/webauthn.go
  internal/httpserve/handlers/webfinger.go
  internal/httpserve/route/router.go
  pkg/models/models.go
Due: generate

fix tests
  internal/ent/schema/group.go
  internal/ent/schema/standard.go
  internal/graphapi/organization_test.go
Due: generate

fix tests
  internal/ent/interceptors/features.go
  internal/httpserve/handlers/invite_test.go
Due: generate

bug: ensure order is preserved after acces checks
  internal/ent/interceptors/filter.go
  internal/graphapi/task_test.go
Due: generate

bug: ensure order is preserved after acces checks (#1094)
  internal/ent/interceptors/filter.go
  internal/graphapi/task_test.go
Due: generate

cleanup some flakey tests
  internal/graphapi/control_test.go
  internal/graphapi/task_test.go
Due: generate

dont run in parallel
  internal/graphapi/tfasetting_test.go
Due: generate

cleanup some flakey tests (#1097)
  internal/graphapi/control_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
Due: generate

fix broken test
  internal/httpserve/handlers/seed_test.go
Due: generate

task regenerate + go mod tidy
  go.sum
  internal/ent/generated/webauthn_query.go
  internal/ent/schema/group.go
  internal/ent/schema/integration.go
  internal/ent/schema/programmembership.go
  internal/ent/schema/webauthn.go
  pkg/catalog/gencatalog/gencatalog.go
Due: generate

go mod tidy
  go.mod
  go.sum
Due: none

restore the previous command naming and syntax
  cmd/cli/Taskfile.yaml
Due: none

restore the previous command naming and syntax (#1100)
  cmd/cli/Taskfile.yaml
Due: none

add module path to error for frontend
  internal/ent/interceptors/features.go
  internal/ent/privacy/rule/features.go
  internal/ent/privacy/rule/features_test.go
  internal/graphapi/errors.go
  internal/graphapi/gqlerrors/errors.go
Due: generate

go upgrade for vuln, tests
  go.mod
  internal/ent/privacy/utils/utils.go
Due: generate

remove old update
  fga/model/model.fga
Due: none

actually add tests
  internal/ent/privacy/utils/utils.go
  internal/ent/privacy/utils/utils_test.go
Due: generate

generate with latest jsonschema2mk
  jsonschema/api-docs.md
Due: none

trust center compliance
  cmd/cli/Taskfile.yaml
  cmd/cli/cmd/trustcentercompliance/create.go
  cmd/cli/cmd/trustcentercompliance/delete.go
  cmd/cli/cmd/trustcentercompliance/get.go
  cmd/cli/cmd/trustcentercompliance/root.go
  cmd/cli/main.go
  fga/model/model.fga
  internal/ent/hooks/trustcenter_compliance.go
  internal/ent/interceptors/standard.go
  internal/ent/schema/standard.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenter_compliance.go
  internal/graphapi/query/trustcentercompliance.graphql
  internal/graphapi/trustcentercompliance_test.go
Due: format-graphql, generate

fixes
  internal/ent/generate/entc.go
  internal/ent/hooks/orgmodule.go
  internal/ent/interceptors/modules.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/rule/modules.go
  internal/entdb/client.go
  internal/entitlements/features/features.go
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/seed_test.go
Due: generate

bump jsonschema version up
  internal/graphapi/tools_test.go
  jsonschema/api-docs.md
Due: generate

reenable modules in test
  internal/graphapi/tools_test.go
Due: generate

bug: ensure graph tests exist on seed failure
  internal/graphapi/models_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/tools_test.go
Due: generate

bug: fixup oauth cookies for dev envs
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
Due: generate
