Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

update tuples
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/trust_center_doc.yaml
  internal/ent/interceptors/trustcenterdoc.go
  internal/ent/schema/trustcenterdocument.go
Due: generate

generate:ent
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenterdoc/trustcenterdoc.go
Due: generate

fix
  internal/ent/hooks/trustcenterdoc.go
Due: generate

update fetching the org id
  go.mod
  go.sum
  internal/ent/schema/mixin_orgowned.go
Due: generate

trust center NDA submissions
  cmd/cli/cmd/documentdata/create.go
  cmd/cli/cmd/documentdata/delete.go
  cmd/cli/cmd/documentdata/doc.go
  cmd/cli/cmd/documentdata/get.go
  cmd/cli/cmd/documentdata/root.go
  cmd/cli/cmd/template/create.go
  cmd/cli/cmd/trustcenternda/submit.go
  cmd/cli/main.go
  fga/model/model.fga
  internal/ent/hooks/objectownedtuples.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/template.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/simple/trustcenternda.graphql
  internal/graphapi/query/trustcenternda.graphql
  internal/graphapi/schema/trustcenternda.graphql
  internal/graphapi/template_test.go
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenternda.resolvers.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndatmpl.go
  pkg/middleware/auth/auth.go
  pkg/openlaneclient/models.go
Due: format-graphql, generate

clean up
  internal/ent/hooks/objectownedtuples.go
  internal/ent/schema/mixin_objectowned.go
  internal/graphapi/trustcenterndatmpl.go
Due: generate

moar fix
  go.sum
  internal/ent/generated/documentdata/documentdata.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/documentdata.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/documentdata.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/task_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcentersubprocessor_test.go
Due: generate

Update internal/ent/hooks/documentdata.go
  internal/ent/hooks/documentdata.go
Due: generate

trust center doc access (#1275)
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/trust_center_doc.yaml
  internal/ent/hooks/trustcenterdoc.go
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterdoc_test.go
  internal/middleware/objects/permissions.go
Due: generate

init watermark schema
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

schema updates
  internal/ent/schema/defaults.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

schema auth updates
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

some updates
  cmd/cli/cmd/trustcenterwatermarkconfig/create.go
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

some updates
  internal/ent/hooks/trustcenterwatermarkconfig.go
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

update some schemas
  internal/graphapi/query/simple/trustcenterwatermarkconfig.graphql
  internal/graphapi/query/trustcenterwatermarkconfig.graphql
Due: format-graphql, generate

some updates
  fga/model/model.fga
  internal/ent/schema/trustcenterwatermarkconfig.go
Due: generate

cli
  cmd/cli/cmd/trustcenterwatermarkconfig/create.go
  cmd/cli/cmd/trustcenterwatermarkconfig/delete.go
  cmd/cli/cmd/trustcenterwatermarkconfig/get.go
  cmd/cli/cmd/trustcenterwatermarkconfig/root.go
  cmd/cli/cmd/trustcenterwatermarkconfig/update.go
  cmd/cli/main.go
Due: generate

update some gql schemas
  internal/graphapi/query/simple/trustcenterwatermarkconfig.graphql
  internal/graphapi/query/trustcenterwatermarkconfig.graphql
  internal/graphapi/schema/trustcenterwatermarkconfig.graphql
Due: format-graphql, generate

some more thangs
  fga/model/model.fga
  internal/ent/schema/trustcenterwatermarkconfig.go
  internal/graphapi/models_test.go
  internal/graphapi/query/simple/trustcenterwatermarkconfig.graphql
  internal/graphapi/trustcenterwatermarkconfig.resolvers.go
  internal/graphapi/trustcenterwatermarkconfig_test.go
Due: format-graphql, generate

feedback
  internal/ent/schema/trustcenterwatermarkconfig.go
  internal/ent/validator/color_hex_codes.go
  pkg/enums/font.go
Due: generate

regen migrations
  db/migrations-goose-postgres/20250924152718_trustcenter_watermark_config.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250924152714_trustcenter_watermark_config.sql
  db/migrations/atlas.sum
  fga/model/model.fga
Due: none

generate
  db/migrations-goose-postgres/20250924152718_trustcenter_watermark_config.sql
  db/migrations-goose-postgres/20250925151020_trustcenter_watermark_config.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250924152714_trustcenter_watermark_config.sql
  db/migrations/20250925151016_trustcenter_watermark_config.sql
  db/migrations/atlas.sum
  pkg/openlaneclient/models.go
Due: generate

fix
  cmd/cli/cmd/trustcenterwatermarkconfig/create.go
  cmd/cli/cmd/trustcenterwatermarkconfig/root.go
  cmd/cli/cmd/trustcenterwatermarkconfig/update.go
  fga/model/model.fga
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterwatermarkconfig_test.go
Due: generate

reconcile CLI
  cmd/catalog/reconcile/main.go
  cmd/cli/cmd/reconcile/config.go
  cmd/cli/cmd/reconcile/doc.go
  cmd/cli/cmd/reconcile/root.go
  cmd/cli/main.go
  go.mod
  go.sum
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/reconciler_test.go
  internal/entitlements/reconciler/stripe_operations.go
  internal/entitlements/reconciler/stripe_operations_test.go
  pkg/entitlements/customers.go
  pkg/entitlements/models.go
Due: generate

update replace for utils package
  go.mod
  go.sum
Due: none

remove
  internal/entitlements/reconciler/reconciler.go
Due: generate

wow
  internal/entitlements/reconciler/reconciler.go
Due: generate

Reconciler CLI (Reconciliation with Stripe) (#1281)
  cmd/catalog/reconcile/main.go
  cmd/cli/cmd/reconcile/config.go
  cmd/cli/cmd/reconcile/doc.go
  cmd/cli/cmd/reconcile/root.go
  cmd/cli/main.go
  go.mod
  go.sum
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/reconciler_test.go
  internal/entitlements/reconciler/stripe_operations.go
  internal/entitlements/reconciler/stripe_operations_test.go
  pkg/entitlements/customers.go
  pkg/entitlements/models.go
Due: generate

fix
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterwatermarkconfig_test.go
Due: generate

limit number of releases
  .github/workflows/releaser.yml
Due: none

Feature tuple updates based off stripe events (#1279)
  internal/ent/hooks/orgmodule.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
Due: generate
