Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

bug: fix ability to update permissions on managed group to other objects (#753)
  internal/ent/hooks/group.go
  internal/graphapi/group_test.go
  internal/graphapi/query/group.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

update graphql
  internal/graphapi/query/group.graphql
  pkg/openlaneclient/graphclient.go
  pkg/openlaneclient/models.go
Due: format-graphql, generate

fix test
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
Due: generate

fix build
  cmd/cli/cmd/group/root.go
Due: generate

%s/len(edges)/TotalCount
  cmd/cli/cmd/group/root.go
Due: generate

add db migrations
  db/migrations-goose-postgres/20250521054027_mapped_controls.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250521054025_mapped_controls.sql
  db/migrations/atlas.sum
Due: none

lint
  internal/graphapi/control_clone.go
  pkg/enums/mappingsource.go
  pkg/enums/mappingtype.go
Due: generate

add totalCount
  internal/graphapi/group_test.go
  internal/graphapi/query/group.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

format graphql
  internal/graphapi/query/group.graphql
Due: format-graphql, generate

fix len check
  internal/graphapi/group_test.go
Due: generate

fix: set default org to personal if no org found
  internal/httpserve/authmanager/authmanager.go
Due: generate

fix: set default org to personal if no org found (#757)
  internal/httpserve/authmanager/authmanager.go
Due: generate

wip
  pkg/enums/mappingtype.go
Due: generate

fix: nil pointer when switching to personal
  go.mod
  go.sum
  internal/httpserve/authmanager/authmanager.go
Due: generate

go mod tidy
  go.sum
Due: none

fix: nil pointer when switching to personal (#764)
  go.mod
  go.sum
  internal/httpserve/authmanager/authmanager.go
Due: generate

wip
  cmd/cli/cmd/programmembers/delete.go
  cmd/cli/cmd/programmembers/get.go
  cmd/cli/cmd/programmembers/update.go
  go.mod
  internal/ent/schema/mixin_createacess.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/organization.go
  internal/ent/schema/program.go
  internal/ent/schema/user.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/group_test.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/grouppermissionshelpers.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/narrative_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/query/control.graphql
  internal/graphapi/query/controlobjective.graphql
  internal/graphapi/query/group.graphql
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/query/narrative.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/query/procedure.graphql
  internal/graphapi/query/program.graphql
  internal/graphapi/query/risk.graphql
  internal/graphapi/risk_test.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schema/groupextended.graphql
  internal/graphapi/schema/programextended.graphql
Due: format-graphql, generate

test fixes, add verbose gotestsum command
  Taskfile.yaml
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/narrative_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/risk_test.go
Due: generate

fix test
  internal/graphapi/risk_test.go
Due: generate

[skip ci] regenerate
  fga/model/model.fga
  go.mod
  go.sum
  internal/ent/generated/controlscheduledjob/controlscheduledjob.go
  internal/ent/generated/controlscheduledjob_create.go
  internal/ent/generated/controlscheduledjob_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/scheduledjob/scheduledjob.go
  internal/ent/generated/scheduledjob_create.go
  internal/ent/generated/scheduledjob_update.go
  internal/ent/hooks/job_definition.go
  internal/ent/schema/jobdefinition.go
  internal/ent/schema/jodefinition_control.go
  internal/graphapi/controlscheduledjob.resolvers.go
  internal/graphapi/models_test.go
  internal/graphapi/scheduled_job_test.go
  pkg/enums/jobcadence.go
  pkg/enums/jobweekday.go
  pkg/models/job.go
  pkg/models/job_cadence.go
  pkg/models/job_cadence_test.go
  pkg/models/job_test.go
Due: generate

task db:resethash
  db/migrations-goose-postgres/20250526044537_job_definition.sql
  db/migrations-goose-postgres/20250526054456_job_definition_updates.sql
  db/migrations-goose-postgres/20250526093417_job_run_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250526044529_job_definition.sql
  db/migrations/20250526054453_job_definition_updates.sql
  db/migrations/20250526093414_job_run_history.sql
  db/migrations/atlas.sum
Due: none

task db:resethash and merge migrations into just one file
  db/migrations-goose-postgres/20250526121301_jobs.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250526121257_jobs.sql
  db/migrations/atlas.sum
Due: none
