Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

update prod catalog struct
  pkg/catalog/gencatalog/gencatalog.go
Due: generate

trust center doc schema
  internal/ent/schema/file.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenterdocument.go
  pkg/enums/trustcenterdocumentstatus.go
Due: generate

update prod catalog struct (#1253)
  pkg/catalog/gencatalog/gencatalog.go
Due: generate

push current cut
  internal/ent/hooks/file.go
  internal/ent/interceptors/file.go
  internal/graphapi/helpers.go
  internal/graphapi/helpers_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/route/upload.go
  internal/middleware/objects/middleware.go
  internal/middleware/objects/permissions.go
  internal/objects/service.go
  internal/objects/service_test.go
  pkg/objects/mocks/mocks_provider.go
  pkg/objects/storage/providers/disk/builder.go
  pkg/objects/storage/providers/disk/builders_test.go
  pkg/objects/storage/providers/disk/errors.go
  pkg/objects/storage/providers/disk/provider.go
  pkg/objects/storage/providers/disk/provider_test.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider.go
  pkg/objects/storage/providers/s3/provider_test.go
  pkg/objects/storage/service.go
  pkg/objects/storage/types.go
  pkg/objects/storage/types/provider.go
  pkg/objects/storage/types_test.go
  pkg/objects/storage/utils.go
  pkg/objects/upload.go
  pkg/objects/upload_context_test.go
  pkg/objects/validation.go
  pkg/objects/validation_test.go
Due: generate

trust center doc schema
  cmd/cli/cmd/trustcenterdoc/create.go
  cmd/cli/cmd/trustcenterdoc/delete.go
  cmd/cli/cmd/trustcenterdoc/doc.go
  cmd/cli/cmd/trustcenterdoc/get.go
  cmd/cli/cmd/trustcenterdoc/root.go
  cmd/cli/cmd/trustcenterdoc/update.go
  cmd/cli/main.go
  internal/ent/hooks/trustcenterdoc.go
  internal/ent/schema/file.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenterdocument.go
  internal/graphapi/query/simple/trustcenterdoc.graphql
  internal/graphapi/query/trustcenterdoc.graphql
  internal/graphapi/schema/trustcenterdoc.graphql
  internal/graphapi/trustcenterdoc_test.go
  internal/middleware/objects/validator.go
  pkg/enums/trustcenterdocumentstatus.go
Due: format-graphql, generate

fix tests
  fga/model/model.fga
  internal/graphapi/models_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenterdoc_test.go
Due: generate

add interactive prompt for adding modules to subscription via CLI
  cmd/catalog/README.md
  cmd/catalog/main.go
Due: generate

add interactive prompt for adding modules to subscription via CLI (#1259)
  cmd/catalog/README.md
  cmd/catalog/main.go
Due: generate

fixup anon userid format
  internal/ent/interceptors/filter.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/authmanager/authmanager.go
  pkg/middleware/auth/auth.go
Due: generate

ohhh docs pull from here
  README.md
Due: none

cleanup
  README.md
  internal/ent/generated/mappedcontrol/mappedcontrol.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/interceptors/mappedcontrols.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/schema/mappedcontrol.go
  internal/ent/schema/mixin_grouppermissions.go
Due: generate

more cleanup
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/privacy/rule/job_runner.go
  internal/ent/privacy/rule/standard.go
  internal/ent/privacy/rule/subprocessor.go
  internal/ent/privacy/rule/systemowned.go
  internal/ent/schema/defaults.go
  internal/ent/schema/standard.go
  internal/ent/schema/subprocessor.go
  internal/graphapi/control_test.go
  internal/graphapi/directives/directives.go
  internal/graphapi/directives/doc.go
  internal/graphapi/directives/extension.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/mappedcontrol_test.go
  internal/graphapi/standard.resolvers.go
  internal/graphapi/tools_test.go
Due: generate

revert db for now
  db/migrations-goose-postgres/20250918174237_system_owned.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250918174233_system_owned.sql
  db/migrations/atlas.sum
Due: none

db:generate
  db/migrations-goose-postgres/20250919172314_system_owned.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250919172311_system_owned.sql
  db/migrations/atlas.sum
Due: none

fix yaml indent
  README.md
Due: none

fixup anon userid format (#1260)
  internal/ent/interceptors/filter.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/authmanager/authmanager.go
  pkg/middleware/auth/auth.go
Due: generate

graphql schema
  internal/graphapi/schema/trustcenternda.graphql
Due: generate

pr feedback
  README.md
  internal/ent/generate/entc.go
  internal/ent/hooks/group.go
  internal/ent/hooks/program.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/directives/extension.go
Due: generate

trust center NDA templates
  cmd/cli/cmd/template/create.go
  fga/model/model.fga
  internal/ent/hooks/template.go
  internal/ent/schema/template.go
  internal/ent/schema/trustcenter.go
  internal/graphapi/query/simple/template.graphql
  internal/graphapi/query/template.graphql
  internal/graphapi/schema/template.graphql
  internal/graphapi/template_test.go
  internal/middleware/objects/validator.go
  pkg/enums/templatekind.go
Due: format-graphql, generate

tests + fixes for trust center templates
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/template/template.go
  internal/ent/generated/templatehistory/templatehistory.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/template_test.go
  pkg/enums/templatekind.go
  pkg/openlaneclient/models.go
Due: generate

fixes
  db/migrations-goose-postgres/20250922153331_trust_center_nda.sql
  db/migrations/20250922153324_trust_center_nda.sql
  internal/ent/hooks/template.go
  internal/ent/interceptors/filter.go
  internal/graphapi/query/simple/template.graphql
  pkg/corejobs/internal/olclient/mocks/mocks.go
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

Update internal/ent/schema/template.go
  internal/ent/schema/template.go
Due: generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
