Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: true
default_language_version:
  golang: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: jsonschema/api-docs.md|internal/graphapi/generated/.+\.go|internal/graphapi/clientschema/.+\.graphql
      - id: detect-private-key
  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/crate-ci/typos
    # ensure this stays in this format, the auto-updater might update to something like typos-dict-v0.11.35 which is not correct
    rev: v1.31.2
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: format-graphql
        name: Format GraphQL
        description: This hook formats GraphQL schemas
        entry: npx format-graphql@1.5.0 --write=true
        language: node
        files: 'query/.*\.graphql$'
  - repo: local
    hooks:
      - id: generate
        name: Run Go Generate
        description: This hook runs go generate on the project
        entry: go-generate-fast ./...
        language: golang
        files: \.(go|graphql|tmpl)$

task config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

Add llm summarizer and tests
  go.mod
  go.sum
  internal/ent/entconfig/config.go
  pkg/summarizer/llm.go
  pkg/summarizer/llm_test.go
Due: generate

add summarizer on handler
  cmd/serve.go
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/option.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/llm.go
  pkg/summarizer/summary.go
Due: generate

Task config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/entconfig/config.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/summarizer/llm.go
  pkg/summarizer/summary.go
Due: generate

hooks
  internal/ent/hooks/internalpolicy.go
  internal/ent/hooks/procedure.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/procedure.go
  pkg/summarizer/summary.go
Due: generate

add policy summary hook
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/entconfig/config.go
  internal/ent/hooks/internalpolicy.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/lexrank_test.go
Due: generate

add tests
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  internal/ent/entconfig/config.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/summarizer/llm.go
  pkg/summarizer/llm_test.go
Due: generate

implement hooks for summary
  internal/ent/hooks/internalpolicy.go
  internal/ent/hooks/procedure.go
  pkg/summarizer/summary.go
Due: generate

rename client
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/httpserve/handlers/handlers.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/summary.go
Due: generate

Add summarizer dependency in tests
  internal/graphapi/models_test.go
  internal/graphapi/tools_test.go
  pkg/summarizer/llm.go
Due: generate

fix lint
  pkg/summarizer/llm.go
Due: generate

task config:generate
  jsonschema/api-docs.md
Due: none

add comment block
  internal/ent/hooks/internalpolicy.go
  internal/ent/hooks/procedure.go
Due: generate

add comment block
  internal/ent/entconfig/config.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/summary.go
Due: generate

task config:generate
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

only summarize if details provided
  internal/ent/hooks/internalpolicy.go
  internal/ent/hooks/procedure.go
  internal/graphapi/models_test.go
Due: generate

attempt update to graph tests
  go.mod
  go.sum
  internal/httpserve/handlers/handlers.go
  pkg/middleware/auth/authoptions.go
  pkg/testutils/auth.go
Due: generate

config:generate
  config/config.example.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

testing
  pkg/testutils/auth.go
Due: generate

use mock validator
  pkg/testutils/auth.go
  pkg/testutils/client.go
Due: generate

patch dependency updates
  go.mod
  go.sum
Due: none

correct mockery config
  .pre-commit-config.yaml
  internal/graphapi/schema/scalars.graphql
  pkg/objects/.mockery.yml
  pkg/objects/mocks/mocks.go
Due: generate

task generate
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
Due: generate

don't limit location on lint
  .buildkite/pipeline.yaml
Due: none

pipeline update
  .buildkite/pipeline.yaml
Due: none

test
  .golangci.yaml
Due: none

test buildimage
  .buildkite/pipeline.yaml
Due: none

use just one policy
  internal/ent/hooks/internalpolicy.go
  internal/ent/hooks/procedure.go
  internal/ent/hooks/summarize.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_document.go
  internal/ent/schema/procedure.go
  pkg/summarizer/llm.go
Due: generate

fix review
  internal/ent/hooks/summarize.go
  internal/graphapi/internalpolicy_test.go
  pkg/summarizer/lexrank.go
  pkg/summarizer/lexrank_test.go
Due: generate

control runner location
  .buildkite/pipeline.yaml
  .golangci.yaml
Due: none

revert precommit version change
  .pre-commit-config.yaml
Due: none

update tests
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/query/procedure.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

migrate mockery config to v3
  pkg/objects/.mockery.yaml
  pkg/objects/mocks/mocks_test.go
Due: generate
