Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

fix import
  go.mod
  pkg/catalog/gencatalog/gencatalog.go
  pkg/catalog/genyaml/yamlgen.go
Due: generate

some additional tests
  pkg/catalog/catalog_extra_test.go
  pkg/catalog/catalog_test.go
Due: generate

interceptors and privacy rules
  internal/ent/interceptors/features.go
  internal/ent/interceptors/features_test.go
  internal/ent/privacy/rule/features.go
  internal/ent/privacy/rule/features_test.go
Due: generate

third time is a charm
  cmd/cli/Taskfile.yaml
  internal/ent/hooks/event.go
Due: generate

third time is a charm (#906)
  cmd/cli/Taskfile.yaml
  internal/ent/hooks/event.go
Due: generate

bug: reduce complexity of org query
  internal/graphapi/query/organization.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

these are used in tests
  internal/graphapi/query/organization.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

that too
  internal/graphapi/query/organization.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

uplift cli, fixes
  cmd/catalog/README.md
  cmd/catalog/main.go
  cmd/catalog/main_test.go
  cmd/catalog/migrate/main.go
  cmd/catalog/migrate/main_test.go
  internal/ent/privacy/rule/features.go
  internal/entmapping/doc.go
  internal/entmapping/mapping.go
  internal/entmapping/mapping_test.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/catalog/docs/modulemanager.png
  pkg/catalog/module_vs_addon.md
  pkg/entitlements/README.md
  pkg/entitlements/_examples/tuplechecker_example.go
  pkg/entitlements/docs/entitlements.md
  pkg/entitlements/helpers.go
  pkg/entitlements/helpers_test.go
  pkg/entitlements/price_options_test.go
  pkg/entitlements/test/main.go
  pkg/entitlements/test/tuples.yaml
  pkg/entitlements/tuples.go
Due: generate

some warnings about use at your own risk
  cmd/catalog/README.md
Due: none

some cli refactors, functional options
  cmd/catalog/README.md
  cmd/catalog/main.go
  cmd/catalog/main_test.go
  pkg/catalog/README.md
  pkg/catalog/catalog.go
  pkg/catalog/genjsonschema/catalog_schema.go
  pkg/catalog/genyaml/doc.go
  pkg/catalog/genyaml/yamlgen.go
  pkg/entitlements/README.md
  pkg/entitlements/docs/entitlements.md
  pkg/entitlements/price_options.go
  pkg/entitlements/prices.go
  pkg/entitlements/prices_test.go
Due: generate

task db:resethash
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: none

revert breaking change
  cmd/catalog/main.go
  cmd/catalog/main_test.go
  pkg/catalog/catalog.go
  pkg/entitlements/prices.go
  pkg/entitlements/prices_test.go
Due: generate

bug: reduce complexity of org query (#907)
  internal/graphapi/query/organization.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

add TODO to catalog outlining remainding steps after the initial PR
  cmd/catalog/main_test.go
  internal/ent/hooks/organization.go
  internal/ent/privacy/rule/features.go
  pkg/catalog/README.md
  pkg/catalog/TODO.md
  pkg/catalog/module_vs_addon.md
Due: generate

try and debug tests
  .golangci.yaml
  cmd/catalog/main.go
  cmd/catalog/main_test.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/trustcenter.go
  internal/entdb/client.go
  internal/entmapping/mapping.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/server/server.go
  pkg/catalog/catalog.go
  pkg/catalog/features/cache.go
  pkg/catalog/genyaml/yamlgen.go
  pkg/entitlements/customers.go
  pkg/entitlements/feature_options.go
  pkg/entitlements/price_options.go
  pkg/entitlements/prices.go
  pkg/entitlements/product_options.go
  pkg/entitlements/subscription_options.go
  pkg/entitlements/subscriptions.go
  pkg/entitlements/tuplechecker.go
  pkg/entitlements/tuples.go
  pkg/enums/assettype.go
  pkg/enums/scanstatus.go
  pkg/enums/scantype.go
  pkg/enums/sso_provider.go
  pkg/objects/storage/gcs.go
Due: generate

fix tests, add some basic logging
  cmd/catalog/main.go
  internal/httpserve/handlers/webhook_helpers.go
  internal/httpserve/route/router.go
  pkg/catalog/README.md
  pkg/catalog/catalog.go
Due: generate

back out golanglint change
  .golangci.yaml
Due: none

task config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

address PR feedback
  pkg/catalog/catalog.go
  pkg/catalog/catalog_extra_test.go
  pkg/catalog/errors.go
  pkg/catalog/genjsonschema/catalog_schema.go
  pkg/catalog/genyaml/yamlgen.go
  pkg/entitlements/feature.go
  pkg/entitlements/price_options.go
  pkg/entitlements/subscription_options.go
Due: generate

PR feedback
  .golangci.yaml
  fga/tests/tuples/features.yaml
  internal/ent/hooks/organization.go
  internal/ent/interceptors/features.go
  internal/ent/privacy/rule/features.go
  internal/entmapping/doc.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/entitlements/tuplechecker.go
Due: generate

revert malformed fga
  fga/tests/tuples/features.yaml
Due: none

saving files helps
  internal/httpserve/handlers/webhook_helpers.go
Due: generate

linter
  internal/httpserve/handlers/webhook.go
Due: generate

correctly match types
  internal/graphapi/groupextended.resolvers.go
Due: generate

correctly match types (#912)
  internal/graphapi/groupextended.resolvers.go
Due: generate

add a useless test
  fga/tests/tests.yaml
Due: none

fix mimetype, typo, bad comment
  README.md
  internal/graphapi/directives/directives.go
  internal/middleware/objects/validator.go
Due: generate

update clear auth tokens
  pkg/openlaneclient/client.go
Due: generate

remove core deploy
  .buildkite/pipeline.yaml
Due: none

add disk option to object store
  pkg/objects/storage/disk.go
Due: generate

linter
  pkg/objects/storage/disk.go
  pkg/objects/storage/errors.go
Due: generate

attempt at fixes (but not working)
  cmd/cli/cmd/organizationsetting/update.go
  cmd/localoidc/main.go
  docker/docker-compose-oidc.yml
  go.mod
  go.sum
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/sso.go
  pkg/models/models.go
  pkg/testutils/login/sso/README.md
  pkg/testutils/login/sso/index.html
Due: generate

update clear auth tokens (#914)
  pkg/openlaneclient/client.go
Due: generate

feat: add missing authz bits for trust center settings
  fga/model/model.fga
  internal/ent/generated/authz_checks.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenter/trustcenter.go
  internal/ent/hooks/trustcenter.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenter_history.go
Due: generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
