Repository theopenlane/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-graphql, generate

format-graphql:
  name: Format GraphQL
  description: This hook formats GraphQL schemas
  entry: npx format-graphql@1.5.0 --write=true
  language: node

generate:
  name: Run Go Generate
  description: This hook runs go generate on the project
  entry: go-generate-fast ./...
  language: golang

taskfile
  Taskfile.yaml
Due: none

Cleanup
  .golangci.yaml
  internal/graphapi/_example_test.go
  internal/graphapi/auditlog_test.go
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/entitytype_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/mappabledomain_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/notes_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/search_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/subcontrol_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/usersetting_test.go
  internal/graphapi/webauthn_test.go
Due: generate

test
  .gitignore
  .golangci.yaml
  Taskfile.yaml
Due: none

test
  Taskfile.yaml
Due: none

--rerun-fails
  Taskfile.yaml
Due: none

actually save
  .buildkite/pipeline.yaml
Due: none

fix
  Taskfile.yaml
Due: none

put back
  Taskfile.yaml
Due: none

escape
  Taskfile.yaml
Due: none

ANALYTICS_KEY to env
  .buildkite/pipeline.yaml
Due: none

seperate step
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

seperate step
  .buildkite/pipeline.yaml
Due: none

would help if I named it correctly
  .buildkite/pipeline.yaml
Due: none

test
  .buildkite/pipeline.yaml
Due: none

coverage
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

both to sonar
  .buildkite/pipeline.yaml
  sonar-project.properties
Due: none

fix exmaple test
  .golangci.yaml
  Taskfile.yaml
  internal/graphapi/_example_test.go
  internal/graphapi/apitoken_test.go
Due: generate

final pass
  internal/graphapi/evidence_test.go
  internal/graphapi/invite_test.go
  internal/graphapi/subscriber_test.go
  internal/graphapi/tools_test.go
Due: generate

config:generate
  config/config.example.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

feat: not implemented status instead of null
  cmd/cli/cmd/control/root.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/control_test.go
  pkg/enums/controlstatus.go
  pkg/enums/controlstatus_test.go
Due: generate

feat: not implemented status instead of null
  db/migrations-goose-postgres/20250515194418_control_status.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250515194416_control_status.sql
  db/migrations/atlas.sum
  internal/ent/generated/control/control.go
  internal/ent/generated/controlhistory/controlhistory.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/subcontrolhistory/subcontrolhistory.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
Due: generate

feat: not implemented status instead of null (#733)
  cmd/cli/cmd/control/root.go
  db/migrations-goose-postgres/20250515194418_control_status.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250515194416_control_status.sql
  db/migrations/atlas.sum
  internal/ent/generated/control/control.go
  internal/ent/generated/controlhistory/controlhistory.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/subcontrolhistory/subcontrolhistory.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  pkg/enums/controlstatus.go
  pkg/enums/controlstatus_test.go
Due: generate

Task go:lint
  internal/ent/hooks/job.go
  internal/ent/interceptors/job.go
  internal/ent/privacy/rule/job_runner.go
  internal/ent/schema/jobrunner_registration_token.go
Due: generate

Add fga model for audit logs for jobrunner
  fga/model/model.fga
Due: none

task regenerate
  internal/graphapi/jobrunnertoken.resolvers.go
Due: generate

there can only be one registration token at any given time
  internal/ent/hooks/job.go
  internal/graphapi/jobrunner_registration_token_test.go
Due: generate

custom + mappable domain CLI
  cmd/cli/cmd/customdomain/create.go
  cmd/cli/cmd/customdomain/get.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/customdomain/update.go
  cmd/cli/cmd/mappabledomain/create.go
  cmd/cli/cmd/mappabledomain/root.go
  cmd/cli/main.go
Due: generate

custom + mappable domain CLI (#737)
  cmd/cli/cmd/customdomain/create.go
  cmd/cli/cmd/customdomain/get.go
  cmd/cli/cmd/customdomain/root.go
  cmd/cli/cmd/customdomain/update.go
  cmd/cli/cmd/mappabledomain/create.go
  cmd/cli/cmd/mappabledomain/root.go
  cmd/cli/main.go
Due: generate

fix: do not allow controls from system to be linked, require edit
  internal/ent/interceptors/auditlogs.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/mixin_objectowned.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
  internal/graphapi/program_test.go
  internal/graphapi/query/internalpolicy.graphql
  pkg/openlaneclient/graphclient.go
Due: format-graphql, generate

use relation
  internal/ent/interceptors/auditlogs.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/mixin_objectowned.go
Due: generate

create migrations
  db/migrations-goose-postgres/20250517235806_risks_tasks.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250517235804_risks_tasks.sql
  db/migrations/atlas.sum
Due: none

missing import
  internal/graphapi/models_test.go
Due: generate

Path conditions:
  format-graphql: any of: query/.*\.graphql$
  generate: any of: \.(go|graphql|tmpl)$
