Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

edges
  internal/ent/schema/asset.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/review.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

db:create
  db/migrations-goose-postgres/20260402213044_registry_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260402213036_registry_edges.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

external_uuid unique non-deleted per org
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/platform.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/task.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

external uuid should be unique per org + non deleted
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260403001901_external_uuid_unique.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260403001855_external_uuid_unique.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

external_uuid should be unique per org, not across the system (#2249)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260403001901_external_uuid_unique.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260403001855_external_uuid_unique.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/platform.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

wip
  internal/ent/hooks/documentextract.go
  internal/ent/schema/mixin_document.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

mdn
  internal/ent/hooks/documentextract.go
Due: :golang: go generate, :yaml: generate config

linter, add test
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/documentextract_test.go
Due: :golang: go generate, :yaml: generate config

grab version too
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/documentextract_test.go
Due: :golang: go generate, :yaml: generate config

line break for table
  pkg/objects/storage/utils.go
Due: :yaml: generate config

lowercase
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/documentextract_test.go
Due: :golang: go generate, :yaml: generate config

feat: v1 parse controls from docuuments on creation
  .pre-commit-config.yaml
  .trivyignore
  fga/tests/tests.yaml
  fga/tests/tuples/trust_center.yaml
  fga/tests/tuples/trust_center_subprocessor.yaml
  fga/tests/tuples/workflows.yaml
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/documentextract_test.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

feat: control from policy, fix line break after table (#2259)
  .pre-commit-config.yaml
  .trivyignore
  fga/tests/tests.yaml
  fga/tests/tuples/trust_center.yaml
  fga/tests/tuples/trust_center_subprocessor.yaml
  fga/tests/tuples/workflows.yaml
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/documentextract_test.go
  internal/ent/schema/mixin_document.go
  pkg/objects/storage/utils.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

feat: add export for campaign and assessments
  .task/checksum/generate-ent-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/assessment.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

rebase
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

feat: add export for campaign and assessments (#2262)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/exportable_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/assessment.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

fixes
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/notification/notification.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/notification.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/notification.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/query/directorygroup.graphql
  internal/graphapi/query/directorymembership.graphql
  internal/graphapi/query/history/notificationtemplatehistory.graphql
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: procedure update test
  internal/graphapi/procedure_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat: allow admins to edit policies
  fga/model/model.fga
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

feat: allow admins to edit policies + procedures (#2266)
  fga/model/model.fga
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/procedure_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

task generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

feat: csv mapping, pin openfga in tests to go mod
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  fga/fgaversion/version.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_field_mappings.json
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/hooks/tools_test.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/note.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/csv/sample_control.csv
  internal/httpserve/handlers/csv/sample_subcontrol.csv
  internal/httpserve/handlers/tools_test.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

Comment
  fga/fgaversion/version.go
Due: :auth0: fga model test

linter
  fga/fgaversion/version.go
Due: :auth0: fga model test

feat: csv mapping, pin openfga in tests to go mod (#2268)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  fga/fgaversion/version.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_field_mappings.json
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/hooks/tools_test.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/note.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/csv/sample_control.csv
  internal/httpserve/handlers/csv/sample_subcontrol.csv
  internal/httpserve/handlers/tools_test.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

task generate
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/notification/notification.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/notification.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/notification.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/handlers/csv/sample_control.csv
  internal/httpserve/handlers/csv/sample_subcontrol.csv
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

name properly
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/notification.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add priority for pipeline
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Due: none

simplify
  .buildkite/hooks/pre-command
Due: none

add mutex when searching
  internal/graphapi/search_context.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add priority for pipeline (#2263)
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Due: none

add mutex when searching (#2270)
  internal/graphapi/search_context.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: notificaiton urls, feat: csv fields for risk
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_field_mappings.json
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/notifications/consts.go
  internal/ent/notifications/consts_test.go
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  internal/ent/notifications/standard_update.go
  internal/ent/schema/risk.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
