Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

flip from being an error
  internal/graphapi/directives/directives.go
Due: :golang: go generate, :yaml: generate config

fix linter error, directive
  internal/entitlements/catalog_prices.go
  internal/graphapi/directives/directives.go
Due: :golang: go generate, :yaml: generate config

fix: go-client dep, softfail
  .buildkite/pipeline.yaml
Due: none

fix: go-client dep, softfail (#1782)
  .buildkite/pipeline.yaml
Due: none

fix for schema migration generation issue
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/workflowproposal.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix for schema migration generation issue (#1783)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/workflowproposal.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix concurrent map writes related to handler responses
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
Due: :yaml: generate config

fix concurrent map writes related to handler responses (#1785)
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
Due: :yaml: generate config

shouldn't need that, breaks notes generally
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/note/note.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/note.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add org / owner setting helpers for upload injector and persistence store
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :golang: go generate, :yaml: generate config

add org / owner setting helpers for upload injector and persistence store (#1789)
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :golang: go generate, :yaml: generate config

fix pkg object examples
  pkg/objects/examples/app/command_openlane.go
  pkg/objects/examples/openlane/file_base64.go
  pkg/objects/examples/openlane/setup.go
Due: :yaml: generate config

fix pkg object examples (#1791)
  pkg/objects/examples/app/command_openlane.go
  pkg/objects/examples/openlane/file_base64.go
  pkg/objects/examples/openlane/setup.go
Due: :yaml: generate config

fix: watermark default status, riverboat docker config, historyschema
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260105202219_watermark_status.sql
  db/migrations-goose-postgres/20260105202221_watermark_status_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260105202213_watermark_status.sql
  db/migrations/20260105202215_watermark_status_history.sql
  db/migrations/atlas.sum
  docker/configs/riverboat/.config.dev.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/trustcenterdoc/trustcenterdoc.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/trustcenterdochistory/trustcenterdochistory.go
  internal/ent/schema/trustcenterdocument.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generate/gen_schema.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: watermark default status, riverboat docker config, historyschema (#1793)
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260105202219_watermark_status.sql
  db/migrations-goose-postgres/20260105202221_watermark_status_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260105202213_watermark_status.sql
  db/migrations/20260105202215_watermark_status_history.sql
  db/migrations/atlas.sum
  docker/configs/riverboat/.config.dev.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/trustcenterdoc/trustcenterdoc.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/trustcenterdochistory/trustcenterdochistory.go
  internal/ent/schema/trustcenterdocument.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generate/gen_schema.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: new key for history schema
  .buildkite/pipeline.yaml
Due: none

Update LICENSE
  LICENSE
Due: none

fix: new key for history schema (#1794)
  .buildkite/pipeline.yaml
Due: none

try this again
  .buildkite/pipeline.yaml
Due: none

try this again (#1796)
  .buildkite/pipeline.yaml
Due: none

drop deprecated
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/mixin_document.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/task.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix test
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config

task db:create and fix build
  cli/cmd/control/create.go
  cli/cmd/control/root.go
  cli/cmd/control/update.go
  cli/cmd/risk/create.go
  cli/cmd/risk/root.go
  cli/cmd/risk/update.go
  cli/cmd/subcontrol/create.go
  cli/cmd/subcontrol/update.go
  db/migrations-goose-postgres/20260106174929_remove_deprecated_fields.sql
  db/migrations-goose-postgres/20260106174935_remove_deprecated_fields_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260106174911_remove_deprecated_fields.sql
  db/migrations/20260106174918_remove_deprecated_fields_history.sql
  db/migrations/atlas.sum
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/models_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/subcontrol_test.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

Update LICENSE (#1795)
  LICENSE
Due: none

turn into var
  internal/graphapi/common/helpers.go
Due: :golang: go generate, :yaml: generate config

make csv parsing more forgiveable for enums; better error messages surfaced
  common/enums/custom_domain_status.go
  common/enums/custom_domain_status_test.go
  internal/graphapi/common/errors.go
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/errors.go
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/history/errors.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

use .String() conversion on vars
  common/enums/custom_domain_status.go
Due: :golang: go generate, :terminal: build cli

fix linter
  internal/graphapi/common/helpers.go
Due: :golang: go generate, :yaml: generate config
