Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix test
  internal/graphapi/campaign_restrictions_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

run tests in parallel, creating 500 targets takes a while
  internal/graphapi/campaign_restrictions_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat : adding fossa
  internal/integrations/definitions/fossa/errors.go
Due: :yaml: generate config

fix finding tests
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  internal/graphapi/finding_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

fga test too
  fga/tests/tests.yaml
Due: :auth0: fga model test

breaking: add a better migration file instead of trying to backfill manaully
  db/migrations-goose-postgres/20260718185123_m2m_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260718185114_m2m_edges.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

breaking: add a better migration file instead of trying to backfill manaully (#2611)
  db/migrations-goose-postgres/20260718185123_m2m_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260718185114_m2m_edges.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

comment
  internal/ent/privacy/policy/checks.go
Due: :golang: go generate, :yaml: generate config

task regenerate'
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260720220321_onboarding.sql
  db/migrations-goose-postgres/20260720220333_onboarding_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260720220048_onboarding.sql
  db/migrations/20260720220102_onboarding_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/entity.graphql
  internal/graphapi/query/findingcontrol.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/onboarding_questions.go
  internal/httpserve/route/onboarding.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

use priority from db
  internal/ent/hooks/listeners_onboarding.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config

set approved by
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

add attested file permissions after upload
  internal/ent/hooks/nda_attestation.go
Due: :golang: go generate, :yaml: generate config

Audit: set user who approved NDA request (#2614)
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

list test, cleanun uncessary ownerid
  internal/graphapi/finding_test.go
  internal/graphapi/findingcontrol_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

import scan
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_import_test.go
Due: :yaml: generate config

config:generate
  jsonschema/core.config.json
Due: none

fix: duplicate scans creates
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  pkg/domainscan/commonsubdomains.go
Due: :yaml: generate config

revert change
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/company.go
  pkg/domainscan/company_test.go
  pkg/domainscan/merge.go
  pkg/domainscan/merge_test.go
  pkg/domainscan/registrar.go
  pkg/domainscan/report.go
  pkg/domainscan/schema.go
Due: :yaml: generate config

remove invalid op
  internal/ent/hooks/listeners_scan_domain.go
Due: :golang: go generate, :yaml: generate config

fixes
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/vendors.go
Due: :yaml: generate config

fix
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
Due: :yaml: generate config

cleannup
  internal/httpserve/handlers/domainscan.go
  internal/httpserve/handlers/errors.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/operations/domain_scan.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

set display name on finding
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
