Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

revert the workflow enums as its generated
  .task/checksum/generate-ent-smart
  common/enums/errors.go
  common/enums/exporttype.go
  common/enums/workflow_object_type.go
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

regenerate to confirm
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

update framework controls whenever standard revision number is updated/bumped
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

somewhat gross but comprehensive test setup
  common/enums/allenums_test.go
  common/enums/enum.go
  common/enums/enum_test.go
  common/enums/errors.go
Due: :golang: go generate, :terminal: build cli

ordering ftw
  jsonschema/workflow.definition.json
Due: none

pipeline should lint on go mod, fix s3 changes
  .buildkite/pipeline.yaml
  go.mod
  go.sum
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix missing param
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/r2/provider_organization_test.go
  pkg/objects/storage/providers/s3/provider.go
Due: :yaml: generate config

add api to resend a questionniare
  common/openapi/models.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resend_questionnaire_test.go
  internal/httpserve/route/resend_questionnaire.go
  internal/httpserve/route/router.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

task regenerate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

return error instead of nil pointer error when integration registry is nil
  internal/httpserve/handlers/integration_providers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

return error instead of nil pointer error when integration registry is nil (#2042)
  internal/httpserve/handlers/integration_providers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix review
  internal/graphapi/control_clone.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

no need to return email error about max sends, just return generic
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resend_questionnaire_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

update framework controls whenever standard revision number is updated/bumped (#2038)
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Resend assessment authentication link if expired (#2041)
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/openapi/models.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resend_questionnaire_test.go
  internal/httpserve/route/resend_questionnaire.go
  internal/httpserve/route/router.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

task db:create
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/enums/exporttype.go
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/20260220090337_trustcenter_faqs.sql
  db/migrations-goose-postgres/20260220090348_trustcenter_faqs_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260220090311_trustcenter_faqs.sql
  db/migrations/20260220090324_trustcenter_faqs_history.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/note.resolvers.go
  internal/graphapi/trustcenterfaq.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add tests
  go.sum
  internal/graphapi/trustcenterfaq_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix tablename ( faqs not f_a_q_s)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260220090337_trustcenter_faqs.sql
  db/migrations-goose-postgres/20260220090348_trustcenter_faqs_history.sql
  db/migrations-goose-postgres/20260220150304_trustcenter_faqs.sql
  db/migrations-goose-postgres/20260220150315_trustcenter_faqs_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260220090311_trustcenter_faqs.sql
  db/migrations/20260220090324_trustcenter_faqs_history.sql
  db/migrations/20260220150235_trustcenter_faqs.sql
  db/migrations/20260220150249_trustcenter_faqs_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/note/note.go
  internal/ent/generated/trustcenter/trustcenter.go
  internal/ent/generated/trustcenterfaq/trustcenterfaq.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/trustcenterfaqhistory/trustcenterfaqhistory.go
  internal/ent/historyschema/trustcenterfaq_history.go
  internal/ent/schema/trustcenterfaq.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix tests
  internal/graphapi/trustcenterfaq_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

shorten url when sending questionnaires
  go.mod
  go.sum
  internal/ent/hooks/assessment_response.go
  internal/httpserve/handlers/resend_questionnaire.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix panic
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

Shorten questionnaire url (#2044)
  go.mod
  go.sum
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/handlers/resend_questionnaire.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix remaining final tests
  internal/ent/privacy/rule/modules_test.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add control clone set
  internal/graphapi/control_clone.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fmt
  internal/ent/integrationgenerated/integration_mapping_generated.go
Due: :golang: go generate, :yaml: generate config

remove migrations
  db/migrations-goose-postgres/20260220132153_tscontrols.sql
  db/migrations-goose-postgres/20260220132157_tscontrols_history.sql
  db/migrations/20260220132143_tscontrols.sql
  db/migrations/20260220132147_tscontrols_history.sql
Due: :postgres: atlas lint

reset hash, migrations, regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260220180519_tscontrols.sql
  db/migrations-goose-postgres/20260220180523_tscontrols_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260220180510_tscontrols.sql
  db/migrations/20260220180514_tscontrols_history.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

regenerate
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/client.go
  internal/ent/generated/notificationpreference.go
  internal/ent/generated/notificationtemplate.go
  internal/ent/historygenerated/notificationpreferencehistory.go
  internal/ent/historygenerated/notificationtemplatehistory.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
