Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

task generate
  .task/checksum/generate-graphql-smart
  fga/model/model.fga
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/authz_checks.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/authz_checks.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/authz_checks.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task config:generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

revert listener
  internal/ent/hooks/listeners_entitlements.go
Due: :golang: go generate, :yaml: generate config

revert listener
  internal/workflows/observability/observer_test.go
Due: :yaml: generate config

fix bad merge
  internal/entdb/client.go
Due: :yaml: generate config

fix tests
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/edge_cleanup.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

generate + tidy
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

CVE with google.golang.org/grpc
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update to v84
  go.mod
  go.sum
  internal/integrations/providers/github/vulnerabilities.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: remove t.parallel from graph tests
  internal/graphapi/campaign_dispatch_test.go
  internal/graphapi/campaign_with_targets_test.go
  internal/graphapi/clone_helper_test.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/controlhelpers_test.go
  internal/graphapi/csv_reference_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/search_context_test.go
  internal/graphapi/subscription_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/websockets_test.go
  internal/graphapi/workflow_validators_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat: remove t.parallel from graph tests (#2169)
  internal/graphapi/campaign_dispatch_test.go
  internal/graphapi/campaign_with_targets_test.go
  internal/graphapi/clone_helper_test.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/controlhelpers_test.go
  internal/graphapi/csv_reference_test.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/search_context_test.go
  internal/graphapi/subscription_test.go
  internal/graphapi/tfasetting_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/websockets_test.go
  internal/graphapi/workflow_validators_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task generate
  .task/checksum/generate-graphql-smart
  cli/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/authz_checks.go
  internal/graphapi/authz_bulk.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump gqlgen-plugins and iam
  cli/go.mod
  cli/go.sum
  fga/model/model.fga
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

run goimports again
  internal/graphapi/authz_bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add tests to verify fga changes
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add tests to make sure member can no longer bulk delete ndas
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

NDA requests permission fixes (#2163)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  fga/model/model.fga
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/authz_checks.go
  internal/ent/historyschema/trustcenterndarequest_history.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/authz_bulk.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/trustcenterndarequest_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

task db:create
  db/migrations-goose-postgres/20260319233300_entity_logo.sql
  db/migrations-goose-postgres/20260319233310_entity_logo_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260319233234_entity_logo.sql
  db/migrations/20260319233245_entity_logo_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

chore: go build cache is the real issue
  .buildkite/hooks/pre-command
Due: none

post command
  .buildkite/hooks/post-command
Due: none

clone flags here maybe
  .buildkite/hooks/environment
Due: none

spare checkout and skip checkout
  .buildkite/pipeline.yaml
Due: none

remove, add fga sparse
  .buildkite/hooks/environment
  .buildkite/pipeline.yaml
Due: none

chore: go build cache is the real issue (#2177)
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipeline.yaml
Due: none

add missing migrations for new edges
  db/migrations-goose-postgres/20260320205606_task_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260320205600_task_edges.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

add missing migrations for new edges (#2179)
  db/migrations-goose-postgres/20260320205606_task_edges.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260320205600_task_edges.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

feat: add bulk export for contacts
  .task/checksum/generate-ent-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/asset.go
  internal/ent/schema/contact.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

feat: add bulk export for contacts (#2182)
  .task/checksum/generate-ent-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/asset.go
  internal/ent/schema/contact.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

fix: generate graph side of export enum
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix: generate graph side of export enum (#2183)
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix: contact is all org owned, fix generate when enums change
  internal/ent/schema/entity.go
  internal/graphapi/generate/gen_gqlgen.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

generate access map update
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config
