Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

feat: try github hosted runner again
  .github/workflows/releaser.yml
Due: none

feat: try github hosted runner again (#2445)
  .github/workflows/releaser.yml
Due: none

update migration steps, contact test, default sso config var
  .github/workflows/releaser.yml
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  db/MIGRATION.md
  docker/docker-compose-fga.yml
  internal/graphapi/contact_test.go
  internal/httpserve/handlers/oauth_login.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

fix reviews
  internal/ent/hooks/orgmembers.go
  internal/ent/privacy/rule/membership.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix lint: skipped check err
  internal/ent/privacy/rule/membership.go
Due: :golang: go generate, :yaml: generate config

migrate to new helper file so task generate does not keep wiping off
  internal/graphapi/internalpolicyextended.resolvers.go
  internal/graphapi/internalpolicyextended_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

set vendor entity by default
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config

update migration steps, contact test, default sso config var (#2446)
  .github/workflows/releaser.yml
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  db/MIGRATION.md
  docker/docker-compose-fga.yml
  internal/graphapi/contact_test.go
  internal/httpserve/handlers/oauth_login.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

fix tuples
  fga/model/automation/assessments.fga
  fga/tests/tests.yaml
  fga/tests/tuples/assessment_responses.yaml
Due: :auth0: fga model test

set entity type for vendor intake (#2448)
  fga/model/automation/assessments.fga
  fga/tests/tests.yaml
  fga/tests/tuples/assessment_responses.yaml
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

allow for image uploads for trustcenter documents
  internal/objects/validators/mime.go
Due: :yaml: generate config

fix typo 🤦
  internal/integrations/definitions/cloudflare/mappings_test.go
Due: :yaml: generate config

allow for image uploads for trustcenter documents (#2449)
  internal/objects/validators/mime.go
Due: :yaml: generate config

domain registrations => assets (#2433)
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/examples/registrar_registrations.json
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/cloudflare/mappings_test.go
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
  internal/integrations/definitions/cloudflare/operation_findings.go
  internal/integrations/definitions/cloudflare/types.go
Due: :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260601213403_task_is_template.sql
  db/migrations-goose-postgres/20260601213412_task_is_template_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260601213340_task_is_template.sql
  db/migrations/20260601213351_task_is_template_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

switch to sharedTestUser1
  internal/graphapi/procedure_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

generate with entx
  common/go.sum
  db/MIGRATION.md
  fga/generate/schemaparse/parse.go
  go.mod
  go.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/exportablegenerated/exportable_generated.go
  internal/ent/generate/entc.go
  internal/ent/hooks/export.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/schema/assessment.go
  internal/ent/schema/asset.go
  internal/ent/schema/campaign.go
  internal/ent/schema/checkresult.go
  internal/ent/schema/contact.go
  internal/ent/schema/control.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/entity.go
  internal/ent/schema/evidence.go
  internal/ent/schema/finding.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/procedure.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/risk.go
  internal/ent/schema/subprocessor.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/systemdetail.go
  internal/ent/schema/task.go
  internal/ent/schema/vendorriskscore.go
  internal/ent/schema/vendorscoringconfig.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/evidence_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/task_test.go
  internal/graphapi/trustcentercompliance_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

go mod tidy
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regen
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

bump entx version
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

do not return error if cache refresh fails
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

extend cache build fix to other callers + add custom domain dns verification guard
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

prevent cache refresh blocking other listeners (#2451)
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

add new system email, url generation
  internal/ent/hooks/trustcenterndarequest.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/integrations/definitions/email/system_emails.go
Due: :yaml: generate config

add a breadcrumb for better url resolution for new user invites
  internal/ent/hooks/invite.go
  internal/integrations/definitions/email/system_emails.go
Due: :golang: go generate, :yaml: generate config

fix graphapi tests
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix tests
  internal/integrations/definitions/email/system_emails_test.go
Due: :yaml: generate config

fix : requested changes
  common/go.mod
  common/go.sum
  docker/configs/keycloak/init.sql
  docker/docker-compose-keycloak.yml
  docker/pg-init-scripts/init_keycloak.sql
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/doc.go
  internal/integrations/definitions/keycloak/errors.go
  internal/integrations/definitions/keycloak/installation.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
  internal/integrations/definitions/keycloak/types.go
Due: :yaml: generate config, :terminal: build cli

NDA Approval Email (#2453)
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Add new user breadcrumb for better invite handling (#2454)
  internal/ent/hooks/invite.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
Due: :golang: go generate, :yaml: generate config

add notes edge as allowed as some schemas use notes
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/privacy/rule/allow_comments.go
  internal/ent/schema/entity.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

add notes edge as allowed as some schemas use notes (#2459)
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/privacy/rule/allow_comments.go
  internal/ent/schema/entity.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
