Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

rebase
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/query/identityholder.graphql
  internal/graphapi/query/platform.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

add gala to client
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/config.tmpl
  internal/ent/generated/client.go
  internal/ent/historygenerated/client.go
  internal/entdb/client.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/runtime.go
Due: :golang: go generate, :yaml: generate config

generate output
  db/create_migrations.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint

updated types
  internal/emailruntime/context_catalog.go
  internal/emailruntime/doc.go
  internal/emailruntime/engine.go
  internal/emailruntime/engine_test.go
  internal/emailruntime/errors.go
  internal/emailruntime/fallback.go
  internal/emailruntime/fallback_test.go
  internal/emailruntime/renderer.go
  internal/emailruntime/schema_validation.go
  internal/emailruntime/service_integration_test.go
  internal/emailruntime/template_data.go
  internal/emailruntime/template_data_test.go
  internal/emailruntime/types.go
  internal/emailruntime/types_test.go
  internal/ent/hooks/email_runtime.go
  internal/httpserve/handlers/email_runtime.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/send_email_integration_test.go
  internal/workflows/engine/template_renderer.go
  internal/workflows/engine/template_renderer_test.go
  internal/workflows/params.go
  internal/workflows/seeder.go
  internal/workflows/seeder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

overrides
  go.mod
  internal/emailruntime/template_data.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

pre generate
  internal/emailruntime/campaign.go
  internal/emailruntime/engine.go
  internal/emailruntime/errors.go
  internal/emailruntime/renderer.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/campaign.go
  internal/ent/hooks/email_runtime.go
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/campaign.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

new hooks
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

collapse migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint

regenerate config, update hooks and call sites for email send
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/gala/types.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

regenerate output
  .task/checksum/generate-openapi-smart
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/email/operations.go
  internal/integrations/definitions/email/render.go
  internal/integrations/definitions/email/themes/themes.go
  internal/workflows/engine/send_email.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

add gala to client (#2299)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/config.tmpl
  internal/ent/generated/client.go
  internal/ent/historygenerated/client.go
  internal/entdb/client.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/runtime.go
Due: :golang: go generate, :yaml: generate config

schema checksums
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/identityholder.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/query/identityholder.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix test
  internal/ent/hooks/evidence.go
Due: :golang: go generate, :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260413223454_organization_settings_pending_deletion.sql
  db/migrations-goose-postgres/20260413223505_organization_settings_pending_deletion_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260413223427_organization_settings_pending_deletion.sql
  db/migrations/20260413223440_organization_settings_pending_deletion_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

make uuid non unquie on the index and trim strings
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260414152907_nonuniqueuuid.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260414152900_nonuniqueuuid.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/evidence.go
  internal/ent/schema/evidence.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

make uuid non unquie on the index and trim strings (#2301)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260414152907_nonuniqueuuid.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260414152900_nonuniqueuuid.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/evidence.go
  internal/ent/schema/evidence.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

admin should be able to fetch org members
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/interceptors/orgmembers.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Drop organizationid property as it would be a periodic job
  common/jobspec/organization.go
Due: :terminal: build cli

allow admin mutation
  internal/ent/schema/organization.go
  internal/graphapi/organization.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260414184205_organization_setting_pending_deletion_at.sql
  db/migrations-goose-postgres/20260414184219_organization_setting_pending_deletion_at_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260414184139_organization_setting_pending_deletion_at.sql
  db/migrations/20260414184151_organization_setting_pending_deletion_at_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/organization.resolvers.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/query/identityholder.graphql
Due: :golang: go generate, :yaml: generate config

bug: githubapp member query sending empty after
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260415112252_evidence_review.sql
  db/migrations-goose-postgres/20260415112303_evidence_review_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260415112222_evidence_review.sql
  db/migrations/20260415112236_evidence_review_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

bug: githubapp member query sending empty after (#2302)
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260415134507_organization_setting_pending_deletion_at.sql
  db/migrations-goose-postgres/20260415134516_organization_setting_pending_deletion_at_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260415134438_organization_setting_pending_deletion_at.sql
  db/migrations/20260415134452_organization_setting_pending_deletion_at_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

generate output
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

updated generate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/client.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

lean into the integrations construct with builder, build registrations, create EmailOperations with type inputs
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/client.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build
