Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

transaction already aborted, we shouldn't continue
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
Due: :golang: go generate, :yaml: generate config

likely error case, return error
  internal/ent/hooks/tags.go
Due: :golang: go generate, :yaml: generate config

fix tests, so we don't update after changes to backfillRoutines
  internal/graphapi/eventstest/integrations_directorysync_snapshot_test.go
  internal/graphapi/eventstest/integrations_instanceid_backfill_test.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config

drop test
  internal/graphapi/eventstest/integrations_instanceid_backfill_test.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config

run goimports -w
  internal/graphapi/eventstest/integrations_instanceid_backfill_test.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config

continue on permissions, they don't have access for org level tag def
  internal/ent/hooks/tags.go
Due: :golang: go generate, :yaml: generate config

match task notification only if not completed
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

only send on open now
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

verified changeset and migrated mutation listener into it's own custom listener
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

Revert "verified changeset and migrated mutation listener into it's own custom listener"
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

this should be smarter
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
Due: :golang: go generate, :yaml: generate config

this should be smarter
  internal/ent/hooks/organization.go
Due: :golang: go generate, :yaml: generate config

Fixes
  internal/ent/hooks/organization.go
  internal/ent/hooks/tags_hook_test.go
Due: :golang: go generate, :yaml: generate config

fix for parent child org
  internal/ent/hooks/managedgroups.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

match task notification only if not completed
  go.mod
  go.sum
  internal/ent/entityops/entity_changeset.go
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

allow extending disposable domains
  internal/ent/hooks/email.go
  internal/ent/validator/email.go
Due: :golang: go generate, :yaml: generate config

task config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

Extend disposable domains (#2818)
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/email.go
  internal/ent/validator/email.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

bug: aborted transaction allowed to continue (#2816)
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/risks.go
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
  internal/ent/hooks/tags_hook_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix caller and log key issues
  internal/integrations/definitions/email/webhook.go
  internal/workflows/observability/observer.go
  pkg/gala/codecs.go
  pkg/gala/gala_test.go
  pkg/gala/registry.go
  pkg/logx/caller.go
Due: :yaml: generate config

Update internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/builder.go
Due: :yaml: generate config

modified mappings accordingly
  internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/mappings.go
  internal/integrations/definitions/fossa/types.go
Due: :yaml: generate config

engine side fix
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
Due: :yaml: generate config

add tests and bump entx
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_changeset.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

have test actually create the necessary data mirroing the reality
  internal/workflows/engine/evaluator_test.go
Due: :yaml: generate config

Campaign Webhook Workflow triggering, workflow org scoped context (#2819)
  internal/integrations/definitions/email/webhook.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/observability/observer.go
  pkg/gala/codecs.go
  pkg/gala/gala_test.go
  pkg/gala/registry.go
  pkg/logx/caller.go
Due: :yaml: generate config

pull in new iam rev, jwk v4
  cli/go.mod
  cli/go.sum
  cmd/serve.go
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/authoptions.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

split notifier handler so we can handle assignee changes that do not include statuses in the mutation
  internal/ent/notifications/events.go
  internal/ent/notifications/tasks.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

goimports -w
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

fmt
  internal/httpserve/handlers/handlers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

clean up changes and make sure assessment responses are created by using right ctx
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260920124651_audiences.sql
  db/migrations-goose-postgres/20260920124702_audiences_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260920124614_audiences.sql
  db/migrations/20260920124628_audiences_history.sql
  db/migrations/atlas.sum
  internal/audiences/filters.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/audience_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/audience.go
  internal/ent/schema/audience.go
  internal/ent/schema/audience_member.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/integrations/definitions/email/audience_set.go
  internal/integrations/definitions/email/audience_targets.go
  internal/integrations/definitions/email/audience_targets_test.go
  internal/integrations/definitions/email/compose.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

improve validation for celx filter on mutation
  internal/audiences/filters.go
  internal/audiences/filters_test.go
  internal/graphapi/campaign_dispatch.go
  pkg/celx/native.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

go mod tidy
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix typo
  internal/graphapi/campaign_dispatch.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix lint
  internal/audiences/filters.go
  internal/ent/hooks/audience.go
  internal/integrations/definitions/email/audience_targets.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/integrations/definitions/email/audience_targets.go
Due: :yaml: generate config

fix test
  internal/audiences/filters_test.go
Due: :yaml: generate config
