Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

Update internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/builder.go
Due: :yaml: generate config

Update internal/integrations/definitions/zitadel/examples/machine_user.json
  internal/integrations/definitions/zitadel/examples/machine_user.json
Due: :yaml: generate config

Update internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings.go
Due: :yaml: generate config

suggested changes
  .gitignore
  internal/integrations/definitions/zitadel/client.go
Due: :yaml: generate config

feat : added zitadel (#2466)
  .gitignore
  docker/Taskfile.yaml
  docker/configs/zitadel/.env-example
  docker/configs/zitadel/init.sql
  docker/docker-compose-zitadel.yml
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/doc.go
  internal/integrations/definitions/zitadel/errors.go
  internal/integrations/definitions/zitadel/examples/group.json
  internal/integrations/definitions/zitadel/examples/machine_user.json
  internal/integrations/definitions/zitadel/examples/member.json
  internal/integrations/definitions/zitadel/examples/user.json
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add custom resolver implementation for leaving any org a user is a (#2688)
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  internal/ent/hooks/orgmembers.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/orgmembership_leave.go
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/schema/orgmembership.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

pr id exists in real CI trigger
  .buildkite/pipeline.yaml
Due: none

drop redundant pull_request check
  .buildkite/pipeline.yaml
Due: none

skip atlas lint on rennovate prs (#2692)
  .buildkite/pipeline.yaml
Due: none

draft basic OCI integration definition
  Taskfile.yaml
  go.mod
  go.sum
  internal/integrations/cli/stub/README.md
  internal/integrations/cli/stub/builder.go.tmpl
  internal/integrations/cli/stub/client.go.tmpl
  internal/integrations/cli/stub/doc.go.tmpl
  internal/integrations/cli/stub/errors.go.tmpl
  internal/integrations/cli/stub/installation.go.tmpl
  internal/integrations/cli/stub/mappings.go.tmpl
  internal/integrations/cli/stub/new.sh
  internal/integrations/cli/stub/operation_health.go.tmpl
  internal/integrations/cli/stub/types.go.tmpl
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/oci/builder.go
  internal/integrations/definitions/oci/client.go
  internal/integrations/definitions/oci/doc.go
  internal/integrations/definitions/oci/errors.go
  internal/integrations/definitions/oci/installation.go
  internal/integrations/definitions/oci/mappings.go
  internal/integrations/definitions/oci/operation_findings.go
  internal/integrations/definitions/oci/operation_health.go
  internal/integrations/definitions/oci/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix resend webhook failures on tags data structure
  internal/integrations/definitions/email/webhook.go
  internal/integrations/definitions/email/webhook_test.go
Due: :yaml: generate config

update test data to fix test
  internal/integrations/definitions/email/webhook_test.go
Due: :yaml: generate config

Fix resend webhook processing (#2694)
  internal/integrations/definitions/email/webhook.go
  internal/integrations/definitions/email/webhook_test.go
Due: :yaml: generate config

draft basic OCI integration definition (#2693)
  Taskfile.yaml
  go.mod
  go.sum
  internal/integrations/cli/stub/README.md
  internal/integrations/cli/stub/builder.go.tmpl
  internal/integrations/cli/stub/client.go.tmpl
  internal/integrations/cli/stub/doc.go.tmpl
  internal/integrations/cli/stub/errors.go.tmpl
  internal/integrations/cli/stub/installation.go.tmpl
  internal/integrations/cli/stub/mappings.go.tmpl
  internal/integrations/cli/stub/new.sh
  internal/integrations/cli/stub/operation_health.go.tmpl
  internal/integrations/cli/stub/types.go.tmpl
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/oci/builder.go
  internal/integrations/definitions/oci/client.go
  internal/integrations/definitions/oci/doc.go
  internal/integrations/definitions/oci/errors.go
  internal/integrations/definitions/oci/installation.go
  internal/integrations/definitions/oci/mappings.go
  internal/integrations/definitions/oci/operation_findings.go
  internal/integrations/definitions/oci/operation_health.go
  internal/integrations/definitions/oci/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Enrich standard update notification (#2676)
  common/models/semver.go
  common/models/semver_test.go
  internal/ent/notifications/standard_update.go
  internal/ent/notifications/standard_update_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

add schema
  .task/checksum/generate-ent-smart
  internal/ent/schema/audience.go
  internal/ent/schema/audience_member.go
  internal/ent/schema/campaign.go
  internal/ent/schema/contact.go
  internal/ent/schema/group.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/organization.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/user.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: group membership deletion on cascade
  internal/ent/generated/edge_cleanup.go
  internal/ent/hooks/orgmembers.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/orgmembership_leave.go
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add backfill
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

fix backfill for user group
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

fix: group membership cascade (#2696)
  internal/ent/generated/edge_cleanup.go
  internal/ent/hooks/orgmembers.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/orgmembership_leave.go
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix: gen with purge history
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/hooks/listeners_organization_cleanup.go
Due: :golang: go generate, :yaml: generate config

fix generate
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_cleanup.go
  internal/ent/hooks/history_helpers.go
  internal/ent/hooks/history_helpers_codegen.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/orgmembers.go
  internal/ent/notifications/standard_update_test.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config

run with updated jsonschema2mk
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: none

fix: bad default org after org membership removal
  internal/ent/hooks/organization.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: gen with purge history (#2698)
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_cleanup.go
  internal/ent/hooks/history_helpers.go
  internal/ent/hooks/history_helpers_codegen.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/orgmembers.go
  internal/ent/notifications/standard_update_test.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: :golang: go generate, :yaml: generate config

fix: bad default org after org membership removal (#2699)
  internal/ent/hooks/organization.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add pkg/oidc, the new credential registration for gcp scc
  go.mod
  go.sum
  internal/httpserve/route/router.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/auth/federation.go
  internal/integrations/auth/federation_test.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/gcpscc/client.go
  internal/integrations/definitions/gcpscc/client_test.go
  internal/integrations/definitions/gcpscc/errors.go
  internal/integrations/definitions/gcpscc/federation.go
  internal/integrations/definitions/gcpscc/federation_test.go
  internal/integrations/definitions/gcpscc/installation.go
  internal/integrations/definitions/gcpscc/mappings_test.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/gcpscc/operation_health.go
  internal/integrations/definitions/gcpscc/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/client.go
  internal/keystore/store.go
  pkg/oidc/discovery.go
  pkg/oidc/discovery_test.go
  pkg/oidc/doc.go
  pkg/oidc/errors.go
  pkg/oidc/exchange.go
  pkg/oidc/exchange_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fmt
  internal/httpserve/serveropts/integration_base.go
Due: :yaml: generate config

Establish .well-known/openid-configuration, Add Workload Identity Federation auth registration to gcpscc (#2701)
  go.mod
  go.sum
  internal/httpserve/route/router.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/auth/federation.go
  internal/integrations/auth/federation_test.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/gcpscc/client.go
  internal/integrations/definitions/gcpscc/client_test.go
  internal/integrations/definitions/gcpscc/errors.go
  internal/integrations/definitions/gcpscc/federation.go
  internal/integrations/definitions/gcpscc/federation_test.go
  internal/integrations/definitions/gcpscc/installation.go
  internal/integrations/definitions/gcpscc/mappings_test.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/gcpscc/operation_health.go
  internal/integrations/definitions/gcpscc/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/client.go
  internal/keystore/store.go
  pkg/oidc/discovery.go
  pkg/oidc/discovery_test.go
  pkg/oidc/doc.go
  pkg/oidc/errors.go
  pkg/oidc/exchange.go
  pkg/oidc/exchange_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix dispatcher duplication
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/run_store.go
  internal/integrations/operations/run_store_test.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/integration.go
Due: :yaml: generate config

entityops regenerate, replace string helpers, add old value to mutation snapshot
  common/models/workflow.go
  internal/ent/entityops/entity_metadata.go
  internal/ent/entityops/entity_registry.go
  internal/ent/entityops/entity_schema.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/notifications/errors.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/mentions.go
  internal/ent/notifications/program.go
  internal/ent/notifications/standard_update.go
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/note.go
  internal/ent/schema/procedure.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/standard.go
  internal/ent/schema/task.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/mutations/helpers.go
  internal/workflows/changeset.go
  internal/workflows/changeset_test.go
  internal/workflows/engine/types.go
  pkg/jsonx/stringify.go
  pkg/jsonx/stringify_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

port backfill, domain scan handler
  internal/ent/generate/entc.go
  internal/graphapi/directory_duplicate_backfill_test.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/domain_scan_poll.go
  internal/integrations/definitions/googleworkspace/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/operations_test.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/reconcile_test.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/health.go
  internal/integrations/runtime/health_test.go
  internal/integrations/runtime/ratelimit.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/scheduled_operations.go
  internal/integrations/types/errors.go
  internal/integrations/types/errors_test.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/listener.go
  pkg/gala/registry.go
  pkg/gala/types.go
  pkg/gala/unique_key_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
