Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

logging and linter
  internal/integrations/runtime/trustcenter_notification.go
Due: :yaml: generate config

fix: check payment method on create of api token
  internal/ent/privacy/rule/scopes.go
Due: :golang: go generate, :yaml: generate config

fix: check payment method on create of api token (#2528)
  internal/ent/privacy/rule/scopes.go
Due: :golang: go generate, :yaml: generate config

fix
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/ent/interceptors/trustcenter.go
  internal/ent/schema/mixin_orgowned.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix
  internal/graphapi/anonaccess_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix
  internal/ent/schema/mixin_orgowned.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

tests pass
  go.mod
  go.sum
  internal/ent/interceptors/trustcenter.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/template_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

work sync
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

feat : completio
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/doc.go
  internal/integrations/definitions/zitadel/examples/machine_user.json
  internal/integrations/definitions/zitadel/examples/user.json
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

cleanup comments
  internal/ent/interceptors/trustcenter.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/template.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

feat : added local configs
  docker/Taskfile.yaml
  docker/configs/zitadel/.env-example
  docker/configs/zitadel/init.sql
  docker/docker-compose-zitadel.yml
  docker/pg-init-scripts/init_zitadel.sql
Due: none

draft a new basic pkg/anon and consolidate callers for consistency
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/subprocessor.go
  internal/ent/privacy/policy/checks.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schemautil/trustcenter_scope.go
  pkg/anon/anon.go
  pkg/anon/doc.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

generate missing migrations
  db/migrations-goose-postgres/20260621232935_trust_center_subscribe.sql
  db/migrations-goose-postgres/20260621232938_trust_center_subscribe_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260621232927_trust_center_subscribe.sql
  db/migrations/20260621232930_trust_center_subscribe_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

generate missing migrations (#2533)
  db/migrations-goose-postgres/20260621232935_trust_center_subscribe.sql
  db/migrations-goose-postgres/20260621232938_trust_center_subscribe_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260621232927_trust_center_subscribe.sql
  db/migrations/20260621232930_trust_center_subscribe_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

draft a new basic pkg/anon and consolidate callers for consistency (#2532)
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/subprocessor.go
  internal/ent/privacy/policy/checks.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schemautil/trustcenter_scope.go
  pkg/anon/anon.go
  pkg/anon/doc.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove bypass, add specific checks for trust center nda
  internal/ent/interceptors/trustcenter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/privacy/rule/trustcenter.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/integrations/operations/context.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

custom domain deletion hook should cover both single deltions and bulk deletes
  internal/ent/hooks/custom_domain.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix hook for nda deletions too
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

fix: fix trust center nda attestation email send, add to tests
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/interceptors/trustcenter.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenternda_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: fix trust center nda attestation email send, add to tests (#2535)
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/interceptors/trustcenter.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenternda_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Organization deletion fails on custom domains (#2534)
  internal/ent/hooks/custom_domain.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix config output
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

move
  internal/ent/schema/subcontrol.go
  internal/ent/schema/subcontrol_interceptors.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

use goquery to fetch icon from provided domains on onboarding
  go.mod
  go.sum
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: related controls self-referecning
  internal/graphapi/controlreporthelpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add test
  internal/graphapi/controlreport_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update internal/ent/hooks/listeners_organization_avatar.go
  internal/ent/hooks/listeners_organization_avatar.go
Due: :golang: go generate, :yaml: generate config

fix: related controls self-referecning (#2538)
  internal/graphapi/controlreport_test.go
  internal/graphapi/controlreporthelpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix lint
  internal/ent/hooks/listeners_organization_avatar.go
Due: :golang: go generate, :yaml: generate config

run goimports
  internal/ent/hooks/listeners_organization_avatar.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
