Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :test_tube: Go Tests & Builds, :database: Database Changes, :auth0: FGA Changes, :gear: Config Changes

Path conditions:
  :test_tube: Go Tests & Builds: any of: **/*.go, go.mod, go.sum
  :database: Database Changes: any of: db/migrations/**/*.sql
  :auth0: FGA Changes: any of: fga/**
  :gear: Config Changes: any of: config/**, .buildkite/**

since these were working before, revert to the previous command synatx (#1021)
  .buildkite/pipeline.yaml
Due: :gear: Config Changes

fix helm script
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes

fix helm script (#1022)
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes

fix test setups
  internal/ent/hooks/encryption_test.go
  internal/ent/hush/hush_test.go
Due: :test_tube: Go Tests & Builds

i really hope this is the last one
  .buildkite/lib/templates.sh
Due: :gear: Config Changes

cleanup
  .golangci.yaml
Due: none

i really hope this is the last one (#1023)
  .buildkite/lib/templates.sh
Due: :gear: Config Changes

add river ui to riverboat setup in core
  docker/docker-compose-riverboat.yml
Due: none

name
  docker/docker-compose-riverboat.yml
Due: none

add river ui to riverboat setup in core (#1026)
  docker/docker-compose-riverboat.yml
Due: none

attempt to fix bash on draft pr rename
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes

attempt to fix bash on draft pr rename (#1027)
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes

add config
  docker/configs/riverboat/config.dev.yaml
  docker/docker-compose-riverboat.yml
Due: none

fix names
  docker/configs/riverboat/.config.dev.yaml
Due: none

set duration
  docker/configs/riverboat/.config.dev.yaml
Due: none

disable db worker
  docker/configs/riverboat/.config.dev.yaml
Due: none

add config (#1028)
  docker/configs/riverboat/.config.dev.yaml
  docker/docker-compose-riverboat.yml
Due: none

restrict files, except user files, to an organization, add query tests
  .task/checksum/install-tools
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/evidencehistory/evidencehistory.go
  internal/ent/generated/file/file.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/file.go
  internal/ent/interceptors/file.go
  internal/ent/schema/file.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/file_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/models_test.go
  internal/graphapi/schema/ent.graphql
  internal/middleware/objects/permissions.go
  pkg/enums/evidencestatus.go
Due: :test_tube: Go Tests & Builds

fix for pat
  internal/ent/hooks/file.go
Due: :test_tube: Go Tests & Builds

fix
  internal/ent/hooks/file.go
Due: :test_tube: Go Tests & Builds

add clis to test export features easily
  pkg/corejobs/test/delete_export_job/main.go
  pkg/corejobs/test/export/main.go
Due: :test_tube: Go Tests & Builds

add default sample cron
  internal/graphapi/models_test.go
Due: :test_tube: Go Tests & Builds

add comments
  pkg/corejobs/test/export/main.go
Due: :test_tube: Go Tests & Builds

add clis to test export features easily (#1032)
  pkg/corejobs/test/delete_export_job/main.go
  pkg/corejobs/test/export/main.go
Due: :test_tube: Go Tests & Builds

impersonation middleware
  Taskfile.yaml
  cmd/cli/Taskfile.yaml
  fga/Taskfile.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/route/impersonation.go
  internal/httpserve/route/router.go
  pkg/corejobs/export.go
  pkg/middleware/cors/cors.go
  pkg/middleware/impersonation/doc.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
  pkg/models/models.go
  pkg/testutils/impersonation/README.md
  pkg/testutils/impersonation/index.html
Due: :test_tube: Go Tests & Builds, :auth0: FGA Changes

idk
  go.mod
  go.sum
  internal/ent/schema/jobtemplate.go
Due: :test_tube: Go Tests & Builds

well
  config/configmap.yaml
  config/helm-values.yaml
Due: :gear: Config Changes

fix potential panic on signup
  internal/ent/hooks/organization.go
Due: :test_tube: Go Tests & Builds

fix potential panic on signup (#1036)
  internal/ent/hooks/organization.go
Due: :test_tube: Go Tests & Builds

some
  config/config-dev.example.yaml
  db/migrations-goose-postgres/20250722065830_hkl.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250722065827_hkl.sql
  db/migrations/atlas.sum
  docs/Jobs.md
  fga/model/model.fga
  go.mod
  go.sum
  internal/ent/generated/authz_checks.go
  internal/ent/generated/jobtemplate/jobtemplate.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/scheduledjob.go
  internal/ent/schema/jobtemplate.go
  internal/ent/schema/jobtemplate_history.go
  internal/graphapi/control_test.go
  internal/graphapi/jobtemplate_test.go
Due: :test_tube: Go Tests & Builds, :database: Database Changes, :auth0: FGA Changes, :gear: Config Changes

wip
  docker/configs/windmill/.env-example
  docker/docker-compose-windmill.yml
  docs/Jobs.md
  docs/images/windmill_enterprise.png
  go.mod
  go.sum
  internal/ent/hooks/scheduledjob.go
  pkg/models/cron.go
  pkg/models/cron_test.go
  pkg/windmill/client.go
  pkg/windmill/types.go
Due: :test_tube: Go Tests & Builds

fix tests
  db/migrations-goose-postgres/20250721204725_job_tables.sql
  db/migrations-goose-postgres/20250722065830_hkl.sql
  db/migrations-goose-postgres/20250723012543_job_tables_rename.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20250721204702_job_tables.sql
  db/migrations/20250722065827_hkl.sql
  db/migrations/20250723012540_job_tables_rename.sql
  db/migrations/atlas.sum
  docs/Jobs.md
  go.mod
  go.sum
  internal/ent/generated/jobtemplate.go
  internal/ent/generated/jobtemplatehistory.go
  internal/ent/generated/scheduledjob.go
  internal/ent/generated/scheduledjobhistory.go
  internal/ent/schema/jobtemplate.go
  internal/ent/schema/scheduledjob.go
  internal/graphapi/scheduledjob_test.go
  internal/graphapi/schema/ent.graphql
Due: :test_tube: Go Tests & Builds, :database: Database Changes

config:generate
  Taskfile.yaml
  config/config-dev.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
Due: :gear: Config Changes

more
  docker/Taskfile.yaml
  docker/docker-compose-windmill.yml
  docs/Jobs.md
  internal/ent/hooks/scheduledjob.go
  internal/ent/schema/scheduledjob.go
  pkg/windmill/client.go
Due: :test_tube: Go Tests & Builds
