Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix: unique constaint for custom enums was too restrictive
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/schema/basecolors.go
  internal/ent/schema/customtypeenum.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/customtypeenums_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

db:create
  common/go.sum
  db/migrations-goose-postgres/20260326211013_enums_unique.sql
  db/migrations-goose-postgres/20260326211019_enums_unique_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260326210958_enums_unique.sql
  db/migrations/20260326211005_enums_unique_history.sql
  db/migrations/atlas.sum
Due: :terminal: build cli, :postgres: atlas lint

creation by system admin only
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/notification/notification.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/notification_test.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bug: unique constraint was too restrictive (#2221)
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/20260326211013_enums_unique.sql
  db/migrations-goose-postgres/20260326211019_enums_unique_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260326210958_enums_unique.sql
  db/migrations/20260326211005_enums_unique_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/schema/basecolors.go
  internal/ent/schema/customtypeenum.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/customtypeenums_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

Remove local test
  go.mod
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: trust center controls with anonJWTs need to filter on organization
  internal/ent/interceptors/controls.go
  internal/graphapi/trustcenter_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

sonar updates
  sonar-project.properties
Due: none

fix: trust center controls with anonJWTs need to filter on organization (#2223)
  internal/ent/interceptors/controls.go
  internal/graphapi/trustcenter_test.go
  sonar-project.properties
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix policy and tests
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/interceptors/notifications_filter.go
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/ent/schema/notification.go
  internal/graphapi/notification_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260327133135_domain_scan_notifications.sql
  db/migrations-goose-postgres/20260327133145_domain_scan_notifications_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260327133111_domain_scan_notifications.sql
  db/migrations/20260327133123_domain_scan_notifications_history.sql
  db/migrations/atlas.sum
  internal/graphapi/notification_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

take domains directly instead as we do not expose onboarding data via graphql
  common/jobspec/domains.go
  internal/ent/privacy/rule/allow_if_system_admin.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

add job
  internal/ent/hooks/onboarding.go
Due: :golang: go generate, :yaml: generate config

move to compliance queue instead
  common/jobspec/domains.go
Due: :terminal: build cli

log only instead of failing
  internal/ent/hooks/onboarding.go
Due: :golang: go generate, :yaml: generate config

fix review
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/privacy/rule/allow_if_system_admin.go
  internal/ent/schema/note.go
  internal/ent/schema/notification.go
  internal/graphapi/notification_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

prep for merge
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/finding.go
  internal/ent/schema/vulnerability.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260327195342_drop_finding_vulnerability_status.sql
  db/migrations-goose-postgres/20260327195354_drop_finding_vulnerability_status_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260327195314_drop_finding_vulnerability_status.sql
  db/migrations/20260327195327_drop_finding_vulnerability_status_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

update entity based off review
  internal/ent/hooks/review.go
Due: :golang: go generate, :yaml: generate config

use pool to process multiple entries instead
  internal/ent/hooks/review.go
Due: :golang: go generate, :yaml: generate config

fix lint
  internal/ent/hooks/review.go
Due: :golang: go generate, :yaml: generate config

task generate:graphql:smart
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

Task db:create
  db/migrations-goose-postgres/20260330015143_custom_domain_domain_type.sql
  db/migrations-goose-postgres/20260330015156_custom_domain_domain_type_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260330015118_custom_domain_domain_type.sql
  db/migrations/20260330015130_custom_domain_domain_type_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

Update dependencies in go.mod
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Update dependencies in go.sum
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: seed common enums for vulns + findings
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint

feat: seed common enums for vulns + findings (#2231)
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint
