Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

Update common/models/trustcenter_ndarequest_setting.go
  common/models/trustcenter_ndarequest_setting.go
Due: :terminal: build cli

fix: ensure eager loading of edges
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generate/templates/entgql/collection.tmpl
  internal/graphapi/pagination_fga_test.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: ensure eager loading of edges
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/gql_pagination.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/organization_test.go
  internal/graphapi/pagination_fga_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix totalCount on nested edges
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generate/templates/entgql/collection.tmpl
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/gql_pagination.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/pagination_fga_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/entity.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/entityhistory.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/schema/defaults.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

extend tests to make sure permissions cannot be added to system owned entities (#2882)
  internal/graphapi/assessment_test.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

config:gen
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

do not block on pii, use matched blocks
  internal/integrations/definitions/gemini/operation_report_scan_request.go
  pkg/modelarmor/client.go
Due: :yaml: generate config

link findings to reviews, retry jitter, larger groupings, fix trust center doc creation, log gala panic
  internal/ent/hooks/listeners_scan_report.go
  internal/integrations/definitions/gemini/operation_report_scan_part.go
  internal/integrations/definitions/gemini/operation_report_scan_request.go
  internal/integrations/definitions/gemini/report_scan_listeners.go
  internal/integrations/definitions/gemini/report_scan_soc2.go
  pkg/docextract/extract.go
  pkg/docextract/extract_test.go
  pkg/docextract/retry.go
  pkg/docextract/retry_test.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
  pkg/docextract/soc2/stream.go
  pkg/docextract/soc2/stream_test.go
  pkg/gala/gala.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config

db:create
  db/migrations-goose-postgres/20260924033217_scan_origin.sql
  db/migrations/20260924033202_scan_origin.sql
Due: :postgres: atlas lint

linter
  internal/ent/hooks/listeners_scan_report.go
Due: :golang: go generate, :yaml: generate config

linter
  pkg/docextract/retry.go
  pkg/docextract/soc2/link.go
Due: :yaml: generate config

revert bad change, fix other test
  pkg/docextract/schema/findings.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
  pkg/gala/registry.go
Due: :yaml: generate config

better logic
  internal/integrations/definitions/gemini/report_scan_listeners.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
Due: :yaml: generate config

cleanup, minio -> silo, utils
  cli/go.mod
  pkg/docextract/soc2/identity.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/stream.go
Due: :yaml: generate config, :terminal: build cli

I guess you won
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

remove creds json option, remove extra allow context, fix default email
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/ent/hooks/listeners_notification_email.go
  internal/ent/hooks/listeners_scan_report.go
  internal/integrations/definitions/gemini/client.go
  internal/integrations/definitions/gemini/types.go
  internal/testutils/reportscan/README.md
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/docextract/client.go
  pkg/docextract/errors.go
  pkg/docextract/extract_test.go
  pkg/modelarmor/client.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

linter
  internal/integrations/definitions/gemini/builder.go
Due: :yaml: generate config

rebase + regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  db/migrations-goose-postgres/20261008222400_scan.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20261008222346_scan.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/entityops/entity_notification.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

email to unreachable email or verification should not fail the entire job + added comments
  common/models/trustcenter_ndarequest.go
  internal/ent/hooks/listener_trustcenter_ndarequest.go
  internal/ent/hooks/listener_trustcenter_ndarequest_test.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/backfill_trustcenter_setting.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

task generate ent + gql
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/trustcentersetting.go
  internal/ent/historygenerated/trustcentersettinghistory.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

add more tests
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/enums/trustcenterndarequestatus.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/trustcenterndarequest/trustcenterndarequest.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/trustcenterndarequesthistory/trustcenterndarequesthistory.go
  internal/ent/hooks/listener_trustcenter_ndarequest.go
  internal/ent/hooks/listener_trustcenter_ndarequest_test.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/eventstest/listeners_nda_attestation_test.go
  internal/graphapi/eventstest/trustcenternda_events_test.go
  internal/graphapi/eventstest/trustcenterndarequest_events_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/trustcenter_ndarequest_autoapproval_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

drop dangling import
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/trustcenter_ndarequest_autoapproval_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add markdown extension to summarizer md parser
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: :yaml: generate config

fix: org role not returned for all orgs, only current org (#2883)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generate/templates/entgql/collection.tmpl
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/entity.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/entityhistory.go
  internal/ent/historygenerated/gql_pagination.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/schema/defaults.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/organization_test.go
  internal/graphapi/pagination_fga_test.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

escape html when sending to summarizer to handle quotes and others
  pkg/summarizer/summary.go
Due: :yaml: generate config

Include table extension when parsing summary markdown (#2885)
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: :yaml: generate config

new schema output
  internal/integrations/registry/registry.go
  internal/integrations/registry/surface_diff.go
  internal/integrations/registry/surface_diff_test.go
  internal/integrations/registry/version_test.go
  jsonschema/integrations/def_01EMAILINT00000000000000001.json
  jsonschema/integrations/def_01K0AUTHENTIK000000000000001.json
  jsonschema/integrations/def_01K0AWSSECHUB0000000000001.json
  jsonschema/integrations/def_01K0AZENTRA0000000000000001.json
  jsonschema/integrations/def_01K0AZSECC000000000000000001.json
  jsonschema/integrations/def_01K0CFLARE00000000000000001.json
  jsonschema/integrations/def_01K0GCPSCC00000000000000001.json
  jsonschema/integrations/def_01K0GDRIVE00000000000000001.json
  jsonschema/integrations/def_01K0GHAPP000000000000000001.json
  jsonschema/integrations/def_01K0GWKSP000000000000000001.json
  jsonschema/integrations/def_01K0KEYCLOAK000000000000001.json
  jsonschema/integrations/def_01K0MSTEAMS00000000000000001.json
  jsonschema/integrations/def_01K0OCI00000000000000000001.json
  jsonschema/integrations/def_01K0OIDCLOCAL000000000000001.json
  jsonschema/integrations/def_01K0OKTA0000000000000000001.json
  jsonschema/integrations/def_01K0ONEDRIVE00000000000001.json
  jsonschema/integrations/def_01K0SCIM000000000000000001.json
  jsonschema/integrations/def_01K0SLACK000000000000000001.json
  jsonschema/integrations/def_01K0TAILSCALE0000000000001.json
  jsonschema/integrations/def_01K0ZITADEL000000000000001.json
  jsonschema/integrations/def_01SYSTEM0000000000000000001.json
Due: :yaml: generate config

task config generate
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

add version hash to the outputted file
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/registry/registry.go
  internal/integrations/registry/surface_diff.go
  internal/integrations/registry/surface_diff_test.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/upgrade.go
  jsonschema/integration_schema_generator.go
  jsonschema/integrations/def_01EMAILINT00000000000000001.json
  jsonschema/integrations/def_01K0AUTHENTIK000000000000001.json
  jsonschema/integrations/def_01K0AWSSECHUB0000000000001.json
  jsonschema/integrations/def_01K0AZENTRA0000000000000001.json
  jsonschema/integrations/def_01K0AZSECC000000000000000001.json
  jsonschema/integrations/def_01K0CFLARE00000000000000001.json
  jsonschema/integrations/def_01K0GCPSCC00000000000000001.json
  jsonschema/integrations/def_01K0GDRIVE00000000000000001.json
  jsonschema/integrations/def_01K0GHAPP000000000000000001.json
  jsonschema/integrations/def_01K0GWKSP000000000000000001.json
  jsonschema/integrations/def_01K0KEYCLOAK000000000000001.json
  jsonschema/integrations/def_01K0MSTEAMS00000000000000001.json
  jsonschema/integrations/def_01K0OCI00000000000000000001.json
  jsonschema/integrations/def_01K0OIDCLOCAL000000000000001.json
  jsonschema/integrations/def_01K0OKTA0000000000000000001.json
  jsonschema/integrations/def_01K0ONEDRIVE00000000000001.json
  jsonschema/integrations/def_01K0SCIM000000000000000001.json
  jsonschema/integrations/def_01K0SLACK000000000000000001.json
  jsonschema/integrations/def_01K0TAILSCALE0000000000001.json
  jsonschema/integrations/def_01K0ZITADEL000000000000001.json
  jsonschema/integrations/def_01SYSTEM0000000000000000001.json
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
