Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/directoryaccount.go
  internal/ent/generated/finding.go
  internal/ent/historygenerated/directoryaccounthistory.go
  internal/ent/historygenerated/findinghistory.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/privacy/rule/allow_comments.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix: slate parse, test
  internal/ent/interceptors/controls.go
  internal/ent/privacy/rule/allow_comments.go
  internal/graphapi/notes_test.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix test
  internal/graphapi/internalpolicy_test.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove logs from testing
  internal/ent/privacy/rule/allow_comments.go
Due: :golang: go generate, :yaml: generate config

add identity holder crud tests
  internal/graphapi/identity_holder_test.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add identity holder crud tests (#2082)
  internal/graphapi/identity_holder_test.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

export db migration
  db/migrations-goose-postgres/20260227205243_export_mode.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260227205218_export_mode.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

export db migration (#2083)
  db/migrations-goose-postgres/20260227205243_export_mode.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260227205218_export_mode.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

best swing at mapx as ill get
  common/helpers/clone.go
  common/helpers/clone_test.go
  common/integrations/auth/metadata.go
  common/integrations/config/spec.go
  common/integrations/operations/operation_templates.go
  common/models/job_cadence.go
  internal/ent/interceptors/filter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/modules.go
  internal/ent/privacy/utils/utils.go
  internal/ent/privacy/utils/utils_test.go
  internal/graphapi/csv_reference.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/workflowproposal_helpers.go
  internal/integrations/activation/service.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/oauth/provider.go
  internal/keymaker/service.go
  internal/keystore/client_manager.go
  internal/keystore/client_pool.go
  internal/keystore/operations_manager.go
  internal/keystore/store.go
  internal/mutations/helpers.go
  internal/workflows/cleanup.go
  internal/workflows/engine/notification_templates.go
  pkg/entitlements/tuples.go
  pkg/logx/consolelog/consolelog.go
  pkg/mapx/doc.go
  pkg/mapx/mapx.go
  pkg/mapx/mapx_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

best swing at mapx as ill get (#2084)
  common/helpers/clone.go
  common/helpers/clone_test.go
  common/integrations/auth/metadata.go
  common/integrations/config/spec.go
  common/integrations/operations/operation_templates.go
  common/models/job_cadence.go
  internal/ent/interceptors/filter.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/modules.go
  internal/ent/privacy/utils/utils.go
  internal/ent/privacy/utils/utils_test.go
  internal/graphapi/csv_reference.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/workflowproposal_helpers.go
  internal/integrations/activation/service.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/oauth/provider.go
  internal/keymaker/service.go
  internal/keystore/client_manager.go
  internal/keystore/client_pool.go
  internal/keystore/operations_manager.go
  internal/keystore/store.go
  internal/mutations/helpers.go
  internal/workflows/cleanup.go
  internal/workflows/engine/notification_templates.go
  pkg/entitlements/tuples.go
  pkg/logx/consolelog/consolelog.go
  pkg/mapx/doc.go
  pkg/mapx/mapx.go
  pkg/mapx/mapx_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

Bug: Fix Logx Concurrent Map Mutation in Context Field Propagation (#2066)
  internal/ent/hooks/listeners_trustcenter_cache.go
  pkg/gala/context_auth.go
  pkg/logx/context.go
  pkg/logx/context_test.go
Due: :golang: go generate, :yaml: generate config

debug: adding logs for cf trigger cache (#2067)
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

Fix EventQueue `ClientFromHandler` to Inject ent client | Enrich River Job submission with Listener Info (#2070)
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/handler_helpers.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/eventqueue/mutation_helpers_test.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_workflow.go
  internal/ent/notifications/events.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/mentions.go
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/registry.go
  pkg/gala/types.go
Due: :golang: go generate, :yaml: generate config

add normalization to prevent failures (#2078)
  .buildkite/cleanup-draft-prs.sh
  .buildkite/lib/common.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/tests/cleanup-draft-prs.bats
  .buildkite/tests/post-merge-pr-automation.bats
Due: none

fix: allow comments to be added / removed by member users (#2079)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/directoryaccount.go
  internal/ent/generated/finding.go
  internal/ent/historygenerated/directoryaccounthistory.go
  internal/ent/historygenerated/findinghistory.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/interceptors/controls.go
  internal/ent/privacy/rule/allow_comments.go
  internal/ent/schema/control.go
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/note.go
  internal/ent/schema/procedure.go
  internal/ent/schema/risk.go
  internal/ent/schema/subcontrol.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/evidence_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/notes_test.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/models.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

Specs for exporting
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

Some More Fixes
  .entc/entc_github.com_theopenlane_core_internal_ent_schema_1771751453.go
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/export.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Remove duplicate ExportExportMode enum from schema.graphql
  internal/graphapi/clientschema/schema.graphql
Due: :golang: go generate, :yaml: generate config

Delete duplicare ExportExportMode enum from ent.graphql
  internal/graphapi/schema/ent.graphql
Due: :golang: go generate, :yaml: generate config

fix:generate errors
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

finish refactor, passing tests
  internal/graphapi/control_clone.go
  internal/graphapi/tfasetting.resolvers.go
  internal/httpserve/handlers/accountfeatures.go
  internal/httpserve/handlers/scim/group_handler.go
  internal/httpserve/handlers/scim/user_handler.go
  internal/workflows/engine/engine.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

think its finally complete
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/orgmodule.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/token/caller.go
  internal/ent/privacy/token/email_signup_token.go
  internal/ent/privacy/token/filedownload.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/privacy/token/oauth_token.go
  internal/ent/privacy/token/org_invite_token.go
  internal/ent/privacy/token/reset_token.go
  internal/ent/privacy/token/verify_token.go
  internal/ent/privacy/token/webauthn_token.go
  internal/ent/schema/mixin_orgowned.go
  internal/httpserve/handlers/scim/user_handler.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/middleware/auth/auth.go
  pkg/objects/storage/proxy/errors.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

restore
  common/integrations/auth/metadata.go
  internal/integrations/providers/apikey/apikey.go
Due: :yaml: generate config, :terminal: build cli

deps: trivy version 0.69.2 bump
  .buildkite/pipeline.yaml
Due: none

invalid yaml
  fga/tests/tuples/files.yaml
Due: :auth0: fga model test

deps: trivy version 0.69.2 bump (#2093)
  .buildkite/pipeline.yaml
  fga/tests/tuples/files.yaml
Due: :auth0: fga model test

add zip mimetypes for exports
  internal/objects/validators/mime.go
Due: :yaml: generate config

add zip mimetypes for exports (#2095)
  internal/objects/validators/mime.go
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
