Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

no mas
  internal/integrations/ingest/func.go
Due: :yaml: generate config

fix github app and add tests
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/integrations/providers/github/github_app_provider.go
  internal/keystore/broker.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove unused guards, consolidate github app config, remove pattern deviations
  config/config.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_providers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/serveropts/integration_base.go
  internal/httpserve/serveropts/options_test.go
  internal/integrations/config/spec.go
  internal/integrations/runtime/config.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/runtime.go
  internal/keymaker/service.go
  internal/keymaker/service_additional_test.go
  internal/keystore/client_pool.go
  internal/keystore/credential_resolution.go
  internal/keystore/store.go
  internal/keystore/types_alias.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

jsonx uplift
  go.mod
  go.sum
  internal/ent/hooks/evidence.go
  internal/graphapi/evidence_test.go
  internal/integrations/ingest/func.go
  internal/integrations/operations/operation_helpers.go
  internal/integrations/operations/operation_templates.go
  internal/integrations/operations/opsconfig.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/providers/okta/operations.go
  internal/integrations/providers/slack/operations.go
  internal/integrations/scope/types.go
  internal/integrations/state/state.go
  internal/integrations/types/provider.go
  internal/keymaker/service.go
  internal/keymaker/service_additional_test.go
  internal/keymaker/service_test.go
  internal/keymaker/session_store.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

jsonx helpers, inline refactors
  internal/integrations/config/spec.go
  internal/integrations/config/spec_overrides_test.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/shared_helpers.go
  internal/integrations/operations/operation_helpers.go
  internal/integrations/operations/operation_templates.go
  internal/integrations/operations/opsconfig.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/aws/operations_securityhub.go
  internal/integrations/providers/awskit/auth.go
  internal/integrations/providers/awssts/awssts.go
  internal/integrations/providers/azuresecuritycenter/client.go
  internal/integrations/providers/azuresecuritycenter/operations.go
  internal/integrations/providers/azuresecuritycenter/provider.go
  internal/integrations/providers/gcpscc/gcpscc.go
  internal/integrations/providers/gcpscc/operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/github/operations_graphql.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/providers/okta/client.go
  internal/integrations/providers/okta/operations.go
  internal/integrations/providers/slack/operations.go
  internal/integrations/scope/types.go
  internal/workflows/engine/integration_executor.go
  pkg/jsonx/errors.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
Due: :yaml: generate config

stash before the next refactor lol
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/documentdata.go
  internal/httpserve/handlers/integration_config.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/schema.go
  internal/integrations/operations/schema_test.go
  internal/integrations/operations/validation.go
  internal/integrations/operations/validation_test.go
  internal/keymaker/service.go
  internal/keystore/broker.go
  internal/keystore/client_manager.go
  internal/keystore/client_pool.go
  internal/keystore/operations_manager.go
  internal/keystore/operations_manager_test.go
  internal/workflows/domain.go
  internal/workflows/domain_test.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_approval_compat_test.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/notification_templates.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
  jsonschema/workflow.definition.json
  pkg/catalog/catalog.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/schema_validation.go
  pkg/jsonx/schema_validation_test.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

Refactor validMimeTypes for formatting
  internal/objects/validators/mime.go
Due: :yaml: generate config

add .mov, .mp4, .webm support
  internal/objects/validators/mime.go
Due: :yaml: generate config

add .mov, .mp4, .webm support (#2158)
  internal/objects/validators/mime.go
Due: :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260316213255_exposure_schema.sql
  db/migrations-goose-postgres/20260316213306_exposure_schema_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260316213232_exposure_schema.sql
  db/migrations/20260316213243_exposure_schema_history.sql
  db/migrations/atlas.sum
  internal/ent/hooks/organization.go
  internal/graphapi/vulnerability_extended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fixes
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/finding.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/ent.resolvers.go
  internal/graphapi/vulnerability_extended.resolvers.go
  internal/graphapi/vulnerability_summary.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

set default vulnerability status to none
  internal/ent/hooks/vulnerability.go
  internal/graphapi/vulnerability_extended.resolvers.go
  internal/graphapi/vulnerability_extended_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix lint
  internal/ent/hooks/organization.go
  internal/ent/hooks/vulnerability.go
Due: :golang: go generate, :yaml: generate config

Add 'application/zip' to exportFiles MIME types
  internal/objects/validators/mime.go
Due: :yaml: generate config

make enum auto creation the default
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/customenums.go
  internal/ent/schema/finding.go
  internal/ent/schema/mixin_customenums.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix lint
  internal/ent/schema/mixin_customenums.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Feature/export as docuemnts spec (#2087)
  common/enums/exportformat.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/objects/validators/mime.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix tests
  internal/graphapi/control_test.go
  internal/graphapi/customtypeenums_test.go
  internal/graphapi/models_test.go
  internal/graphapi/sladefinition_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add lint
  internal/ent/schema/mixin_customenums.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcentersetting_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update sladefinition.go
  internal/ent/schema/sladefinition.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/entitlements/features/features.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

task db:create
  db/migrations-goose-postgres/20260318125638_sla_definition.sql
  db/migrations-goose-postgres/20260318125648_sla_definition_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260318125612_sla_definition.sql
  db/migrations/20260318125624_sla_definition_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

bump to 1.25.8
  cli/go.mod
  common/go.mod
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump to 1.25.8
  go.work
Due: none

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
