Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

bug: contact edge perm fix, generate via commons/enums (#2185)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/entity.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generate/gen_gqlgen.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: remove duplicate rem + review findings
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260322192804_remove_finding_rev_rem_dup.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260322192758_remove_finding_rev_rem_dup.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/client.go
  internal/ent/generated/entql.go
  internal/ent/generated/finding.go
  internal/ent/generated/finding/finding.go
  internal/ent/generated/finding/where.go
  internal/ent/generated/finding_create.go
  internal/ent/generated/finding_query.go
  internal/ent/generated/finding_update.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/internal/schemaconfig.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/remediation.go
  internal/ent/generated/remediation/remediation.go
  internal/ent/generated/remediation/where.go
  internal/ent/generated/remediation_create.go
  internal/ent/generated/remediation_query.go
  internal/ent/generated/remediation_update.go
  internal/ent/generated/review.go
  internal/ent/generated/review/review.go
  internal/ent/generated/review/where.go
  internal/ent/generated/review_create.go
  internal/ent/generated/review_query.go
  internal/ent/generated/review_update.go
  internal/ent/schema/finding.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/ent.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

need sonar props for upload of report
  .buildkite/pipeline.yaml
Due: none

need sonar props for upload of report (#2188)
  .buildkite/pipeline.yaml
Due: none

just do full checkout here
  .buildkite/pipeline.yaml
Due: none

just do full checkout here (#2193)
  .buildkite/pipeline.yaml
Due: none

fix: add default enum for frequency on campaings
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/enums/frequency.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/campaign_create.go
  internal/ent/generated/entity/entity.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/historygenerated/actionplanhistory/actionplanhistory.go
  internal/ent/historygenerated/campaignhistory/campaignhistory.go
  internal/ent/historygenerated/campaignhistory_create.go
  internal/ent/historygenerated/entityhistory/entityhistory.go
  internal/ent/historygenerated/internalpolicyhistory/internalpolicyhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/procedurehistory/procedurehistory.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

db:create
  db/migrations-goose-postgres/20260324013726_campaign_freq.sql
  db/migrations-goose-postgres/20260324013729_campaign_freq_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260324013719_campaign_freq.sql
  db/migrations/20260324013722_campaign_freq_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: add default enum for frequency on campaings (#2197)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/enums/frequency.go
  db/migrations-goose-postgres/20260324013726_campaign_freq.sql
  db/migrations-goose-postgres/20260324013729_campaign_freq_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260324013719_campaign_freq.sql
  db/migrations/20260324013722_campaign_freq_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/campaign_create.go
  internal/ent/generated/entity/entity.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/historygenerated/actionplanhistory/actionplanhistory.go
  internal/ent/historygenerated/campaignhistory/campaignhistory.go
  internal/ent/historygenerated/campaignhistory_create.go
  internal/ent/historygenerated/entityhistory/entityhistory.go
  internal/ent/historygenerated/internalpolicyhistory/internalpolicyhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/procedurehistory/procedurehistory.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

some cleanup
  internal/controls/clone.go
  internal/controls/options.go
  internal/controls/trustcenter.go
Due: :yaml: generate config

feat: clone trust center controls during trust center creation
  internal/controls/clone.go
  internal/controls/doc.go
  internal/controls/errors.go
  internal/controls/helpers.go
  internal/controls/helpers_test.go
  internal/controls/trustcenter.go
  internal/controls/types.go
  internal/ent/hooks/trustcenter.go
  internal/graphapi/clone_helper.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_helpers.go
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/seed_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

feat: clone controls when trust center created (#2196)
  internal/controls/clone.go
  internal/controls/doc.go
  internal/controls/errors.go
  internal/controls/helpers.go
  internal/controls/helpers_test.go
  internal/controls/options.go
  internal/controls/trustcenter.go
  internal/ent/hooks/trustcenter.go
  internal/graphapi/clone_helper.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_helpers.go
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/programextended.resolvers.go
  internal/graphapi/trustcenter_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/seed_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

feat: allow subprocessor table to be accessed by compliance + entity moduels
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/ent/schema/subprocessor.go
  internal/entitlements/features/features.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

feat: allow subprocessor table to be accessed by compliance + entity moduels (#2203)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/ent/schema/subprocessor.go
  internal/entitlements/features/features.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

linter
  internal/ent/schema/sladefinition.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

feat: use transaction, on signup this comes from events, not graphql request
  internal/controls/trustcenter.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix nil pointer
  internal/controls/trustcenter.go
Due: :yaml: generate config

fix test, trust center is now enabled by default
  internal/httpserve/handlers/accountfeatures_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

another fix
  internal/httpserve/handlers/login_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: use transaction, on signup this comes from events, not graphql request (#2206)
  internal/controls/trustcenter.go
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix merge conflict
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/jobspec/domains.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/schema/dnsverification.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

task regenerate
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :golang: go generate, :yaml: generate config

Update internal/ent/schema/dnsverification.go
  internal/ent/schema/dnsverification.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task catalog:all
  pkg/catalog/catalog_sandbox.yaml
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :yaml: generate config

Add new jobspec to support domain preview fixes (#2208)
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/jobspec/domains.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/schema/dnsverification.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/catalog/catalog_sandbox.yaml
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

check for dns errors and return safely. also drop job as trustcenter refresh has been moved completely to gala
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/trustcenter.go
Due: :golang: go generate, :yaml: generate config

drop args we do not use again
  common/jobspec/domains.go
Due: :terminal: build cli

Ignore dns lookup failures in trust center cache job (#2211)
  common/jobspec/domains.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/trustcenter.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

avatar local file id update
  internal/ent/hooks/user.go
  internal/graphapi/oops.txt
Due: :golang: go generate, :yaml: generate config

handle error
  internal/ent/interceptors/file.go
Due: :golang: go generate, :yaml: generate config

Fix group avatars when a user updates their own profile (#2212)
  internal/ent/hooks/user.go
  internal/ent/interceptors/file.go
  internal/graphapi/oops.txt
Due: :golang: go generate, :yaml: generate config

add extended file
  db/migrations-goose-postgres/20260323190948_file_category.sql
  db/migrations-goose-postgres/20260323190957_file_category_history.sql
  db/migrations/20260323190924_file_category.sql
  db/migrations/20260323190935_file_category_history.sql
  internal/graphapi/schema/entityextended.graphql
  internal/graphapi/schema/fileextended.graphql
  internal/graphapi/schema/groupextended.graphql
  internal/graphapi/schema/orgextended.graphql
  internal/graphapi/schema/userextended.graphql
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
