Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

mod tidy:
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

finish up the branch with some entityops diff and gala updates, workflowgen deprecation
  common/enums/workflow_object_type.go
  internal/ent/entityops/entity_handlers.go
  internal/ent/hooks/event_emit.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/workflowgenerated/workflow_create_helpers.go
  internal/ent/workflowgenerated/workflow_edge_extractor.go
  internal/ent/workflowgenerated/workflow_registry.go
  internal/ent/workflowgenerated/workflow_registry_test.go
  internal/entdb/client.go
  internal/graphapi/identity_resolution_helpers.go
  internal/graphapi/tools_test.go
  internal/graphapi/workflow_helpers.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/gala.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/context_codecs_test.go
  internal/integrations/runtime/health.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/scheduled_operations.go
  internal/integrations/runtime/webhooks.go
  internal/workflows/emit.go
  internal/workflows/engine/tools_test.go
  internal/workflows/objectref_registry.go
  internal/workflows/observability/emit.go
  internal/workflows/reconciler/reconciler.go
  pkg/gala/README.md
  pkg/gala/gala.go
  pkg/gala/gala_test.go
  pkg/gala/injector_codec.go
  pkg/gala/injector_codec_test.go
  pkg/gala/types.go
  pkg/gala/unique_key_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

fix directory sync run snapshot and last run semantics, simplify pending run constructors, add record failure and ingest result to surface more comprehensive summaries post handling execution
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/graphapi/directory_externalid_repair_test.go
  internal/graphapi/integration_linking_test.go
  internal/httpserve/handlers/scim/ingest.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
  internal/integrations/definitions/azureentraid/operation_directory_sync.go
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/operations_test.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/okta/operation_directory_sync.go
  internal/integrations/definitions/tailscale/operation_directory_sync.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/operations/run_store.go
  internal/integrations/operations/run_store_test.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/webhooks.go
  internal/integrations/types/errors.go
  internal/integrations/types/errors_test.go
  internal/integrations/types/mapping.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix transform and test
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/hooks/listeners_trustcenter_watermark.go
  internal/graphapi/listeners_questionnaire_transform_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

recommend integrations
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/integrationrecommendation.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/integrationrecommendation.go
  internal/graphapi/integrationrecommendation.resolvers.go
  internal/graphapi/model/integration_recommendation.go
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/schema/integrationrecommendation.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googledrive/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/oci/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/onedrive/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/types/definition.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

bump go version
  cli/go.mod
  common/go.mod
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump version
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

take a swing at urlx, collapse all easily findable url.Parse functions, preserve behavior wherever possible
  cmd/stripe-webhook/command_status.go
  internal/ent/hooks/documents.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/ent/validator/domain.go
  internal/favicon/favicon.go
  internal/graphapi/customdomain.resolvers.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/workflow_validators.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/integrations/cli/cmd/client.go
  internal/integrations/cli/cmd/emailtest/send.go
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/onedrive/operation_export.go
  internal/integrations/definitions/zitadel/client.go
  internal/vendorenrich/enrich.go
  internal/workflows/seeder.go
  pkg/domain/normalize.go
  pkg/domain/normalize_test.go
  pkg/domainscan/assets.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/urlutil_test.go
  pkg/domainscan/vendors.go
  pkg/entitlements/webhook_migration.go
  pkg/urlx/client.go
  pkg/urlx/client_test.go
  pkg/urlx/doc.go
  pkg/urlx/errors.go
  pkg/urlx/parse.go
  pkg/urlx/parse_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

fmt
  internal/integrations/definitions/authentik/client.go
Due: :yaml: generate config

Expand urlx, collapse url parsing, domain + scheme + host extraction (#2705)
  cmd/stripe-webhook/command_status.go
  internal/ent/hooks/documents.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/ent/validator/domain.go
  internal/favicon/favicon.go
  internal/graphapi/customdomain.resolvers.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/workflow_validators.go
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/integrations/cli/cmd/client.go
  internal/integrations/cli/cmd/emailtest/send.go
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/onedrive/operation_export.go
  internal/integrations/definitions/zitadel/client.go
  internal/vendorenrich/enrich.go
  internal/workflows/seeder.go
  pkg/domain/normalize.go
  pkg/domain/normalize_test.go
  pkg/domainscan/assets.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/urlutil_test.go
  pkg/domainscan/vendors.go
  pkg/entitlements/webhook_migration.go
  pkg/urlx/client.go
  pkg/urlx/client_test.go
  pkg/urlx/doc.go
  pkg/urlx/errors.go
  pkg/urlx/parse.go
  pkg/urlx/parse_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

defined the files
  internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/config.go
  internal/integrations/definitions/fossa/doc.go
  internal/integrations/definitions/fossa/installation.go
  internal/integrations/definitions/fossa/mappings.go
  internal/integrations/definitions/fossa/mappings_test.go
  internal/integrations/definitions/fossa/operation_directory_sync.go
  internal/integrations/definitions/fossa/operation_health.go
  internal/integrations/definitions/fossa/types.go
Due: :yaml: generate config

add backfill context for deletion of tuples
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

dupe
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

fix: add backfill context for deletion of tuples (#2707)
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

fix: long gala shutdown, more gracefully handle errors and retry for gala jobs in flight
  cmd/serve.go
  internal/entdb/errors.go
  internal/entdb/shutdown.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/ingest.go
  internal/shutdown/shutdown.go
Due: :yaml: generate config, :golang: build

linter
  internal/entdb/shutdown.go
  internal/entdb/shutdown_test.go
Due: :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix lint
  internal/ent/schema/integration_recommendation.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add dep
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix dep
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regenerate
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_notification.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

invocation context
  internal/ent/hooks/listeners_organization_avatar.go
Due: :golang: go generate, :yaml: generate config

exclusions
  .golangci.yaml
  .typos.toml
  sonar-project.properties
Due: :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:

bump x/mod
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bumpo common
  common/go.mod
  common/go.sum
Due: :terminal: build cli

fix rebase
  common/go.sum
Due: :terminal: build cli

remove unused search code
  .task/checksum/generate-catalog-smart
  go.mod
  go.sum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/search.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

drop more unused code
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/hooks/export_test.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/tuples.go
  internal/ent/privacy/rule/allow_mutation_valid_signup_token.go
  internal/ent/privacy/rule/deny_questionnaire.go
  internal/ent/privacy/token/email_signup_token.go
  internal/ent/privacy/token/filedownload.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/privacy/token/oauth_token.go
  internal/ent/privacy/token/org_invite_token.go
  internal/ent/privacy/token/reset_token.go
  internal/ent/privacy/token/verify_token.go
  internal/ent/schema/mixin_customenums.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/router_test.go
  internal/integrations/mappingtest/mappingtest.go
  internal/integrations/providerkit/schema.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

cleanup
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/genhelpers/pruneops.go
Due: :golang: go generate, :yaml: generate config
