Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

last pass
  cmd/serve.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/eventqueue/value_helpers.go
  internal/ent/generate/entc.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/event_helpers.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/event_details.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/errors.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/observer_test.go
  internal/workflows/observability/warn.go
  internal/workflows/reconciler/errors.go
  internal/workflows/reconciler/reconciler.go
  internal/workflows/shared_helpers.go
  internal/workflows/shared_helpers_test.go
  pkg/gala/context.go
  pkg/gala/errors.go
  pkg/gala/gala_test.go
  pkg/gala/listener_test.go
  pkg/gala/pool.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

more helper collapse, model review / scrub
  common/models/workflow.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/eventqueue/mutation_helpers_test.go
  internal/ent/eventqueue/value_helpers.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/workflow_approval.go
  internal/graphapi/workflowproposal_helpers.go
  internal/mutations/helpers.go
  internal/mutations/helpers_test.go
  internal/workflows/changeset.go
  internal/workflows/changeset_test.go
  internal/workflows/domain.go
  internal/workflows/engine/approval_timing_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/helpers.go
  internal/workflows/engine/resolver.go
  internal/workflows/engine/tools_test.go
  internal/workflows/engine/types.go
  internal/workflows/fields.go
  internal/workflows/schema_contract.go
  internal/workflows/shared_helpers.go
  internal/workflows/shared_helpers_test.go
  jsonschema/workflow.definition.json
  jsonschema/workflow_schema_generator.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

fix some more tests, scope the queue check
  internal/graphapi/workflow_helpers.go
  internal/workflows/engine/executor.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/observer.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

finish up in memory updates and parallel flags
  internal/ent/hooks/listeners_workflow.go
  internal/entdb/client.go
  internal/graphapi/campaign_dispatch_test.go
  internal/graphapi/campaign_with_targets_test.go
  internal/graphapi/clone_helper_test.go
  internal/graphapi/controlhelpers_test.go
  internal/graphapi/csv_reference_test.go
  internal/graphapi/search_context_test.go
  internal/graphapi/websockets_test.go
  internal/graphapi/workflow_helpers.go
  internal/graphapi/workflow_integration_test.go
  internal/graphapi/workflow_validators_test.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/tools_test.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/errors.go
  pkg/gala/context.go
  pkg/gala/errors.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
  pkg/gala/pool.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

more deduplication, clean up, consolidate helpers
  common/integrations/operations/github_alert_types.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/topics.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/keystore/client_manager.go
  internal/keystore/operations_manager.go
  internal/mutations/helpers.go
  internal/objects/resolver/factory.go
  internal/workflows/changeset.go
  internal/workflows/domain.go
  internal/workflows/engine/types.go
  pkg/objects/examples/app/command_multiprovider.go
  pkg/objects/examples/app/lifecycle.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

config generate, workflow mutations and engine updates
  common/models/workflow.go
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/eventqueue/mutation_helpers_test.go
  internal/ent/hooks/event_emit.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/workflow_approval.go
  internal/graphapi/workflowproposal_helpers.go
  internal/mutations/doc.go
  internal/mutations/helpers.go
  internal/mutations/helpers_test.go
  internal/workflows/context.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/errors.go
  internal/workflows/observability/observer.go
  internal/workflows/observability/observer_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/workflow_schema_generator.go
  pkg/gala/gala_test.go
  pkg/gala/inmemory.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

workflow context
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/evaluator_test.go
Due: :yaml: generate config

workflow context (#2049)
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/evaluator_test.go
Due: :yaml: generate config

more dedupe and helpers
  common/integrations/operations/operation_helpers.go
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/integration_config.go
  internal/integrations/providers/azuresecuritycenter/operations.go
  internal/integrations/providers/buildkite/errors.go
  internal/integrations/providers/buildkite/operations.go
  internal/integrations/providers/gcpscc/gcpscc.go
  internal/integrations/providers/gcpscc/operations.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/providers/okta/operations.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

regenerate
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/client.go
  internal/ent/generated/notificationpreference.go
  internal/ent/generated/notificationtemplate.go
  internal/ent/historygenerated/notificationpreferencehistory.go
  internal/ent/historygenerated/notificationtemplatehistory.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

more deduplication, clean up, consolidate helpers
  common/integrations/operations/github_alert_types.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/topics.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/mutations/helpers.go
  internal/objects/resolver/factory.go
  internal/workflows/changeset.go
  internal/workflows/domain.go
  internal/workflows/engine/types.go
  pkg/objects/examples/app/command_multiprovider.go
  pkg/objects/examples/app/lifecycle.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

refactor wf and gala init
  cmd/serve.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/mentions.go
  internal/entdb/client.go
  internal/httpserve/serveropts/gala.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golang: build

reconcile
  internal/integrations/providers/github/vulnerabilities.go
Due: :yaml: generate config

adjustments to the github app installation and webhook notification
  go.mod
  go.sum
  internal/ent/hooks/listeners_slack_test.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/integrations/providers/github/client.go
  internal/integrations/providers/github/client_graphql.go
  internal/integrations/providers/github/errors.go
  internal/integrations/providers/github/github_app_operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/github/operations_graphql.go
  internal/integrations/providers/github/operations_schema_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix func ref
  internal/ent/hooks/listeners_slack_helpers.go
Due: :golang: go generate, :yaml: generate config

clean up cruft
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/providers/github/client.go
  internal/integrations/providers/github/client_graphql.go
  internal/integrations/providers/github/operations_graphql.go
  pkg/slacktemplates/slacktemplates.go
  pkg/slacktemplates/templates/github_app_installation.tmpl
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

move template to hooks
  internal/ent/hooks/listeners_slack_helpers.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

linter
  internal/ent/hooks/listeners_slack_helpers.go
  internal/integrations/providers/github/operations_graphql.go
Due: :golang: go generate, :yaml: generate config

Github GraphQL Client | Github App Installation Mechanics | Webhook Metrics (#2057)
  go.mod
  go.sum
  internal/ent/hooks/listeners_slack_helpers.go
  internal/ent/hooks/listeners_slack_test.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/integrations/providers/github/client.go
  internal/integrations/providers/github/client_graphql.go
  internal/integrations/providers/github/errors.go
  internal/integrations/providers/github/github_app_operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/github/operations_graphql.go
  internal/integrations/providers/github/operations_schema_test.go
  pkg/slacktemplates/slacktemplates.go
  pkg/slacktemplates/templates/github_app_installation.tmpl
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add tests
  internal/graphapi/asset_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

uplift directory account schemas, fga, integration refs
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/findings.yaml
  fga/tests/tuples/vulnerabilities.yaml
  internal/ent/hooks/directoryaccount.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/directorysyncrun.go
  internal/ent/schema/finding.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/integration.go
  internal/ent/schema/mixin_createacess.go
  internal/ent/schema/platform.go
  internal/ent/schema/workflowobjectref.go
  internal/graphapi/query/identityholder.graphql
  internal/integrations/providers/googleworkspace/operations.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

fix up the always error on shutdown behavior
  cmd/serve.go
Due: :golang: build

nolint
  internal/ent/schema/directoryaccount.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
