Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fga types, schema tuning
  fga/model/model.fga
  internal/ent/schema/campaign.go
  internal/ent/schema/emailbranding.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/integration.go
  internal/ent/schema/integrationdefinition.go
  internal/ent/schema/integrationoperationdefinition.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/notificationtemplate.go
  internal/ent/schema/organization.go
  internal/ent/schema/workflowdefinition.go
  internal/ent/schema/workflowinstance.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

config generate
  jsonschema/workflow.definition.json
Due: none

uncomment out policy / annotations for schemas
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/schema/emailbranding.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

pull in new CEL package, take advantage of new json types, init small celx package
  go.mod
  go.sum
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/workflow_validation_errors.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowdefinition.resolvers.go
  internal/httpserve/serveropts/option.go
  internal/workflows/cel.go
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/engine/cel_evaluator.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/helpers_test.go
  internal/workflows/examples/evidence-review-workflow.json
  internal/workflows/examples/main.go
  internal/workflows/examples/webhook-notification.json
  internal/workflows/params.go
  internal/workflows/shared_helpers.go
  internal/workflows/shared_helpers_test.go
  jsonschema/workflow.definition.json
  pkg/celx/config.go
  pkg/celx/env.go
  pkg/celx/env_test.go
  pkg/celx/errors.go
  pkg/celx/evaluator.go
  pkg/celx/evaluator_test.go
  pkg/celx/json.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

generated output
  internal/ent/csvgenerated/csv_generated.go
Due: :golang: go generate, :yaml: generate config

fix spacing / comments, add doc.go
  pkg/celx/config.go
  pkg/celx/doc.go
  pkg/celx/env.go
  pkg/celx/errors.go
  pkg/celx/evaluator.go
Due: :yaml: generate config

nolint magic number
  pkg/celx/env.go
Due: :yaml: generate config

Add celx + upgrade CEL version (#1956)
  go.mod
  go.sum
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/workflow_validation_errors.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowdefinition.resolvers.go
  internal/httpserve/serveropts/option.go
  internal/workflows/cel.go
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/engine/cel_evaluator.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/helpers_test.go
  internal/workflows/examples/evidence-review-workflow.json
  internal/workflows/examples/main.go
  internal/workflows/examples/webhook-notification.json
  internal/workflows/params.go
  internal/workflows/shared_helpers.go
  internal/workflows/shared_helpers_test.go
  jsonschema/workflow.definition.json
  pkg/celx/config.go
  pkg/celx/doc.go
  pkg/celx/env.go
  pkg/celx/env_test.go
  pkg/celx/errors.go
  pkg/celx/evaluator.go
  pkg/celx/evaluator_test.go
  pkg/celx/json.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix error
  internal/graphapi/workflowdefinition.resolvers.go
Due: :golang: go generate, :yaml: generate config

add tests
  internal/graphapi/customdomain_test.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/workflow_resolvers_extended_test.go
  internal/graphapi/workflowadmin.resolvers.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/graphapi/workflowassignment_helpers.go
  internal/graphapi/workflowproposal_helpers.go
Due: :golang: go generate, :yaml: generate config

pr feedback
  internal/graphapi/vulnerability_extended.resolvers.go
  internal/graphapi/workflowadmin.resolvers.go
  internal/graphapi/workflowadmin_helpers.go
  internal/graphapi/workflowproposal_helpers.go
Due: :golang: go generate, :yaml: generate config

fix function signature from auth. to common.
  internal/graphapi/workflowadmin_helpers.go
  internal/graphapi/workflowproposalextended.resolvers.go
Due: :golang: go generate, :yaml: generate config

remove comment
  internal/ent/hooks/custom_domain.go
Due: :golang: go generate, :yaml: generate config

proper config output, defaults, client initialization, and entc type referenes to use easily in mutations when needed
  .task/checksum/generate-ent-smart
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/shortlinks/client.go
  pkg/shortlinks/errors.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: build

proper config output, defaults, client initialization, and entc type referenes to use easily in mutations when needed (#1961)
  .task/checksum/generate-ent-smart
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/client.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/shortlinks/client.go
  pkg/shortlinks/errors.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: build

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

fix: group admins should also be members
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/controls.yaml
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

actually make an update
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config

fix: group admins should also be members (#1963)
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/controls.yaml
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

fix : bulk mark notifications
  .gitignore
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/notification.generated.go
  internal/graphapi/generated/prelude.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/notification.resolvers.go
  internal/graphapi/schema/notification.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

bump resend
  go.mod
  go.sum
  internal/httpserve/handlers/resend_webhook.go
  internal/httpserve/handlers/resend_webhook_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

post pull changes
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
Due: :golang: go generate, :yaml: generate config

clean up schema generator, remove external secrets refs, update buildkite pipeline
  .buildkite/cleanup-draft-prs.sh
  .buildkite/draft-pr-automation.sh
  .buildkite/lib/helm.sh
  .buildkite/pipeline.yaml
  .buildkite/post-merge-pr-automation.sh
  .buildkite/slack-utils.sh
  .buildkite/templates/github/core-pr-link-comment.md
  .buildkite/templates/github/draft-pr.md
  .buildkite/templates/github/infra-pr-link-comment.md
  .buildkite/templates/github/pr-close-comment.md
  .buildkite/tests/cleanup-draft-prs.bats
  Taskfile.yaml
  config/README.md
  config/external-secrets/external-secrets.yaml
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs

fix: always run helm automation on main
  .buildkite/pipeline.yaml
Due: none

fix: bug with nda email sending
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config
