Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

lets use the actual
  internal/ent/hooks/listeners_trustcenter_cache_test.go
Due: :golang: go generate, :yaml: generate config

not a needed test
  internal/ent/hooks/listeners_trustcenter_cache_test.go
Due: :golang: go generate, :yaml: generate config

fix: presigned url returning wrong content type
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :yaml: generate config

fix: presigned url returning wrong content type (#1875)
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :yaml: generate config

revert back to the cacheclear job for deletions
  common/jobspec/domains.go
  internal/ent/hooks/trustcenter.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Update Trust Center cache job (#1872)
  cmd/serve.go
  common/jobspec/domains.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_trustcenter_cache_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golang: build, :terminal: build cli

fix cli
  cli/cmd/trustcenterdoc/create.go
  cli/cmd/trustcenterdoc/root.go
  cli/cmd/trustcenterdoc/update.go
Due: :terminal: build cli

implement hook to update company even for existing trustcenters
  internal/ent/hooks/trustcentersetting.go
Due: :golang: go generate, :yaml: generate config

add Where clause to filter by org_id
  internal/ent/hooks/trustcentersetting.go
Due: :golang: go generate, :yaml: generate config

always skip csrf for anonymous trustcenter requests
  pkg/middleware/csrf/config.go
Due: :yaml: generate config

always skip csrf for anonymous trustcenter requests (#1879)
  pkg/middleware/csrf/config.go
Due: :yaml: generate config

add basic engine initialization, setup to cmd/serve, serveropts, fluent API with builders, basic functions
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/entdb/client.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/option.go
  internal/workflows/cel.go
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/doc.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/errors.go
  internal/workflows/observability/doc.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/helpers.go
  internal/workflows/observability/observer.go
  internal/workflows/observability/observer_test.go
  internal/workflows/observability/ops.go
  internal/workflows/observability/warn.go
  internal/workflows/options.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/events/soiree/eventpool.go
  pkg/events/soiree/topics_typed.go
  pkg/events/soiree/workflow.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: build

linter
  internal/workflows/observability/helpers.go
  internal/workflows/observability/observer.go
Due: :yaml: generate config

ensure export contains org + user id
  internal/ent/hooks/errors.go
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config

fix conflicts
  internal/ent/hooks/errors.go
Due: :golang: go generate, :yaml: generate config

trying to generate,omitting circular dependency
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/stub.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/notification.graphql
  internal/graphapi/schema/notification.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix : notification mention , modified regex
  .task/checksum/generate-others-smart
  common/go.mod
  common/go.sum
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :yaml: generate config, :terminal: build cli

refactor the eventer initialization a bit and address PR feedback
  internal/ent/hooks/eventer.go
  internal/entdb/client.go
  internal/workflows/context.go
  internal/workflows/observability/helpers.go
  internal/workflows/observability/observer_test.go
Due: :golang: go generate, :yaml: generate config

fix: ensure export contains org + user id for exports (#1885)
  internal/ent/hooks/errors.go
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config

update riverboat config, trust center domain
  config/config-dev.example.yaml
  docker/configs/riverboat/.config.dev.yaml
Due: :yaml: generate config

Workflows: Engine Initialization & Configuration (#1882)
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/eventer.go
  internal/entdb/client.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/option.go
  internal/workflows/cel.go
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/doc.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/errors.go
  internal/workflows/observability/doc.go
  internal/workflows/observability/emit.go
  internal/workflows/observability/helpers.go
  internal/workflows/observability/observer.go
  internal/workflows/observability/observer_test.go
  internal/workflows/observability/ops.go
  internal/workflows/observability/warn.go
  internal/workflows/options.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/events/soiree/eventpool.go
  pkg/events/soiree/topics_typed.go
  pkg/events/soiree/workflow.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: build

Update pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser.go
Due: :yaml: generate config

fix : notification mention , modified regex (#1887)
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :yaml: generate config

move deletion async
  internal/ent/hooks/listeners_entitlements.go
  internal/graphapi/organization.resolvers.go
Due: :golang: go generate, :yaml: generate config

register event listener in tests
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/workflows/observability/observer_test.go
Due: :golang: go generate, :yaml: generate config

try to preserve headings
  pkg/objects/storage/utils.go
Due: :yaml: generate config

fix lint
  pkg/objects/storage/utils.go
Due: :yaml: generate config

Preserve headers as much as possible (#1891)
  pkg/objects/storage/utils.go
Due: :yaml: generate config

deps: go-client and more
  cli/go.mod
  cli/go.sum
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix edge deletions
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/schema/control.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

chore: update defaulttrustcenterdomain
  config/config-dev.example.yaml
Due: :yaml: generate config

chore: update defaulttrustcenterdomain (#1895)
  config/config-dev.example.yaml
Due: :yaml: generate config

review fixes
  internal/entdb/client.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
Due: :golang: go generate, :yaml: generate config

allow anonymous access to documentdata edge
  .task/checksum/generate-ent-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/documentdata.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint
