Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix: notificaiton urls, feat: csv fields for risk (#2273)
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_field_mappings.json
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/notifications/consts.go
  internal/ent/notifications/consts_test.go
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  internal/ent/notifications/standard_update.go
  internal/ent/schema/risk.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

schema and config updates
  common/openapi/integration_models.go
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  docker/Taskfile.yaml
  docker/docker-compose-integrations-oidc.yml
  docker/files/dex-integrations.yaml
  internal/ent/hooks/directoryaccount.go
  internal/ent/hooks/directoryaccount_test.go
  internal/ent/schema/directoryaccount.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_operations_test.go
  internal/httpserve/handlers/integration_types.go
  internal/httpserve/handlers/integration_types_test.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/oidclocal/builder.go
  internal/integrations/definitions/oidclocal/config.go
  internal/integrations/definitions/oidclocal/doc.go
  internal/integrations/definitions/oidclocal/errors.go
  internal/integrations/definitions/oidclocal/installation.go
  internal/integrations/definitions/oidclocal/operation_claims.go
  internal/integrations/definitions/oidclocal/operation_health.go
  internal/integrations/definitions/oidclocal/types.go
  internal/integrations/testutils/data/directory_1/group.json
  internal/integrations/testutils/data/directory_1/user.json
  internal/integrations/testutils/data/directory_2/group.json
  internal/integrations/testutils/data/directory_2/user.json
  internal/integrations/testutils/main.go
  internal/testutils/integrations/README.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

schema updates
  common/enums/vendorriskimpact.go
  common/enums/vendorrisklikelihood.go
  common/enums/vendorscoringanswertype.go
  common/enums/vendorscoringcategory.go
  common/enums/vendortier.go
  common/models/vendorscoring.go
  fga/model/model.fga
  internal/ent/hooks/vendorscoring.go
  internal/ent/schema/assessment_response.go
  internal/ent/schema/entity.go
  internal/ent/schema/vendorriskscore.go
  internal/ent/schema/vendorscoringconfig.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :terminal: build cli, :postgres: atlas lint

remove test
  internal/ent/hooks/directoryaccount_test.go
Due: :golang: go generate, :yaml: generate config

fix tests
  common/models/vendorscoring.go
  internal/graphapi/vendorscoring_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

config generate
  jsonschema/api-docs.md
Due: none

add new CLI commands
  cli/cmd/directoryaccount/create.go
  cli/cmd/directoryaccount/delete.go
  cli/cmd/directoryaccount/doc.go
  cli/cmd/directoryaccount/get.go
  cli/cmd/directoryaccount/root.go
  cli/cmd/directoryaccount/update.go
  cli/cmd/directorygroup/create.go
  cli/cmd/directorygroup/delete.go
  cli/cmd/directorygroup/doc.go
  cli/cmd/directorygroup/get.go
  cli/cmd/directorygroup/root.go
  cli/cmd/directorygroup/update.go
  cli/cmd/directorymembership/create.go
  cli/cmd/directorymembership/delete.go
  cli/cmd/directorymembership/doc.go
  cli/cmd/directorymembership/get.go
  cli/cmd/directorymembership/root.go
  cli/cmd/directorymembership/update.go
  cli/cmd/emailtemplate/create.go
  cli/cmd/emailtemplate/delete.go
  cli/cmd/emailtemplate/doc.go
  cli/cmd/emailtemplate/get.go
  cli/cmd/emailtemplate/root.go
  cli/cmd/emailtemplate/update.go
  cli/cmd/notificationpreference/create.go
  cli/cmd/notificationpreference/delete.go
  cli/cmd/notificationpreference/doc.go
  cli/cmd/notificationpreference/get.go
  cli/cmd/notificationpreference/root.go
  cli/cmd/notificationpreference/update.go
  cli/cmd/notificationtemplate/create.go
  cli/cmd/notificationtemplate/delete.go
  cli/cmd/notificationtemplate/doc.go
  cli/cmd/notificationtemplate/get.go
  cli/cmd/notificationtemplate/root.go
  cli/cmd/notificationtemplate/update.go
  cli/main.go
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

new go client
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

pr feedback
  internal/ent/hooks/listeners_vendorscoring.go
  internal/ent/hooks/vendorscoring.go
Due: :golang: go generate, :yaml: generate config

New CLI commands (directory* + notification* schemas) (#2274)
  cli/cmd/directoryaccount/create.go
  cli/cmd/directoryaccount/delete.go
  cli/cmd/directoryaccount/doc.go
  cli/cmd/directoryaccount/get.go
  cli/cmd/directoryaccount/root.go
  cli/cmd/directoryaccount/update.go
  cli/cmd/directorygroup/create.go
  cli/cmd/directorygroup/delete.go
  cli/cmd/directorygroup/doc.go
  cli/cmd/directorygroup/get.go
  cli/cmd/directorygroup/root.go
  cli/cmd/directorygroup/update.go
  cli/cmd/directorymembership/create.go
  cli/cmd/directorymembership/delete.go
  cli/cmd/directorymembership/doc.go
  cli/cmd/directorymembership/get.go
  cli/cmd/directorymembership/root.go
  cli/cmd/directorymembership/update.go
  cli/cmd/emailtemplate/create.go
  cli/cmd/emailtemplate/delete.go
  cli/cmd/emailtemplate/doc.go
  cli/cmd/emailtemplate/get.go
  cli/cmd/emailtemplate/root.go
  cli/cmd/emailtemplate/update.go
  cli/cmd/notificationpreference/create.go
  cli/cmd/notificationpreference/delete.go
  cli/cmd/notificationpreference/doc.go
  cli/cmd/notificationpreference/get.go
  cli/cmd/notificationpreference/root.go
  cli/cmd/notificationpreference/update.go
  cli/cmd/notificationtemplate/create.go
  cli/cmd/notificationtemplate/delete.go
  cli/cmd/notificationtemplate/doc.go
  cli/cmd/notificationtemplate/get.go
  cli/cmd/notificationtemplate/root.go
  cli/cmd/notificationtemplate/update.go
  cli/main.go
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regen + db:create
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260407160343_platform_files.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260407160336_platform_files.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task generate
  common/storagetypes/provider.go
  internal/ent/hooks/file.go
  internal/ent/interceptors/file.go
  internal/graphapi/common/helpers.go
  internal/graphapi/schema/fileextended.graphql
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/migrate/schema.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/fileextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/history/vendorscoringconfighistory.graphql
  internal/graphapi/query/integration.graphql
  internal/graphapi/query/platform.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

task db:create
  db/migrations-goose-postgres/20260407204432_file_category.sql
  db/migrations-goose-postgres/20260407204441_file_category_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260407204410_file_category.sql
  db/migrations/20260407204420_file_category_history.sql
  db/migrations/atlas.sum
  internal/ent/schema/file.go
  internal/graphapi/groupextended.resolvers.go
  internal/graphapi/orgextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task regenerate and fix build issues
  db/migrations-goose-postgres/20260407225739_file_category.sql
  db/migrations-goose-postgres/20260407225749_file_category_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260407204410_file_category.sql
  db/migrations/20260407204420_file_category_history.sql
  db/migrations/20260407223321_file_category.sql
  db/migrations/20260407223333_file_category_history.sql
  db/migrations/20260407225713_file_category.sql
  db/migrations/20260407225724_file_category_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

remove embedded field and access directly
  internal/graphapi/common/helpers.go
Due: :golang: go generate, :yaml: generate config

update mappings
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config

Revove my duplicates, update OPEN -> open for webhook
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config

fix test
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix casing for github directory sync
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config

fix casing for github directory sync (#2282)
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config

add defaults
  internal/httpserve/handlers/integration_flow.go
  internal/integrations/auth/oauth.go
  internal/integrations/definitions/azureentraid/config.go
  internal/integrations/definitions/googleworkspace/config.go
  internal/integrations/definitions/microsoftteams/config.go
  internal/integrations/definitions/slack/config.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

store name in ent
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/filecategorygen/generator.go
  internal/ent/schema/evidence.go
  internal/ent/schema/organization.go
  internal/ent/schema/subprocessor.go
  internal/ent/schema/trustcentersetting.go
  internal/ent/schema/user.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/common/helpers.go
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/user_test.go
  internal/objects/store/file_category_generated.go
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

config generate
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

update url composition and add test
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

RedirectURL defaults, URL composition (#2283)
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/integrations/auth/oauth.go
  internal/integrations/definitions/azureentraid/config.go
  internal/integrations/definitions/googleworkspace/config.go
  internal/integrations/definitions/microsoftteams/config.go
  internal/integrations/definitions/slack/config.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
