Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

back furhter
  .buildkite/pipeline.yaml
Due: none

chore: break up linter + tests (#1984)
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  Taskfile.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  sonar-project.properties
Due: :golang: go generate, :yaml: generate config

feat: enable trust center, add to trial
  common/models/orgmodule_gen.go
  pkg/catalog/catalog.yaml
  pkg/catalog/gencatalog/gencatalog.go
  pkg/catalog/genyaml/yamlgen.go
Due: :yaml: generate config, :terminal: build cli

fix linter
  internal/integrations/providers/gcpscc/gcpscc.go
Due: :yaml: generate config

feat: enable trust center, add to trial (#1987)
  common/models/orgmodule_gen.go
  internal/integrations/providers/gcpscc/gcpscc.go
  pkg/catalog/catalog.yaml
  pkg/catalog/gencatalog/gencatalog.go
  pkg/catalog/genyaml/yamlgen.go
Due: :yaml: generate config, :terminal: build cli

finalize github app installation and webhook setup
  common/integrations/config/providers/github_app.json
  common/integrations/types/operation.go
  common/integrations/types/provider.go
  common/openapi/models.go
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_helpers_test.go
  internal/httpserve/handlers/integration_vulnerabilities.go
  internal/httpserve/handlers/integration_vulnerabilities_test.go
  internal/httpserve/route/github_app.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/options_test.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/providers/catalog/catalog.go
  internal/integrations/providers/github/errors.go
  internal/integrations/providers/github/github_app_operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/testutils/integrations/README.md
  internal/testutils/integrations/index.html
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

config generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

linter fixes
  internal/ent/csvgenerated/csv_generated.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/route/router.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Add step to update docs for release
  .buildkite/pipeline.yaml
Due: none

Reintroduce docs update step for release
  .buildkite/pipeline.yaml
Due: none

bulk mark notifications
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/notification.generated.go
  internal/graphapi/generated/prelude.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/notification.resolvers.go
  internal/graphapi/schema/notification.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bulk mark notifications (#1993)
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/notification.generated.go
  internal/graphapi/generated/prelude.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/notification.resolvers.go
  internal/graphapi/schema/notification.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

wip
  go.mod
  go.sum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generate/templates/ent/where_fields.tmpl
  internal/ent/generate/templates/entgql/gql_where.tmpl
  internal/ent/generate/templates/entgql/where_input.tmpl
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

entx version
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Update internal/httpserve/handlers/integration_vulnerabilities.go
  internal/httpserve/handlers/integration_vulnerabilities.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Github App Installation Handlers | Vulnerability Creation via Webhook (#1991)
  common/integrations/config/providers/github_app.json
  common/integrations/types/operation.go
  common/integrations/types/provider.go
  common/openapi/models.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/csvgenerated/csv_generated.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_helpers_test.go
  internal/httpserve/handlers/integration_vulnerabilities.go
  internal/httpserve/handlers/integration_vulnerabilities_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/route/github_app.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/options_test.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/providers/catalog/catalog.go
  internal/integrations/providers/github/errors.go
  internal/integrations/providers/github/github_app_operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/testutils/integrations/README.md
  internal/testutils/integrations/index.html
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

task generate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/identityholder.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/identityholder.resolvers.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/identityholder.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task generate (#1995)
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/identityholder.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/identityholder.resolvers.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/identityholder.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

make more schemas exportable
  .task/checksum/generate-ent-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/asset.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

make more schemas exportable (#1998)
  .task/checksum/generate-ent-smart
  common/enums/exporttype.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/asset.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

Update .buildkite/pipeline.yaml
  .buildkite/pipeline.yaml
Due: none

Update documentation label in pipeline configuration
  .buildkite/pipeline.yaml
Due: none

update provider storage
  common/integrations/helpers/operation_templates.go
  common/integrations/helpers/provider_state.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/keystore/store.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

stage integration schema updates
  go.mod
  internal/ent/schema/integration.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/vulnerability.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

use lo
  common/helpers/collections.go
  common/helpers/collections_test.go
  internal/integrations/ingest/mapper.go
  internal/integrations/registry/registry.go
Due: :yaml: generate config, :terminal: build cli

generated entx output with cel expression vars and maps
  go.mod
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

move integration package
  cmd/serve.go
  internal/ent/hooks/eventer.go
  internal/ent/hooks/listeners_integration.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/events.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/envelopes.go
  internal/integrations/ingest/errors.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/integrations/providers/awssecurityhub/awssecurityhub.go
  internal/integrations/providers/awssecurityhub/client.go
  internal/integrations/providers/awssecurityhub/doc.go
  internal/integrations/providers/awssecurityhub/errors.go
  internal/integrations/providers/awssecurityhub/operations.go
  internal/integrations/providers/awssecurityhub/operations_test.go
  internal/integrations/providers/azuresecuritycenter/azuresecuritycenter.go
  internal/integrations/providers/azuresecuritycenter/provider.go
  internal/integrations/providers/base_provider.go
  internal/integrations/providers/github/github_app.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/runner/operation_event.go
  pkg/events/soiree/integration.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: build
