Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

dont panic
  internal/graphapi/common/extensions.go
Due: :golang: go generate, :yaml: generate config

dont panic (#1842)
  internal/graphapi/common/extensions.go
Due: :golang: go generate, :yaml: generate config

feat: run preview creation on update to ensure domain is created if it wasn't before
  internal/ent/hooks/trustcentersetting.go
  internal/ent/workflowgenerated/workflow_edge_extractor.go
Due: :golang: go generate, :yaml: generate config

feat: run preview creation on update to ensure domain is created if it wasn't before (#1844)
  internal/ent/hooks/trustcentersetting.go
  internal/ent/workflowgenerated/workflow_edge_extractor.go
Due: :golang: go generate, :yaml: generate config

fix openapi path error
  internal/httpserve/server/openapi.go
Due: :yaml: generate config

switch docx parsing library
  go.mod
  go.sum
  pkg/objects/storage/utils.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update recover middleware
  go.mod
  go.sum
  internal/httpserve/route/router.go
  internal/httpserve/server/server.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add test confirming the panic behavior
  internal/httpserve/server/server_test.go
Due: :yaml: generate config

Keep docx formatting after upload (#1846)
  go.mod
  go.sum
  pkg/objects/storage/utils.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: more logging around operation for metrics
  internal/graphapi/common/metrics.go
Due: :golang: go generate, :yaml: generate config

add subscription type
  internal/graphapi/common/metrics.go
Due: :golang: go generate, :yaml: generate config

Update Recover Middleware | fix openapi pathing error (#1848)
  go.mod
  go.sum
  internal/httpserve/route/router.go
  internal/httpserve/server/openapi.go
  internal/httpserve/server/server.go
  internal/httpserve/server/server_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: more logging around operation for metrics (#1849)
  internal/graphapi/common/metrics.go
Due: :golang: go generate, :yaml: generate config

fix: use old for updates, add tests
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/trustcentersetting_test.go
Due: :golang: go generate, :yaml: generate config

comment, go update
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/hooks/trustcentersetting.go
  pkg/events/soiree/topics_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix: use old for updates, add tests (#1850)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/trustcentersetting_test.go
  pkg/events/soiree/topics_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix tests
  internal/graphapi/trustcenterdoc_test.go
Due: :golang: go generate, :yaml: generate config

add extra unique suffix
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config

feat: add init func and upgrader func for websockets
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/schema/common/scalars.graphql
  internal/graphapi/websockets.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/errors.go
Due: :golang: go generate, :yaml: generate config

cleanup, regen
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/websockets.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config

iam version, updates, concurrnet map writes
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/graphapi/common/extensions.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

linter issues
  internal/graphapi/resolver.go
  internal/graphapi/websockets.go
Due: :golang: go generate, :yaml: generate config

linter issues
  pkg/middleware/auth/auth.go
Due: :yaml: generate config

fix casing of export type
  internal/ent/notifications/exports.go
Due: :golang: go generate, :yaml: generate config

actually fix
  internal/ent/notifications/exports.go
Due: :golang: go generate, :yaml: generate config

bump iam
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: add init func and upgrader func for websockets (#1853)
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/notifications/exports.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/common/extensions.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/schema/common/scalars.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/websockets.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/errors.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

correct migration files
  db/migrations-goose-postgres/20260116171122_trust_center_updates_history.sql
  db/migrations/20260116171116_trust_center_updates_history.sql
Due: :postgres: atlas lint

cleanup
  internal/ent/privacy/rule/trustcenter.go
  internal/graphapi/trustcentercompliance_test.go
Due: :golang: go generate, :yaml: generate config

add common package updates in advance
  common/models/workflow.go
Due: :terminal: build cli

allow pattern matching in websockets to match CORS middelware
  internal/graphapi/websockets.go
  internal/graphapi/websockets_test.go
Due: :golang: go generate, :yaml: generate config

allow all test
  internal/graphapi/websockets_test.go
Due: :golang: go generate, :yaml: generate config

go tidy
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add common package updates in advance (#1857)
  common/models/workflow.go
Due: :terminal: build cli

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
