Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

goimports
  internal/objects/validators/mime.go
Due: :yaml: generate config

use ProcessFilesForMutation like newer hook implementation
  internal/ent/hooks/entity.go
  internal/ent/hooks/identityholder.go
Due: :golang: go generate, :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260302211224_identity_holder_files.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260302211158_identity_holder_files.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: add missing parent in fga for files
  fga/model/model.fga
  internal/ent/schema/file.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

commit new checksums
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

fix: add missing parent in fga for files (#2099)
  .task/checksum/generate-ent-smart
  fga/model/model.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/file.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

canonicalize header before unmarshalling to allow for consistency
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
Due: :golang: go generate, :yaml: generate config

canonicalize header before unmarshalling to allow for consistency (#2100)
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
Due: :golang: go generate, :yaml: generate config

do not @ anyone
  pkg/slacktemplates/templates/demo_request.tmpl
Due: :yaml: generate config

fix test
  internal/ent/hooks/listeners_slack_test.go
Due: :golang: go generate, :yaml: generate config

fix: all parent fixes
  .task/checksum/generate-ent-smart
  fga/model/model.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/control.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/objectownedtuples.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmembers.go
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/standard.go
  internal/ent/hooks/task.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcenterdoc.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/trustcentersubprocessor.go
  internal/ent/hooks/user.go
  internal/ent/hooks/wildcardtuples.go
  internal/ent/schema/asset.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/entity.go
  internal/ent/schema/errors.go
  internal/ent/schema/finding.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/narrative.go
  internal/ent/schema/platform.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/scheduledjob.go
  internal/ent/schema/subprocessor.go
  internal/ent/schema/task.go
  internal/ent/schema/vulnerability.go
  internal/ent/schema/workflowinstance.go
  internal/graphapi/customdomain_test.go
  internal/objects/store/permissions.go
  pkg/entitlements/errors.go
  pkg/entitlements/tuples.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

gofmt
  internal/graphapi/common/helpers_test.go
Due: :golang: go generate, :yaml: generate config

remove update from another branch
  internal/graphapi/customdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

read the comment sarah
  fga/model/model.fga
  internal/ent/schema/narrative.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

parent tuple is already handled by withParents
  internal/ent/schema/mixin_orgowned.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

rerun gen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

unused func
  internal/ent/schema/mixin_orgowned.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

finish refactor, passing tests
  internal/graphapi/control_clone.go
  internal/graphapi/tfasetting.resolvers.go
  internal/httpserve/handlers/accountfeatures.go
  internal/httpserve/handlers/scim/group_handler.go
  internal/httpserve/handlers/scim/user_handler.go
  internal/workflows/engine/engine.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

restore
  common/integrations/auth/metadata.go
  internal/integrations/providers/apikey/apikey.go
Due: :yaml: generate config, :terminal: build cli

pr feedback
  internal/ent/interceptors/trustcenter.go
  internal/ent/interceptors/usersetting.go
  internal/ent/schemautil/trustcenter_scope.go
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/tools_test.go
  internal/integrations/providers/oauth/options.go
  internal/objects/store/permissions.go
  internal/objects/store/persistence.go
  internal/objects/store/store_test.go
  pkg/middleware/impersonation/impersonation_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix go work
  go.work
Due: none

think its finally complete
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/orgmodule.go
  internal/ent/mixin/softdelete_mixin.go
  internal/ent/privacy/token/caller.go
  internal/ent/privacy/token/email_signup_token.go
  internal/ent/privacy/token/filedownload.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/privacy/token/oauth_token.go
  internal/ent/privacy/token/org_invite_token.go
  internal/ent/privacy/token/reset_token.go
  internal/ent/privacy/token/verify_token.go
  internal/ent/privacy/token/webauthn_token.go
  internal/ent/schema/mixin_orgowned.go
  internal/httpserve/handlers/scim/user_handler.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  pkg/middleware/auth/auth.go
  pkg/objects/storage/proxy/errors.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

rev updates
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

do not redeclare
  internal/httpserve/handlers/integration_flow.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

generate + linter
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/sso.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

fix: linter, user settings
  internal/ent/hooks/organization.go
  internal/ent/hooks/sessions.go
  internal/ent/interceptors/groupsetting.go
  internal/ent/interceptors/notifications_filter.go
  internal/ent/interceptors/organizationsetting.go
  internal/ent/interceptors/orgmembers.go
  internal/ent/interceptors/usersetting.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/errors.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix new use of auth context to caller
  internal/ent/hooks/listeners_slack.go
Due: :golang: go generate, :yaml: generate config
