Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add version hash to the outputted file
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/registry/registry.go
  internal/integrations/registry/surface_diff.go
  internal/integrations/registry/surface_diff_test.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/upgrade.go
  jsonschema/integration_schema_generator.go
  jsonschema/integrations/def_01EMAILINT00000000000000001.json
  jsonschema/integrations/def_01K0AUTHENTIK000000000000001.json
  jsonschema/integrations/def_01K0AWSSECHUB0000000000001.json
  jsonschema/integrations/def_01K0AZENTRA0000000000000001.json
  jsonschema/integrations/def_01K0AZSECC000000000000000001.json
  jsonschema/integrations/def_01K0CFLARE00000000000000001.json
  jsonschema/integrations/def_01K0GCPSCC00000000000000001.json
  jsonschema/integrations/def_01K0GDRIVE00000000000000001.json
  jsonschema/integrations/def_01K0GHAPP000000000000000001.json
  jsonschema/integrations/def_01K0GWKSP000000000000000001.json
  jsonschema/integrations/def_01K0KEYCLOAK000000000000001.json
  jsonschema/integrations/def_01K0MSTEAMS00000000000000001.json
  jsonschema/integrations/def_01K0OCI00000000000000000001.json
  jsonschema/integrations/def_01K0OIDCLOCAL000000000000001.json
  jsonschema/integrations/def_01K0OKTA0000000000000000001.json
  jsonschema/integrations/def_01K0ONEDRIVE00000000000001.json
  jsonschema/integrations/def_01K0SCIM000000000000000001.json
  jsonschema/integrations/def_01K0SLACK000000000000000001.json
  jsonschema/integrations/def_01K0TAILSCALE0000000000001.json
  jsonschema/integrations/def_01K0ZITADEL000000000000001.json
  jsonschema/integrations/def_01SYSTEM0000000000000000001.json
Due: :yaml: generate config

task config generate
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Update internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails.go
Due: :yaml: generate config

fix test
  internal/integrations/definitions/email/system_emails_test.go
Due: :yaml: generate config

revise shortlink package to send additional metdata (#2867)
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/invite.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/interceptors/assessment.go
  internal/httpserve/handlers/email_test_send.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/operation_trustcenter_sweep.go
  internal/integrations/definitions/email/shortlinks.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/system/op_payment_reminder.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/shortlinks/client.go
  pkg/shortlinks/client_test.go
  pkg/shortlinks/context.go
  pkg/shortlinks/metadata.go
  pkg/shortlinks/slug.go
  pkg/urlx/anon_token.go
  pkg/urlx/errors.go
  pkg/urlx/urlx.go
  pkg/urlx/urlx_test.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

cleanup test setup
  .task/checksum/go-lint-custom
  internal/graphapi/eventstest/listeners_notifications_test.go
  internal/graphapi/eventstest/listeners_onboarding_program_test.go
  internal/graphapi/eventstest/listeners_questionnaire_transform_test.go
  internal/graphapi/eventstest/listeners_scan_domain_test.go
  internal/graphapi/eventstest/listeners_workflow_mutation_test.go
  internal/graphapi/testharness/seed.go
  internal/graphapi/workflow_resolvers_extended_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

rename to WithInternalCrossOrgContext, remove excess use
  Taskfile.yaml
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/listeners_scan_domain.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/hooks/workflowproposal_test.go
  internal/ent/interceptors/filter_test.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/rule/internal.go
  internal/ent/schema/mixin_orgowned.go
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/stripe_operations.go
  internal/graphapi/eventstest/listeners_organization_cleanup_test.go
  internal/graphapi/eventstest/listeners_scan_domain_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/testharness/models.go
  internal/graphapi/testharness/seed.go
  internal/graphapi/workflow_resolvers_extended_test.go
  internal/graphapi/workflowproposalextended.resolvers.go
  internal/httpserve/authmanager/authmanager_test.go
  internal/httpserve/handlers/webauthn_sso_test.go
  internal/workflows/cleanup.go
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/emit.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
  internal/workflows/reconciler/reconciler.go
  internal/workflows/seeder.go
  internal/workflows/shared_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

remove overprovisioned Acme + Webhook + Keystore callers
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/organization.go
  internal/ent/privacy/rule/internal.go
  internal/ent/privacy/rule/modules_test.go
  internal/graphapi/eventstest/listeners_entitlements_test.go
  internal/httpserve/handlers/acmesolver.go
  internal/httpserve/handlers/acmesolver_test.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_webhook.go
  internal/httpserve/handlers/integration_webhook_test.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/scim_handler.go
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  internal/httpserve/handlers/webhook_test.go
  internal/keystore/store.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

more priacy allow that shouldn't be here
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_webhook_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

move to helper
  internal/graphapi/eventstest/listeners_file_backup_test.go
Due: :golang: go generate, :yaml: generate config

flakey test
  internal/httpserve/handlers/login_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

update comments, bug fixes found
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/interceptors/filter.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/workflowproposal.go
  internal/graphapi/trustcenterndatmpl.go
  internal/graphapi/workflowproposalextended.resolvers.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/httpserve/handlers/sso.go
  internal/workflows/cleanup.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/proposal_manager.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

authz checks only need read context
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/authz_checks.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go tidy after rebase
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

iam bump, regen after rebase
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove replace
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix tests from rebase
  internal/graphapi/control_clone_mappings.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

linter
  internal/ent/hooks/errors.go
  internal/ent/interceptors/trustcenter.go
  internal/ent/privacy/rule/trustcenter.go
Due: :golang: go generate, :yaml: generate config

use wrapper, dont error log context cancelled
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/listeners_subscriber_link.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config

another wrapper
  internal/ent/hooks/organization.go
Due: :golang: go generate, :yaml: generate config

simmplify
  internal/ent/interceptors/user.go
Due: :golang: go generate, :yaml: generate config

update object package to have some additional exported functions and types to allow for consumption by the integration framework
  db/migrations-goose-postgres/20260924022230_systemownedentities.sql
  db/migrations-goose-postgres/20260924022237_systemownedentities_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260924022214_systemownedentities.sql
  db/migrations/20260924022220_systemownedentities_history.sql
  db/migrations/atlas.sum
  internal/graphapi/testharness/harness.go
  internal/integrations/definitions/objectstore/aws.go
  internal/integrations/definitions/objectstore/builder_test.go
  internal/integrations/definitions/objectstore/client.go
  internal/integrations/definitions/objectstore/installation.go
  internal/integrations/definitions/objectstore/operation_health.go
  internal/integrations/definitions/objectstore/types.go
  pkg/objects/storage/providers/database/provider.go
  pkg/objects/storage/providers/disk/provider.go
  pkg/objects/storage/providers/gcs/builders_test.go
  pkg/objects/storage/providers/gcs/errors.go
  pkg/objects/storage/providers/gcs/provider.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/builders.go
  pkg/objects/storage/providers/s3/builders_test.go
  pkg/objects/storage/providers/s3/provider.go
  pkg/objects/storage/types.go
  pkg/objects/storage/types_test.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

regenerate, fix config settings
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/entity.go
  internal/graphapi/entity_test.go
  internal/graphapi/eventstest/objectstore_system_import_test.go
  internal/integrations/definitions/objectstore/README.md
  internal/integrations/definitions/objectstore/errors.go
  internal/integrations/definitions/objectstore/examples/1password-vendor.json
  internal/integrations/definitions/objectstore/examples/adobe.json
  internal/integrations/definitions/objectstore/examples/airtable.json
  internal/integrations/definitions/objectstore/examples/aisera.json
  internal/integrations/definitions/objectstore/examples/aiven.json
  internal/integrations/definitions/objectstore/operation_import_records.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:

fix rebase issues
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  go.mod
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

only override for finding integration, not full path
  internal/graphapi/internalpolicyextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

reverted downgrade on go mod ,fix typos
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/httpserve/handlers/ent.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
