Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

db
  db/migrations-goose-postgres/20260520184453_permissions_v2.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260520184445_permissions_v2.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

linter
  internal/ent/privacy/policy/checks.go
Due: :golang: go generate, :yaml: generate config

gofmt
  common/go.mod
  common/go.sum
  pkg/objects/storage/utils_test.go
Due: :yaml: generate config, :terminal: build cli

feat: reconcile integration jobs on startup
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/payment_reminder.go
  internal/integrations/runtime/recurring_campaign.go
  pkg/gala/gala.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: reconcile integration jobs (#2413)
  common/go.mod
  common/go.sum
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/payment_reminder.go
  internal/integrations/runtime/recurring_campaign.go
  pkg/gala/gala.go
  pkg/objects/storage/utils_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

add new status to vulnerability
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint

stash drafted token validation / rotation setup
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/refresh.go
  internal/httpserve/handlers/refresh_logging_test.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/keydir_test.go
  internal/httpserve/serveropts/keywatch.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :golang: build

consistency
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint

update hex
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint

add new status to vulnerability (#2415)
  db/seed/07_seed_status_exposure.sql
Due: :postgres: atlas lint

move document watermarking mutation to gala
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_trustcenter_watermark.go
  internal/ent/hooks/trustcenterdoc.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config

fix review
  internal/ent/hooks/listeners_trustcenter_watermark.go
Due: :golang: go generate, :yaml: generate config

move document watermarking mutation to gala (#2416)
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_trustcenter_watermark.go
  internal/ent/hooks/trustcenterdoc.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config

ensure caller is set
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
Due: :yaml: generate config

ensure caller is set (#2417)
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
Due: :yaml: generate config

fix: allow system admin to bypass interceptors for docs + watermarks
  common/go.mod
  internal/ent/schema/file.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/trustcenterdocument.go
  internal/ent/schema/trustcenterwatermarkconfig.go
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterdoc_test.go
  internal/graphapi/trustcenterwatermarkconfig_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

simplify + fix test
  internal/ent/schema/mixin_objectowned.go
  internal/graphapi/notification_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix assessment response email send
  internal/ent/hooks/assessment_response.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/types.go
Due: :golang: go generate, :yaml: generate config

fix: allow system admin to bypass interceptors for docs + watermarks (#2419)
  common/go.mod
  internal/ent/schema/file.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/trustcenterdocument.go
  internal/ent/schema/trustcenterwatermarkconfig.go
  internal/graphapi/models_test.go
  internal/graphapi/notification_test.go
  internal/graphapi/trustcenterdoc_test.go
  internal/graphapi/trustcenterwatermarkconfig_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

Bug: fix email send for individual assessment response with no campaign (#2420)
  internal/ent/hooks/assessment_response.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/types.go
Due: :golang: go generate, :yaml: generate config

fix questionaire drafts, add org name to questionaire email, remove unused authmanager functions
  internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums_hook_test.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/url.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

swap back in b&w image
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config

db:generate
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: :postgres: atlas lint

db generate, revert docker
  db/migrations-goose-postgres/20260525161846_remove_dedicated_db.sql
  db/migrations-goose-postgres/20260525161851_remove_dedicated_db_history.sql
  db/migrations/20260525161834_remove_dedicated_db.sql
  db/migrations/20260525161839_remove_dedicated_db_history.sql
  docker/docker-compose-riverboat.yml
Due: :postgres: atlas lint

add org name to tests to match new code path
  internal/integrations/definitions/email/system_emails_test.go
Due: :yaml: generate config

fix comment
  internal/ent/hooks/customenums.go
Due: :golang: go generate, :yaml: generate config

config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

fmt
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/authmanager/authmanager.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

Fix CustomTypeEnum not singular error, Questionaire drafts, Questionaire emails using OrgName (#2422)
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums_hook_test.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/types.go
  internal/integrations/definitions/email/url.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: pagecount requires non-nil conf
  internal/ent/hooks/nda_attestation_test.go
Due: :golang: go generate, :yaml: generate config

cloudflare security insights > findings
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.mod
  go.sum
  internal/graphapi/ent.resolvers.go
  internal/graphapi/query/history/organizationhistory.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/client.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
  internal/integrations/definitions/cloudflare/operation_findings.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/types/definition.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update ctx from http request path directly instead
  internal/httpserve/handlers/integration_config.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/runtime/credentials.go
  internal/integrations/types/definition.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix review
  internal/httpserve/handlers/integration_config.go
  internal/integrations/definitions/cloudflare/examples/security_center_insights.json
  internal/integrations/definitions/cloudflare/mappings_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

cloudflare security insights > findings (#2429)
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.mod
  go.sum
  internal/graphapi/ent.resolvers.go
  internal/graphapi/query/history/organizationhistory.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/integration_config.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/client.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/examples/security_center_insights.json
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/cloudflare/mappings_test.go
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
  internal/integrations/definitions/cloudflare/operation_findings.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/types/definition.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
