Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix up the always error on shutdown behavior (#2062)
  cmd/serve.go
Due: :golang: build

fix entity status
  cli/cmd/entity/create.go
  cli/cmd/entity/update.go
Due: :terminal: build cli

Specs for exporting
  .entc/entc_github.com_theopenlane_core_internal_ent_schema_1771751453.go
  .task/checksum/generate-graphql-smart
  common/enums/exportformat.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/export.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/objects/validators/mime.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

add logging / address PR feedback
  internal/ent/hooks/directoryaccount.go
Due: :golang: go generate, :yaml: generate config

fix ts bug and logx wrapper
  internal/ent/hooks/listeners_trustcenter_cache.go
  pkg/gala/context_auth.go
  pkg/logx/context.go
Due: :golang: go generate, :yaml: generate config

add a unit test
  pkg/logx/context_test.go
Due: :yaml: generate config

Bug: Fix Logx Concurrent Map Mutation in Context Field Propagation (#2066)
  internal/ent/hooks/listeners_trustcenter_cache.go
  pkg/gala/context_auth.go
  pkg/logx/context.go
  pkg/logx/context_test.go
Due: :golang: go generate, :yaml: generate config

debug: adding logs for cf trigger cache
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

debug: adding logs for cf trigger cache (#2067)
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

actually log errors instead of ignoring
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

success to debug
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

fix client injection / context return with ent client and add metadata and tags to river
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/handler_helpers.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/eventqueue/mutation_helpers_test.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_workflow.go
  internal/ent/notifications/events.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/mentions.go
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/types.go
Due: :golang: go generate, :yaml: generate config

add listener name and some other metadata
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/registry.go
  pkg/gala/types.go
Due: :yaml: generate config

Fix EventQueue `ClientFromHandler` to Inject ent client | Enrich River Job submission with Listener Info (#2070)
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/handler_helpers.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/eventqueue/mutation_helpers_test.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_workflow.go
  internal/ent/notifications/events.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/mentions.go
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/registry.go
  pkg/gala/types.go
Due: :golang: go generate, :yaml: generate config

extend tests
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/graphapi/controldiff_helpers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use ctx
  internal/ent/notifications/standard_update.go
Due: :golang: go generate, :yaml: generate config

add mode and metadata to export job spec
  common/jobspec/export.go
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix merge conflicts
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/controlextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

update task cli:generate:enum template
  common/enums/exportmode.go
  pkg/genenum/cmd/main.go
  pkg/genenum/cmd/templates/enums.tmpl
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

use enqueue
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config

don't change the docs links i dont hate myself that much
  common/integrations/config/providers/azure_entra_id.json
  common/integrations/config/providers/azure_security_center.json
  common/integrations/config/providers/gcp_scc.json
  common/integrations/config/providers/github_app.json
  common/integrations/config/providers/google_workspace.json
  common/integrations/config/providers/microsoft_teams.json
  common/integrations/config/providers/oidc_generic.json
Due: :terminal: build cli

glad i actually caught and fixed this because it definitely wouldn't have worked
  common/integrations/config/spec.go
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/keymaker/service.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :terminal: build cli

schema updates / additions, prep for generation
  common/enums/allenums_test.go
  common/enums/controlimplementationstatus.go
  common/enums/controlimplementationstatus_test.go
  common/enums/systemsensitivitylevel.go
  common/enums/systemsensitivitylevel_test.go
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/evidence.go
  internal/ent/schema/group.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/organization.go
  internal/ent/schema/platform.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/systemmetadata.go
  internal/ent/schema/task.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

rename to something that's going to play nice with pluralization
  internal/ent/schema/organization.go
  internal/ent/schema/platform.go
  internal/ent/schema/program.go
  internal/ent/schema/systemdetail.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add the schema migrations and output of new plugin and annotations, fields
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/20260227011424_oscalfields.sql
  db/migrations-goose-postgres/20260227011429_oscalfields_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260227011414_oscalfields.sql
  db/migrations/20260227011418_oscalfields_history.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/export/export.go
  internal/ent/generated/migrate/schema.go
  internal/ent/oscalgenerated/oscal_generated.go
  internal/ent/schema/asset.go
  internal/ent/schema/control.go
  internal/ent/schema/controlimplementation.go
  internal/ent/schema/evidence.go
  internal/ent/schema/group.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_controls.go
  internal/ent/schema/narrative.go
  internal/ent/schema/platform.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/subcontrol.go
  internal/ent/schema/systemdetail.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

remove bad mixin ref
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/systemdetail.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add normalization to prevent failures
  .buildkite/cleanup-draft-prs.sh
  .buildkite/lib/common.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/tests/cleanup-draft-prs.bats
  .buildkite/tests/post-merge-pr-automation.bats
Due: none

add normalization to prevent failures (#2078)
  .buildkite/cleanup-draft-prs.sh
  .buildkite/lib/common.sh
  .buildkite/post-merge-pr-automation.sh
  .buildkite/tests/cleanup-draft-prs.bats
  .buildkite/tests/post-merge-pr-automation.bats
Due: none

Update internal/ent/schema/systemdetail.go
  internal/ent/schema/systemdetail.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: allow comments to be added / removed by member users
  internal/ent/authzgenerated/accessmap.go
  internal/ent/privacy/rule/allow_comments.go
  internal/ent/schema/control.go
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/note.go
  internal/ent/schema/procedure.go
  internal/ent/schema/risk.go
  internal/ent/schema/subcontrol.go
  internal/ent/schema/task.go
  internal/graphapi/evidence_test.go
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
