Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

auditor should be able to create but not edit/delete
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/finding.go
  internal/graphapi/finding_test.go
  internal/graphapi/query/campaign.graphql
  internal/graphapi/query/campaigntarget.graphql
  internal/graphapi/query/control.graphql
  internal/graphapi/query/controlobjective.graphql
  internal/graphapi/query/customdomain.graphql
  internal/graphapi/query/customtypeenum.graphql
  internal/graphapi/query/export.graphql
  internal/graphapi/query/groupsetting.graphql
  internal/graphapi/query/history/notificationtemplatehistory.graphql
  internal/graphapi/query/jobresult.graphql
  internal/graphapi/query/jobrunner.graphql
  internal/graphapi/query/notification.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/query/program.graphql
  internal/graphapi/query/scan.graphql
  internal/graphapi/query/scheduledjobrun.graphql
  internal/graphapi/query/subprocessor.graphql
  internal/graphapi/query/subscriber.graphql
  internal/graphapi/query/trustcentersubprocessor.graphql
  internal/graphapi/query/usersetting.graphql
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

auditor should be able to create but not edit/delete (#2560)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/finding.go
  internal/graphapi/finding_test.go
  internal/graphapi/query/campaign.graphql
  internal/graphapi/query/campaigntarget.graphql
  internal/graphapi/query/control.graphql
  internal/graphapi/query/controlobjective.graphql
  internal/graphapi/query/customdomain.graphql
  internal/graphapi/query/customtypeenum.graphql
  internal/graphapi/query/export.graphql
  internal/graphapi/query/groupsetting.graphql
  internal/graphapi/query/history/notificationtemplatehistory.graphql
  internal/graphapi/query/jobresult.graphql
  internal/graphapi/query/jobrunner.graphql
  internal/graphapi/query/notification.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/query/program.graphql
  internal/graphapi/query/scan.graphql
  internal/graphapi/query/scheduledjobrun.graphql
  internal/graphapi/query/subprocessor.graphql
  internal/graphapi/query/subscriber.graphql
  internal/graphapi/query/trustcentersubprocessor.graphql
  internal/graphapi/query/usersetting.graphql
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

Store MD5 hash on every file upload and validate trustcenter submissions (#2553)
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: panic when creating integration due to vendor check
  internal/ent/schema/mixin_grouppermissions.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: panic when creating integration due to vendor check (#2562)
  internal/ent/schema/mixin_grouppermissions.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add backfill option for md5 hashes
  internal/httpserve/serveropts/backfill.go
  internal/objects/upload/handler.go
Due: :yaml: generate config

add backfill option for md5 hashes (#2563)
  internal/httpserve/serveropts/backfill.go
  internal/objects/upload/handler.go
Due: :yaml: generate config

reuse function
  internal/integrations/runtime/payment_reminder.go
Due: :yaml: generate config

Revert "add backfill option for md5 hashes (#2563)"
  internal/httpserve/serveropts/backfill.go
  internal/objects/upload/handler.go
Due: :yaml: generate config

Revert "Store MD5 hash on every file upload and validate trustcenter submissions (#2553)"
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use hint from storage key in the db
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

Revert md5 trustcenter (#2564)
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/serveropts/backfill.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Revert "Revert md5 trustcenter (#2564)"
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/serveropts/backfill.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Use provider hint from key stored in db to resolve storage provider
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

fix: cleanup go binary size, it was using debug flags that shoudn't be used in the prod builds, this will decrease size
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

fix: cleanup go binary size, it was using debug flags that shoudn't be used in the prod builds, this will decrease size (#2566)
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

enhance logs
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

enhance logs
  internal/ent/hooks/documentdata.go
Due: :golang: go generate, :yaml: generate config

Update internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/builder.go
Due: :yaml: generate config

Update internal/integrations/definitions/keycloak/types.go
  internal/integrations/definitions/keycloak/types.go
Due: :yaml: generate config

fix : added missing logs, and fixed the type
  docker/pg-init-scripts/init_keycloak.sql
  go.sum
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Use provider hint to resolve storage provider (#2567)
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/serveropts/backfill.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update internal/graphapi/vulnerability_test.go
  internal/graphapi/vulnerability_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove ownerID
  internal/graphapi/vulnerability_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Migrate org reminder and deletion jobs from riverboat (#2555)
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/operations/organization_delete.go
  internal/integrations/runtime/organization_delete.go
  internal/integrations/runtime/payment_reminder.go
  internal/integrations/runtime/payment_reminder_test.go
  internal/integrations/runtime/runtime.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: build

Keycloak - Directory Sync Integration (#2402)
  docker/Taskfile.yaml
  docker/configs/keycloak/.env-example
  docker/configs/keycloak/init.sql
  docker/docker-compose-keycloak.yml
  docker/pg-init-scripts/init_authentik.sql
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/doc.go
  internal/integrations/definitions/keycloak/errors.go
  internal/integrations/definitions/keycloak/examples/group.json
  internal/integrations/definitions/keycloak/examples/member.json
  internal/integrations/definitions/keycloak/examples/service_account_user.json
  internal/integrations/definitions/keycloak/examples/user.json
  internal/integrations/definitions/keycloak/installation.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
  internal/integrations/definitions/keycloak/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: modified implementation according to new release
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/examples/machine_user.json
  internal/integrations/definitions/zitadel/examples/user.json
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :yaml: generate config

set up automation for tasks based off compliance values
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260708171616_task_idempotency_index.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260708171552_task_idempotency_index.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/definitions/onboarding_tasks.yaml
  internal/ent/hooks/listeners_onboarding_policy_tasks.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: added logx and accesses
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/operation_health.go
Due: :yaml: generate config

fix lint
  internal/ent/hooks/listeners_onboarding_policy_tasks.go
Due: :golang: go generate, :yaml: generate config

schema migrations
  db/migrations-goose-postgres/20260701201512_allowsubscribers.sql
  db/migrations-goose-postgres/20260701201515_allowsubscribers_history.sql
  db/migrations/20260701201503_allowsubscribers.sql
  db/migrations/20260701201507_allowsubscribers_history.sql
Due: :postgres: atlas lint

fix subscriber url generation
  internal/ent/hooks/subscriber.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/trustcenterurl/trustcenterurl.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

config output - default api url for emails
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs
