Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix review
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/schema/notification.go
  internal/ent/schema/notificationpreference.go
  internal/graphapi/notificationpreference_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/query/remediation.graphql
  internal/graphapi/query/risk.graphql
  internal/graphapi/query/workflow.graphql
Due: :golang: go generate, :yaml: generate config

Auditors should be able to create reviews (#2597)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/task.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/notification.go
  internal/ent/schema/notificationpreference.go
  internal/ent/schema/programmembership.go
  internal/ent/schema/review.go
  internal/ent/schema/task.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/query/remediation.graphql
  internal/graphapi/query/risk.graphql
  internal/graphapi/query/workflow.graphql
  internal/graphapi/review_test.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

linter
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/types.go
  pkg/domainscan/certtransparency.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
Due: :yaml: generate config

linter
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/operations/domain_scan.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/certtransparency.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/errors.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/urlutil.go
Due: :yaml: generate config

ttl back
  pkg/domainscan/browserrendering.go
Due: :yaml: generate config

remove
  pkg/domainscan/certtransparency.go
  pkg/domainscan/certtransparency_test.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/errors.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/types.go
Due: :yaml: generate config

fixes
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/report.go
Due: :yaml: generate config

config:gen
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

subdomains, linter
  .golangci.yaml
  go.mod
  pkg/domainscan/browserrendering.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/example/main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix drive, add main for testing
  pkg/domainscan/commonsubdomains.go
Due: :yaml: generate config

config:gen
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

cleanup, updates
  pkg/domainscan/browserrendering.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/dnsvendors_test.go
  pkg/domainscan/mergeutil.go
  pkg/domainscan/mergeutil_test.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/urlutil_test.go
Due: :yaml: generate config

move to catalog config to be same as email, slack
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/client.go
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_enrich.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_poll.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_submit.go
  internal/integrations/definitions/cloudflare/operation_findings.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/runtime/domain_scan.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/runtime.go
  pkg/domainscan/example/main.go
Due: :yaml: generate config

cleanup
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/integrations/runtime/domain_scan.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/types.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

linter
  internal/integrations/definitions/cloudflare/client.go
Due: :yaml: generate config

update connection timeout
  Taskfile.yaml
Due: none

user operator config
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/client.go
  internal/integrations/definitions/cloudflare/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

log level
  internal/integrations/runtime/execution.go
Due: :yaml: generate config

move config, add force, compliance links as one finding, subprocessor cleanup
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/domainscan.go
  internal/integrations/definitions/cloudflare/client.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_enrich.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_poll.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_submit.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/operations/domain_scan.go
  internal/integrations/runtime/domain_scan.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/domainscan/browserrendering.go
  pkg/domainscan/example/main.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

more in config, do enrich with scan to speed up some
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_enrich.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/runtime/domain_scan.go
  pkg/domainscan/report.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

remove devMode
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/cloudflare/builder.go
Due: :yaml: generate config

config generate
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

ok this is a sane thing to do lets not make everyone hate their lives Matt
  common/openapi/deprecated.go
Due: :terminal: build cli

fix: pass email domain context when listing users
  internal/ent/interceptors/user.go
Due: :golang: go generate, :yaml: generate config

test: cover email domain condition context
  internal/ent/interceptors/user_test.go
Due: :golang: go generate, :yaml: generate config

fix code comment walking and output
  config/helm-values.yaml
  internal/genhelpers/comments.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

and specs
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :yaml: generate config

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

migrations
  db/migrations-goose-postgres/20260717174115_campaign_targets.sql
  db/migrations-goose-postgres/20260717174119_campaign_targets_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260717174105_campaign_targets.sql
  db/migrations/20260717174109_campaign_targets_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint
