Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add some queue versioning
  internal/graphapi/eventstest/integrations_instanceid_backfill_test.go
  internal/httpserve/serveropts/backfill.go
  pkg/gala/namespace.go
Due: :golang: go generate, :yaml: generate config

fix last login time stamp churn, githubapp cred resolution and schema
  internal/ent/schema/mixin_provenance.go
  internal/graphapi/eventstest/integrations_directory_fixtures_test.go
  internal/graphapi/eventstest/integrations_directorysync_ingest_test.go
  internal/httpserve/handlers/scim/ingest.go
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/installation.go
  internal/integrations/definitions/githubapp/installation_test.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/runtime/execution.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

migrateions
  .task/checksum/generate-openapi-smart
  internal/ent/entityops/entity_mutation_events.go
  internal/ent/entityops/entity_registry.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config

entx
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fga version
  fga/model/generated/version.fga
Due: :auth0: fga model test

linter
  internal/ent/hooks/documents.go
Due: :golang: go generate, :yaml: generate config

[skip ci] task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260916142013_dynamic_audience.sql
  db/migrations-goose-postgres/20260916142022_dynamic_audience_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260916141937_dynamic_audience.sql
  db/migrations/20260916141950_dynamic_audience_history.sql
  db/migrations/atlas.sum
  fga/model/generated/version.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/integrations/definitions/email/audience_targets.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

fix backfill semantics; move seeding into runtime
  cmd/serve.go
  fga/model/generated/version.fga
  internal/graphapi/eventstest/integrations_instanceid_backfill_test.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/integration_base.go
  internal/httpserve/serveropts/options_test.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :golang: build

regenerate migrations and reset hash
  db/migrations-goose-postgres/20260913000109_drop_directorysyncrun.sql
  db/migrations-goose-postgres/20260916151448_integrationprovenance.sql
  db/migrations-goose-postgres/20260916151454_integrationprovenance_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260913000101_drop_directorysyncrun.sql
  db/migrations/20260916151433_integrationprovenance.sql
  db/migrations/20260916151439_integrationprovenance_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

restore enums to fix build
  common/enums/allenums_test.go
  common/enums/directory.go
Due: :golang: go generate, :terminal: build cli

fix sonar findings
  internal/ent/hooks/onboarding_test.go
  internal/graphapi/eventstest/integrations_catalog_fixtures_test.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/azureentraid/mappings.go
  internal/integrations/definitions/azuresecuritycenter/mappings.go
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/gcpscc/mappings.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/okta/mappings.go
  internal/integrations/definitions/scim/mappings.go
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/tailscale/mappings.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/providerkit/cel.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/health.go
  pkg/gala/gala.go
  pkg/gala/registry.go
  sonar-project.properties
Due: :golang: go generate, :yaml: generate config

fix: domain scan issues with truncation, add email auth, well known paths (#2804)
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/company.go
  pkg/domainscan/compliance.go
  pkg/domainscan/compliancetype.go
  pkg/domainscan/compliancetype_test.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/emailauth.go
  pkg/domainscan/emailauth_test.go
  pkg/domainscan/findings.go
  pkg/domainscan/findings_test.go
  pkg/domainscan/linkdiscovery.go
  pkg/domainscan/linkdiscovery_test.go
  pkg/domainscan/merge.go
  pkg/domainscan/posture.go
  pkg/domainscan/posture_test.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/schema.go
  pkg/domainscan/types.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/urlutil_test.go
  pkg/domainscan/wellknown.go
  pkg/domainscan/wellknown_test.go
Due: :yaml: generate config

unregister credential schema
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/types.go
Due: :yaml: generate config

email provider
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config

email builder
  internal/integrations/definitions/email/builder.go
Due: :yaml: generate config

apply to preview trustcenter if need be
  internal/graphapi/domain_scan_review.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_import_test.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_import.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add the volatile flag, address PR feedback
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  fga/model/automation/integrations.fga
  fga/model/generated/version.fga
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/gql_pagination.go
  internal/ent/hooks/asset.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/handlers/csv/sample_actionplan.csv
  internal/httpserve/handlers/csv/sample_asset.csv
  internal/httpserve/handlers/csv/sample_checkresult.csv
  internal/httpserve/handlers/csv/sample_contact.csv
  internal/httpserve/handlers/csv/sample_directoryaccount.csv
  internal/httpserve/handlers/csv/sample_directorygroup.csv
  internal/httpserve/handlers/csv/sample_directorymembership.csv
  internal/httpserve/handlers/csv/sample_entity.csv
  internal/httpserve/handlers/csv/sample_finding.csv
  internal/httpserve/handlers/csv/sample_internalpolicy.csv
  internal/httpserve/handlers/csv/sample_procedure.csv
  internal/httpserve/handlers/csv/sample_risk.csv
  internal/httpserve/handlers/csv/sample_vulnerability.csv
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

drop query from when we had multiple trustcenters to apply against
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

just return directly
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

fix session fall back
  go.mod
  go.sum
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/session_fallback_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix session fall back (#2810)
  go.mod
  go.sum
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/session_fallback_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

entityops regen, updated tests
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_registry.go
  internal/graphapi/eventstest/integrations_directorysync_ingest_test.go
  internal/graphapi/eventstest/integrations_directorysync_snapshot_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add new metadata keys to handle trustcenter env application
  internal/ent/hooks/listeners_scan_domain.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_import.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  internal/integrations/definitions/cloudflare/types.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config

bump down to v1 as v2 was because of local tests
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

include campaign id in jwt and filter by campaign id if it exists
  go.mod
  internal/ent/hooks/assessment_response.go
  internal/httpserve/handlers/questionnaire.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump iam package
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove replace
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: do not eager load trust center edge, fix org module bug
  internal/ent/hooks/orgmodule.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/testharness/models.go
  internal/integrations/definitions/email/operation_send_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add tests
  internal/httpserve/handlers/questionnaire_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix eager edge load to trust center, make trust center nillable on campaigns
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign.go
  internal/ent/generated/campaign_create.go
  internal/ent/generated/campaign_query.go
  internal/ent/generated/history_from_mutation.go
  internal/ent/generated/mutation.go
  internal/ent/generated/trustcenter_query.go
  internal/ent/historygenerated/campaignhistory.go
  internal/ent/historygenerated/campaignhistory_create.go
  internal/ent/historygenerated/mutation.go
  internal/ent/hooks/orgmodule.go
  internal/ent/schema/campaign.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/historygenerated/ent.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testharness/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

fix eager edge load to trust center, make trust center nillable on campaigns (#2813)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign.go
  internal/ent/generated/campaign_create.go
  internal/ent/generated/campaign_query.go
  internal/ent/generated/history_from_mutation.go
  internal/ent/generated/mutation.go
  internal/ent/generated/trustcenter_query.go
  internal/ent/historygenerated/campaignhistory.go
  internal/ent/historygenerated/campaignhistory_create.go
  internal/ent/historygenerated/mutation.go
  internal/ent/hooks/orgmodule.go
  internal/ent/schema/campaign.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/historygenerated/ent.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testharness/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

drop poor man's debugger
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
Due: :yaml: generate config

query optimization
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260918032939_dirsyncindexes.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260918032925_dirsyncindexes.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/actionplan.go
  internal/ent/schema/checkresult.go
  internal/ent/schema/contact.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/entity.go
  internal/ent/schema/finding.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

query optimization (#2814)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260918032939_dirsyncindexes.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260918032925_dirsyncindexes.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/actionplan.go
  internal/ent/schema/checkresult.go
  internal/ent/schema/contact.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/entity.go
  internal/ent/schema/finding.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

assessment responses should always reuse the existing value regardless (#2811)
  go.mod
  go.sum
  internal/ent/hooks/assessment_response.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

apply to preview trustcenter if need be (#2809)
  internal/ent/hooks/listeners_scan_domain.go
  internal/graphapi/domain_scan_review.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_import_test.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_import.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  internal/integrations/definitions/cloudflare/types.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

best effort on sla to due date
  internal/ent/hooks/risks.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
