Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fixes
  pkg/domainscan/commonsubdomains.go
Due: :yaml: generate config

fix test
  pkg/domainscan/dnsvendors_test.go
Due: :yaml: generate config

regen db migratins
  db/migrations-goose-postgres/20260721143220_scan_sytem_owned.sql
  db/migrations-goose-postgres/20260721143225_scan_sytem_owned_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260721143210_scan_sytem_owned.sql
  db/migrations/20260721143215_scan_sytem_owned_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

use domain.NormalizeHostname
  internal/vendorenrich/enrich.go
Due: :yaml: generate config

task regenerate'
  db/migrations-goose-postgres/20260720220321_onboarding.sql
  db/migrations-goose-postgres/20260720220333_onboarding_history.sql
  db/migrations/20260720220048_onboarding.sql
  db/migrations/20260720220102_onboarding_history.sql
  db/migrations/atlas.sum
  internal/graphapi/query/entity.graphql
  internal/graphapi/query/findingcontrol.graphql
  internal/httpserve/handlers/onboarding_questions.go
  internal/httpserve/route/onboarding.go
  internal/httpserve/specs/openlane.openapi.json
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

use priority from db
  internal/ent/hooks/listeners_onboarding.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config

rebase + migrations so can test
  common/openapi/models.go
  db/migrations-goose-postgres/20260720220321_onboarding.sql
  db/migrations-goose-postgres/20260720220333_onboarding_history.sql
  db/migrations-goose-postgres/20260721153542_oboarding.sql
  db/migrations-goose-postgres/20260721153546_oboarding_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260721153532_oboarding.sql
  db/migrations/20260721153537_oboarding_history.sql
  db/migrations/atlas.sum
Due: :terminal: build cli, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260721155645_nda_requests_user.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260721155621_nda_requests_user.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/scan.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/domainscan/company_test.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Update internal/ent/schema/task.go
  internal/ent/schema/task.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Update internal/onboarding/onboarding.yaml
  internal/onboarding/onboarding.yaml
Due: :yaml: generate config

use models.xxx for cli first pass
  internal/onboarding/catalog.go
  internal/onboarding/genyaml/yamlgen.go
Due: :yaml: generate config

reuse filtering logic
  internal/httpserve/handlers/productcatalog.go
  internal/onboarding/catalog.go
  pkg/catalog/catalog.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

internal context for org setting domains, fix docs urls
  internal/ent/hooks/listeners_scan_domain.go
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googledrive/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
Due: :golang: go generate, :yaml: generate config

s/modules/card to match mock data specifications
  common/models/onboarding.go
  internal/httpserve/handlers/productcatalog_test.go
  internal/onboarding/catalog.go
  internal/onboarding/genyaml/yamlgen.go
  internal/onboarding/onboarding.yaml
  internal/onboarding/onboarding_gen.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

Auto create assessment for campaigns, consolidate rate limit capabilities, bypass rate limit for CapInternal (#2620)
  internal/ent/hooks/listeners_scan_domain.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_errors.go
  internal/graphapi/campaign_test_email.go
  internal/graphapi/campaign_test_email_test.go
  internal/graphapi/campaignextended.resolvers.go
  internal/graphapi/tools_test.go
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googledrive/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/ratelimit.go
  internal/integrations/runtime/ratelimit_test.go
  internal/integrations/types/operation.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix link
  internal/ent/hooks/listeners_task_rules.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/ent/hooks/listeners_task_rules.go
Due: :golang: go generate, :yaml: generate config

fix rules for onboarding
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/schema/onboarding.go
  internal/ent/taskrules/onboarding.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: task with no owner, correct scan id
  internal/ent/hooks/listeners_task_rules.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
Due: :golang: go generate, :yaml: generate config

bump grpc package for vuln fixes
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-onboarding-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

fix: always send metadata args
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config

grpc vuln
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

fix migrations
  db/migrations-goose-postgres/20260720173003_metadata.sql
  db/migrations-goose-postgres/20260720173017_metadata_history.sql
  db/migrations-goose-postgres/20260721200713_onboarding.sql
  db/migrations-goose-postgres/20260721200722_onboarding_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260721200652_onboarding.sql
  db/migrations/20260721200702_onboarding_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: always send metadata args (#2624)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

remove priority
  internal/onboarding/catalog.go
Due: :yaml: generate config

lint
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/specs/zz_generated_spec_types.go
  internal/integrations/operations/ingest_generated.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config

exclude internal frameworks
  internal/onboarding/catalog.go
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
