Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

linter
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

fix: bug with nda email sending (#1968)
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

configure trustcenter nda request access token duration
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/trustcenterndarequest.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

configure trustcenter nda request access token duration (#1972)
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/trustcenterndarequest.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

minor integration schema updates
  common/integrations/state/doc.go
  common/integrations/state/state.go
  common/openapi/models.go
  go.mod
  internal/ent/generate/entc.go
  internal/ent/schema/integration.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add useless comments
  common/openapi/models.go
Due: :terminal: build cli

add url for notification
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

fix lint
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

add url to nda request notifications (#1975)
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

task generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/config.example.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/note/note.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/note.go
  internal/ent/schema/note.go
  internal/ent/workflowgenerated/workflow_create_helpers.go
  internal/ent/workflowgenerated/workflow_domain.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

fix merge conflict
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

task config:generate
  config/config.example.yaml
Due: :yaml: generate config

add hook to delete tuple
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

use ulids, instead of uuids
  internal/ent/hooks/assessment_response.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/questionnaire_test.go
Due: :golang: go generate, :yaml: generate config

fix
  internal/ent/hooks/assessment_response.go
Due: :golang: go generate, :yaml: generate config

regen
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

delete discussion when last comment is deleted
  internal/ent/hooks/note.go
Due: :golang: go generate, :yaml: generate config

task generate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  common/go.sum
  internal/ent/hooks/note.go
  internal/ent/schema/note.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

Delete discussion when last comment is deleted (#1976)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/note/note.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/note.go
  internal/ent/schema/note.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

fix: shortlinks needs to happen before entopts
  cmd/serve.go
Due: :golang: build

fix: shortlinks needs to happen before entopts (#1978)
  cmd/serve.go
Due: :golang: build

add missing assets create and update
  cli/cmd/asset/create.go
  cli/cmd/asset/root.go
  cli/cmd/asset/update.go
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/assets.yaml
Due: :auth0: fga model test, :terminal: build cli

add missing assets create and update (#1980)
  cli/cmd/asset/create.go
  cli/cmd/asset/root.go
  cli/cmd/asset/update.go
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/assets.yaml
Due: :auth0: fga model test, :terminal: build cli

simplify branch
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

task generate
  internal/graphapi/trustcenterndarequest.resolvers.go
Due: :golang: go generate, :yaml: generate config

fix: send full url to email with shortlink
  go.mod
  go.sum
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Tidy
  cli/go.mod
  cli/go.sum
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix comment and clean up nda template too
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/trustcenterndarequest.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

feat: shortlinks enable (#1982)
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build
