Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

bump jsonparser for vulnerability fix
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix vulnerabilities
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/hooks/custom_domain.go
  internal/graphapi/customdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

add trivyignore
  .trivyignore
Due: none

db:resethash
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix linter
  internal/ent/schema/emailbranding.go
  internal/ent/schema/emailtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/control/control.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/control.go
  internal/ent/hooks/errors.go
  internal/ent/schema/control.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/notification.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/ent.resolvers.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/emailtemplate.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix logic
  internal/ent/hooks/control.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

goimports -w
  internal/ent/hooks/errors.go
Due: :golang: go generate, :yaml: generate config

fix
  cli/go.mod
  common/go.mod
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix
  cli/go.mod
  cli/go.sum
  common/go.sum
Due: :terminal: build cli

fix
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

github app install metadata, CEL directory ingest, integration scoped credential plumbing
  common/integrations/state/state.go
  common/integrations/types/operation.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_errors.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/integrations/ingest/defaults_directory_accounts.go
  internal/integrations/ingest/defaults_directory_accounts_test.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/directory_accounts.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/integrations/providers/github/operations.go
  internal/keystore/broker.go
  internal/keystore/keystore_test_helpers.go
  internal/keystore/operations_manager.go
  internal/keystore/operations_manager_test.go
  internal/keystore/store.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

wire up workflow metadata
  internal/graphapi/workflow_metadata_extensions.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

clean up some cruft, make the contract boundaries tighter
  Taskfile.yaml
  internal/integrations/HELPER_REUSE_GUIDE.md
  internal/integrations/IMPLEMENTATION_PLAN.md
  internal/integrations/README.md
  internal/integrations/TODO.md
  internal/integrations/ingest/adapters.go
  internal/integrations/ingest/bindings.go
  internal/integrations/ingest/func.go
  internal/integrations/ingest/mapper.go
  internal/integrations/providers/catalog/catalog.go
  internal/integrations/providers/catalog/catalog_test.go
  internal/integrations/providers/scaffold/doc.go
  internal/integrations/providers/scaffold/main.go
  internal/integrations/providers/scaffold/templates/client.go.tmpl
  internal/integrations/providers/scaffold/templates/doc.go.tmpl
  internal/integrations/providers/scaffold/templates/errors.go.tmpl
  internal/integrations/providers/scaffold/templates/operations.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_apikey.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_custom.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_oauth.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_test.go.tmpl
  internal/integrations/scope/types.go
  internal/workflows/engine/integration_executor.go
Due: :yaml: generate config

refactor to try and use generated approach
  cmd/serve.go
  common/integrations/operations/metadata.go
  common/integrations/operations/metadata_test.go
  common/integrations/types/ingest_capabilities.go
  common/integrations/types/operation.go
  go.mod
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/README.md
  internal/integrations/ingest/README.md
  internal/integrations/ingest/bindings.go
  internal/integrations/ingest/defaults_directory_accounts_test.go
  internal/integrations/ingest/dispatch.go
  internal/integrations/ingest/events.go
  internal/integrations/ingest/mapping_index.go
  internal/integrations/providers/aws/operations_securityhub.go
  internal/integrations/providers/github/github.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/ingest_mappings.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/googleworkspace/googleworkspace.go
  internal/integrations/providers/googleworkspace/ingest_mappings.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/registry/registry.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/integration_executor_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

allow ctx on webhook
  internal/httpserve/handlers/integration_github_webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

simplify
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/gala.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/activation/doc.go
  internal/integrations/activation/errors.go
  internal/integrations/activation/service.go
  internal/integrations/activation/service_test.go
  internal/integrations/auth/doc.go
  internal/integrations/ingest/runtime.go
  internal/integrations/providers/aws/operations_health.go
  internal/integrations/providers/awssts/awssts.go
  internal/integrations/runtime/runtime.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

criteria per integration source
  internal/integrations/activation/doc.go
  internal/integrations/activation/errors.go
  internal/integrations/activation/service.go
  internal/integrations/activation/service_test.go
  internal/integrations/auth/authenticated_client.go
  internal/integrations/auth/credential_payload.go
  internal/integrations/auth/rest_client.go
  internal/integrations/ingest/errors.go
  internal/integrations/ingest/func.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/scope/evaluator.go
  internal/integrations/state/state.go
  internal/integrations/state/state_test.go
  internal/integrations/targetresolver/types.go
Due: :yaml: generate config

no mas
  internal/integrations/ingest/func.go
Due: :yaml: generate config

fix github app and add tests
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/integrations/providers/github/github_app_provider.go
  internal/keystore/broker.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove unused guards, consolidate github app config, remove pattern deviations
  config/config.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_providers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/serveropts/integration_base.go
  internal/httpserve/serveropts/options_test.go
  internal/integrations/config/spec.go
  internal/integrations/runtime/config.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/runtime.go
  internal/keymaker/service.go
  internal/keymaker/service_additional_test.go
  internal/keystore/client_pool.go
  internal/keystore/credential_resolution.go
  internal/keystore/store.go
  internal/keystore/types_alias.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:
