Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

generate
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config

test
  cli/go.mod
  internal/ent/privacy/rule/orgowner.go
  internal/graphapi/assessment_test.go
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

go mod, linter
  cli/go.mod
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/privacy/check.go
  internal/ent/privacy/rule/orgowner.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

comments, fix scopes validation on api
  fga/generate/schemaparse/parse.go
  fga/model/helpers.go
  fga/model/helpers_test.go
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/hooks/apitoken.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

remove log
  internal/ent/hooks/apitoken.go
Due: :golang: go generate, :yaml: generate config

matching
  internal/graphapi/apitoken_test.go
  internal/graphapi/seed_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task db:create
  db/migrations-goose-postgres/20260526144910_task_is_template.sql
  db/migrations-goose-postgres/20260526144922_task_is_template_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260526144841_task_is_template.sql
  db/migrations/20260526144855_task_is_template_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

add tests
  internal/graphapi/procedure_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task regenearate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

domain registrations => assets
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/examples/registrar_registrations.json
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/cloudflare/mappings_test.go
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
  internal/integrations/definitions/cloudflare/operation_findings.go
  internal/integrations/definitions/cloudflare/types.go
Due: :yaml: generate config

move to constants
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
  internal/integrations/definitions/cloudflare/types.go
Due: :yaml: generate config

Update internal/integrations/definitions/cloudflare/operation_asset_sync.go
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
Due: :yaml: generate config

add NDA for approval email
  internal/integrations/definitions/email/system_emails.go
Due: :yaml: generate config

fix
  internal/integrations/definitions/cloudflare/operation_asset_sync.go
Due: :yaml: generate config

run goimports -w
  internal/integrations/definitions/cloudflare/types.go
Due: :yaml: generate config

feat : added keycloak integration files
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/doc.go
  internal/integrations/definitions/keycloak/errors.go
  internal/integrations/definitions/keycloak/example/groups.json
  internal/integrations/definitions/keycloak/example/user.json
  internal/integrations/definitions/keycloak/examples/group.json
  internal/integrations/definitions/keycloak/examples/member.json
  internal/integrations/definitions/keycloak/examples/service_account_user.json
  internal/integrations/definitions/keycloak/examples/user.json
  internal/integrations/definitions/keycloak/installation.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
  internal/integrations/definitions/keycloak/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

post merge changes
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

chore: set minimum release days
  renovate.json
Due: none

chore: set minimum release days (#2435)
  renovate.json
Due: none

feat : containerized
  docker/Taskfile.yaml
  docker/configs/keycloak/.env-example
  docker/docker-compose-keycloak.yml
  docker/pg-init-scripts/init.sql
Due: none

remove trivyignore as it is now fixes in upstream and we are on the latest version
  .trivyignore
Due: none

remove trivyignore as it is now fixes in upstream and we are on the latest version (#2438)
  .trivyignore
Due: none

fix: missing fga model definitions, token scopes on cli
  cli/cmd/apitokens/create.go
  cli/cmd/apitokens/scopes.go
  cli/go.mod
  cli/go.sum
  fga/model/automation/assessments.fga
  fga/model/automation/checkresult.fga
  fga/model/automation/directory.fga
  fga/model/compliance/exposure.fga
  fga/tests/tests.yaml
Due: :auth0: fga model test, :terminal: build cli

formatting
  cli/cmd/apitokens/scopes.go
Due: :terminal: build cli

fix: missing fga model definitions, token scopes on cli (#2439)
  cli/cmd/apitokens/create.go
  cli/cmd/apitokens/scopes.go
  cli/go.mod
  cli/go.sum
  fga/model/automation/assessments.fga
  fga/model/automation/checkresult.fga
  fga/model/automation/directory.fga
  fga/model/compliance/exposure.fga
  fga/tests/tests.yaml
Due: :auth0: fga model test, :terminal: build cli

rework permission checks
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/orgmembership/orgmembership.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/orgmembers.go
  internal/ent/privacy/rule/invite.go
  internal/ent/privacy/rule/membership.go
  internal/ent/privacy/rule/roles.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/orgmembers_test.go
  internal/graphapi/query/trustcenter.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix tests
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Typo
  config/config-dev.example.yaml
Due: :yaml: generate config

fix panic
  internal/httpserve/handlers/refresh.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

injector context
  internal/httpserve/serveropts/gala.go
  internal/integrations/definitions/googledrive/builder.go
  pkg/gala/gala.go
  pkg/gala/injector_codec.go
  pkg/gala/injector_codec_test.go
Due: :yaml: generate config

new migrations
  db/migrations-goose-postgres/20260529171325_googledriveintegration.sql
  db/migrations-goose-postgres/20260529171329_googledriveintegration_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260529171317_googledriveintegration.sql
  db/migrations/20260529171320_googledriveintegration_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix panic (#2442)
  internal/httpserve/handlers/refresh.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

PR feedback
  internal/integrations/definitions/googledrive/client.go
  internal/integrations/definitions/googledrive/errors.go
  internal/integrations/definitions/googledrive/operation_export.go
  internal/integrations/definitions/googledrive/operation_folder_sync.go
  internal/integrations/operations/ingest_actionplan_persist.go
  internal/integrations/operations/ingest_procedure_persist.go
  pkg/gala/gala.go
Due: :yaml: generate config

nolint
  internal/integrations/operations/ingest_actionplan_persist.go
  internal/integrations/operations/ingest_procedure_persist.go
Due: :yaml: generate config
