Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

jsonx uplift
  go.mod
  go.sum
  internal/ent/hooks/evidence.go
  internal/graphapi/evidence_test.go
  internal/integrations/ingest/func.go
  internal/integrations/operations/operation_helpers.go
  internal/integrations/operations/operation_templates.go
  internal/integrations/operations/opsconfig.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/providers/okta/operations.go
  internal/integrations/providers/slack/operations.go
  internal/integrations/scope/types.go
  internal/integrations/state/state.go
  internal/integrations/types/provider.go
  internal/keymaker/service.go
  internal/keymaker/service_additional_test.go
  internal/keymaker/service_test.go
  internal/keymaker/session_store.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

stash before the next refactor lol
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/documentdata.go
  internal/httpserve/handlers/integration_config.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/schema.go
  internal/integrations/operations/schema_test.go
  internal/integrations/operations/validation.go
  internal/integrations/operations/validation_test.go
  internal/keymaker/service.go
  internal/keystore/broker.go
  internal/keystore/client_manager.go
  internal/keystore/client_pool.go
  internal/keystore/operations_manager.go
  internal/keystore/operations_manager_test.go
  internal/workflows/domain.go
  internal/workflows/domain_test.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_approval_compat_test.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/notification_templates.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
  jsonschema/workflow.definition.json
  pkg/catalog/catalog.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/schema_validation.go
  pkg/jsonx/schema_validation_test.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

jsonx helpers, inline refactors
  internal/integrations/config/spec.go
  internal/integrations/config/spec_overrides_test.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/shared_helpers.go
  internal/integrations/operations/operation_helpers.go
  internal/integrations/operations/operation_templates.go
  internal/integrations/operations/opsconfig.go
  internal/integrations/providers/apikey/apikey.go
  internal/integrations/providers/aws/operations_securityhub.go
  internal/integrations/providers/awskit/auth.go
  internal/integrations/providers/awssts/awssts.go
  internal/integrations/providers/azuresecuritycenter/client.go
  internal/integrations/providers/azuresecuritycenter/operations.go
  internal/integrations/providers/azuresecuritycenter/provider.go
  internal/integrations/providers/gcpscc/gcpscc.go
  internal/integrations/providers/gcpscc/operations.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/github/operations_graphql.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/providers/okta/client.go
  internal/integrations/providers/okta/operations.go
  internal/integrations/providers/slack/operations.go
  internal/integrations/scope/types.go
  internal/workflows/engine/integration_executor.go
  pkg/jsonx/errors.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
Due: :yaml: generate config

update handlers
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_inputs.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_resolution.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/providerkit/oauth.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/integration_resolver.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

back out bad idea
  .claude/settings.local.json
  Taskfile.yaml
  internal/ent/generate/entc.go
  internal/ent/generate/templates/ent/additional_fields.tmpl
  internal/ent/interceptors/integration.go
  internal/ent/schema/integration.go
  internal/graphapi/schema/integrationextended.graphql
  internal/httpserve/serveropts/integration_base.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

extend integration graphql
  internal/graphapi/ent.resolvers.go
  internal/graphapi/integrationextended.resolvers.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/schema/integrationextended.graphql
  internal/graphapi/workflow_metadata_extensions.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/httpserve/serveropts/option.go
  internal/integrations/runtime/runtime.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

gqlgen config for credential set and builder update
  internal/graphapi/generate/.gqlgen_history.yml
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/types/auth.go
Due: :golang: go generate, :yaml: generate config

add the actual sql migrations
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260317203300_integrationsandstuff.sql
  db/migrations-goose-postgres/20260317203304_integrationsandstuff_history.sql
  db/migrations/20260317203251_integrationsandstuff.sql
  db/migrations/20260317203254_integrationsandstuff_history.sql
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove integrations, stage new type definition
  common/openapi/integration_models.go
  common/openapi/models.go
  db/migrations-goose-postgres/20260317203300_integrationsandstuff.sql
  db/migrations-goose-postgres/20260317203304_integrationsandstuff_history.sql
  db/migrations/20260317203251_integrationsandstuff.sql
  db/migrations/20260317203254_integrationsandstuff_history.sql
  internal/ent/schema/integration.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_disconnect_test.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_types.go
  internal/httpserve/route/oauth_integration.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/webhooks.go
  internal/integrations/types/definition.go
  internal/integrations/types/installation.go
  internal/integrations/types/installation_registration.go
  internal/keystore/store.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

missing keymaker persistence
  internal/httpserve/handlers/integration_helpers.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/keymaker.go
  internal/integrations/runtime/keymaker_test.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/runtime_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

we don't actually use policies so removing for now
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/integrationwebhook.go
  internal/integrations/definitions/awsassets/builder.go
  internal/integrations/definitions/awsauditmanager/builder.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/oidcgeneric/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/operations/ingest.go
  internal/integrations/runtime/keymaker.go
  internal/integrations/runtime/webhooks.go
  internal/integrations/types/operation.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove rollback behavior, add installationmetadata to builder
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_providers.go
  internal/httpserve/handlers/integration_types.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/errors.go
  internal/integrations/definitions/githubapp/installation.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/installation_metadata.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

reset migrations
  db/migrations-goose-postgres/20260318204724_integrationsnotificationdestination.sql
  db/migrations-goose-postgres/20260318204728_integrationsnotificationdestination_history.sql
  db/migrations/20260318204715_integrationsnotificationdestination.sql
  db/migrations/20260318204719_integrationsnotificationdestination_history.sql
Due: :postgres: atlas lint

luls
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

regenerate output
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_finding_persist.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

standardize the builder categories, remove labels in favor of tags
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/handlers/tools_test.go
  internal/integrations/auth/errors.go
  internal/integrations/auth/oauth.go
  internal/integrations/auth/oauth_registration_test.go
  internal/integrations/auth/oauth_test.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/azuresecuritycenter/types.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/catalog/filterexpr_test.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/types.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/runtime_new_test.go
  internal/integrations/types/definition.go
  internal/integrations/types/disconnect.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove migrations
  db/migrations-goose-postgres/20260319034707_integrationsandwebhooks.sql
  db/migrations-goose-postgres/20260319034711_integrationsandwebhooks_history.sql
  db/migrations/20260319034658_integrationsandwebhooks.sql
  db/migrations/20260319034702_integrationsandwebhooks_history.sql
Due: :postgres: atlas lint

update the github import
  go.mod
  internal/integrations/definitions/githubapp/auth.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
