Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

use tagged release
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

try to fix owner_id
  internal/ent/hooks/group.go
Due: :golang: go generate, :yaml: generate config

fix typo
  internal/ent/hooks/group.go
Due: :golang: go generate, :yaml: generate config

Tuples for user group sometimes being created in personal org (#2320)
  internal/ent/hooks/group.go
Due: :golang: go generate, :yaml: generate config

task regenerate
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

add updated templates, logo sizing via cloudflare
  current.png
  internal/ent/hooks/invite.go
  internal/httpserve/handlers/register.go
  internal/integrations/cli/cmd/campaign/create.go
  internal/integrations/cli/cmd/emailbranding/create.go
  internal/integrations/cli/cmd/emailbranding/doc.go
  internal/integrations/cli/cmd/emailbranding/errors.go
  internal/integrations/cli/cmd/emailbranding/root.go
  internal/integrations/cli/cmd/emailtemplate/create.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/cli/main.go
  internal/integrations/definitions/email/op_branded_hero.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/op_invite_modern.go
  internal/integrations/definitions/email/op_verify_modern.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/themes/templates/activation.tpl.html
  internal/integrations/definitions/email/themes/templates/basic.tpl.html
  internal/integrations/definitions/email/themes/templates/customer.css
  internal/integrations/definitions/email/themes/templates/customer.tpl.html
  internal/integrations/definitions/email/themes/templates/modern-hero.css
  internal/integrations/definitions/email/themes/templates/modern-hero.tpl.html
  internal/integrations/definitions/email/themes/templates/modern-message.css
  internal/integrations/definitions/email/themes/templates/questionnaire.css
  internal/integrations/definitions/email/themes/templates/questionnaire.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.css
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.tpl.txt
  internal/integrations/definitions/email/themes/templates/trustcenter.css
  internal/integrations/definitions/email/themes/templates/trustcenter.tpl.html
  internal/integrations/definitions/email/themes/themes.go
  welcome.html
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

cannot query OldDisplayName after a mutation is executed
  internal/ent/hooks/user.go
Due: :golang: go generate, :yaml: generate config

cannot query OldDisplayName after a mutation is executed (#2324)
  internal/ent/hooks/user.go
Due: :golang: go generate, :yaml: generate config

config:generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

update test
  common/go.mod
  common/go.sum
  internal/workflows/cel_test.go
  internal/workflows/options.go
Due: :yaml: generate config, :terminal: build cli

config:generate
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

Update internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums.go
Due: :golang: go generate, :yaml: generate config

try entc fix
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

fix merge conflict
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/entity/entity.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/entityhistory/entityhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config

email templates
  internal/integrations/definitions/email/op_verify_modern.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/themes/templates/modern-message.tpl.html
  internal/integrations/definitions/email/themes/templates/openlane-modern.tpl.html
  internal/integrations/definitions/email/themes/themes.go
Due: :yaml: generate config

fix tests
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/operations/ingest_generated_test.go
Due: :yaml: generate config, :terminal: build cli

task db:create
  db/migrations-goose-postgres/20260427193718_identity_holder_directory_membership.sql
  db/migrations-goose-postgres/20260427193728_identity_holder_directory_membership_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260427193652_identity_holder_directory_membership.sql
  db/migrations/20260427193705_identity_holder_directory_membership_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix enum test
  internal/ent/hooks/customenums.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

create vendor, few fixes
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/entity.go
  internal/ent/schema/file.go
  internal/ent/schema/group.go
  internal/ent/schema/platform.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/operation_check_sync.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azuresecuritycenter/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/operations/ingest_checkresult_persist.go
  internal/integrations/runtime/integration.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

linter
  internal/ent/hooks/customenums.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/privacy/utils/utils.go
  internal/graphapi/trustcenterdoc_test.go
  internal/integrations/definitions/awssecurityhub/operation_asset_sync.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
  internal/integrations/operations/ingest_checkresult_persist.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove removed at based on removed records, remove primary directory, fix check status
  common/enums/checkstatus.go
  internal/integrations/definitions/awssecurityhub/types.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/operations/ingest.go
  internal/integrations/types/operation.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

remove extra tags
  internal/integrations/runtime/integration.go
Due: :yaml: generate config

log cleanup
  internal/integrations/definitions/awssecurityhub/operation_asset_sync.go
  internal/integrations/definitions/awssecurityhub/operation_check_sync.go
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/types/definition.go
Due: :yaml: generate config

linter
  internal/integrations/runtime/integration.go
Due: :yaml: generate config

fix test
  pkg/celx/env.go
  pkg/celx/functions.go
Due: :yaml: generate config

more integrations fixes
  .typos.toml
  common/enums/riskimpact.go
  common/enums/securitylevel.go
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/ent/hooks/customenums.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azureentraid/mappings.go
  internal/integrations/definitions/azuresecuritycenter/mappings.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/examples/finding.json
  internal/integrations/definitions/gcpscc/examples/vulnerability.json
  internal/integrations/definitions/gcpscc/mappings.go
  internal/integrations/definitions/gcpscc/mappings_test.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  internal/integrations/definitions/githubapp/operation_repository_sync.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/okta/mappings.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/scim/mappings.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/examples/service.json
  internal/integrations/definitions/slack/examples/user.json
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/slack/mappings_test.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/operations/ingest_finding_persist.go
  internal/integrations/operations/ingest_vulnerability_persist.go
  internal/integrations/operations/textnormalize.go
  internal/integrations/operations/textnormalize_test.go
  internal/integrations/types/operation.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :terminal: build cli

revert
  docker/docker-compose-riverboat.yml
Due: none

rebase
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix tests
  internal/graphapi/models_test.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/runtime/integration.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
