Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add the integration edge ref
  internal/integrations/operations/ingest_internalpolicy_persist.go
Due: :yaml: generate config

add the integration edge ref (#2462)
  internal/integrations/operations/ingest_internalpolicy_persist.go
Due: :yaml: generate config

use can_view_org instead so roles like auditors can view
  internal/ent/hooks/usersettings.go
  internal/httpserve/authmanager/authmanager.go
Due: :golang: go generate, :yaml: generate config

add auditor login test
  internal/httpserve/handlers/login_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove hook group enforcement check
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bump to 1.26.4 to fix vulnerability
  cli/go.mod
  common/go.mod
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  common/go.sum
Due: :terminal: build cli

try to use distinct email
  internal/httpserve/handlers/login_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

gomod tidy
  common/go.sum
Due: :terminal: build cli

Auditors authentication landing on wrong org (#2463)
  cli/go.mod
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
  internal/ent/hooks/usersettings.go
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/login_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update security txt expiry
  internal/httpserve/route/security.txt
Due: :yaml: generate config

update security txt expiry (#2464)
  internal/httpserve/route/security.txt
Due: :yaml: generate config

feat : added zitadel
  go.mod
  go.sum
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/doc.go
  internal/integrations/definitions/zitadel/errors.go
  internal/integrations/definitions/zitadel/examples/group.json
  internal/integrations/definitions/zitadel/examples/member.json
  internal/integrations/definitions/zitadel/examples/user.json
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

allow dynamic assignment and removal of roles to users and groups
  common/openapi/models.go
  fga/generate/modelparse/parse.go
  fga/model/helpers.go
  fga/model/roles/roles.fga
  internal/httpserve/handlers/roles.go
  internal/httpserve/handlers/roles_test.go
  internal/httpserve/route/roles.go
  internal/httpserve/route/router.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :auth0: fga model test, :terminal: build cli

task regenerate
  .task/checksum/generate-openapi-smart
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :yaml: generate config

fix lint
  internal/httpserve/handlers/roles.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

add nolint:mnd
  common/openapi/models.go
  fga/generate/modelparse/parse.go
Due: :auth0: fga model test, :terminal: build cli

permissions json generator
  fga/Taskfile.yaml
  fga/generate/permissions/main.go
  fga/model/generated/permissions.json
Due: :auth0: fga model test

Update common/openapi/models.go
  common/openapi/models.go
Due: :terminal: build cli

add note about role parsing
  fga/generate/modelparse/parse.go
Due: :auth0: fga model test

move role check into validate method
  common/openapi/models.go
  internal/httpserve/handlers/roles.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

add more tests
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Allow for dynamic assignment of roles to users (#2467)
  .task/checksum/generate-openapi-smart
  common/openapi/models.go
  fga/generate/modelparse/parse.go
  fga/model/helpers.go
  fga/model/roles/roles.fga
  internal/graphapi/internalpolicy_test.go
  internal/httpserve/handlers/roles.go
  internal/httpserve/handlers/roles_test.go
  internal/httpserve/route/roles.go
  internal/httpserve/route/router.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :auth0: fga model test, :terminal: build cli

tests
  internal/integrations/definitions/email/op_branded_message_test.go
Due: :yaml: generate config

feat: auditor role should have crud access to evidence
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

feat: auditor role should have crud access to evidence
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

feat: release authentik integration
  internal/integrations/definitions/authentik/builder.go
Due: :yaml: generate config

fix: auditor allow evidence + review crud (#2470)
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

bump iam for read model fix
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump iam for read model fix (#2472)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: upgrade text to 0.38.0 to fix regression
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

caser is not thread safe
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/hooks/user.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
