Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

generate output
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

lean into the integrations construct with builder, build registrations, create EmailOperations with type inputs
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/client.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

updated generate output
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/campaign/campaign.go
  internal/ent/generated/client.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

regenerate config, update hooks and call sites for email send
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/gala/types.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

regenerate output
  .task/checksum/generate-openapi-smart
Due: none

schema checksums
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add gala to client (#2299)
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

regenerate output
  .task/checksum/generate-openapi-smart
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/operations.go
  internal/integrations/definitions/email/render.go
  internal/integrations/definitions/email/themes/themes.go
  internal/workflows/engine/send_email.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

confirm operations to the Nmae construct, burn deviated patterns, add the campaign email flag to the integration so that I can thread it through the installation metadata, export schema vars
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/campaign.go
  internal/ent/hooks/email_config.go
  internal/ent/hooks/integration.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/campaign.go
  internal/ent/schema/integration.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/operation_send_email.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/executor_test.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/definition.go
  internal/integrations/types/operation.go
  internal/workflows/engine/send_email.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

minor updates, cli
  .gitignore
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaignextended.resolvers.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/cli/cmd/root.go
  internal/integrations/cli/config/config.example.yaml
  internal/integrations/cli/config/config.go
  internal/integrations/cli/config/integrations.config.json
  internal/integrations/definitions/email/render.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

email templates
  internal/integrations/definitions/email/op_verify_modern.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/themes/templates/modern-message.tpl.html
  internal/integrations/definitions/email/themes/templates/openlane-modern.tpl.html
  internal/integrations/definitions/email/themes/themes.go
Due: :yaml: generate config

add updated templates, logo sizing via cloudflare
  current.png
  internal/ent/hooks/invite.go
  internal/httpserve/handlers/register.go
  internal/integrations/cli/cmd/campaign/create.go
  internal/integrations/cli/cmd/emailbranding/create.go
  internal/integrations/cli/cmd/emailbranding/doc.go
  internal/integrations/cli/cmd/emailbranding/errors.go
  internal/integrations/cli/cmd/emailbranding/root.go
  internal/integrations/cli/cmd/emailtemplate/create.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/cli/main.go
  internal/integrations/definitions/email/op_branded_hero.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/op_invite_modern.go
  internal/integrations/definitions/email/op_verify_modern.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/themes/templates/activation.tpl.html
  internal/integrations/definitions/email/themes/templates/basic.tpl.html
  internal/integrations/definitions/email/themes/templates/customer.css
  internal/integrations/definitions/email/themes/templates/customer.tpl.html
  internal/integrations/definitions/email/themes/templates/modern-hero.css
  internal/integrations/definitions/email/themes/templates/modern-hero.tpl.html
  internal/integrations/definitions/email/themes/templates/modern-message.css
  internal/integrations/definitions/email/themes/templates/questionnaire.css
  internal/integrations/definitions/email/themes/templates/questionnaire.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.css
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.tpl.txt
  internal/integrations/definitions/email/themes/templates/trustcenter.css
  internal/integrations/definitions/email/themes/templates/trustcenter.tpl.html
  internal/integrations/definitions/email/themes/themes.go
  welcome.html
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove unused fields, unneeded hooks, probably things that will make me hate my life trying to generate out the schmea updates
  internal/ent/hooks/campaign.go
  internal/ent/hooks/integration_test.go
  internal/ent/schema/campaign.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/query/campaign.graphql
  internal/graphapi/query/campaignextended.graphql
  internal/graphapi/query/history/campaignhistory.graphql
  internal/graphapi/search.go
  internal/httpserve/handlers/csv/sample_campaign.csv
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/doc.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/errors.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/operation_send_campaign_test.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/resolve.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

gut uneeded workflow code, plugin using the integration dispatch, remove now unused themes
  internal/ent/hooks/notificationtemplate.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/campaign_errors.go
  internal/graphapi/campaign_with_targets.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/fixtures.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/operation_send_branded_campaign.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/template_catalog.go
  internal/integrations/definitions/email/template_catalog_test.go
  internal/integrations/definitions/email/template_interpolate.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/themes/templates/activation.tpl.html
  internal/integrations/definitions/email/themes/templates/base.tpl.html
  internal/integrations/definitions/email/themes/templates/basic.tpl.html
  internal/integrations/definitions/email/themes/templates/customer.tpl.html
  internal/integrations/definitions/email/themes/templates/openlane-modern.tpl.html
  internal/integrations/definitions/email/themes/templates/questionnaire.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
  internal/integrations/definitions/email/themes/templates/trustcenter.tpl.html
  internal/integrations/definitions/email/themes/themes.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/notification_templates_integration_test.go
  internal/workflows/engine/notification_templates_test.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/send_email_integration_test.go
  internal/workflows/engine/template_renderer.go
  internal/workflows/engine/template_renderer_test.go
  internal/workflows/params.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix campaign dispatch startup ordering
  internal/ent/hooks/integration_test.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_test_email.go
  internal/httpserve/serveropts/gala.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/email/errors.go
  internal/integrations/definitions/email/resolve.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/executor_test.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/recurring_campaign.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/integration.go
  internal/integrations/runtime/recurring_campaign.go
  internal/integrations/runtime/runtime.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

revert schema removals
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add privacy bypass to executor
  internal/workflows/engine/executor.go
Due: :yaml: generate config

add callout section, coloring config, base template updates
  internal/integrations/cli/cmd/quickstart/cloudflare.example.json
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/themes/templates/base.tpl.html
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config

continue refactor of notificatointemplate and workflow integration interfaces and contracts
  internal/graphapi/workflow_metadata_extensions.go
  internal/graphapi/workflow_metadata_extensions_test.go
  internal/graphapi/workflow_metadata_extensions_testing.go
  internal/graphapi/workflow_validation_errors.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowdefinition.resolvers.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/operation_send_email.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/microsoftteams/operation_message_send.go
  internal/integrations/definitions/microsoftteams/operation_message_send_test.go
  internal/integrations/definitions/microsoftteams/types.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/operation_message_send.go
  internal/integrations/definitions/slack/operation_message_send_test.go
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/definitions/slack/testing.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/runtime/integration.go
  internal/integrations/templatekit/doc.go
  internal/integrations/templatekit/errors.go
  internal/integrations/templatekit/load.go
  internal/integrations/templatekit/payload.go
  internal/integrations/templatekit/payload_test.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/integration_resolution_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/notification_templates_integration_test.go
  internal/workflows/engine/notification_templates_test.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/tools_test.go
  internal/workflows/engine/workflow_metadata_integration_test.go
  internal/workflows/examples/main.go
  internal/workflows/params.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

migrations and config generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  db/migrations-goose-postgres/20260430235905_removeemailbranding.sql
  db/migrations-goose-postgres/20260430235908_removeemailbranding_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260430235858_removeemailbranding.sql
  db/migrations/20260430235901_removeemailbranding_history.sql
  db/migrations/atlas.sum
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/workflow.definition.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :postgres: atlas lint

remove cruft from existing cli, fix grapahpi test
  cli/cmd/emailtemplate/create.go
  cli/cmd/emailtemplate/update.go
  cli/cmd/notificationtemplate/create.go
  cli/cmd/notificationtemplate/update.go
  cmd/serve.go
  internal/graphapi/tools_test.go
  internal/graphapi/workflow_metadata_extensions.go
  internal/graphapi/workflow_metadata_extensions_test.go
  internal/graphapi/workflow_validators.go
  internal/httpserve/handlers/tools_test.go
  internal/integrations/cli/openlane/client.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/microsoftteams/types.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/runtime/integration.go
  internal/workflows/examples/main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build, :terminal: build cli

fix type conflicts
  internal/integrations/definitions/slack/operation_directory_sync.go
Due: :yaml: generate config

cleanup
  .claude/settings.local.json
  cli/cmd/emailtemplate/create.go
Due: :terminal: build cli

fix: null pointer error when module is nil
  internal/ent/interceptors/modules.go
Due: :golang: go generate, :yaml: generate config

fix: null pointer error when module is nil (#2353)
  internal/ent/interceptors/modules.go
Due: :golang: go generate, :yaml: generate config

address PR feedback and pull in dependency updates
  config/config-dev.example.yaml
  go.mod
  go.sum
  internal/ent/hooks/email_context_helpers.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/hooks/notificationtemplate_test.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/usersettings.go
  internal/graphapi/campaignextended.resolvers.go
  internal/integrations/definitions/okta/client.go
  internal/integrations/definitions/okta/operation_directory_sync.go
  internal/integrations/definitions/okta/operation_health.go
  internal/integrations/definitions/okta/types.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/runtime/execution.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix customer selectable
  internal/graphapi/workflow_metadata_extensions.go
  internal/httpserve/handlers/integration_providers.go
  internal/integrations/cli/cmd/emailtest/list.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/runtime/integration.go
  internal/integrations/types/operation.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
