Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix other hoopk
  internal/ent/hooks/documents.go
Due: :golang: go generate, :yaml: generate config

caser is not thread safe (#2474)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/hooks/documents.go
  internal/ent/hooks/user.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: initial tailscale integration
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/operations/ingest_asset_persist.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: add tailscale integration
  internal/integrations/definitions/tailscale/builder.go
  internal/integrations/definitions/tailscale/client.go
  internal/integrations/definitions/tailscale/doc.go
  internal/integrations/definitions/tailscale/errors.go
  internal/integrations/definitions/tailscale/installation.go
  internal/integrations/definitions/tailscale/mappings.go
  internal/integrations/definitions/tailscale/mappings_test.go
  internal/integrations/definitions/tailscale/operation_asset_sync.go
  internal/integrations/definitions/tailscale/operation_directory_sync.go
  internal/integrations/definitions/tailscale/operation_health.go
  internal/integrations/definitions/tailscale/types.go
Due: :yaml: generate config

required permission for groups
  internal/integrations/definitions/tailscale/builder.go
Due: :yaml: generate config

linter
  internal/integrations/definitions/tailscale/operation_asset_sync.go
Due: :yaml: generate config

feat: tailscale int to sync users and assets (#2475)
  go.mod
  go.sum
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/tailscale/builder.go
  internal/integrations/definitions/tailscale/client.go
  internal/integrations/definitions/tailscale/doc.go
  internal/integrations/definitions/tailscale/errors.go
  internal/integrations/definitions/tailscale/installation.go
  internal/integrations/definitions/tailscale/mappings.go
  internal/integrations/definitions/tailscale/mappings_test.go
  internal/integrations/definitions/tailscale/operation_asset_sync.go
  internal/integrations/definitions/tailscale/operation_directory_sync.go
  internal/integrations/definitions/tailscale/operation_health.go
  internal/integrations/definitions/tailscale/types.go
  internal/integrations/operations/ingest_asset_persist.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

added error and types file
  internal/integrations/definitions/zitadel/errors.go
  internal/integrations/definitions/zitadel/types.go
Due: :yaml: generate config

feat: azure entra id and one drive integratoins
  .gitignore
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  docker/docker-compose-riverboat.yml
  internal/ent/hooks/documents.go
  internal/graphapi/internalpolicyextended.resolvers.go
  internal/graphapi/internalpolicyextended_helpers.go
  internal/integrations/definitions/azureentraid/adminconsent.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/azureentraid/client.go
  internal/integrations/definitions/azureentraid/config.go
  internal/integrations/definitions/azureentraid/errors.go
  internal/integrations/definitions/azureentraid/installation.go
  internal/integrations/definitions/azureentraid/mappings.go
  internal/integrations/definitions/azureentraid/operation_directory_sync.go
  internal/integrations/definitions/azureentraid/operation_health.go
  internal/integrations/definitions/azureentraid/types.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/onedrive/builder.go
  internal/integrations/definitions/onedrive/client.go
  internal/integrations/definitions/onedrive/config.go
  internal/integrations/definitions/onedrive/doc.go
  internal/integrations/definitions/onedrive/docconvert.go
  internal/integrations/definitions/onedrive/docparse.go
  internal/integrations/definitions/onedrive/errors.go
  internal/integrations/definitions/onedrive/installation.go
  internal/integrations/definitions/onedrive/mappings.go
  internal/integrations/definitions/onedrive/operation_export.go
  internal/integrations/definitions/onedrive/operation_folder_sync.go
  internal/integrations/definitions/onedrive/operation_health.go
  internal/integrations/definitions/onedrive/parse.go
  internal/integrations/definitions/onedrive/types.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/ingest_document.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:

config + revert riverboat
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  docker/docker-compose-riverboat.yml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

remove other attempts
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/integrations/definitions/azureentraid/client.go
  internal/integrations/definitions/azureentraid/types.go
  internal/integrations/definitions/onedrive/builder.go
  internal/integrations/definitions/onedrive/client.go
  internal/integrations/definitions/onedrive/config.go
  internal/integrations/definitions/onedrive/docconvert.go
  internal/integrations/definitions/onedrive/docparse.go
  internal/integrations/definitions/onedrive/operation_export.go
  internal/integrations/definitions/onedrive/types.go
  internal/integrations/operations/ingest_document.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

cleanup, use interface for google drive
  go.mod
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/googledrive/builder.go
  internal/integrations/definitions/googledrive/operation_export.go
  internal/integrations/definitions/googledrive/operation_folder_sync.go
  internal/integrations/definitions/googledrive/operation_health.go
  internal/integrations/definitions/googledrive/types.go
  internal/integrations/operations/ingest_document.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix : test file
  internal/integrations/definitions/keycloak/mappings_test.go
Due: :yaml: generate config

fix
  internal/integrations/definitions/googledrive/client.go
Due: :yaml: generate config

cleannup
  internal/graphapi/internalpolicyextended_helpers.go
  internal/integrations/definitions/onedrive/client.go
  internal/integrations/definitions/onedrive/installation.go
  internal/integrations/definitions/onedrive/operation_export.go
  internal/integrations/operations/ingest_document.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

revert
  internal/integrations/definitions/okta/builder.go
Due: :yaml: generate config

fix: confirm SSO emails before session creation
  internal/httpserve/handlers/sso.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: release authentik integration (#2471)
  internal/integrations/definitions/authentik/builder.go
Due: :yaml: generate config

feat: add msft well-known application identity endpoint for integrations
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/msftidentity.go
  internal/httpserve/route/msft_application.go
  internal/httpserve/route/router.go
  internal/integrations/definitions/azureentraid/config.go
  internal/integrations/definitions/microsoftteams/config.go
  internal/integrations/definitions/onedrive/config.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

comment
  internal/httpserve/handlers/msftidentity.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

linter
  internal/httpserve/handlers/msftidentity.go
  internal/httpserve/route/msft_application.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix openapi test
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/httpserve/handlers/msftidentity.go
  internal/httpserve/route/router.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

feat: add msft well-known application identity endpoint for integrations (#2488)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/msftidentity.go
  internal/httpserve/route/msft_application.go
  internal/httpserve/route/router.go
  internal/integrations/definitions/azureentraid/config.go
  internal/integrations/definitions/microsoftteams/config.go
  internal/integrations/definitions/onedrive/config.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

remove organization parent on entity, this isn't used anymore, only parent_context
  fga/model/registry/entity.fga
Due: :auth0: fga model test

simplify main
  common/go.mod
  common/go.sum
  internal/ent/interceptors/file.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

remove organization parent on entity, this isn't used anymore, only parent_context (#2491)
  fga/model/registry/entity.fga
Due: :auth0: fga model test

cleanup
  fga/model/helpers.go
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/interceptors/orgmembers.go
  internal/graphapi/seed_test.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

fix: clear mocks to fix handler test failures
  internal/httpserve/handlers/tools_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: clear mocks to fix handler test failures (#2495)
  internal/httpserve/handlers/tools_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: onedrive url needs to be set
  internal/integrations/definitions/onedrive/operation_folder_sync.go
Due: :yaml: generate config

fix: onedrive url needs to be set (#2496)
  internal/integrations/definitions/onedrive/operation_folder_sync.go
Due: :yaml: generate config

deps: github, cf, authentik, pre-commit
  .pre-commit-config.yaml
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/httpserve/handlers/snapshot.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/examples/directorysync/main.go
  internal/integrations/definitions/githubapp/examples/vulnerabilitysync/main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build
