Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

campaign field and configuration
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  db/migrations-goose-postgres/20260125055552_additionalcampaign.sql
  db/migrations-goose-postgres/20260125055558_additionalcampaign_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260125055535_additionalcampaign.sql
  db/migrations/20260125055540_additionalcampaign_history.sql
  db/migrations/atlas.sum
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :postgres: atlas lint

delete harmeless comment blocks
  internal/graphapi/actionplan.resolvers.go
  internal/graphapi/campaign.resolvers.go
  internal/graphapi/campaigntarget.resolvers.go
  internal/graphapi/control.resolvers.go
  internal/graphapi/evidence.resolvers.go
  internal/graphapi/identityholder.resolvers.go
  internal/graphapi/internalpolicy.resolvers.go
  internal/graphapi/platform.resolvers.go
  internal/graphapi/procedure.resolvers.go
  internal/graphapi/subcontrol.resolvers.go
Due: :golang: go generate, :yaml: generate config

feat: allow system admins to create files
  internal/objects/store/persistence.go
Due: :yaml: generate config

feat: allow system admins to create files (#1907)
  internal/objects/store/persistence.go
Due: :yaml: generate config

fix : policy and procedure approval
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

fix : policy and procedure approval (#1908)
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

Task db:create
  db/migrations-goose-postgres/20260126161435_trustcenter_company_description.sql
  db/migrations-goose-postgres/20260126161445_trustcenter_company_description_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260126161410_trustcenter_company_description.sql
  db/migrations/20260126161422_trustcenter_company_description_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: fk constraint error due to setting group membership id instead of user id
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

fix: fk constraint error due to setting group membership id instead of user id (#1910)
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

fix: fk constraint due to setting org membership id instead of user id
  internal/ent/notifications/mentions.go
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :golang: go generate, :yaml: generate config

fix: fk constraint due to setting org membership id instead of user id (#1911)
  internal/ent/notifications/mentions.go
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :golang: go generate, :yaml: generate config

task generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/edge_cleanup.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/actionplan.graphql
  internal/graphapi/schema/campaign.graphql
  internal/graphapi/schema/campaigntarget.graphql
  internal/graphapi/schema/control.graphql
  internal/graphapi/schema/evidence.graphql
  internal/graphapi/schema/identityholder.graphql
  internal/graphapi/schema/internalpolicy.graphql
  internal/graphapi/schema/platform.graphql
  internal/graphapi/schema/procedure.graphql
  internal/graphapi/schema/subcontrol.graphql
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

require nda template exists before a request can be made
  internal/ent/hooks/errors.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

fix: correct url, centralize, add log for mention failure user id
  internal/ent/notifications/consts.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

fetch only one field
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config

update for proc
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
Due: :golang: go generate, :yaml: generate config

require nda template exists before nda requests can be processed (#1912)
  internal/ent/hooks/errors.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/models_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

whoops
  internal/ent/notifications/events.go
Due: :golang: go generate, :yaml: generate config

fix: correct url, centralize, add log for mention failure user id (#1913)
  internal/ent/notifications/consts.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

replace nda files not append
  internal/ent/hooks/template.go
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config

filter by nda in update resolver, do not rely on client sending the correct trustcenter id
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config

maybe a bit of defensiveness not bad
  internal/ent/hooks/template.go
Due: :golang: go generate, :yaml: generate config

fix link missing /, add test
  internal/ent/notifications/consts.go
  internal/ent/notifications/consts_test.go
Due: :golang: go generate, :yaml: generate config

add tests
  internal/graphapi/trustcenternda_test.go
Due: :golang: go generate, :yaml: generate config

update
  internal/ent/notifications/consts_test.go
Due: :golang: go generate, :yaml: generate config

better
  internal/ent/notifications/consts.go
  internal/ent/notifications/consts_test.go
Due: :golang: go generate, :yaml: generate config

NDA replace should not be appending multiple files (#1914)
  internal/ent/hooks/template.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config

fix link missing /, add test (#1915)
  internal/ent/notifications/consts.go
  internal/ent/notifications/consts_test.go
Due: :golang: go generate, :yaml: generate config

fix: mention fix for notes (Comments) + add email to register logs
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  internal/httpserve/handlers/register.go
Due: :golang: go generate, :yaml: generate config

fix: mention fix for notes (Comments) + add email to register logs
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

fix: mention fix for notes (Comments) + add email to register logs (#1918)
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  internal/httpserve/handlers/register.go
Due: :golang: go generate, :yaml: generate config

allow image/webp images
  internal/objects/validators/mime.go
Due: :yaml: generate config

allow image/webp images (#1919)
  internal/objects/validators/mime.go
Due: :yaml: generate config

add resend webhook handler, tests, config
  cmd/serve.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/campaigns.yaml
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/resend_webhook.go
  internal/httpserve/handlers/resend_webhook_test.go
  internal/httpserve/route/resend_webhook.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :auth0: fga model test, :golang: build

fix tests
  internal/httpserve/handlers/resend_webhook.go
  internal/httpserve/handlers/resend_webhook_test.go
Due: :yaml: generate config
