Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix tests
  internal/graphapi/control_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/entity_test.go
  internal/graphapi/file_test.go
  internal/graphapi/group_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programextended_test.go
  internal/graphapi/review_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/standard_test.go
  internal/graphapi/subprocessor_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcenterentity_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/graphapi/trustcentersubprocessor_test.go
  internal/graphapi/user_test.go
  internal/graphapi/vendorscoring_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix test type
  internal/objects/upload/handler_test.go
Due: :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/query/history/notificationtemplatehistory.graphql
  internal/graphapi/query/history/vendorscoringconfighistory.graphql
  internal/graphapi/query/integration.graphql
  internal/graphapi/query/platform.graphql
  internal/graphapi/query/remediation.graphql
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

add edge deletion for org
  internal/graphapi/organization.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: asset source is enum, add more for logs on webhook
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: asset source is enum, add more for logs on webhook (#2284)
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/definitions/githubapp/mappings.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: add error and info logging to help debug directory sync issues
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

Save
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

bump otel/sdk for CVE
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: add error and info logging to help debug directory sync issues (#2285)
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

use custom enum skip
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/entity/entity.go
  internal/ent/generated/entity_create.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/entityhistory/entityhistory.go
  internal/ent/historygenerated/entityhistory_create.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/hooks/contextx/context.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/schema/entity.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/organization.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

enable entitlement for cascade deletion test
  .task/checksum/generate-openapi-smart
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

implement hook + tests
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/evidence.go
  internal/ent/schema/evidence.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add organization deletion jobspec
  common/jobspec/organization.go
Due: :terminal: build cli

Update organization.go
  common/jobspec/organization.go
Due: :terminal: build cli

add organization deletion jobspec (#2288)
  common/jobspec/organization.go
Due: :terminal: build cli

fix cvss mapping, githubapp directory sync, review + refactor google workspace userInput and installation metadata setup, minor schema changes
  internal/ent/schema/identity_holder.go
  internal/ent/schema/vulnerability.go
  internal/integrations/definitions/githubapp/examples/directorysync/main.go
  internal/integrations/definitions/githubapp/examples/vulnerabilitysync/main.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  internal/integrations/definitions/githubapp/operation_vulnerability_collect.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/googleworkspace/client.go
  internal/integrations/definitions/googleworkspace/errors.go
  internal/integrations/definitions/googleworkspace/installation.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/definitions/googleworkspace/mappings_test.go
  internal/integrations/definitions/googleworkspace/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/types.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

dont do the v3 fallback
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/operation_vulnerability_collect.go
Due: :yaml: generate config

add integration methods
  cli/cmd/integration/configure.go
  cli/cmd/integration/disconnect.go
  cli/cmd/integration/providers.go
  cli/cmd/integration/root.go
  cli/cmd/integration/run_operation.go
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add integration methods (#2291)
  cli/cmd/integration/configure.go
  cli/cmd/integration/disconnect.go
  cli/cmd/integration/providers.go
  cli/cmd/integration/root.go
  cli/cmd/integration/run_operation.go
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

try to use external id, add logging
  internal/integrations/definitions/googleworkspace/installation.go
Due: :yaml: generate config

db:create
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  db/migrations-goose-postgres/20260411061312_risk_status.sql
  db/migrations-goose-postgres/20260411061315_risk_status_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260411061304_risk_status.sql
  db/migrations/20260411061307_risk_status_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/risks_test.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/history/identityholderhistory.graphql
  internal/graphapi/query/identityholder.graphql
  internal/graphapi/query/remediation.graphql
  internal/graphapi/query/review.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

try to use external id, add logging (#2292)
  internal/integrations/definitions/googleworkspace/installation.go
Due: :yaml: generate config

cleanup
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/hooks/risks.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/risk.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: permissions not yet on file to update category
  internal/ent/hooks/platform.go
Due: :golang: go generate, :yaml: generate config

1.25.9 for CVE
  cli/go.mod
  cli/go.sum
  common/go.mod
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: permissions not yet on file to update category (#2296)
  cli/go.mod
  cli/go.sum
  common/go.mod
  go.mod
  go.work
  internal/ent/hooks/platform.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

handle renewal date
  internal/ent/hooks/evidence.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
