Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix handler tests
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/webfinger.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/auth/auth.go
  pkg/ssoutils/enforcement.go
  pkg/ssoutils/enforcement_test.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

fix autojoin, duration, add revocation
  common/openapi/models.go
  db/migrations-goose-postgres/20260618163350_ssoexcemptions.sql
  db/migrations-goose-postgres/20260618163353_ssoexcemptions_history.sql
  db/migrations/20260618163342_ssoexcemptions.sql
  db/migrations/20260618163346_ssoexcemptions_history.sql
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/orgsetting_sso.go
  internal/ent/hooks/usersettings.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_exemption_test.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/webfinger.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth_sso_test.go
  pkg/middleware/auth/token_sso_test.go
  pkg/ssoutils/enforcement.go
  pkg/ssoutils/enforcement_test.go
  pkg/ssoutils/load.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

fmt
  internal/httpserve/handlers/support.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

linter
  internal/ent/hooks/orgmembership_sso.go
  internal/ent/schema/orgmembership.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add jit provisioning field
  internal/ent/hooks/errors.go
  internal/ent/hooks/orgsetting_sso.go
  internal/ent/hooks/usersettings.go
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/scopes_test.go
  internal/ent/schema/organizationsetting.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove unused scopes, add cap support, regenerate migrations
  common/openapi/models.go
  db/migrations-goose-postgres/20260623191751_ssoexclusions.sql
  db/migrations-goose-postgres/20260623191754_ssoexclusions_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260623191743_ssoexclusions.sql
  db/migrations/20260623191746_ssoexclusions_history.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/privacy/rule/scopes.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix impersonation; add jit provisioning and tests
  internal/ent/hooks/orgsetting_sso.go
  internal/ent/hooks/task.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/user.go
  internal/graphapi/resolver.go
  internal/graphapi/supportuserextension.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_sso_test.go
  internal/httpserve/handlers/scim_handlers_test.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_exemption_test.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  internal/httpserve/handlers/switch_test.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  pkg/middleware/impersonation/impersonation.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

db migrations
  db/migrations-goose-postgres/20260626162851_ssoexclusions.sql
  db/migrations-goose-postgres/20260626162855_ssoexclusions_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260626162843_ssoexclusions.sql
  db/migrations/20260626162846_ssoexclusions_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

backfill config
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

bug: typo should be internal_policy not policy
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

compute md5 sum of uploaded file and improve validations
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/graphapi/documentdata_test.go
  internal/graphapi/models_test.go
  internal/graphapi/tools_files_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/objects/store/persistence.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bug: typo should be internal_policy not policy (#2552)
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

fix lint
  internal/objects/upload/handler.go
Due: :yaml: generate config

fix tests
  internal/ent/hooks/nda_attestation_test.go
Due: :golang: go generate, :yaml: generate config

auditor should be able to view org files/avatar
  fga/model/base/file.fga
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  fga/tests/tests.yaml
  fga/tests/tuples/files.yaml
Due: :auth0: fga model test

fix text error
  internal/graphapi/trustcenternda_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: backfill bug due to bulk update, sso exempt on org transfer
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/auth_from_mutation.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/orgmembers.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/orgextended.resolvers.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgtransfer_test.go
  internal/graphapi/query/control.graphql
  internal/graphapi/query/narrative.graphql
  internal/graphapi/query/subscriber.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix review
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  fga/tests/tests.yaml
  fga/tests/tuples/files.yaml
Due: :auth0: fga model test

auditor should be able to view org files/avatar (#2554)
  fga/model/base/file.fga
  fga/tests/tests.yaml
  fga/tests/tuples/files.yaml
Due: :auth0: fga model test

migrate deletion and payment reminder jobs
  cmd/serve.go
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/operations/organization_delete.go
  internal/integrations/runtime/organization_delete.go
  internal/integrations/runtime/payment_reminder.go
  internal/integrations/runtime/payment_reminder_test.go
  internal/integrations/runtime/runtime.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: build

config generation
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

add logout handler, pat / api token revocation checks, pull in new iam library updates
  common/openapi/models.go
  go.mod
  go.sum
  internal/httpserve/handlers/cookies.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/logout.go
  internal/httpserve/handlers/logout_test.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_token.go
  internal/httpserve/handlers/support.go
  internal/httpserve/route/logout.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/authoptions.go
  pkg/middleware/auth/errors.go
  pkg/middleware/auth/token_revocation_test.go
  pkg/middleware/auth/token_sso_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix bad github membership role definition
  internal/ent/hooks/documents.go
  internal/ent/hooks/group.go
  internal/entitlements/reconciler/reconciler.go
  internal/graphapi/control_clone.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/trustcenterhelpers.go
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  pkg/gala/injector_codec.go
  pkg/gala/injector_codec_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix : ssl required NONE
  docker/configs/keycloak/.env-example
  docker/docker-compose-keycloak.yml
  docker/pg-init-scripts/init_authentik.sql
Due: none

fix : keycloak compose file
  docker/docker-compose-keycloak.yml
Due: none

fix: bad upgrade for github, prep to allow different console path
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/serveropts/option.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/errors.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

fix test
  internal/httpserve/handlers/tools_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix for tests
  internal/integrations/definitions/githubapp/auth.go
Due: :yaml: generate config

fix: bad upgrade for github, prep to allow different console path (#2556)
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/errors.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

make sure openlane controls show up as org controls not framework
  internal/controls/clone.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use public middleare for logout route
  internal/httpserve/route/logout.go
Due: :yaml: generate config

set audit fields to the id of the integration
  internal/integrations/operations/ingest.go
  internal/integrations/runtime/execution.go
Due: :yaml: generate config

use &auth.Caller, don't be lazy :)
  internal/integrations/operations/ingest.go
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
