Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

uhhhh
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

whtttt
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

please
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

bump for real
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: add missing fk indexes for owner_id, edges
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260807044755_indexes.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260807044745_indexes.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/join_table_indexes.tmpl
  internal/ent/generated/join_table_indexes.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/defaults.go
  internal/ent/schema/mixin_edgeindex.go
  internal/ent/schema/mixin_edgeindex_test.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/mixin_userowned.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

feat: add missing fk indexes for owner_id, edges (#2669)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260807044755_indexes.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260807044745_indexes.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/join_table_indexes.tmpl
  internal/ent/generated/join_table_indexes.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/defaults.go
  internal/ent/schema/mixin_edgeindex.go
  internal/ent/schema/mixin_edgeindex_test.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/mixin_userowned.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260807161601_track_campaign_email_opens.sql
  db/migrations-goose-postgres/20260807161610_track_campaign_email_opens_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260807161537_track_campaign_email_opens.sql
  db/migrations/20260807161548_track_campaign_email_opens_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

support click and open events
  internal/integrations/definitions/email/webhook.go
Due: :yaml: generate config

fix feature tuple deletion
  internal/ent/hooks/orgmodule.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

shouldnt' need privacy allow either
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/organization.go
Due: :golang: go generate, :yaml: generate config

cleanup
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/graphapi/organization_cascade_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

I dont think this is needed, need to add more tests to ensure
  internal/ent/hooks/listeners_organization_cleanup.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/organization_cascade_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: ensure all objects, files, and history are hard deleted on org cascade delete
  internal/ent/generate/entc.go
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_cleanup.go
  internal/ent/generated/history_from_mutation.go
  internal/ent/hooks/contextx/purgehistory.go
  internal/ent/hooks/file.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/graphapi/organization_cascade_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

openfga updates, cleanup, tuple cascade
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
  go.mod
  go.sum
  internal/ent/hooks/contextx/tuplecleanup.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/tuples.go
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

at least use contextx
  internal/ent/hooks/contextx/context.go
  internal/ent/hooks/contextx/purgehistory.go
  internal/ent/hooks/contextx/tuplecleanup.go
  internal/ent/hooks/customenums.go
Due: :golang: go generate, :yaml: generate config

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_cleanup.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix
  internal/integrations/definitions/email/webhook.go
Due: :yaml: generate config

rename file
  internal/ent/hooks/contextx/enuminuse.go
Due: :golang: go generate, :yaml: generate config

feat: ensure all objects, files, and history are hard deleted on org deletion (#2668)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_cleanup.go
  internal/ent/generated/history_from_mutation.go
  internal/ent/hooks/contextx/context.go
  internal/ent/hooks/contextx/enuminuse.go
  internal/ent/hooks/contextx/purgehistory.go
  internal/ent/hooks/contextx/tuplecleanup.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/file.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/orgmodule.go
  internal/ent/hooks/tuples.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/organization_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

enrich standard update notification
  common/models/semver.go
  common/models/semver_test.go
  internal/ent/notifications/standard_update.go
  internal/ent/notifications/standard_update_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

skip fga check for support user when cloning into a program
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

skip fga check for support user when cloning into a program (#2677)
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Handle extra events for campaign targets (#2674)
  internal/integrations/definitions/email/webhook.go
Due: :yaml: generate config

remove, we dont actually use this field
  internal/ent/hooks/orgmodule.go
Due: :golang: go generate, :yaml: generate config

fix not found error on new sub
  internal/httpserve/handlers/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix reviews
  common/models/semver.go
  common/models/semver_test.go
  internal/ent/notifications/standard_update.go
  internal/ent/notifications/standard_update_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

add custom resolver implementation for leaving any org a user is a member of irrespective of the org of their current ctx
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  internal/ent/hooks/orgmembers.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/orgmembership.resolvers.go
  internal/graphapi/orgmembership_leave.go
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/schema/orgmembership.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

deps: update dev deps for postgres 18
  Taskfile.yaml
  db/atlas.hcl
  internal/entdb/client.go
  pkg/gala/test_helpers_test.go
Due: :yaml: generate config, :postgres: atlas lint

fix: integration creating dupes on startup; config update for stripe
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/integrations/runtime/execution.go
  internal/integrations/types/river.go
  pkg/entitlements/config.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

skip atlas lint on rennovate prs
  .buildkite/pipeline.yaml
Due: none

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
