Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

cleanup, subscriber verify replay guard
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/subscriber.go
  internal/graphapi/testclient/restclient.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/unsubscribe.go
  internal/httpserve/handlers/unsubscribe_test.go
  internal/httpserve/handlers/verify_test.go
  internal/httpserve/handlers/verifyemail.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/verifysubscribe_test.go
  internal/httpserve/route/subscribe.go
  internal/integrations/definitions/email/system_emails.go
  internal/trustcenterurl/trustcenterurl.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

hygiene and cleanup, basic url check for public image accessibility
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/themes/templates/base.tpl.html
  internal/integrations/definitions/email/types.go
  internal/integrations/runtime/trustcenter_notification.go
Due: :yaml: generate config

extract shared helpers, pass in token values for rotation, fix dead end loop for failed message sends
  common/openapi/models.go
  internal/ent/hooks/subscriber.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/handlers/verifysubscribe_test.go
  internal/integrations/definitions/email/op_subprocessor_notification.go
  internal/integrations/runtime/trustcenter_notification.go
  internal/trustcenterurl/trustcenterurl.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

email fixture updates
  internal/integrations/definitions/email/testing.go
Due: :yaml: generate config

email cleanup
  internal/integrations/definitions/email/op_subprocessor_notification.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/runtime/trustcenter_notification.go
Due: :yaml: generate config

reset migrations
  db/migrations-goose-postgres/20260709060049_trustcentersubscriberupdates.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260709060041_trustcentersubscriberupdates.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

feat: add redis to share notifications across processes
  docker/configs/riverboat/.config.dev.yaml
  internal/graphapi/resolver.go
  internal/graphapi/subscription_helpers.go
  internal/graphapi/tools_test.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/notification.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  pkg/logx/consolelog/consolelog.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix migrations
  db/migrations-goose-postgres/20260701201512_allowsubscribers.sql
  db/migrations-goose-postgres/20260709060049_trustcentersubscriberupdates.sql
  db/migrations-goose-postgres/20260709061742_tssubscriberupdates.sql
  db/migrations-goose-postgres/20260709061745_tssubscriberupdates_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260701201503_allowsubscribers.sql
  db/migrations/20260709060041_trustcentersubscriberupdates.sql
  db/migrations/20260709061733_tssubscriberupdates.sql
  db/migrations/20260709061737_tssubscriberupdates_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix bad github membership role definition
  internal/ent/hooks/documents.go
  internal/ent/hooks/group.go
  internal/entitlements/reconciler/reconciler.go
  internal/graphapi/control_clone.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/trustcenterhelpers.go
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  pkg/gala/injector_codec.go
  pkg/gala/injector_codec_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat: add redis to share notifications across processes (#2571)
  docker/configs/riverboat/.config.dev.yaml
  internal/graphapi/resolver.go
  internal/graphapi/subscription_helpers.go
  internal/graphapi/tools_test.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/notification.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  pkg/logx/consolelog/consolelog.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

PR feedback, minor cognitive complexity reduction and constant addition addressing sonar findings
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/interceptors/trustcenter.go
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/sso_exemption_test.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/support_test.go
  internal/httpserve/handlers/switch_test.go
  internal/httpserve/handlers/unsubscribe_test.go
  internal/httpserve/handlers/verifysubscribe_test.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

mark as private until ready
  pkg/catalog/catalog.yaml
  pkg/catalog/gencatalog/gencatalog.go
Due: :yaml: generate config

mark as private until ready (#2576)
  pkg/catalog/catalog.yaml
  pkg/catalog/gencatalog/gencatalog.go
Due: :yaml: generate config

fix: deletion_days var, dryrun by default
  config/helm-values.yaml
  internal/integrations/operations/payment_reminder.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

do it correctly
  internal/integrations/operations/payment_reminder.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config

fix deletion days var, set dryrun as default (#2577)
  config/helm-values.yaml
  internal/integrations/operations/payment_reminder.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

fix trust center upsert path, name and key collisions, backdating nonsense, CORS bs
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/emailtemplateextended.resolvers.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/subscribe.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/op_trustcenter_update_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/trustcenter_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign_test.go
  internal/integrations/runtime/trustcenter_notification.go
  pkg/middleware/cors/cors.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

lets sanity check CORS because good god
  pkg/middleware/cors/cors_test.go
Due: :yaml: generate config

Update internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/builder.go
Due: :yaml: generate config

fixed TLS handshake error.
  docker/configs/zitadel/.env-example
  docker/pg-init-scripts/init_zitadel.sql
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/types.go
Due: :yaml: generate config

tests
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/emailtemplatecatalog.go
  internal/graphapi/emailtemplateextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix github and google user and group creation + mappings, identity resolution, update so failure doesn't tank entire sync operation
  common/enums/directory.go
  common/enums/status_test.go
  internal/ent/hooks/listeners_identityresolution.go
  internal/graphapi/identity_resolution_test.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/mappings_directory_test.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/definitions/googleworkspace/mappings_test.go
  internal/integrations/operations/errors.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/operations/ingest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

another test fix
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Fix: trust center email template seed, key collisions, CORS issues (#2578)
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/emailtemplatecatalog.go
  internal/graphapi/emailtemplateextended.resolvers.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/subscribe.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/op_trustcenter_update_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/trustcenter_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign_test.go
  internal/integrations/runtime/trustcenter_notification.go
  pkg/middleware/cors/cors.go
  pkg/middleware/cors/cors_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

auditor should be able to create findings linked to other controls
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/finding.go
  internal/graphapi/finding_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix merge conflcits
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/vulnerability.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

Auditor should be able to create findings linked to certain objects (#2580)
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/finding.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/finding_test.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/trustcentersetting.graphql
  internal/graphapi/query/vulnerability.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

send slack notification on org deletion reminder run
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/definitions/slack/system_messages_test.go
  internal/integrations/runtime/organization_delete.go
Due: :yaml: generate config

fix test
  internal/integrations/definitions/slack/system_messages_test.go
Due: :yaml: generate config

copy/paste to reminder gala worker
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/definitions/slack/system_messages_test.go
  internal/integrations/runtime/organization_delete.go
  internal/integrations/runtime/payment_reminder.go
Due: :yaml: generate config

send to slack too during dry runs
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/definitions/slack/system_messages_test.go
  internal/integrations/runtime/payment_reminder.go
Due: :yaml: generate config

Send slack notification on org reminder deletion worker (#2583)
  internal/integrations/definitions/slack/system_messages.go
  internal/integrations/definitions/slack/system_messages_test.go
  internal/integrations/runtime/organization_delete.go
  internal/integrations/runtime/payment_reminder.go
Due: :yaml: generate config

clean up reason data
  common/openapi/models.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/support_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

clean up reason data (#2585)
  common/openapi/models.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/support_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

fix trust center subprocessor message, remove upsert email template logic, use runtime email definition, move things out of integrations runtime that shouldn't be in runtime
  internal/ent/hooks/objectownedtuples.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenter.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/emailtemplateextended.resolvers.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/op_subprocessor_notification.go
  internal/integrations/definitions/email/op_subprocessor_notification_test.go
  internal/integrations/definitions/email/op_trustcenter_update.go
  internal/integrations/definitions/email/op_trustcenter_update_test.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/themes/templates/base.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.tpl.txt
  internal/integrations/definitions/email/trustcenter_branding.go
  internal/integrations/definitions/email/trustcenter_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign_test.go
  internal/integrations/definitions/email/types.go
  internal/integrations/runtime/trustcenter_notification.go
  internal/integrations/runtime/trustcenter_notification_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:
