Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

using go-client instead of http-client and added more identity as well
  authentik-test/compose.yml
  go.mod
  go.sum
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/authentik/errors.go
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_health.go
  internal/integrations/definitions/authentik/types.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

added uid instead of pk for directory ac and members
  go.mod
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Both extractHost and extractScheme now use url.Parse and propagate errors, and Build handles them
  internal/integrations/definitions/authentik/client.go
Due: :yaml: generate config

listDirectoryUsers now accept lastRunAt ,SkipDefaultLookback: true added to the directory sync
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
Due: :yaml: generate config

fix: assessment updates, flakey review test
  internal/ent/hooks/assessment.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/review.go
  internal/graphapi/assessment_test.go
  internal/graphapi/assessmentresponse_test.go
  internal/graphapi/review_test.go
  internal/httpserve/handlers/questionnaire.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

fix: assessment updates, flakey review test (#2387)
  internal/ent/hooks/assessment.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/review.go
  internal/graphapi/assessment_test.go
  internal/graphapi/assessmentresponse_test.go
  internal/graphapi/review_test.go
  internal/httpserve/handlers/questionnaire.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

added user,group,members test json files as mappingtest suggests and user input order changed
  authentik-test/compose.yml
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/integrations/definitions/authentik/examples/group.json
  internal/integrations/definitions/authentik/examples/member.json
  internal/integrations/definitions/authentik/examples/user.json
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/authentik/types.go
Due: :yaml: generate config, :terminal: build cli

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Update README.md
  README.md
Due: none

Update roadmap in readme (#2351)
  README.md
Due: none

Update internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings.go
Due: :yaml: generate config

bump to 1.26.3 to fix vuln
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

use integration framework
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  go.mod
  go.work
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/integrations/operations/ingest_entity_persist.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: stripe reconcile entdb fix, logs for trust center create
  cmd/catalog/reconcile/main.go
  internal/graphapi/trustcenter.resolvers.go
  internal/httpserve/handlers/webhook_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

fixed linting
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_health.go
Due: :yaml: generate config

fix: stripe reconcile entdb fix, logs for trust center create (#2392)
  cmd/catalog/reconcile/main.go
  internal/graphapi/trustcenter.resolvers.go
  internal/httpserve/handlers/webhook_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

use entconfig
  cmd/serve.go
  db/migrations-goose-postgres/20260507150654_system_admin_assessments.sql
  db/migrations-goose-postgres/20260507150704_system_admin_assessments_history.sql
  db/migrations-goose-postgres/20260512141931_display_name_assessment_response.sql
  db/migrations-goose-postgres/20260512141941_display_name_assessment_response_history.sql
  db/migrations/20260507150629_system_admin_assessments.sql
  db/migrations/20260507150641_system_admin_assessments_history.sql
  db/migrations/20260512141907_display_name_assessment_response.sql
  db/migrations/20260512141919_display_name_assessment_response_history.sql
  internal/ent/entconfig/config.go
  internal/ent/generate/entc.go
  internal/ent/interceptors/assessment.go
Due: :golang: go generate, :yaml: generate config, :golang: build, :postgres: atlas lint

task db:create
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  db/migrations-goose-postgres/20260512163305_system_admin_assessments_and_display_name_response.sql
  db/migrations-goose-postgres/20260512163313_system_admin_assessments_and_display_name_response_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260512163243_system_admin_assessments_and_display_name_response.sql
  db/migrations/20260512163253_system_admin_assessments_and_display_name_response_history.sql
  db/migrations/atlas.sum
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :postgres: atlas lint

Task db:create
  db/migrations-goose-postgres/20260512163313_system_admin_assessments_and_display_name_response_history.sql
  db/migrations-goose-postgres/20260512202853_system_admin_assessments_and_display_name_response.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260512202828_system_admin_assessments_and_display_name_response.sql
  db/migrations/20260512202837_system_admin_assessments_and_display_name_response_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

Task db:create
  db/migrations-goose-postgres/20260512202903_system_admin_assessments_and_display_name_response_history.sql
  db/migrations-goose-postgres/20260512203454_system_admin_assessments_and_display_name_response.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260512203432_system_admin_assessments_and_display_name_response.sql
  db/migrations/20260512203442_system_admin_assessments_and_display_name_response_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

add status directly in template from harmonize
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config

anon questionnaires should not suport draft mode as we cannot tie it back to a specific user
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix test
  internal/ent/hooks/listeners_gala_registration_test.go
Due: :golang: go generate, :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenternda_test.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/runtime/webhooks.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add the NDA attestation email setup
  cmd/serve.go
  go.mod
  go.sum
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/nda_attestation_test.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/system_emails_test.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/executor_test.go
  internal/integrations/operations/payment_reminder.go
  internal/integrations/runtime/payment_reminder.go
  internal/integrations/runtime/payment_reminder_test.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/webhooks.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix campaign scheduling, collapse unneeded functions
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/integrations/definitions/awssecurityhub/aws.go
  internal/integrations/definitions/awssecurityhub/types.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/webhooks.go
Due: :golang: go generate, :yaml: generate config

port over to use pdfcpu all the way, remove the other deprecated library
  go.mod
  go.sum
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/tools_test.go
  internal/integrations/definitions/email/testing.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix tests
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/integrations/definitions/email/url.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove integration runtime message ref for slack
  internal/integrations/definitions/slack/system_messages.go
Due: :yaml: generate config

fmt
  internal/ent/hooks/nda_attestation_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

policy file processing and preview
  go.mod
  go.sum
  internal/objects/validators/mime.go
  internal/objects/validators/mime_test.go
  pkg/objects/storage/errors.go
  pkg/objects/storage/utils.go
  pkg/objects/storage/utils_test.go
  pkg/objects/testdata/sample.pdf
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

only log error when errnotsignular
  internal/httpserve/handlers/webhook_helpers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:
