Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

bump gp
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat : added oAuth client
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/doc.go
  internal/integrations/definitions/zitadel/errors.go
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :yaml: generate config

drop unique index on campaign name
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260713215432_drop_campaign_name_uniqueness.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260713215408_drop_campaign_name_uniqueness.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

drop unique index on campaign name (#2594)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260713215432_drop_campaign_name_uniqueness.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260713215408_drop_campaign_name_uniqueness.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

bug: sla definition should not be able to be looked up when creating risks
  internal/ent/hooks/risks.go
  internal/graphapi/risk_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bug: sla definition should not be able to be looked up when creating risks (#2596)
  internal/ent/hooks/risks.go
  internal/graphapi/risk_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

update tests
  internal/graphapi/review_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add annotation and update tests with reviewer
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/review.go
  internal/graphapi/review_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

build cli for all tagged releases
  .github/workflows/releaser.yml
Due: none

build cli for all tagged releases (#2598)
  .github/workflows/releaser.yml
Due: none

implement check for users on `EdgeXXX`, users check now make sure the assignee/user is a member of the org
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/groupmembers.go
  internal/ent/hooks/task.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/notification.go
  internal/ent/schema/notificationpreference.go
  internal/ent/schema/programmembership.go
  internal/ent/schema/review.go
  internal/ent/schema/task.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/notificationpreference_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix typo
  internal/ent/privacy/rule/orgowner.go
Due: :golang: go generate, :yaml: generate config

dont build binary twice on tagged versions
  .buildkite/pipeline.yaml
Due: none

dont build binary twice on tagged versions (#2599)
  .buildkite/pipeline.yaml
Due: none

fix test. use member of org inside test
  internal/graphapi/group_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: trust center access for support user
  internal/ent/privacy/rule/trustcenter.go
  internal/graphapi/models_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcentersetting_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add const for SupportSubjectID
  internal/ent/privacy/rule/scopes_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/support_test.go
  pkg/anon/anon.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

config:gen
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

fix: support tc access (#2600)
  config/helm-values.yaml
  internal/ent/privacy/rule/scopes_test.go
  internal/ent/privacy/rule/trustcenter.go
  internal/graphapi/models_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/tools_trustcenter_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/support_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/anon/anon.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

remove local override and updated entityops output
  go.mod
  go.sum
  internal/ent/entityops/entity_errors.go
  internal/ent/entityops/entity_integration.go
  internal/ent/entityops/entity_links.go
  internal/ent/entityops/entity_projection.go
  internal/ent/entityops/entity_registry.go
  internal/ent/entityops/entity_schema.go
  internal/ent/entityops/entity_upsert.go
  internal/ent/entityops/entity_workflow.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

migrations
  db/migrations-goose-postgres/20260710160554_fliptodiscoveredvulnid.sql
  db/migrations-goose-postgres/20260710160558_fliptodiscoveredvulnid_history.sql
  db/migrations/20260710160545_fliptodiscoveredvulnid.sql
  db/migrations/20260710160549_fliptodiscoveredvulnid_history.sql
Due: :postgres: atlas lint

stage celx
  go.mod
  internal/ent/generate/entc.go
  pkg/celx/config.go
  pkg/celx/errors.go
  pkg/celx/evaluator.go
  pkg/celx/native.go
  pkg/celx/native_test.go
  pkg/gala/dispatcher.go
  pkg/gala/operationcontext.go
  pkg/gala/types.go
  pkg/jsonx/jsonx.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

comment
  internal/ent/generate/templates/entgql/gql_mutation_input.tmpl
Due: :golang: go generate, :yaml: generate config

fix build
  internal/ent/generated/gql_mutation_input.go
Due: :golang: go generate, :yaml: generate config

manually patch migrations to rename instead of drop
  db/migrations-goose-postgres/20260713225828_discoveredvulnids.sql
  db/migrations-goose-postgres/20260713225832_discoveredvulnids_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260713225819_discoveredvulnids.sql
  db/migrations/20260713225823_discoveredvulnids_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix old integrationgenerated refs to camelcase and use new entityOps snakecase
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/awssecurityhub/mappings_test.go
  internal/integrations/definitions/azureentraid/mappings.go
  internal/integrations/definitions/azuresecuritycenter/mappings.go
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/cloudflare/mappings_test.go
  internal/integrations/definitions/gcpscc/mappings.go
  internal/integrations/definitions/gcpscc/mappings_test.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/mappings_directory_test.go
  internal/integrations/definitions/googledrive/mappings.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/definitions/googleworkspace/mappings_test.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/okta/mappings.go
  internal/integrations/definitions/onedrive/mappings.go
  internal/integrations/definitions/onedrive/mappings_test.go
  internal/integrations/definitions/scim/mappings.go
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/slack/mappings_test.go
  internal/integrations/definitions/tailscale/mappings.go
Due: :yaml: generate config

config output
  jsonschema/workflow-docs.md
  jsonschema/workflow.definition.json
Due: none

fix resolver
  internal/graphapi/ent.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

resolve conflicts and migrations
  db/migrations-goose-postgres/20260713225828_discoveredvulnids.sql
  db/migrations-goose-postgres/20260713225832_discoveredvulnids_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260713225819_discoveredvulnids.sql
  db/migrations/20260713225823_discoveredvulnids_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

test fixes
  internal/graphapi/common/helpers.go
  internal/graphapi/discussionhelpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
