Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/identityholder/identityholder.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/identityholder.go
  internal/ent/schema/identity_holder.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

set/unset identity holder on mutation and user removal from org
  internal/ent/hooks/identityholder.go
  internal/ent/hooks/orgmembers.go
  internal/graphapi/identity_holder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

when a new user is added to an org and they have a corresponding identity holder, set is_openlane_user to true
  internal/ent/hooks/identityholder.go
  internal/ent/hooks/orgmembers.go
  internal/graphapi/identity_holder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix typo
  internal/ent/hooks/orgmembers.go
Due: :golang: go generate, :yaml: generate config

config generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

feat: add support to create nda requests as signed
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_mutation_input.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/eventstest/listeners_nda_attestation_test.go
  internal/graphapi/eventstest/trustcenternda_events_test.go
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/testharness/trustcenter.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/handlers/csv/sample_trustcenterndarequest.csv
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix test
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

update mock provider
  go.mod
  go.sum
  pkg/objects/mocks/mocks_provider.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: encrypted nda pdf + validation for password protection on upload
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/nda_attestation_test.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/objects/resolver/factory.go
  internal/objects/validators/errors.go
  internal/objects/validators/mime.go
  internal/objects/validators/nda.go
  internal/objects/validators/nda_test.go
  internal/testutils/pdftest/pdftest.go
  pkg/objects/storage/service.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

if support context, skip
  internal/graphapi/authz_bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat: add support to create nda requests as signed (#2825)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_mutation_input.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/nda_attestation.go
  internal/ent/hooks/nda_attestation_test.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/eventstest/listeners_nda_attestation_test.go
  internal/graphapi/eventstest/trustcenternda_events_test.go
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/testharness/trustcenter.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/httpserve/handlers/csv/sample_trustcenterndarequest.csv
  internal/objects/resolver/factory.go
  internal/objects/validators/errors.go
  internal/objects/validators/mime.go
  internal/objects/validators/nda.go
  internal/objects/validators/nda_test.go
  internal/testutils/pdftest/pdftest.go
  pkg/objects/storage/service.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add test
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Support user should be able to bulk update (#2826)
  internal/graphapi/authz_bulk.go
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove resp backfill op
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/backfill_responsibility.go
Due: :yaml: generate config

pull in new iam rev, jwk v4 (#2820)
  cli/go.mod
  cli/go.sum
  cmd/serve.go
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/option.go
  pkg/middleware/auth/authoptions.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove resp backfill op (#2827)
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/backfill_responsibility.go
Due: :yaml: generate config

Revert "bug: aborted transaction allowed to continue (#2816)"
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/risks.go
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
  internal/ent/hooks/tags_hook_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: sla definition failure on onboarding
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
Due: :golang: go generate, :yaml: generate config

update directly
  internal/ent/hooks/orgmembers.go
Due: :golang: go generate, :yaml: generate config

fix
  internal/ent/hooks/onboarding_test.go
  internal/graphapi/onboarding_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Revert "bug: aborted transaction allowed to continue (#2816)" (#2830)
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/risks.go
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
  internal/ent/hooks/tags_hook_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

move graphapi tests to gcp runners
  .buildkite/pipeline.yaml
Due: none

move graphapi tests to gcp runners (#2832)
  .buildkite/pipeline.yaml
Due: none

Revert "Revert "bug: aborted transaction allowed to continue (#2816)" (#2830)"
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/risks.go
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
  internal/ent/hooks/tags_hook_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use high consistency for onboarding module lookup, add fallback for high in module lookup
  internal/ent/hooks/organization.go
  internal/ent/privacy/rule/modules.go
  internal/graphapi/onboarding_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

ability to turn on cache with env var
  internal/testutils/fga.go
Due: :yaml: generate config

fix: sla definition failure on onboarding (#2831)
  internal/ent/hooks/onboarding_test.go
  internal/ent/privacy/rule/modules.go
  internal/graphapi/onboarding_test.go
  internal/testutils/fga.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

bug: aborted transaction allowed to continue with fix for fga cache (#2833)
  internal/ent/hooks/managedgroups.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/risks.go
  internal/ent/hooks/tagdefinition.go
  internal/ent/hooks/tags.go
  internal/ent/hooks/tags_hook_test.go
  internal/ent/privacy/rule/modules.go
  internal/graphapi/onboarding_test.go
  internal/graphapi/organization_test.go
  internal/testutils/fga.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: transaction in workflows
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/workflow_approval.go
  internal/graphapi/onboarding_test.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/workflows/engine/instance_builder.go
  internal/workflows/tx.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use common helper in stests
  internal/graphapi/onboarding_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: use mock to prevent 404 errors in tests
  internal/ent/hooks/slack_config.go
  internal/graphapi/testharness/harness.go
  internal/integrations/definitions/slack/testing.go
Due: :golang: go generate, :yaml: generate config

fix: tranasction workflows (#2834)
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/workflow_approval.go
  internal/graphapi/onboarding_test.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/workflows/engine/instance_builder.go
  internal/workflows/tx.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: use mock to prevent 404 errors in tests (#2835)
  internal/ent/hooks/slack_config.go
  internal/graphapi/testharness/harness.go
  internal/integrations/definitions/slack/testing.go
Due: :golang: go generate, :yaml: generate config

fix: task rules running after program creation, causing slow creation
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_changeset.go
  internal/ent/entityops/entity_listener.go
  internal/ent/entityops/entity_mutation_events.go
  internal/ent/hooks/event_hook_test.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/listeners_registry.go
  internal/ent/hooks/listeners_task_rules.go
  pkg/gala/listener.go
  pkg/gala/listener_test.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

if custom domain is avaialble, set no index to true
  internal/ent/hooks/trustcenter.go
  internal/ent/schema/trustcenter.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: task rules running after program creation, causing slow creation (#2836)
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_changeset.go
  internal/ent/entityops/entity_listener.go
  internal/ent/entityops/entity_mutation_events.go
  internal/ent/hooks/event_hook_test.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/listeners_registry.go
  internal/ent/hooks/listeners_task_rules.go
  pkg/gala/listener.go
  pkg/gala/listener_test.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
