Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fixes after the rebase
  .task/checksum/go-lint-custom
  internal/graphapi/eventstest/integrations_upgrade_edge_test.go
  internal/graphapi/eventstest/integrations_upgrade_test.go
  internal/graphapi/eventstest/integrations_upgrade_versions_test.go
  internal/graphapi/eventstest/keystore_test.go
  internal/graphapi/testharness/harness.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_disconnect_test.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/integrations/definitions/cloudflare/testing.go
  internal/integrations/definitions/email/operation_trustcenter_sweep.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/health.go
  internal/integrations/runtime/integration.go
  internal/integrations/runtime/upgrade.go
  internal/keystore/store.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

regenerate
  .task/checksum/generate-ent-smart
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config

remove docs
  docs/integrations-type-system-design.md
Due: none

fix more tests
  internal/integrations/runtime/scheduled_operations.go
  internal/integrations/runtime/upgrade.go
  internal/integrations/runtime/upgrade_sweep.go
  pkg/jsonx/schema_conform.go
Due: :yaml: generate config

fmt and tests
  go.sum
  internal/httpserve/specs/zz_generated_spec_types.go
  internal/integrations/definitions/email/verify_test.go
  internal/integrations/types/ref_test.go
  pkg/jsonx/jsonx.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add back jsonx helper and test, regenerate migrations
  db/migrations-goose-postgres/20261008150344_integrationoperationconfig.sql
  db/migrations/20261008150330_integrationoperationconfig.sql
  go.mod
  go.sum
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

repair tests
  internal/graphapi/eventstest/integrations_upgrade_test.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/upgrade.go
Due: :golang: go generate, :yaml: generate config

config generate
  internal/httpserve/specs/zz_generated_spec_types.go
  internal/integrations/registry/surfaces/def_01K0SLACK000000000000000001.json
Due: :yaml: generate config

bump go versions, address sonar findings
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_operations.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  internal/integrations/definitions/googledrive/client.go
  internal/integrations/definitions/onedrive/client.go
  internal/integrations/definitions/tailscale/operation_directory_sync.go
  internal/integrations/registry/version_test.go
  internal/integrations/runtime/upgrade.go
  internal/integrations/types/operation.go
  internal/integrations/types/ref_test.go
  tools/linters/privacyallow/go.mod
  tools/linters/privacyallow/go.sum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update hook
  internal/ent/hooks/identityholder.go
  internal/ent/hooks/orgmembers.go
Due: :golang: go generate, :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/assessment.graphql
  internal/graphapi/query/entity.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

add boolean flag to choose whether to import mappings
  .task/checksum/generate-graphql-smart
  internal/controls/clone.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/controlextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/controlextended.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

run template mapping cloning in background if requested only
  internal/controls/helpers.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/controlextended.resolvers.go
  internal/graphapi/programextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat: block free domain scan, add url to export notification
  internal/ent/notifications/exports.go
  internal/ent/validator/email.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
Due: :golang: go generate, :yaml: generate config

feat: add url to export notification
  internal/ent/notifications/exports.go
Due: :golang: go generate, :yaml: generate config

feat: add url to export notification (#2886)
  internal/ent/notifications/exports.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
