Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

updates for new tags
  .buildkite/pipeline.yaml
Due: none

regex
  .buildkite/pipeline.yaml
Due: none

labeler
  .github/labeler.yml
Due: none

freaking linter
  internal/ent/hooks/trustcenter_compliance.go
Due: :golang: go generate, :yaml: generate config

fix package pathing
  internal/ent/hooks/dnsverification.go
  internal/graphapi/trustcenterextended.resolvers.go
  internal/graphapi/trustcenterpreviewsetting_helpers.go
Due: :golang: go generate, :yaml: generate config

clean regeneration
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

this is exhausting
  internal/graphapi/trustcenterpreviewsetting_test.go
  internal/objects/validators/mime.go
Due: :golang: go generate, :yaml: generate config

regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/dnsverification/dnsverification.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix: bk pipeline for image tag (#1772)
  .buildkite/pipeline.yaml
  .github/labeler.yml
Due: none

feat: trigger go-client update on releases (#1769)
  .buildkite/pipeline.yaml
Due: none

squash migrations again
  db/migrations-goose-postgres/20251229183203_init.sql
  db/migrations-goose-postgres/20251229183205_init_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations-goose-postgres/init.sql
  db/migrations/20251229183159_init.sql
  db/migrations/20251229183201_init_history.sql
  db/migrations/atlas.sum
  db/migrations/init.sql
Due: :postgres: atlas lint

update deps
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: ability to download files in devmode
  internal/httpserve/route/files.go
  internal/httpserve/server/server.go
  internal/objects/constants.go
Due: :yaml: generate config

suggested changes
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :golang: go generate, :yaml: generate config

fixed lint issues
  internal/ent/notifications/events.go
  internal/ent/notifications/mentions.go
  pkg/slateparser/slate_parser.go
Due: :golang: go generate, :yaml: generate config

feat: sorting for enums + tags
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_pagination.go
  internal/ent/schema/customtypeenum.go
  internal/ent/schema/tagdefinition.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/query/search.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/search.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: ability to download files in devmode (#1775)
  internal/httpserve/route/files.go
  internal/httpserve/server/server.go
  internal/objects/constants.go
Due: :yaml: generate config

mut type and details
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

Notifications on mentions (#1758)
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/mentions.go
  pkg/slateparser/slate_parser.go
  pkg/slateparser/slate_parser_test.go
Due: :golang: go generate, :yaml: generate config

fix bad import for enums
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

feat: sorting for enums + tags (#1777)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_pagination.go
  internal/ent/schema/customtypeenum.go
  internal/ent/schema/tagdefinition.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/query/search.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/search.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix bad import for enums (#1778)
  internal/ent/notifications/mentions.go
Due: :golang: go generate, :yaml: generate config

ugly fix
  internal/graphapi/discussion.resolvers.go
Due: :golang: go generate, :yaml: generate config

comments
  internal/graphapi/discussionhelpers.go
Due: :golang: go generate, :yaml: generate config

missing migrations again?
  db/migrations-goose-postgres/20251231045229_workflow.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20251231045221_workflow.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

deps update
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add tests
  fga/tests/tests.yaml
  fga/tests/tuples/entities.yaml
  fga/tests/tuples/findings.yaml
  fga/tests/tuples/vulnerabilities.yaml
Due: :auth0: fga model test

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
