Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

user of an org should be unable to delete themselves if they own another org (#2637)
  internal/ent/hooks/user.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

integration fixes, backfill, tests
  internal/graphapi/directory_externalid_repair_test.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/githubapp/mappings_directory_test.go
  internal/integrations/observability/context.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/ingest_directoryaccount_persist.go
  internal/integrations/operations/ingest_directorygroup_persist.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/upsert.go
  internal/integrations/providerkit/cel.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/ratelimit.go
  internal/integrations/runtime/scheduled_operations.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

comment
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

DirectorySync fixes, backfill / repair mangled data, log key name collision repairs (#2640)
  internal/graphapi/directory_externalid_repair_test.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/githubapp/mappings_directory_test.go
  internal/integrations/observability/context.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/ingest_directoryaccount_persist.go
  internal/integrations/operations/ingest_directorygroup_persist.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/upsert.go
  internal/integrations/providerkit/cel.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/ratelimit.go
  internal/integrations/runtime/scheduled_operations.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

better
  .gitignore
  config/helm-values.yaml
  internal/httpserve/serveropts/backfill.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

do not retry forever
  common/enums/filebackupstatus.go
  internal/ent/hooks/listeners_file_backup.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

set up integration user
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/privacy/rule/modules.go
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/scopes_test.go
  internal/graphapi/user.resolvers.go
  internal/httpserve/handlers/integration_webhook.go
  internal/httpserve/handlers/scim_handler.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/identity/caller.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/run_store.go
  internal/integrations/operations/run_store_test.go
  internal/integrations/operations/types.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/webhooks.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

sync assessment due date changes all the way down to all responses too
  internal/ent/hooks/assessment.go
  internal/graphapi/assessment_response_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/assessment_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/historygenerated/assessmenthistory_update.go
  internal/ent/schema/assessment.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/query/standard.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

sync assessment due date changes all the way down to all responses too (#2643)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/assessment_update.go
  internal/ent/generated/gql_mutation_input.go
  internal/ent/historygenerated/assessmenthistory_update.go
  internal/ent/hooks/assessment.go
  internal/ent/schema/assessment.go
  internal/graphapi/assessment_response_test.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/query/standard.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

migrations for directorysync
  db/migrations-goose-postgres/20260728193957_directorymembershipindex.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260728193948_directorymembershipindex.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/schema/directorymembership.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

query interceptor
  internal/ent/interceptors/query.go
Due: :golang: go generate, :yaml: generate config

config generate output
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

add the integration caller
  go.mod
  go.sum
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/subprocessor.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/trustcenter.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schemautil/trustcenter_scope.go
  internal/graphapi/seed_test.go
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/support_test.go
  internal/integrations/operations/context.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/webhooks.go
  pkg/anon/anon.go
  pkg/anon/doc.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

Repair DirectorySync (#2645)
  db/migrations-goose-postgres/20260728193957_directorymembershipindex.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260728193948_directorymembershipindex.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/interceptors/query.go
  internal/ent/schema/directorymembership.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add the integration caller (#2642)
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/subprocessor.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/trustcenter.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schemautil/trustcenter_scope.go
  internal/graphapi/seed_test.go
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/support_test.go
  internal/integrations/operations/context.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/webhooks.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/anon/anon.go
  pkg/anon/doc.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

an existing template should be cloneable
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/assessment.resolvers.go
  internal/graphapi/assessment_template.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/assessment.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/assessment.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

add tests
  .task/checksum/generate-graphql-smart
  internal/graphapi/assessment_test.go
  internal/graphapi/query/assessment.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

sanitize search values before adding as a snippet
  internal/graphapi/search_context.go
  internal/graphapi/search_context_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

support users should be able to skip object owned permissions
  internal/ent/interceptors/filter.go
  internal/ent/interceptors/filter_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

sanitize search values before adding as a snippet (#2647)
  internal/graphapi/search_context.go
  internal/graphapi/search_context_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Ability to clone an existing assessment as a template (#2646)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/assessment.resolvers.go
  internal/graphapi/assessment_template.go
  internal/graphapi/assessment_test.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/assessment.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/assessment.graphql
  internal/graphapi/schema/assessment.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

support users should be able to skip object owned permissions (#2648)
  internal/ent/interceptors/filter.go
  internal/ent/interceptors/filter_test.go
  internal/graphapi/organization_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add key signing rotation
  cmd/serve.go
  go.mod
  go.sum
  internal/httpserve/handlers/handlers.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/serveropts/errors.go
  internal/httpserve/serveropts/keyarchive.go
  internal/httpserve/serveropts/keyarchive_test.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/keydir_test.go
  internal/httpserve/serveropts/keywatch.go
  internal/httpserve/serveropts/keywatch_test.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

nolint
  internal/httpserve/serveropts/keywatch.go
Due: :yaml: generate config

replaced entityops
  go.mod
  go.sum
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

lint issues fixed
  internal/integrations/definitions/zitadel/builder.go
  internal/integrations/definitions/zitadel/client.go
  internal/integrations/definitions/zitadel/doc.go
  internal/integrations/definitions/zitadel/operation_directory_sync.go
Due: :yaml: generate config

lint issues fixed
  internal/integrations/definitions/zitadel/errors.go
  internal/integrations/definitions/zitadel/installation.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/definitions/zitadel/operation_health.go
  internal/integrations/definitions/zitadel/types.go
Due: :yaml: generate config

cache storage provider check
  internal/httpserve/serveropts/option.go
  internal/objects/validators/storageproviders.go
  internal/objects/validators/storageproviders_test.go
Due: :yaml: generate config

cache storage provider check (#2652)
  internal/httpserve/serveropts/option.go
  internal/objects/validators/storageproviders.go
  internal/objects/validators/storageproviders_test.go
Due: :yaml: generate config

move generated deps out of pkg
  internal/httpserve/handlers/webfinger.go
  internal/ssoenforcement/load.go
  pkg/middleware/auth/auth.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

move generated deps out of pkg (#2653)
  internal/httpserve/handlers/webfinger.go
  internal/ssoenforcement/load.go
  pkg/middleware/auth/auth.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Add key signing rotation; JWKS alg, RSA cert signing (#2651)
  cmd/serve.go
  go.mod
  go.sum
  internal/httpserve/handlers/handlers.go
  internal/httpserve/route/wellknown.go
  internal/httpserve/serveropts/errors.go
  internal/httpserve/serveropts/keyarchive.go
  internal/httpserve/serveropts/keyarchive_test.go
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/keydir_test.go
  internal/httpserve/serveropts/keywatch.go
  internal/httpserve/serveropts/keywatch_test.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/server.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

re-write readme
  .github/CONTRIBUTING.md
  README.md
  assets/openlane_overview.png
Due: none

fix
  README.md
Due: none

add badge for docs; url behind image
  README.md
Due: none
