Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

regen, weird linter
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

regen hash
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

cleanup
  internal/integrations/definitions/slack/auth.go
  internal/integrations/definitions/slack/builder.go
Due: :yaml: generate config

linter
  internal/integrations/definitions/slack/builder.go
Due: :yaml: generate config

feat : WIP authentik integration errors and types are added
  internal/integrations/definitions/authentik/errors.go
  internal/integrations/definitions/authentik/types.go
Due: :yaml: generate config

fix: fix for null fields with size oper + test
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/awssecurityhub/mappings_test.go
Due: :yaml: generate config

fix: fix for null fields with size oper + test (#2348)
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/awssecurityhub/mappings_test.go
Due: :yaml: generate config

fix: go version update, update log lines for aws iam
  cli/go.mod
  common/go.mod
  go.mod
  go.work
  internal/integrations/definitions/awssecurityhub/operation_directory_sync.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

try calculating/projecting values after assessment submission. maybe gala events better?
  common/enums/templateprojectiontrigger.go
  common/models/template_projection.go
  internal/httpserve/handlers/questionnaire.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

linter
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/server/schema_registry.go
  jsonschema/schema_generator.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

linter more
  Taskfile.yaml
  cmd/serve.go
  config/config.go
  internal/ent/validator/graphql_filter_validator.go
  internal/genhelpers/checksum.go
  internal/httpserve/handlers/oauth_login.go
  internal/httpserve/server/openapi.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/microsoftteams/builder.go
  internal/integrations/definitions/oidclocal/builder.go
  internal/integrations/definitions/slack/builder.go
  pkg/gencmd/generate.go
  pkg/metrics/metrics.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: build

run those
  Taskfile.yaml
Due: none

Update roadmap in readme
  README.md
Due: none

fix: higher intervals, try to pull only new records
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/awssecurityhub/operation_findings_test.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/client_test.go
  internal/integrations/definitions/githubapp/github.go
  internal/integrations/definitions/githubapp/operation_health.go
  internal/integrations/definitions/githubapp/operation_repository_sync.go
  internal/integrations/definitions/githubapp/operation_vulnerability_collect.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/run_store.go
  internal/integrations/runtime/execution.go
  internal/integrations/types/operation.go
  pkg/gala/schedule.go
Due: :yaml: generate config

fix tests
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/runtime.go
Due: :yaml: generate config

remove
  pkg/gala/schedule.go
Due: :yaml: generate config

update schedule tests
  pkg/gala/schedule_test.go
Due: :yaml: generate config

fix aws range
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/awssecurityhub/operation_findings_test.go
Due: :yaml: generate config

fix test
  internal/integrations/definitions/awssecurityhub/operation_findings_test.go
Due: :yaml: generate config

pull all records, default lookback 90 days, do not apply to directories to ensure all accounts get returned
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/awssecurityhub/operation_findings_test.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/runtime_test.go
  internal/integrations/types/operation.go
Due: :yaml: generate config

linter
  internal/integrations/definitions/awssecurityhub/operation_findings.go
Due: :yaml: generate config

get all repos to start as well, not just recent updated ones
  internal/integrations/definitions/githubapp/builder.go
Due: :yaml: generate config

fix: higher intervals, try to pull only new records (#2352)
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/operation_findings.go
  internal/integrations/definitions/awssecurityhub/operation_findings_test.go
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/client_test.go
  internal/integrations/definitions/githubapp/github.go
  internal/integrations/definitions/githubapp/operation_health.go
  internal/integrations/definitions/githubapp/operation_repository_sync.go
  internal/integrations/definitions/githubapp/operation_vulnerability_collect.go
  internal/integrations/definitions/googleworkspace/builder.go
  internal/integrations/definitions/okta/builder.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/run_store.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/runtime.go
  internal/integrations/runtime/runtime_test.go
  internal/integrations/types/operation.go
  pkg/gala/schedule.go
  pkg/gala/schedule_test.go
Due: :yaml: generate config

updated types
  internal/emailruntime/context_catalog.go
  internal/emailruntime/doc.go
  internal/emailruntime/engine.go
  internal/emailruntime/engine_test.go
  internal/emailruntime/errors.go
  internal/emailruntime/fallback.go
  internal/emailruntime/fallback_test.go
  internal/emailruntime/renderer.go
  internal/emailruntime/schema_validation.go
  internal/emailruntime/service_integration_test.go
  internal/emailruntime/template_data.go
  internal/emailruntime/template_data_test.go
  internal/emailruntime/types.go
  internal/emailruntime/types_test.go
  internal/ent/hooks/email_runtime.go
  internal/httpserve/handlers/email_runtime.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/send_email_integration_test.go
  internal/workflows/engine/template_renderer.go
  internal/workflows/engine/template_renderer_test.go
  internal/workflows/params.go
  internal/workflows/seeder.go
  internal/workflows/seeder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

new hooks
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

overrides
  internal/emailruntime/template_data.go
Due: :yaml: generate config

pre generate
  internal/emailruntime/campaign.go
  internal/emailruntime/engine.go
  internal/emailruntime/errors.go
  internal/emailruntime/renderer.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/campaign.go
  internal/ent/hooks/email_runtime.go
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/campaign.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

generate output
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint

collapse migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint
