Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

added missing env
  docker/configs/authentik/.env-example
Due: none

rename ctx, move URL scheme check to schema validator, restore EXTERNAL_REFERENCE
  internal/ent/hooks/documents.go
  internal/ent/hooks/revision.go
  internal/ent/schema/mixin_document.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add privacy bypass to listener
  internal/ent/hooks/listeners_nda_attestation.go
Due: :golang: go generate, :yaml: generate config

Directory Sync : authentik integration (#2347)
  docker/Taskfile.yaml
  docker/configs/authentik/.env-example
  docker/docker-compose-authentik.yml
  docker/pg-init-scripts/init.sql
  go.mod
  go.sum
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/authentik/doc.go
  internal/integrations/definitions/authentik/errors.go
  internal/integrations/definitions/authentik/examples/group.json
  internal/integrations/definitions/authentik/examples/member.json
  internal/integrations/definitions/authentik/examples/user.json
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_health.go
  internal/integrations/definitions/authentik/types.go
  internal/integrations/definitions/catalog/catalog.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

schemaform moved to jsonx from providerkt
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/mappings_test.go
Due: :yaml: generate config

update system owned assessment when template jsonconfig changes too
  internal/ent/hooks/assessment.go
  internal/ent/hooks/template.go
Due: :golang: go generate, :yaml: generate config

schemaform moved to jsonx from providerkt (#2407)
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/mappings_test.go
Due: :yaml: generate config

deps: iam update to keep current setup
  cli/go.mod
  cli/go.sum
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/hooks/tools_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/workflows/engine/tools_test.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update dev
  config/config-dev.example.yaml
Due: :yaml: generate config

bump iam
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

sync
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Tidy
  cli/go.sum
  common/go.sum
Due: :terminal: build cli

update system owned assessment when template jsonconfig changes too (#2408)
  internal/ent/hooks/assessment.go
  internal/ent/hooks/template.go
Due: :golang: go generate, :yaml: generate config

remove html processing from test
  internal/objects/validators/mime_test.go
Due: :yaml: generate config

sync github teams and the members of the teams
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

sync github teams and the members of the teams (#2410)
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/operation_directory_sync.go
Due: :yaml: generate config

guard accessors behind OpUpdateOne in revision helpers
  internal/ent/hooks/revision.go
Due: :golang: go generate, :yaml: generate config

Update internal/ent/hooks/revision.go
  internal/ent/hooks/revision.go
Due: :golang: go generate, :yaml: generate config

lint
  internal/ent/hooks/revision.go
Due: :golang: go generate, :yaml: generate config

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/actionplan_create.go
  internal/ent/generated/actionplan_update.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/internalpolicy_create.go
  internal/ent/generated/internalpolicy_update.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/generated/procedure_create.go
  internal/ent/generated/procedure_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/privacy/utils/utils.go
  internal/ent/schema/programmembership.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/operations/ingest_generated.go
  pkg/objects/storage/utils_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

cleanup
  fga/model/automation/notifications.fga
  internal/ent/hooks/listeners_entitlements.go
  internal/entitlements/reconciler/reconciler.go
  internal/graphapi/_example_test.go
  internal/graphapi/assessment_test.go
  internal/graphapi/campaign_restrictions_test.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/customdomain_test.go
  internal/graphapi/customtypeenums_test.go
  internal/graphapi/dnsverification_test.go
  internal/graphapi/emailtemplate_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/file_test.go
  internal/graphapi/group_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/integration_test.go
  internal/graphapi/internalpolicy_statusapproval_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/jobtemplate_test.go
  internal/graphapi/mappedcontrol_test.go
  internal/graphapi/models_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/platform_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/program_test.go
  internal/graphapi/programmembers_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/scheduledjob_test.go
  internal/graphapi/subcontrol_test.go
  internal/graphapi/subprocessor_test.go
  internal/graphapi/tagdefinition_test.go
  internal/graphapi/task_test.go
  internal/graphapi/template_test.go
  internal/graphapi/tools_trustcenter_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test

remove can_create_email_branding
  fga/model/old/model.fga
  fga/tests/tests.yaml
Due: :auth0: fga model test

config generate, remove old model
  config/config.example.yaml
  fga/model/old/model.fga
  fga/model/old/model_old.fga
Due: :yaml: generate config, :auth0: fga model test

linter
  internal/ent/hooks/listeners_entitlements.go
Due: :golang: go generate, :yaml: generate config

some updates
  Taskfile.yaml
  cli/go.mod
  cli/go.sum
  db/MIGRATION.md
  fga/model/trustcenter/base.fga
  go.mod
  go.sum
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/tools_test.go
  internal/ent/privacy/rule/organization.go
  internal/ent/schema/mixin_grouppermissions.go
  internal/graphapi/_example_test.go
  internal/graphapi/assessment_test.go
  internal/graphapi/control_test.go
  internal/graphapi/models_test.go
  internal/graphapi/scheduledjob_test.go
  internal/graphapi/task_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/questionnaire_test.go
  internal/httpserve/handlers/tools_test.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

config:Gen
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

timeout
  Taskfile.yaml
Due: none

fix: config to match
  config/helm-values.yaml
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

more + test
  internal/integrations/definitions/email/template_catalog_test.go
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config

gen
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

fix: config to match (#2412)
  config/helm-values.yaml
  internal/integrations/definitions/email/template_catalog_test.go
  internal/integrations/definitions/email/types.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

cleanup, fix auditor role
  fga/model/base/groups.fga
  fga/model/base/organization.fga
  fga/model/roles/roles.fga
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/orgownedtuples.go
  internal/ent/hooks/program.go
  internal/ent/interceptors/filter.go
  internal/ent/interceptors/filter_test.go
  internal/ent/interceptors/user.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/orgowner.go
  internal/ent/privacy/rule/scopes.go
  internal/ent/schema/file.go
  internal/ent/schema/group.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/organization.go
  internal/ent/schema/procedure.go
  internal/ent/schema/program.go
  internal/entitlements/reconciler/reconciler.go
  internal/graphapi/evidence_test.go
  internal/graphapi/groupmembers_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/seed_test.go
  internal/graphapi/workflow_validators_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
