Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

send all data after onboarding (#2117)
  internal/ent/hooks/listeners_slack.go
  pkg/slacktemplates/templates/demo_request.tmpl
Due: :golang: go generate, :yaml: generate config

Add EvidenceStatusDraft for draft state
  common/enums/evidencestatus.go
Due: :golang: go generate, :terminal: build cli

feat: added pull unread notifications
  config/config.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/subscription_helpers.go
  internal/httpserve/serveropts/option.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Add EvidenceStatusDraft for draft state (#2119)
  common/enums/evidencestatus.go
Due: :golang: go generate, :terminal: build cli

fix subcontrol
  fga/generate/main.go
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

delete relations
  fga/generate/main.go
  fga/model/generated/crud.fga
Due: :auth0: fga model test

do not test with generate
  fga/Taskfile.yaml
  fga/generate/main.go
Due: :auth0: fga model test

generated files
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

flesh out roles before breaking stuff
  fga/model/automation/workflows.fga
  fga/model/base/organization.fga
  fga/model/roles/roles.fga
  fga/tests/tuples/trust_center.yaml
Due: :auth0: fga model test

remove unused guards, consolidate github app config, remove pattern deviations
  config/config.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_flow.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_github_app_test.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_providers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/serveropts/integration_base.go
  internal/httpserve/serveropts/options_test.go
  internal/integrations/config/spec.go
  internal/integrations/runtime/config.go
  internal/integrations/runtime/errors.go
  internal/integrations/runtime/runtime.go
  internal/keymaker/service.go
  internal/keymaker/service_additional_test.go
  internal/keystore/client_pool.go
  internal/keystore/credential_resolution.go
  internal/keystore/store.go
  internal/keystore/types_alias.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: added pull unread notifications (#2120)
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/subscription_helpers.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:

linter
  fga/model/helpers.go
Due: :auth0: fga model test

roles
  fga/generate/main.go
  fga/model/automation/assessments.fga
  fga/model/base/groups.fga
  fga/model/generated/crud.fga
  fga/model/registry/asset.fga
  fga/model/roles/roles.fga
  fga/tests/tests.yaml
  fga/tests/tuples/_tuples.yaml
Due: :auth0: fga model test

cleanup script some
  fga/generate/main.go
  fga/model/generated/crud.fga
Due: :auth0: fga model test

Apply suggested fix to common/enums/evidencestatus.go from Copilot Autofix
  common/enums/evidencestatus.go
Due: :golang: go generate, :terminal: build cli

update test and add note to trustcenter
  internal/graphapi/trustcenterfaq_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix lint
  internal/graphapi/groupextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: missing migration for previous PR on parents
  db/create_migrations.go
  db/migrations-goose-postgres/20260311172456_workflow_def_groups.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260311172446_workflow_def_groups.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: missing migration for previous PR on parents (#2134)
  db/create_migrations.go
  db/migrations-goose-postgres/20260311172456_workflow_def_groups.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260311172446_workflow_def_groups.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

add group to file fga
  fga/model/model.fga
Due: :auth0: fga model test

fix merge conflict for db migrations
  db/migrations-goose-postgres/20260311164723_avatar_groups.sql
  db/migrations-goose-postgres/20260311180545_managed_group_avatar.sql
  db/migrations-goose-postgres/20260311180555_managed_group_avatar_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260311164700_avatar_groups.sql
  db/migrations/20260311180522_managed_group_avatar.sql
  db/migrations/20260311180534_managed_group_avatar_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

Apply suggested fix to common/enums/evidencestatus.go from Copilot Autofix (#2128)
  common/enums/evidencestatus.go
Due: :golang: go generate, :terminal: build cli

add faq gala implementation to clear cache
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config

update test to use client and add new hook to always make sure the trustcenter id is set
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenterfaq/trustcenterfaq.go
  internal/ent/hooks/trustcenterfaq.go
  internal/ent/schema/trustcenterfaq.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/trustcenterfaq_test.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

rebuild cache after trustcenter faq (#2138)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenterfaq/trustcenterfaq.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/trustcenterfaq.go
  internal/ent/schema/trustcenterfaq.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/trustcenterfaq_test.go
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

task regenerate
  .task/checksum/generate-graphql-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

members should be able to approve nda requests
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  fga/model/model.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/authz_checks.go
  internal/ent/historyschema/trustcenterndarequest_history.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

add ordering support for faq
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/gql_pagination.go
  internal/ent/schema/trustcenterfaq.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint
