Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

README re-write (#2654)
  .github/CONTRIBUTING.md
  README.md
  assets/openlane_overview.png
Due: none

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  db/migrations-goose-postgres/20260803185903_tfa_enforcement.sql
  db/migrations-goose-postgres/20260803185914_tfa_enforcement_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260803185839_tfa_enforcement.sql
  db/migrations/20260803185850_tfa_enforcement_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

Check not Assert
  internal/ent/hooks/listeners_campaign_recurring_test.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/ent/hooks/listeners_campaign_recurring.go
Due: :golang: go generate, :yaml: generate config

fix: set completed for no assessment campaigns, fix not found bug, secruity contact lowercase
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/ent/hooks/listeners_campaign_recurring_test.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/query/trustcentersetting.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/trustcentersetting_test.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

cleanup base_module
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/directives/extension.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
Due: :golang: go generate, :yaml: generate config

comment
  internal/graphapi/directives/extension.go
Due: :golang: go generate, :yaml: generate config

cleanup
  internal/ent/generate/entc.go
  internal/entitlements/genfeatures/features.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/directives/extension.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/controlreport.graphql
Due: :golang: go generate, :yaml: generate config

feat: add module annotation to determine requirement module for objects
  .task/checksum/generate-catalog-smart
  common/models/orgmodule.go
  common/models/orgmodule_gen.go
  internal/ent/generate/entc.go
  internal/entitlements/genfeatures/features.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/directives/directives.go
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/generate/.gqlgen_history.yml
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/prelude.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/common/directives.graphql
  internal/graphapi/schema/ent.graphql
  pkg/catalog/genyaml/yamlgen.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

feat: add module annotation to determine requirement module for objects (#2655)
  .task/checksum/generate-catalog-smart
  common/models/orgmodule.go
  common/models/orgmodule_gen.go
  internal/ent/generate/entc.go
  internal/entitlements/genfeatures/features.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/directives/directives.go
  internal/graphapi/directives/extension.go
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/generate/.gqlgen_history.yml
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/prelude.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/common/directives.graphql
  internal/graphapi/schema/controlreport.graphql
  internal/graphapi/schema/ent.graphql
  pkg/catalog/genyaml/yamlgen.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix: set completed for no assessment campaigns, fix not found bug (#2656)
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/ent/hooks/listeners_campaign_recurring_test.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/query/trustcentersetting.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/trustcentersetting_test.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/operation_send_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: panic on null map due to null filter
  internal/ent/hooks/export.go
  internal/ent/hooks/export_test.go
Due: :golang: go generate, :yaml: generate config

fix: panic on null map due to null filter (#2658)
  internal/ent/hooks/export.go
  internal/ent/hooks/export_test.go
Due: :golang: go generate, :yaml: generate config

task generate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260804223354_tfa_enforcement.sql
  db/migrations-goose-postgres/20260804223402_tfa_enforcement_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260804223333_tfa_enforcement.sql
  db/migrations/20260804223343_tfa_enforcement_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/trustcentersetting.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix duplicate auth methods in openapi specifications
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/httpserve/specs/scim.yaml
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

fix duplicate auth methods in openapi specifications (#2659)
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/httpserve/specs/scim.yaml
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

fix: add tz package because our base image doesn't include by default
  internal/graphapi/campaign_scheduled_test.go
  main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :docker: docker pr build

savex -> save
  internal/graphapi/campaign_scheduled_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: add tz package because our base image doesn't include by default (#2660)
  internal/graphapi/campaign_scheduled_test.go
  main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :docker: docker pr build

port backfill, domain scan handler
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/graphapi/directory_duplicate_backfill_test.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/domain_scan_poll.go
  internal/integrations/definitions/googleworkspace/operation_directory_sync.go
  internal/integrations/definitions/googleworkspace/operations_test.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/reconcile_test.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/health.go
  internal/integrations/runtime/health_test.go
  internal/integrations/runtime/ratelimit.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/scheduled_operations.go
  internal/integrations/types/errors.go
  internal/integrations/types/errors_test.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/gala/dispatcher.go
  pkg/gala/gala.go
  pkg/gala/listener.go
  pkg/gala/registry.go
  pkg/gala/types.go
  pkg/gala/unique_key_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

mod tidy:
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

entityops regenerate, replace string helpers, add old value to mutation snapshot
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  common/models/workflow.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_metadata.go
  internal/ent/entityops/entity_registry.go
  internal/ent/entityops/entity_schema.go
  internal/ent/eventqueue/gala_adapter.go
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/eventqueue/mutation_helpers.go
  internal/ent/hooks/event_hook.go
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/notifications/errors.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/mentions.go
  internal/ent/notifications/program.go
  internal/ent/notifications/standard_update.go
  internal/ent/schema/evidence.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/note.go
  internal/ent/schema/procedure.go
  internal/ent/schema/program.go
  internal/ent/schema/risk.go
  internal/ent/schema/standard.go
  internal/ent/schema/task.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/mutations/helpers.go
  internal/workflows/changeset.go
  internal/workflows/changeset_test.go
  internal/workflows/engine/types.go
  pkg/jsonx/stringify.go
  pkg/jsonx/stringify_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

feat: skip history for users with CapBypassAuditLog
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/history_from_mutation.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/query/trustcentersetting.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config

write migrations
  db/migrations-goose-postgres/20260806055955_drop_integration_history_tables.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260806055946_drop_integration_history_tables.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

re-remove schema
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/historyschema/directoryaccount_history.go
  internal/ent/historyschema/directorygroup_history.go
  internal/ent/historyschema/directorymembership_history.go
  internal/ent/historyschema/dnsverification_history.go
  internal/ent/historyschema/integration_history.go
  internal/ent/historyschema/orgsubscription_history.go
  internal/ent/historyschema/scan_history.go
  internal/ent/historyschema/workflowevent_history.go
  internal/ent/historyschema/workflowinstance_history.go
  internal/ent/historyschema/workflowobjectref_history.go
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config

checksum
  .task/checksum/generate-openapi-smart
Due: none

remove allowCtx
  internal/httpserve/handlers/userinfo.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fixes, update riverboat
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/config.example.yaml
  go.mod
  go.sum
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/schema_generator.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

merge conflicts
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

bump
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

wtf
  cli/go.mod
  cli/go.sum
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

tidy
  cli/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
