Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

generic mutation swaperooski
  internal/ent/hooks/avatar.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/documents.go
  internal/ent/hooks/evidence.go
  internal/ent/hooks/export.go
  internal/ent/hooks/file_helpers.go
  internal/ent/hooks/jobresult.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/note.go
  internal/ent/hooks/standard.go
  internal/ent/hooks/subprocessor.go
  internal/ent/hooks/template.go
  internal/ent/hooks/trustcenter_entity.go
  internal/ent/hooks/trustcenterdoc.go
  internal/ent/hooks/trustcentersetting.go
  internal/ent/hooks/trustcenterwatermarkconfig.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/privacy/rule/modules.go
  internal/ent/privacy/rule/organization.go
  pkg/objects/adapter.go
  pkg/objects/adapter_test.go
  pkg/objects/errors.go
  pkg/objects/mocks/mocks.go
  pkg/objects/upload_test.go
Due: :golang: go generate, :yaml: generate config

generic mutation swaperooski (#2011)
  internal/ent/hooks/avatar.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/documents.go
  internal/ent/hooks/evidence.go
  internal/ent/hooks/export.go
  internal/ent/hooks/file_helpers.go
  internal/ent/hooks/jobresult.go
  internal/ent/hooks/memberhelpers.go
  internal/ent/hooks/note.go
  internal/ent/hooks/standard.go
  internal/ent/hooks/subprocessor.go
  internal/ent/hooks/template.go
  internal/ent/hooks/trustcenter_entity.go
  internal/ent/hooks/trustcenterdoc.go
  internal/ent/hooks/trustcentersetting.go
  internal/ent/hooks/trustcenterwatermarkconfig.go
  internal/ent/mixin/systemowned_mixin.go
  internal/ent/privacy/rule/modules.go
  internal/ent/privacy/rule/organization.go
  pkg/objects/adapter.go
  pkg/objects/adapter_test.go
  pkg/objects/errors.go
  pkg/objects/mocks/mocks.go
  pkg/objects/upload_test.go
Due: :golang: go generate, :yaml: generate config

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

rebase
  common/go.mod
  common/go.sum
Due: :terminal: build cli

patch flakey tests
  internal/graphapi/auditlog_test.go.bk
  internal/graphapi/entitytype_test.go
  internal/graphapi/workflow_helpers.go
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/engine.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix up bk pipeline for openlane infra draft prs, add ratelimiter examples
  .buildkite/cleanup-draft-prs.sh
  .buildkite/draft-pr-automation.sh
  .buildkite/image-tag-automation.sh
  .buildkite/lib/github.sh
  .buildkite/lib/templates.sh
  .buildkite/link-pr-automation.sh
  .buildkite/pipeline.yaml
  .buildkite/post-merge-pr-automation.sh
  .buildkite/slack-utils.sh
  .buildkite/templates/github/core-pr-link-comment.md
  .buildkite/templates/github/draft-pr.md
  .buildkite/templates/github/infra-pr-link-comment.md
  .buildkite/templates/github/pr-close-comment.md
  .buildkite/tests/draft-pr-automation.bats
  .buildkite/tests/load_template_test.sh
  .buildkite/tests/post-merge-pr-automation.bats
  .buildkite/tests/templates-lib.bats
  pkg/middleware/ratelimit/examples/http_middleware.go/http_middleware.go
  pkg/middleware/ratelimit/examples/simple/simple.go
Due: :yaml: generate config

fix linter
  internal/graphapi/workflow_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

patch flakey tests (#2014)
  internal/graphapi/auditlog_test.go.bk
  internal/graphapi/entitytype_test.go
  internal/graphapi/workflow_helpers.go
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/engine.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix up bk pipeline for openlane infra draft prs, add ratelimiter examples (#2016)
  .buildkite/cleanup-draft-prs.sh
  .buildkite/draft-pr-automation.sh
  .buildkite/image-tag-automation.sh
  .buildkite/lib/github.sh
  .buildkite/lib/templates.sh
  .buildkite/link-pr-automation.sh
  .buildkite/pipeline.yaml
  .buildkite/post-merge-pr-automation.sh
  .buildkite/slack-utils.sh
  .buildkite/templates/github/core-pr-link-comment.md
  .buildkite/templates/github/draft-pr.md
  .buildkite/templates/github/infra-pr-link-comment.md
  .buildkite/templates/github/pr-close-comment.md
  .buildkite/tests/draft-pr-automation.bats
  .buildkite/tests/load_template_test.sh
  .buildkite/tests/post-merge-pr-automation.bats
  .buildkite/tests/templates-lib.bats
  pkg/middleware/ratelimit/examples/http_middleware.go/http_middleware.go
  pkg/middleware/ratelimit/examples/simple/simple.go
Due: :yaml: generate config

task generate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/schemautil/trustcenter_scope.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

go-github bump
  go.mod
  go.sum
  internal/integrations/providers/github/vulnerabilities.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

rebase
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

wip: port original changes
  cli/cmd/apitokens/create.go
  cli/cmd/apitokens/scopes.go
  fga/model/helpers.go
  fga/model/helpers_test.go
  fga/model/model.fga
  go.mod
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/errors.go
  internal/ent/interceptors/filter.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/policy/checks.go
  internal/ent/privacy/rule/group.go
  internal/ent/privacy/rule/organization.go
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/scopes_test.go
  internal/ent/schema/mixin_createacess.go
  internal/graphapi/apitoken_test.go
  internal/graphapi/control_test.go
  internal/graphapi/controlimplementation_test.go
  internal/graphapi/controlobjective_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/file_test.go
  internal/graphapi/models_test.go
  internal/graphapi/narrative_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/seed_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix: Race condition: concurrent access to shared config without synchronization
  .task/checksum/generate-others-smart
  internal/httpserve/serveropts/keywatch.go
Due: :yaml: generate config

renewal date cannot be in the past
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/evidence.go
  internal/ent/hooks/personalaccesstoken.go
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

parallelize the generate tasks that can run concurrently
  Taskfile.yaml
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config

finalize
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config

renewal date cannot be in the past (#2024)
  internal/ent/hooks/apitoken.go
  internal/ent/hooks/evidence.go
  internal/ent/hooks/personalaccesstoken.go
  internal/graphapi/evidence_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: Race condition: concurrent access to shared config without synchronization (#2022)
  .task/checksum/generate-others-smart
  internal/httpserve/serveropts/keywatch.go
Due: :yaml: generate config

parallelize the generate tasks that can run concurrently (#2025)
  Taskfile.yaml
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config

implement CloseFunc
  internal/graphapi/subscription_helpers.go
  internal/graphapi/websockets.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

implement CloseFunc (#2028)
  internal/graphapi/subscription_helpers.go
  internal/graphapi/websockets.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

update gqlgenplugins
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  .task/checksum/generate-others-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update gqlgenplugins (#2029)
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  .task/checksum/generate-others-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regenerated bulk
  internal/graphapi/bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

pull in the rev
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix flakey tests and timing issue
  internal/workflows/engine/examples_test.go
Due: :yaml: generate config

Fix bulk deletion issues (#2030)
  go.mod
  go.sum
  internal/graphapi/bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix flakey tests and timing issue (#2031)
  internal/workflows/engine/examples_test.go
Due: :yaml: generate config

remove go mod download from install
  Taskfile.yaml
Due: none

clean up tuesday
  Taskfile.yaml
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  docker/docker-compose-tracing.yml
  docs/SSO.md
  docs/field-encryption.md
  docs/images/arch.png
  docs/images/jobs.png
  docs/images/windmill_enterprise.png
  docs/impersonation.md
  docs/oauth-integrations-config-example.yaml
  docs/oauth-integrations.md
  docs/permissions.md
  go.mod
  internal/ent/privacy/token/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/serveropts/events.go
  internal/httpserve/serveropts/hooks.go
  internal/httpserve/serveropts/hooks_test.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/authtest/authservertest.go
  pkg/middleware/authtest/authtest_test.go
  pkg/middleware/authtest/doc.go
  pkg/middleware/middleware.go
  pkg/middleware/mime/mime.go
  pkg/middleware/redirect/doc.go
  pkg/middleware/redirect/redirect.go
  pkg/middleware/redirect/redirect_test.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

burn unused stuff
  cmd/serve.go
  config/config.go
  go.mod
  go.sum
  internal/graphapi/history/resolver.go
  internal/graphapi/resolver.go
  internal/httpserve/serveropts/option.go
  internal/httpserve/serveropts/secretmanager.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove go mod download from install (#2033)
  Taskfile.yaml
Due: none

gmt
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/serveropts/option.go
  pkg/gala/benchmark_test.go
Due: :golang: go generate, :yaml: generate config
