Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix: do not overwrite approved for use bool, also set on active
  internal/ent/hooks/entity.go
  internal/graphapi/entity_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

one more test
  internal/graphapi/entity_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: nil pointer bug due to non comparable map
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :yaml: generate config

fix: do not overwrite approved for use bool, also set on active (#2358)
  internal/ent/hooks/entity.go
  internal/graphapi/entity_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: nil pointer bug due to non comparable map (#2357)
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :yaml: generate config

generate config, pull in new go-client
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/integrations/definitions/catalog/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: pin entx due ot bug in delete
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add no op logger for goose migrations
  internal/entdb/client.go
  internal/entdb/migration_logger.go
  internal/entdb/migration_logger_test.go
Due: :yaml: generate config

generate config, pull in new go-client (#2360)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/integrations/definitions/catalog/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

deps: entx to fix history on updates
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove pin
  common/go.mod
  common/go.sum
  go.mod
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add no op logger for goose migrations (#2362)
  internal/entdb/client.go
  internal/entdb/migration_logger.go
  internal/entdb/migration_logger_test.go
Due: :yaml: generate config

deps: entx to fix history on updates (#2364)
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260506191821_template_transform_configuration.sql
  db/migrations-goose-postgres/20260506191826_template_transform_configuration_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260506191803_template_transform_configuration.sql
  db/migrations/20260506191810_template_transform_configuration_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/campaign.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix: return early for nil creds schema
  internal/graphapi/integrationextended.resolvers.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/providerkit/schema.go
  internal/integrations/runtime/recurring_campaign.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

submit more fields
  common/enums/templateprojectiontransform.go
  common/models/template_projection.go
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

schema guards, add observability package for better comprehensive logging
  internal/graphapi/integrationextended.resolvers.go
  internal/integrations/cli/cmd/emailtemplate/create.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/observability/context.go
  internal/integrations/observability/doc.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/providerkit/schema.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/recurring_campaign.go
  pkg/gala/context_auth.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fmt
  internal/integrations/observability/context.go
Due: :yaml: generate config

Centralize integration log context and simplify durable codec (#2367)
  internal/graphapi/integrationextended.resolvers.go
  internal/integrations/cli/cmd/emailtemplate/create.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/definitions/cloudflare/operation_health.go
  internal/integrations/observability/context.go
  internal/integrations/observability/doc.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directorymembership_persist.go
  internal/integrations/providerkit/schema.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/recurring_campaign.go
  pkg/gala/context_auth.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

default email to responder
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/schema/assessment.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: policy revision always bumping minor
  internal/ent/hooks/revision.go
  internal/ent/privacy/rule/allow_comments.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/ent/hooks/revision_test.go
Due: :golang: go generate, :yaml: generate config

fix: policy revision always bumping minor (#2366)
  internal/ent/hooks/revision.go
  internal/ent/hooks/revision_test.go
  internal/ent/privacy/rule/allow_comments.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config

added authentik , fulfilling all the requirements
  internal/integrations/definitions/authentik/builder.go
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/authentik/doc.go
  internal/integrations/definitions/authentik/errors.go
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_health.go
  internal/integrations/definitions/authentik/types.go
  internal/integrations/definitions/catalog/catalog.go
Due: :yaml: generate config

deps: use gqlgo for gqlenc
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/integrations/cli/config/errors.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix tests
  internal/graphapi/assessmentresponse_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix tests
  db/migrations-goose-postgres/20260506191821_template_transform_configuration.sql
  db/migrations-goose-postgres/20260506191826_template_transform_configuration_history.sql
  db/migrations-goose-postgres/20260506225711_system_admin_assessments.sql
  db/migrations-goose-postgres/20260506225717_system_admin_assessments_history.sql
  db/migrations-goose-postgres/20260507012000_email_nillable.sql
  db/migrations-goose-postgres/20260507012007_email_nillable_history.sql
  db/migrations-goose-postgres/20260507150654_system_admin_assessments.sql
  db/migrations-goose-postgres/20260507150704_system_admin_assessments_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260506191803_template_transform_configuration.sql
  db/migrations/20260506191810_template_transform_configuration_history.sql
  db/migrations/20260506225701_system_admin_assessments_history.sql
  db/migrations/20260507011945_email_nillable.sql
  db/migrations/20260507011951_email_nillable_history.sql
  db/migrations/20260507150629_system_admin_assessments.sql
  db/migrations/20260507150641_system_admin_assessments_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix lint
  internal/ent/interceptors/assessment.go
Due: :golang: go generate, :yaml: generate config

bump to fix new vulnerability
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

response struct changes and one api replaced as well
  authentik-test/compose.yml
  internal/integrations/definitions/authentik/client.go
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/types.go
Due: :yaml: generate config

Add longer review timelines per customer request
  common/enums/frequency.go
Due: :golang: go generate, :terminal: build cli

deps: use gqlgo for gqlenc (#2375)
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/integrations/cli/config/errors.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
