Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add note
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

Backfill mappable domains (#2798)
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/helm-values.yaml
  internal/httpserve/serveropts/backfill.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

flip backfill key
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

flip backfill key (#2800)
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

backfill blocked preview domains
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

backfill blocked preview domains (#2801)
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

templated tasks should be vieweable by other members not just the creator
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/base/task.fga
  fga/model/generated/version.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/task/task.go
  internal/ent/hooks/task.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

revert back to config values
  cmd/serve.go
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/testharness/harness.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/backfill.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: build

bump backfill key
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

use preview cname to find mappable domain
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task generate
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

add backfill back
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

bump version
  internal/httpserve/serveropts/backfill.go
Due: :yaml: generate config

revert back to using config directly for preview domains (#2803)
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

Revert "revert back to using config directly for preview domains (#2803)"
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

fixes
  pkg/domainscan/browserrendering.go
  pkg/domainscan/compliancetype.go
  pkg/domainscan/compliancetype_test.go
  pkg/domainscan/findings.go
  pkg/domainscan/findings_test.go
  pkg/domainscan/linkdiscovery.go
  pkg/domainscan/linkdiscovery_test.go
  pkg/domainscan/merge.go
  pkg/domainscan/prompts.go
  pkg/domainscan/types.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/wellknown.go
Due: :yaml: generate config

align to sleuth
  pkg/domainscan/browserrendering.go
  pkg/domainscan/commonsubdomains.go
  pkg/domainscan/compliancetype.go
  pkg/domainscan/compliancetype_test.go
  pkg/domainscan/dnsvendors.go
  pkg/domainscan/emailauth.go
  pkg/domainscan/emailauth_test.go
  pkg/domainscan/findings_test.go
  pkg/domainscan/linkdiscovery.go
Due: :yaml: generate config

linter
  pkg/domainscan/compliance.go
  pkg/domainscan/compliancetype_test.go
  pkg/domainscan/urlutil.go
Due: :yaml: generate config

fixes, test fix
  pkg/domainscan/findings.go
  pkg/domainscan/linkdiscovery.go
  pkg/domainscan/linkdiscovery_test.go
  pkg/domainscan/merge.go
  pkg/domainscan/posture.go
  pkg/domainscan/posture_test.go
  pkg/domainscan/schema.go
  pkg/domainscan/urlutil.go
  pkg/domainscan/urlutil_test.go
Due: :yaml: generate config

use example
  pkg/domainscan/urlutil_test.go
Due: :yaml: generate config

untangle preview zone target mismatch
  cmd/serve.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

cleaner
  pkg/domainscan/emailauth.go
  pkg/domainscan/emailauth_test.go
Due: :yaml: generate config

wellknown errors logs
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
Due: :yaml: generate config

cleanup comments
  pkg/domainscan/findings.go
Due: :yaml: generate config

skip cascade delete
  internal/graphapi/testharness/cleanup.go
Due: :golang: go generate, :yaml: generate config

minio
  docker/docker-compose-storage.yml
  pkg/objects/examples/docker-compose.yml
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :yaml: generate config

untangle preview zone target mismatch (#2805)
  cmd/serve.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/resolver.go
  internal/graphapi/resolveroptions.go
  internal/graphapi/testharness/harness.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

fix: minio on quay; skip cascade delete in cleanup (#2806)
  docker/docker-compose-storage.yml
  internal/graphapi/testharness/cleanup.go
  pkg/objects/examples/docker-compose.yml
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :golang: go generate, :yaml: generate config

Update internal/ent/hooks/task.go
  internal/ent/hooks/task.go
Due: :golang: go generate, :yaml: generate config

add note
  internal/ent/hooks/task.go
Due: :golang: go generate, :yaml: generate config

templated tasks should be vieweable by other members not just the creator (#2802)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/base/task.fga
  fga/model/generated/version.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/task/task.go
  internal/ent/hooks/task.go
  internal/ent/schema/task.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/task_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

another regen pass
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/generated/version.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/generated/directoryaccount/directoryaccount.go
  internal/ent/generated/directoryaccount_create.go
  internal/ent/generated/directorygroup/directorygroup.go
  internal/ent/generated/directorygroup_create.go
  internal/ent/generated/directorymembership/directorymembership.go
  internal/ent/generated/directorymembership_create.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

fix mapping, pull through directory name, update cel
  internal/graphapi/eventstest/integrations_catalog_ingest_test.go
  internal/graphapi/eventstest/integrations_finding_ingest_test.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings_test.go
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/awssecurityhub/mappings_test.go
  internal/integrations/definitions/azureentraid/mappings.go
  internal/integrations/definitions/azuresecuritycenter/mappings.go
  internal/integrations/definitions/cloudflare/mappings.go
  internal/integrations/definitions/gcpscc/mappings.go
  internal/integrations/definitions/gcpscc/mappings_test.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/definitions/githubapp/mappings_directory_test.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/definitions/googleworkspace/mappings_test.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/okta/mappings.go
  internal/integrations/definitions/scim/mappings.go
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/slack/mappings_test.go
  internal/integrations/definitions/tailscale/mappings.go
  internal/integrations/definitions/zitadel/mappings.go
  internal/integrations/definitions/zitadel/mappings_test.go
  internal/integrations/mappingtest/mappingtest.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/providerkit/cel.go
  internal/integrations/providerkit/cel_test.go
  internal/integrations/types/mapping.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

regenerate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  db/migrations-goose-postgres/20260911214056_integrationrunstandardization.sql
  db/migrations-goose-postgres/20260911214101_integrationrunstandardization_history.sql
  db/migrations/20260911214042_integrationrunstandardization.sql
  db/migrations/20260911214047_integrationrunstandardization_history.sql
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/historygenerated/mutation.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/directorymembership.graphql
  internal/graphapi/query/entity.graphql
  internal/graphapi/query/identityholder.graphql
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
