Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

clean regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix all the handler tests
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_operations_test.go
  internal/httpserve/handlers/integration_providers_test.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/handlers/tools_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove old outdated readme, swing at uplifting the test UI up, update FGA model for integration run and integration webhook
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/model.fga
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/integration.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/tools_test.go
  internal/testutils/integrations/README.md
  internal/testutils/integrations/index.html
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

only the likely non conflicts
  .golangci.yaml
  Taskfile.yaml
  internal/ent/generated/integrationrun/integrationrun.go
  internal/ent/generated/migrate/schema.go
  internal/integrations/operations/ingest_generated.go
  internal/integrations/operations/reconcile.go
  internal/integrations/runtime/execution.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:

fix statusname mapping for finding and vuln, reset migrations and regenerate
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  db/migrations-goose-postgres/20260330034816_integrationswebhooks.sql
  db/migrations-goose-postgres/20260330034820_integrationswebhooks_history.sql
  db/migrations/20260330034806_integrationswebhooks.sql
  db/migrations/20260330034810_integrationswebhooks_history.sql
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/integrations/definitions/awssecurityhub/mappings.go
  internal/integrations/definitions/azuresecuritycenter/mappings.go
  internal/integrations/definitions/gcpscc/mappings.go
  internal/integrations/definitions/githubapp/mappings.go
  internal/integrations/operations/ingest_generated.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/workflow-docs.md
  jsonschema/workflow.definition.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

finish refactoring scim
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_config_test.go
  internal/httpserve/handlers/integration_types.go
  internal/httpserve/handlers/scim/attributes_test.go
  internal/httpserve/handlers/scim/context.go
  internal/httpserve/handlers/scim/directory_group_handler.go
  internal/httpserve/handlers/scim/directory_user_handler.go
  internal/httpserve/handlers/scim/doc.go
  internal/httpserve/handlers/scim/errors.go
  internal/httpserve/handlers/scim/helpers.go
  internal/httpserve/handlers/scim/ingest.go
  internal/httpserve/handlers/scim/request.go
  internal/httpserve/handlers/scim/runtime_ingest.go
  internal/httpserve/handlers/scim/server.go
  internal/httpserve/handlers/scim_handlers_test.go
  internal/httpserve/route/scim.go
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/gcpscc/types.go
  internal/integrations/definitions/githubapp/builder_test.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/scim/attributes.go
  internal/integrations/definitions/scim/builder.go
  internal/integrations/definitions/scim/errors.go
  internal/integrations/definitions/scim/operation_directory_sync.go
  internal/integrations/definitions/scim/operation_health.go
  internal/integrations/definitions/scim/payload.go
  internal/integrations/definitions/scim/payload_test.go
  internal/integrations/definitions/scim/types.go
  internal/integrations/providerkit/adapters.go
  internal/integrations/registry/registry.go
  internal/integrations/runtime/webhooks.go
  internal/integrations/types/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

schema fields
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/directorysyncrun.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/mixin_orgowned_test.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove local override
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

re-set migrations
  db/migrations-goose-postgres/20260330173054_integrationsdirectorywebhooks.sql
  db/migrations-goose-postgres/20260330173058_integrationsdirectorywebhooks_history.sql
  db/migrations/20260330173045_integrationsdirectorywebhooks.sql
  db/migrations/20260330173049_integrationsdirectorywebhooks_history.sql
Due: :postgres: atlas lint

pr feedback
  common/enums/identity_holder_type.go
  common/enums/status.go
  internal/ent/hooks/listeners_slack_helpers.go
  internal/ent/schema/asset.go
  internal/ent/schema/entity.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/integration.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/mixin_orgowned.go
  internal/ent/schema/mixin_orgowned_test.go
  internal/graphapi/evidence_test.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_disconnect.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/integration_webhook.go
  internal/httpserve/handlers/scim/directory_group_handler.go
  internal/httpserve/handlers/scim/directory_user_handler.go
  internal/httpserve/handlers/scim/helpers.go
  internal/httpserve/handlers/scim/request.go
  internal/httpserve/handlers/scim_handler.go
  internal/httpserve/handlers/tools_test.go
  internal/integrations/definitions/awssecurityhub/aws.go
  internal/integrations/definitions/awssecurityhub/installation.go
  internal/integrations/definitions/awssecurityhub/operation_assessments.go
  internal/integrations/definitions/awssecurityhub/operation_health.go
  internal/integrations/definitions/awssecurityhub/operation_vulnerabilities.go
  internal/integrations/definitions/awssecurityhub/types.go
  internal/integrations/operations/ingest.go
  internal/integrations/runtime/integration.go
  internal/integrations/runtime/keymaker.go
  internal/integrations/runtime/keymaker_test.go
  internal/integrations/runtime/runtime.go
  internal/workflows/engine/integration_executor.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

move to service owner designation
  internal/ent/schema/integrationwebhook.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix test
  internal/graphapi/identity_holder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

regenerate output
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config

go mod tidy
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

feat: add a requested status to enable evidence requests
  common/enums/evidencestatus.go
  common/enums/evidencestatus_test.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/evidencehistory/evidencehistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

feat: add a requested status to enable evidence requests (#2242)
  common/enums/evidencestatus.go
  common/enums/evidencestatus_test.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/evidencehistory/evidencehistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

user with owner role cannot be deleted if they are still an owner in atleast one org
  internal/ent/hooks/user.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

user with owner role cannot be deleted if they are still an owner in atleast one org (#2247)
  internal/ent/hooks/user.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

generate output
  db/create_migrations.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint

updated types
  internal/emailruntime/context_catalog.go
  internal/emailruntime/doc.go
  internal/emailruntime/engine.go
  internal/emailruntime/engine_test.go
  internal/emailruntime/errors.go
  internal/emailruntime/fallback.go
  internal/emailruntime/fallback_test.go
  internal/emailruntime/renderer.go
  internal/emailruntime/schema_validation.go
  internal/emailruntime/service_integration_test.go
  internal/emailruntime/template_data.go
  internal/emailruntime/template_data_test.go
  internal/emailruntime/types.go
  internal/emailruntime/types_test.go
  internal/ent/hooks/email_runtime.go
  internal/httpserve/handlers/email_runtime.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/send_email_integration_test.go
  internal/workflows/engine/template_renderer.go
  internal/workflows/engine/template_renderer_test.go
  internal/workflows/params.go
  internal/workflows/seeder.go
  internal/workflows/seeder_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

overrides
  go.mod
  internal/emailruntime/template_data.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

new hooks
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

pre generate
  internal/emailruntime/campaign.go
  internal/emailruntime/engine.go
  internal/emailruntime/errors.go
  internal/emailruntime/renderer.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/campaign.go
  internal/ent/hooks/email_runtime.go
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_vars_test.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/campaign.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add retrieve domain scan args
  common/jobspec/domains.go
Due: :terminal: build cli

add retrieve domain scan args (#2253)
  common/jobspec/domains.go
Due: :terminal: build cli

fix: docx tables formatting
  pkg/objects/storage/utils.go
Due: :yaml: generate config

fix: docx tables formatting (#2256)
  pkg/objects/storage/utils.go
Due: :yaml: generate config

collapse migrations
  db/migrations-goose-postgres/20260311182401_emailtemplates.sql
  db/migrations-goose-postgres/20260311182405_emailtemplates_history.sql
  db/migrations/20260311182352_emailtemplates.sql
  db/migrations/20260311182356_emailtemplates_history.sql
Due: :postgres: atlas lint

fix: fix stupid datetime generation runtime
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/evidence_create.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/evidencehistory/evidencehistory.go
  internal/ent/historygenerated/evidencehistory_create.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/evidence.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix dup lines
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/evidence.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: fix stupid datetime generation runtime (#2257)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/evidence_create.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/evidencehistory/evidencehistory.go
  internal/ent/historygenerated/evidencehistory_create.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/ent/schema/evidence.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
