Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix test
  internal/httpserve/handlers/tools_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Drop config level trustcenter preview zone id (#2723)
  cmd/serve.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/tools_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/listeners_trustcenter_cache_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/httpserve/handlers/tools_test.go
  internal/trustcenterurl/trustcenterurl.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

deps: update dev deps for postgres 18 (#2690)
  Taskfile.yaml
  db/atlas.hcl
  internal/entdb/client.go
  pkg/gala/test_helpers_test.go
Due: :yaml: generate config, :postgres: atlas lint

add tests for linking procedures/policies to evidences
  .task/checksum/generate-graphql-smart
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/authzmutationhelpers_test.go
  internal/graphapi/evidence_test.go
  internal/graphapi/models_test.go
  internal/graphapi/query/evidence.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add scope to tests since we now read the new edges
  internal/graphapi/apitoken_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix logic on drop to free modules to use attempt count
  internal/httpserve/handlers/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: remove registry from trial, this is unused today
  common/models/orgmodule_gen.go
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/login_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

fix logic on drop to free modules to use attempt count (#2736)
  internal/httpserve/handlers/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix catalog
  pkg/catalog/catalog.yaml
  pkg/catalog/catalog_sandbox.yaml
  pkg/catalog/gencatalog/gencatalog.go
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :yaml: generate config

fix: remove registry from trial, this is unused today (#2737)
  common/models/orgmodule_gen.go
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/login_test.go
  pkg/catalog/catalog.yaml
  pkg/catalog/catalog_sandbox.yaml
  pkg/catalog/gencatalog/gencatalog.go
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

updates
  Taskfile.yaml
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/base/entinit.tmpl
  internal/ent/generate/templates/ent/count.tmpl
  internal/ent/generate/templates/ent/edge_cleanup.tmpl
  internal/ent/generate/templates/ent/history_cleanup.tmpl
  internal/ent/generate/templates/ent/workflow_assignment_summary.tmpl
  internal/ent/generate/templates/entgql/gql_where.tmpl
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/integrations/cli/config/integrations.config.json
  internal/integrations/cli/stub/builder.go.tmpl
  internal/integrations/cli/stub/client.go.tmpl
  internal/integrations/cli/stub/installation.go.tmpl
  internal/integrations/cli/stub/operation_health.go.tmpl
  internal/integrations/cli/stub/types.go.tmpl
  jsonschema/workflow.definition.json
  pkg/catalog/genjsonschema/catalog.schema.json
  pkg/domainscan/browserrendering.go
  pkg/logx/README.md
  pkg/logx/consolelog/README.md
  pkg/middleware/ratelimit/README.md
  pkg/objects/.mockery.yml
  pkg/objects/README.md
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fixes
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/nda_attestation.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

Gqlgen
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix deprecated api for CF
  Taskfile.yaml
  internal/integrations/definitions/cloudflare/operation_directory_sync.go
Due: :yaml: generate config

test
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

config:generate
  jsonschema/core.config.json
Due: none

revert typo thats not a typo
  .typos.toml
  cli/cmd/trustcenternda/root.go
  common/enums/trustcenterdocumentstatus.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/listeners_nda_attestation.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

bump gqlgen
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

chore: update core v2 module tag
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

chore: update core v2 module tag (#2743)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

task db:create
  db/migrations-goose-postgres/20260830093820_audience.sql
  db/migrations-goose-postgres/20260830093830_audience_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260830093747_audience.sql
  db/migrations/20260830093758_audience_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

task regenerate
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/audience.generated.go
  internal/graphapi/generated/audiencemember.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/audience.graphql
  internal/graphapi/query/audiencemember.graphql
  internal/graphapi/schema/audience.graphql
  internal/graphapi/schema/audiencemember.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

use tagged version
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: view discussion comment, resolve discussion
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/base/note.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/schema/discussion.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/discussion.resolvers.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/note.resolvers.go
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :postgres: atlas lint

add fga version marker
  cmd/serve.go
  fga/Taskfile.yaml
  fga/model/fga.mod
  fga/model/generated/version.fga
  fga/model/helpers.go
  fga/model/version_test.go
  fga/modelversion/modelversion.go
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump iam
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: comments not returned, resolve discussion (#2747)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  cmd/serve.go
  common/go.mod
  common/go.sum
  fga/Taskfile.yaml
  fga/model/base/note.fga
  fga/model/fga.mod
  fga/model/generated/version.fga
  fga/model/helpers.go
  fga/model/version_test.go
  fga/modelversion/modelversion.go
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/schema/discussion.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/discussion.resolvers.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/note.resolvers.go
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

regen after rebase
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config

remove the rest, wait helper function in eventtest to prevent use in graphapi
  .buildkite/pipeline.yaml
  internal/graphapi/eventstest/events_helpers_test.go
  internal/graphapi/eventstest/identity_resolution_test.go
  internal/graphapi/eventstest/integrations_lifecycle_test.go
  internal/graphapi/eventstest/integrations_listeners_cleanup_test.go
  internal/graphapi/eventstest/listeners_campaign_recurring_test.go
  internal/graphapi/eventstest/listeners_entitlements_test.go
  internal/graphapi/eventstest/listeners_organization_cleanup_test.go
  internal/graphapi/eventstest/listeners_questionnaire_transform_test.go
  internal/graphapi/eventstest/listeners_scan_domain_test.go
  internal/graphapi/eventstest/listeners_subscriber_link_test.go
  internal/graphapi/eventstest/listeners_task_rules_test.go
  internal/graphapi/eventstest/organization_events_test.go
  internal/graphapi/eventstest/recurring_schedule_test.go
  internal/graphapi/eventstest/trustcenter_subscriber_events_test.go
  internal/graphapi/eventstest/trustcenternda_events_test.go
  internal/graphapi/eventstest/trustcenterndarequest_events_test.go
  internal/graphapi/eventstest/workflow_integration_test.go
  internal/graphapi/organization_test.go
  internal/graphapi/testharness/cleanup.go
  internal/graphapi/testharness/integrations.go
  internal/graphapi/testharness/wait.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
