Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add pending status to document enum
  .task/checksum/generate-graphql-smart
  common/enums/documentstatus.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/controlimplementation/controlimplementation.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/historygenerated/actionplanhistory/actionplanhistory.go
  internal/ent/historygenerated/controlimplementationhistory/controlimplementationhistory.go
  internal/ent/historygenerated/internalpolicyhistory/internalpolicyhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/procedurehistory/procedurehistory.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

regenerate output
  .task/checksum/generate-openapi-smart
Due: none

bump gomarkdown up to fix vuln
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

swap in new markdown tool to get rid of vuln and standardize on the package we already use elsewhere
  go.mod
  go.sum
  pkg/summarizer/summary.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add pending status to document enum (#2303)
  .task/checksum/generate-graphql-smart
  common/enums/documentstatus.go
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/controlimplementation/controlimplementation.go
  internal/ent/generated/internalpolicy/internalpolicy.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/historygenerated/actionplanhistory/actionplanhistory.go
  internal/ent/historygenerated/controlimplementationhistory/controlimplementationhistory.go
  internal/ent/historygenerated/internalpolicyhistory/internalpolicyhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/procedurehistory/procedurehistory.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/summarizer/summary.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regenerate
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix env values
  internal/ent/hooks/tools_test.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/testutils/fga.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

confirm operations to the Nmae construct, burn deviated patterns, add the campaign email flag to the integration so that I can thread it through the installation metadata, export schema vars
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/campaign.go
  internal/ent/hooks/email_config.go
  internal/ent/hooks/integration.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/ent/schema/campaign.go
  internal/ent/schema/integration.go
  internal/httpserve/handlers/email.go
  internal/httpserve/handlers/forgotpassword.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/resend_questionnaire.go
  internal/httpserve/handlers/resetpassword.go
  internal/httpserve/handlers/verifysubscribe.go
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/operation_send_email.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/executor_test.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/definition.go
  internal/integrations/types/operation.go
  internal/workflows/engine/send_email.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :postgres: atlas lint

ref for controls+ subcotnrols extraction should be async
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/listeners_document_associations.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/schema/mixin_document.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task generate and fix lint
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/documentextract.go
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config

fix summarizer and add tests
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: :yaml: generate config

fix summarizer and add tests (#2307)
  pkg/summarizer/summary.go
  pkg/summarizer/summary_test.go
Due: :yaml: generate config

do not return error on failure to summarize
  internal/ent/hooks/documents.go
Due: :golang: go generate, :yaml: generate config

Fix rebase errors
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/program/program.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/program.go
  internal/ent/schema/program.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/program_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

Reduce validate hook code complexity
  internal/ent/hooks/program.go
Due: :golang: go generate, :yaml: generate config

do not return error on failure to summarize (#2308)
  internal/ent/hooks/documents.go
Due: :golang: go generate, :yaml: generate config

Document extraction for control + subcontrol refs should be async (#2306)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/documentextract.go
  internal/ent/hooks/listeners_document_associations.go
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/schema/mixin_document.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Fix error message declaration nit
  internal/graphapi/program_test.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260416184015_organization_setting_pending_deletion_at.sql
  db/migrations-goose-postgres/20260416184023_organization_setting_pending_deletion_at_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260416183955_organization_setting_pending_deletion_at.sql
  db/migrations/20260416184004_organization_setting_pending_deletion_at_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Alter declaration of date validation hook error message
  internal/graphapi/program_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Rename error constant
  internal/graphapi/program_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Add Date Validation Hook (#2272)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/program/program.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/program.go
  internal/ent/schema/program.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/program_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

revert
  internal/ent/hooks/listeners_identityresolution.go
Due: :golang: go generate, :yaml: generate config

pr feedback, add tests
  internal/ent/hooks/listeners_identityresolution.go
  internal/graphapi/identity_resolution_test.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

do not sync email aliases to holder
  internal/ent/hooks/listeners_identityresolution.go
  internal/graphapi/identity_resolution_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260417200313_file_category_and_name.sql
  db/migrations-goose-postgres/20260417200323_file_category_and_name_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260417200247_file_category_and_name.sql
  db/migrations/20260417200300_file_category_and_name_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/query/directoryaccount.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

minor updates, cli
  .gitignore
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaignextended.resolvers.go
  internal/integrations/cli/cmd/quickstart/quickstart.go
  internal/integrations/cli/cmd/root.go
  internal/integrations/cli/config/config.example.yaml
  internal/integrations/cli/config/config.go
  internal/integrations/cli/config/integrations.config.json
  internal/integrations/definitions/email/render.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task db:create
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260420125531_organization_setting_pending_deletion_at.sql
  db/migrations-goose-postgres/20260420125541_organization_setting_pending_deletion_at_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260420125504_organization_setting_pending_deletion_at.sql
  db/migrations/20260420125516_organization_setting_pending_deletion_at_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/organizationsetting.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

drop unused bulkactionerror
  internal/graphapi/gqlerrors/errors.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
