Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

fix review
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_import_test.go
Due: :yaml: generate config

fix log import
  internal/ent/hooks/listeners_scan_domain.go
Due: :golang: go generate, :yaml: generate config

bump dependencies
  cli/go.sum
  common/go.sum
Due: :terminal: build cli

goimports -w
  internal/ent/hooks/listeners_scan_domain.go
Due: :golang: go generate, :yaml: generate config

fix definitions amongst others
  db/migrations-goose-postgres/20260910154436_audiences.sql
  db/migrations-goose-postgres/20260910154448_audiences_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260910154402_audiences.sql
  db/migrations/20260910154416_audiences_history.sql
  db/migrations/atlas.sum
  internal/audiences/filters.go
  internal/audiences/filters_test.go
  internal/ent/entityops/evaluate.go
  internal/ent/hooks/audience.go
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/integrations/definitions/email/audience_targets.go
  internal/integrations/definitions/email/audience_targets_test.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/operation_send_campaign_test.go
  internal/integrations/definitions/email/trustcenter_campaign.go
  internal/integrations/definitions/email/trustcenter_campaign_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix strings and use constants instead
  internal/controls/trustcenter.go
  internal/ent/hooks/onboarding_program.go
  internal/graphapi/control_test.go
  internal/graphapi/trustcenter_test.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix review
  internal/ent/hooks/listener_init.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/ent/hooks/listeners_document_associations.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_file_backup.go
  internal/ent/hooks/listeners_identityresolution.go
  internal/ent/hooks/listeners_integration_cleanup.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/hooks/listeners_registry.go
  internal/ent/hooks/listeners_scan_domain.go
  internal/ent/hooks/listeners_subscriber_link.go
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_trustcenter_watermark.go
  internal/ent/hooks/listeners_vendorscoring.go
  internal/ent/hooks/listeners_workflow.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/onboarding_program.go
  internal/graphapi/eventstest/listeners_onboarding_program_test.go
Due: :golang: go generate, :yaml: generate config

Update pkg/domainscan/browserbranding.go
  pkg/domainscan/browserbranding.go
Due: :yaml: generate config

fix review
  pkg/domainscan/browserbranding.go
Due: :yaml: generate config

register listener in test
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/tools_test.go
Due: :golang: go generate, :yaml: generate config

fix lint
  pkg/domainscan/errors.go
Due: :yaml: generate config

apply custom util to all other jsonb fields not just tags alone
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generate/templates/entgql/gql_where.tmpl
  internal/ent/generated/gql_where_input.go
  internal/ent/historygenerated/gql_where_input.go
  internal/ent/schemautil/tags.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260911195753_drop_file_category_type.sql
  db/migrations-goose-postgres/20260911195804_drop_file_category_type_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260911195714_drop_file_category_type.sql
  db/migrations/20260911195730_drop_file_category_type_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

task regenerate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config

Bump trivy to latest version
  .buildkite/pipeline.yaml
Due: none

Bump trivy to latest version (#2785)
  .buildkite/pipeline.yaml
Due: none

fix: buildkite agent v4 has reversed post command hooks, trivy has to come first
  .buildkite/pipeline.yaml
Due: none

fix: buildkite agent v4 has reversed post command hooks, trivy has to come first (#2787)
  .buildkite/pipeline.yaml
Due: none

rework implementation
  internal/ent/hooks/listener_init.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/ent/hooks/listeners_document_associations.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_file_backup.go
  internal/ent/hooks/listeners_identityresolution.go
  internal/ent/hooks/listeners_integration_cleanup.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/ent/hooks/listeners_organization_cleanup.go
  internal/ent/hooks/listeners_questionnaire_transform.go
  internal/ent/hooks/listeners_scan_domain.go
  internal/ent/hooks/listeners_subscriber_link.go
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_trustcenter_watermark.go
  internal/ent/hooks/listeners_vendorscoring.go
  internal/ent/hooks/listeners_workflow.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/onboarding_test.go
Due: :golang: go generate, :yaml: generate config

revert init
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/listeners_task_rules_test.go
Due: :golang: go generate, :yaml: generate config

fix merge
  common/go.mod
  common/go.sum
Due: :terminal: build cli

use jsonx
  internal/ent/hooks/listeners_onboarding_program.go
Due: :golang: go generate, :yaml: generate config

task regenerat
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

ctx already scoped to owner
  internal/ent/hooks/listeners_onboarding_program.go
Due: :golang: go generate, :yaml: generate config

drop hook validation
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/onboarding_test.go
Due: :golang: go generate, :yaml: generate config

improve Onboarding Flow for Program Creation (#2778)
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  internal/controls/trustcenter.go
  internal/ent/entityops/entity_registry.go
  internal/ent/hooks/listeners_onboarding_program.go
  internal/ent/hooks/listeners_registry.go
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/hooks/tools_test.go
  internal/ent/taskrules/onboarding.go
  internal/ent/taskrules/templates/onboarding.yaml
  internal/graphapi/control_test.go
  internal/graphapi/eventstest/listeners_onboarding_program_test.go
  internal/graphapi/trustcenter_test.go
  internal/onboarding/catalog.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

fix: file slow queries, pagination, subcontrol query
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/20260913180729_file_index.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260913180712_file_index.sql
  db/migrations/atlas.sum
  fga/model/base/file.fga
  fga/model/generated/version.fga
  fga/tests/tests.yaml
  fga/tests/tuples/files.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/gql_pagination.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/file.go
  internal/ent/schema/subcontrol.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/pagination_fga_test.go
  internal/graphapi/subcontrol_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :terminal: build cli, :postgres: atlas lint

add missing file
  internal/ent/hooks/contextx/rawcount.go
Due: :golang: go generate, :yaml: generate config

fix: 422 errors, compliance from only homepage, types, dmarc
  pkg/domainscan/browserrendering.go
  pkg/domainscan/company.go
  pkg/domainscan/compliance.go
  pkg/domainscan/emailauth.go
  pkg/domainscan/emailauth_test.go
  pkg/domainscan/findings.go
  pkg/domainscan/findings_test.go
  pkg/domainscan/merge.go
  pkg/domainscan/report.go
  pkg/domainscan/schema.go
  pkg/domainscan/types.go
  pkg/domainscan/wellknown.go
  pkg/domainscan/wellknown_test.go
Due: :yaml: generate config

cleanup
  pkg/domainscan/browserrendering.go
Due: :yaml: generate config

fix: file query speed, pagination slowness, subcontrol interceptor bug (#2795)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  db/migrations-goose-postgres/20260913180729_file_index.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260913180712_file_index.sql
  db/migrations/atlas.sum
  fga/model/base/file.fga
  fga/model/generated/version.fga
  fga/tests/tests.yaml
  fga/tests/tuples/files.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/gql_pagination.go
  internal/ent/hooks/contextx/rawcount.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/file.go
  internal/ent/schema/subcontrol.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/pagination_fga_test.go
  internal/graphapi/subcontrol_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :terminal: build cli, :postgres: atlas lint

add config
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/serveropts/backfill.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

add backfill implementation
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: build

task config:generate
  cmd/serve.go
  config/.env.example
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/serveropts/backfill.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
