Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :test_tube: Go Tests & Builds, :database: Database Changes, :auth0: FGA Changes, :gear: Config Changes

Path conditions:
  :test_tube: Go Tests & Builds: any of: **/*.go, go.mod, go.sum
  :database: Database Changes: any of: db/migrations/**/*.sql
  :auth0: FGA Changes: any of: fga/**
  :gear: Config Changes: any of: config/**, .buildkite/**

cleannup
  internal/graphapi/evidence_test.go
  internal/middleware/objects/middleware.go
Due: :test_tube: Go Tests & Builds

make org names more random to prevent collisions
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_sso_test.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/switch_test.go
Due: :test_tube: Go Tests & Builds

dont run this one in parallel maybe
  internal/graphapi/trustcentersubprocessor_test.go
Due: :test_tube: Go Tests & Builds

bug: fix missing origins from CORS config
  pkg/middleware/cors/cors.go
Due: :test_tube: Go Tests & Builds

bug: fix missing origins from CORS config (#1046)
  pkg/middleware/cors/cors.go
Due: :test_tube: Go Tests & Builds

fix: ensure org name uniqueness in tests
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
Due: :test_tube: Go Tests & Builds

fix: ensure org name uniqueness in tests (#1047)
  internal/graphapi/models_test.go
  internal/graphapi/organization_test.go
Due: :test_tube: Go Tests & Builds

actually functional openapi specs finally w00t
  .gitignore
  internal/httpserve/common/registration.go
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/login.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/handlers/seed_test.go
  internal/httpserve/handlers/sso_token.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/route/impersonation.go
  internal/httpserve/route/oauth_integration.go
  internal/httpserve/route/router.go
  internal/httpserve/route/sso_token.go
  internal/httpserve/server/openapi.go
  internal/httpserve/server/schema_registry.go
  internal/httpserve/server/server.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :test_tube: Go Tests & Builds

fix
  internal/ent/schema/actionplan.go
  internal/ent/schema/apitoken.go
  internal/ent/schema/contact.go
  internal/ent/schema/controlimplementation.go
  internal/ent/schema/controlobjective.go
  internal/ent/schema/documentdata.go
  internal/ent/schema/emailverificationtoken.go
  internal/ent/schema/entity.go
  internal/ent/schema/event.go
  internal/ent/schema/evidence.go
  internal/ent/schema/export.go
  internal/ent/schema/file.go
  internal/ent/schema/groupmembership.go
  internal/ent/schema/groupsetting.go
  internal/ent/schema/integration.go
  internal/ent/schema/invite.go
  internal/ent/schema/jobresult.go
  internal/ent/schema/jobrunner_registration_token.go
  internal/ent/schema/jobrunner_token.go
  internal/ent/schema/mappedcontrol.go
  internal/ent/schema/onboarding.go
  internal/ent/schema/orgsubscription.go
  internal/ent/schema/passwordresettoken.go
  internal/ent/schema/personalaccesstoken.go
  internal/ent/schema/programmembership.go
  internal/ent/schema/scan.go
  internal/ent/schema/scheduledjobrun.go
  internal/ent/schema/standard.go
  internal/ent/schema/tfasetting.go
  internal/ent/schema/trustcenter_settings.go
  internal/ent/schema/trustcenter_subprocessor.go
  internal/ent/schema/webauthn.go
  pkg/openlaneclient/models.go
Due: :test_tube: Go Tests & Builds

task generate
  internal/ent/generated/actionplan/actionplan.go
  internal/ent/generated/asset/asset.go
  internal/ent/generated/contact/contact.go
  internal/ent/generated/control/control.go
  internal/ent/generated/controlimplementation/controlimplementation.go
  internal/ent/generated/controlobjective/controlobjective.go
  internal/ent/generated/documentdata/documentdata.go
  internal/ent/generated/entity/entity.go
  internal/ent/generated/entitytype/entitytype.go
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/export/export.go
  internal/ent/generated/file/file.go
  internal/ent/generated/group/group.go
  internal/ent/generated/groupmembership/groupmembership.go
  internal/ent/generated/groupsetting/groupsetting.go
  internal/ent/generated/hush/hush.go
  internal/ent/generated/integration/integration.go
  internal/ent/generated/invite/invite.go
  internal/ent/generated/jobrunner/jobrunner.go
  internal/ent/generated/jobrunnerregistrationtoken/jobrunnerregistrationtoken.go
  internal/ent/generated/narrative/narrative.go
  internal/ent/generated/orgsubscription/orgsubscription.go
  internal/ent/generated/personalaccesstoken/personalaccesstoken.go
  internal/ent/generated/procedure/procedure.go
  internal/ent/generated/program/program.go
  internal/ent/generated/risk/risk.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/scan/scan.go
  internal/ent/generated/scheduledjob/scheduledjob.go
  internal/ent/generated/scheduledjobrun/scheduledjobrun.go
  internal/ent/generated/standard/standard.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/subprocessor/subprocessor.go
  internal/ent/generated/task/task.go
  internal/ent/generated/tfasetting/tfasetting.go
  internal/ent/generated/trustcenter/trustcenter.go
  internal/ent/generated/trustcentersetting/trustcentersetting.go
  internal/ent/generated/trustcentersubprocessor/trustcentersubprocessor.go
  internal/entitlements/features/features.go
Due: :test_tube: Go Tests & Builds

disbale test anlaytics upload
  .buildkite/pipeline.yaml
Due: :gear: Config Changes

disbale test anlaytics upload (#1055)
  .buildkite/pipeline.yaml
Due: :gear: Config Changes

feat: add setup for basic user and pat token
  cmd/cli/Taskfile.yaml
Due: none

update desc
  cmd/cli/Taskfile.yaml
Due: none

fix
  go.mod
  go.sum
  internal/graphapi/query/control.graphql
  internal/graphapi/schema/control.graphql
Due: :test_tube: Go Tests & Builds

bump gqlplugins
  go.mod
  go.sum
Due: :test_tube: Go Tests & Builds

task generate + tests
  internal/graphapi/contact_test.go
  internal/graphapi/control_test.go
  internal/graphapi/internalpolicy_test.go
  internal/graphapi/procedure_test.go
  internal/graphapi/risk_test.go
  internal/graphapi/task_test.go
Due: :test_tube: Go Tests & Builds

fixes
  internal/ent/privacy/rule/features.go
  internal/ent/schema/orgsubscription.go
  internal/graphapi/seed_test.go
Due: :test_tube: Go Tests & Builds

feat: add setup for basic user and pat token (#1058)
  cmd/cli/Taskfile.yaml
Due: none

missing doc
  internal/httpserve/common/doc.go
Due: :test_tube: Go Tests & Builds

update outstanding dependencies
  go.mod
  go.sum
  internal/ent/hooks/tools_test.go
  internal/ent/hush/bench/bench.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  pkg/testutils/fga/helpers.go
Due: :test_tube: Go Tests & Builds

update checksums and rename task; revert ent update
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  Taskfile.yaml
  go.mod
  go.sum
Due: :test_tube: Go Tests & Builds, :gear: Config Changes

spelling is hard
  .buildkite/pipeline.yaml
Due: :gear: Config Changes

also bump prometheus
  go.mod
  go.sum
Due: :test_tube: Go Tests & Builds

generated config since email templates got pulled in
  config/configmap.yaml
Due: :gear: Config Changes

Bulk update dependencies (#1066)
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  Taskfile.yaml
  config/configmap.yaml
  go.mod
  go.sum
  internal/ent/hooks/tools_test.go
  internal/ent/hush/bench/bench.go
  internal/graphapi/tools_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/option.go
  pkg/testutils/fga/helpers.go
Due: :test_tube: Go Tests & Builds, :gear: Config Changes

fix validation for webauthn endpoints
  pkg/models/models.go
Due: :test_tube: Go Tests & Builds

fix: unbound variable
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes

make words look less good
  internal/httpserve/route/2fa.go
  internal/httpserve/route/accountaccess.go
  internal/httpserve/route/accountfeatures.go
  internal/httpserve/route/accountroles.go
  internal/httpserve/route/accountrolesorganization.go
  internal/httpserve/route/acmesolver.go
  internal/httpserve/route/base.go
  internal/httpserve/route/csrf.go
  internal/httpserve/route/files.go
  internal/httpserve/route/forgotpass.go
  internal/httpserve/route/impersonation.go
  internal/httpserve/route/invite.go
  internal/httpserve/route/job_runner.go
  internal/httpserve/route/login.go
  internal/httpserve/route/oauth.go
  internal/httpserve/route/oauth_integration.go
  internal/httpserve/route/refresh.go
  internal/httpserve/route/register.go
  internal/httpserve/route/resend.go
  internal/httpserve/route/resetpass.go
  internal/httpserve/route/router.go
  internal/httpserve/route/sso.go
  internal/httpserve/route/sso_token.go
  internal/httpserve/route/static.go
  internal/httpserve/route/subscribe.go
  internal/httpserve/route/switch.go
  internal/httpserve/route/trustcenter_anonymousjwt.go
  internal/httpserve/route/upload.go
  internal/httpserve/route/verify.go
  internal/httpserve/route/webauthn.go
  internal/httpserve/route/webhook.go
  internal/httpserve/route/wellknown.go
Due: :test_tube: Go Tests & Builds

fix: unbound variable (#1068)
  .buildkite/post-merge-pr-automation.sh
Due: :gear: Config Changes
