Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix existing bug where non regular users bypassed every single check and it was done only by system admins
  internal/ent/hooks/standard.go
  internal/ent/hooks/standard_test.go
  internal/graphapi/control_test.go
  internal/graphapi/standard_test.go
Due: :golang: go generate, :yaml: generate config

Prevent deletion of standard if linked to trustcenter or control (#1820)
  internal/ent/hooks/standard.go
  internal/ent/hooks/standard_test.go
  internal/graphapi/control_test.go
  internal/graphapi/standard_test.go
Due: :golang: go generate, :yaml: generate config

set status correctly to disabled if need be
  internal/ent/hooks/trustcenterdoc.go
  internal/graphapi/trustcenterdoc_test.go
Due: :golang: go generate, :yaml: generate config

set status correctly to disabled if need be (#1821)
  internal/ent/hooks/trustcenterdoc.go
  internal/graphapi/trustcenterdoc_test.go
Due: :golang: go generate, :yaml: generate config

some fixes
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/customdomain_test.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterentity.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/trustcenterentity.graphql
Due: :golang: go generate, :yaml: generate config

trustcenter subprocessor export
  .task/checksum/generate-ent-smart
  cli/go.mod
  cli/go.sum
  common/enums/exporttype.go
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/trustcenter_subprocessor.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

trustcenter subprocessor export (#1826)
  .task/checksum/generate-ent-smart
  cli/go.mod
  cli/go.sum
  common/enums/exporttype.go
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/trustcenter_subprocessor.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

make sure to return data with errors if trustcenter fetching fails midway for a specific node/edge
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config

only do this for anon tokens
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config

feat: add new gqlgen schema for syntax highlighting
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/generate/.gqlgen_history.yml
Due: :golang: go generate, :yaml: generate config

fix path
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config

remove failure check to test
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config

feat: add new gqlgen schema for syntax highlighting (#1829)
  internal/graphapi/generate/.gqlgen.yml
  internal/graphapi/generate/.gqlgen_history.yml
Due: :golang: go generate, :yaml: generate config

Trust Center API Call shouldn't error completely (#1830)
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config

add hook to send email if billing account changes
  go.mod
  internal/ent/hooks/organizationsetting.go
  internal/ent/schema/organizationsetting.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add extra emailtemplates property
  go.mod
  go.sum
  internal/ent/hooks/organizationsetting.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task regeenrate
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

generate config
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs

only send billing email if old email exists
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/user.go
Due: :golang: go generate, :yaml: generate config

task regenerate/fix merge conflicts
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

allowctx is redundant, user should have access for the update operation
  internal/ent/hooks/organizationsetting.go
Due: :golang: go generate, :yaml: generate config

Send email about changes to billing email (#1835)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/organizationsetting/organizationsetting.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/user.go
  internal/ent/schema/organizationsetting.go
  internal/graphapi/checksum/.schema_checksum
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add notifcaiton only if the person that made the export request is a real user from dashboard. no need to add notifications for service keys
  internal/ent/notifications/exports.go
Due: :golang: go generate, :yaml: generate config

update tests
  internal/ent/hooks/invite_test.go
  internal/ent/notifications/events_test.go
Due: :golang: go generate, :yaml: generate config

use trustcenter nda custom resolver pattern
  internal/graphapi/customdomain.resolvers.go
  internal/graphapi/customdomaintmpl.go
Due: :golang: go generate, :yaml: generate config

rollback gqlgen
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Revert "Trust Center API Call shouldn't error completely (#1830)"
  internal/ent/interceptors/trustcenter.go
Due: :golang: go generate, :yaml: generate config
