Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

make generic to handle details and description
  internal/ent/privacy/rule/allow_comments.go
Due: :golang: go generate, :yaml: generate config

Fix comments not showing up on policies/procedures (#2762)
  db/migrations-goose-postgres/20260903204053_integration_health.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260903204021_integration_health.sql
  db/migrations/atlas.sum
  internal/ent/privacy/rule/allow_comments.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

rebase and move tests to new location
  internal/graphapi/eventstest/integration_sweep_test.go
  internal/graphapi/testharness/harness.go
  internal/integrations/definitions/system/op_integration_lifecycle.go
  internal/integrations/definitions/system/op_integration_lifecycle_test.go
Due: :golang: go generate, :yaml: generate config

integration lifecycle management
  internal/graphapi/integration_sweep_test.go
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/catalog/types.go
  internal/integrations/definitions/system/builder.go
  internal/integrations/definitions/system/errors.go
  internal/integrations/definitions/system/op_integration_lifecycle.go
  internal/integrations/definitions/system/op_integration_lifecycle_test.go
  internal/integrations/definitions/system/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/health.go
  internal/integrations/types/runtime_services.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add integration TTL field and reaper
  .task/checksum/generate-ent-smart
  db/migrations-goose-postgres/20260902155959_expires_at.sql
  db/migrations/20260902155946_expires_at.sql
  go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/generated/entql.go
  internal/ent/generated/gql_collection.go
  internal/ent/generated/gql_pagination.go
  internal/ent/generated/gql_where_input.go
  internal/ent/generated/integration.go
  internal/ent/generated/integration/integration.go
  internal/ent/generated/integration/where.go
  internal/ent/generated/integration_create.go
  internal/ent/generated/integration_update.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/schema/integration.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/eventstest/integration_sweep_test.go
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/graphapi/testharness/cleanup.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/serveropts/backfill.go
  internal/integrations/definitions/system/builder.go
  internal/integrations/definitions/system/errors.go
  internal/integrations/definitions/system/op_integration_lifecycle.go
  internal/integrations/definitions/system/op_integration_lifecycle_test.go
  internal/integrations/definitions/system/types.go
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/health.go
  internal/integrations/runtime/integration.go
  internal/integrations/types/runtime_services.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

regenmerate
  go.mod
  internal/graphapi/query/integration.graphql
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regenerate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_projection.go
  internal/ent/generated/migrate/schema.go
  internal/ent/generated/mutation.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/eventstest/integration_sweep_test.go
  internal/graphapi/query/integration.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/integrations/definitions/system/builder.go
  internal/integrations/definitions/system/op_integration_lifecycle.go
  internal/integrations/runtime/credentials.go
  internal/integrations/types/runtime_services.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

regenerate migrations
  db/migrations-goose-postgres/20260904202403_expiresatintegrations.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260904202350_expiresatintegrations.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

config generate
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

defaults
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/integrations/definitions/system/types.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

logger pfft
  internal/integrations/definitions/system/op_integration_lifecycle.go
Due: :yaml: generate config

extend directory membership
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/integrationextended.resolvers.go
  internal/graphapi/query/integration.graphql
  internal/graphapi/schema/directorymembershipextended.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

explicitly exclude deleted_at in predicates
  internal/integrations/definitions/system/op_organization_delete.go
  internal/integrations/definitions/system/subscriptions.go
Due: :yaml: generate config

maybe use PendingDeletedAt instead for ordering
  internal/integrations/definitions/system/op_organization_delete.go
Due: :yaml: generate config

clean up review
  internal/graphapi/schema/domainscanextended.graphql
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
Due: :golang: go generate, :yaml: generate config

make sure org settings update cannot apply branding updates again + handle case where org has no trustcenter
  internal/ent/hooks/listeners_scan_domain.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :golang: go generate, :yaml: generate config

Try to fix deletion queries (#2771)
  internal/integrations/definitions/system/op_organization_delete.go
  internal/integrations/definitions/system/subscriptions.go
Due: :yaml: generate config

fix: fix generation of config into infra
  config/helm-values.yaml
  jsonschema/schema_generator.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

bump to 1.27.1
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/integrationextended.resolvers.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/integration.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go v1.27.1
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: linter
  internal/entitlements/reconciler/stripe_operations.go
  pkg/entitlements/customers.go
  pkg/entitlements/subscriptions.go
Due: :yaml: generate config

fix lint
  internal/entitlements/reconciler/stripe_operations.go
  internal/httpserve/config/config.go
  pkg/entitlements/customers.go
  pkg/entitlements/subscriptions.go
Due: :yaml: generate config

PreferServerCipherSuites has been deprecated since go1.18
  internal/httpserve/config/config.go
Due: :yaml: generate config

fix: fix generation of config into infra (#2772)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  config/helm-values.yaml
  docker/all-in-one/Dockerfile.all-in-one
  go.mod
  go.work
  internal/entitlements/reconciler/stripe_operations.go
  internal/httpserve/config/config.go
  jsonschema/schema_generator.go
  pkg/entitlements/customers.go
  pkg/entitlements/subscriptions.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

go mod tidy
  cli/go.sum
  common/go.sum
Due: :terminal: build cli

update prompt
  internal/entitlements/reconciler/stripe_operations.go
  pkg/domainscan/prompts.go
Due: :yaml: generate config

use google favicon service
  pkg/domainscan/branding.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
Due: :yaml: generate config

test script tag, fix apply brand
  internal/ent/hooks/listeners_scan_domain.go
  internal/ent/hooks/organization.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config

cherry-pick commit from #2773
  internal/ent/hooks/listeners_scan_domain.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config

default to document.body only if we cannot fetch first main or paragraph element
  internal/integrations/definitions/cloudflare/builder.go
  pkg/domainscan/browserrendering.go
Due: :yaml: generate config

track error
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  pkg/domainscan/branding.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/errors.go
  pkg/domainscan/schema.go
  pkg/domainscan/types.go
Due: :yaml: generate config

use cloudflare cdp instead as it is mych more reliable
  internal/integrations/definitions/cloudflare/builder.go
  pkg/domainscan/brandingscript.go
  pkg/domainscan/browserbranding.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
Due: :yaml: generate config

task regenerate
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix lint
  pkg/domainscan/browserbranding.go
  pkg/domainscan/errors.go
Due: :yaml: generate config

create program if selected
  .task/checksum/generate-ent-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/entityops/entity_registry.go
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/onboarding_program.go
  internal/ent/hooks/onboarding_test.go
  internal/ent/taskrules/onboarding.go
  internal/ent/taskrules/templates/onboarding.yaml
  internal/graphapi/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Update internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

Update internal/ent/hooks/listeners_scan_domain.go
  internal/ent/hooks/listeners_scan_domain.go
Due: :golang: go generate, :yaml: generate config
