Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix over-seeded tests, parallel subtests
  internal/graphapi/eventstest/integrations_lifecycle_test.go
  internal/graphapi/eventstest/integrations_listeners_cleanup_test.go
  internal/graphapi/eventstest/listeners_organization_cleanup_test.go
  internal/graphapi/eventstest/recurring_schedule_test.go
  internal/graphapi/group_test.go
  internal/graphapi/orgmembers_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcentercompliance_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

cleanup helpers
  internal/graphapi/contact_test.go
  internal/graphapi/eventstest/events_helpers_test.go
  internal/graphapi/eventstest/identity_resolution_test.go
  internal/graphapi/eventstest/integrations_lifecycle_test.go
  internal/graphapi/eventstest/integrations_listeners_cleanup_test.go
  internal/graphapi/eventstest/listeners_campaign_recurring_test.go
  internal/graphapi/eventstest/listeners_document_associations_test.go
  internal/graphapi/eventstest/listeners_entitlements_test.go
  internal/graphapi/eventstest/listeners_identityresolution_update_test.go
  internal/graphapi/eventstest/listeners_nda_attestation_test.go
  internal/graphapi/eventstest/listeners_organization_cleanup_test.go
  internal/graphapi/eventstest/listeners_questionnaire_transform_test.go
  internal/graphapi/eventstest/listeners_scan_domain_test.go
  internal/graphapi/eventstest/listeners_subscriber_link_test.go
  internal/graphapi/eventstest/listeners_task_rules_test.go
  internal/graphapi/eventstest/listeners_trustcenter_cache_test.go
  internal/graphapi/eventstest/listeners_trustcenter_watermark_test.go
  internal/graphapi/eventstest/listeners_vendorscoring_test.go
  internal/graphapi/eventstest/listeners_workflow_mutation_test.go
  internal/graphapi/eventstest/organization_events_test.go
  internal/graphapi/eventstest/recurring_schedule_test.go
  internal/graphapi/eventstest/trustcenter_subscriber_events_test.go
  internal/graphapi/eventstest/trustcenternda_events_test.go
  internal/graphapi/eventstest/trustcenterndarequest_events_test.go
  internal/graphapi/eventstest/workflow_integration_test.go
  internal/graphapi/testharness/deletedkeys.go
  internal/graphapi/testharness/errors.go
  internal/graphapi/testharness/files.go
  internal/graphapi/testharness/harness.go
  internal/graphapi/testharness/stripe.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove dead code
  internal/graphapi/testharness/trustcenter.go
Due: :golang: go generate, :yaml: generate config

put with other of similar
  Taskfile.yaml
Due: none

fga update
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
Due: none

fix text due to changed seed
  internal/graphapi/group_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix new tests after rebase
  internal/graphapi/eventstest/listeners_file_backup_test.go
  internal/graphapi/internalpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: redirect to sso on 401 was relative
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth_sso_test.go
  pkg/ssoutils/routes.go
  pkg/ssoutils/routes_test.go
Due: :golang: go generate, :yaml: generate config

fix: redirect to sso on 401 was relative (#2749)
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth_sso_test.go
  pkg/ssoutils/routes.go
  pkg/ssoutils/routes_test.go
Due: :golang: go generate, :yaml: generate config

extend domain scanning to extract brand colors
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_submit.go
  pkg/domainscan/branding.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/schema.go
  pkg/domainscan/types.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

rebase, fix logger
  fga/modelversion/modelversion.go
  internal/ent/hooks/control.go
  internal/ent/hooks/listeners_file_backup.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

fix cleanup
  internal/ent/schemautil/trustcenter_scope.go
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/route/router.go
  internal/objects/service.go
  pkg/middleware/auth/auth.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Apply batched suggestions from code review
  internal/integrations/definitions/fossa/builder.go
Due: :yaml: generate config

rebase fix
  internal/graphapi/testharness/harness.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

persist in db and update trustcenter settings if domain matches
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/domain_scan_import.go
  internal/graphapi/domain_scan_review.go
  internal/graphapi/domain_scan_review_test.go
  internal/graphapi/domainscanextended.resolvers.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/domainscanextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterpreviewsetting.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/internalpolicy.graphql
  internal/graphapi/schema/domainscanextended.graphql
  internal/graphapi/schema/trustcenterpreviewsetting.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterpreviewsetting_helpers.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_import.go
  pkg/domainscan/branding.go
  pkg/domainscan/browserrendering.go
  pkg/domainscan/prompts.go
  pkg/domainscan/report.go
  pkg/domainscan/report_test.go
  pkg/domainscan/schema.go
  pkg/domainscan/types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task config:generate
  config/.env.example
  config/configmap-config-file.yaml
  config/helm-values.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

goimports -w
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

task config:generate with new build-image
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: none

feat: allow auditors to view registry objects
  fga/model/generated/crud.fga
  fga/model/generated/version.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

feat: allow auditors to view registry objects (#2756)
  fga/model/generated/crud.fga
  fga/model/generated/version.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

fix current production errors related to directory sync and azureentraID
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_errors.go
  internal/ent/entityops/entity_registry.go
  internal/ent/hooks/listeners_identityresolution.go
  internal/graphapi/eventstest/integrations_directorysync_ingest_test.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directoryaccount_persist.go
  internal/integrations/operations/ingest_directorygroup_persist.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: jsonschema2mk v2.2.3 was updated on build image
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: none

fix: jsonschema2mk v2.2.3 was updated on build image (#2758)
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: none

fix current production errors related to directory sync and azureentraID (#2759)
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/entityops/entity_errors.go
  internal/ent/entityops/entity_registry.go
  internal/ent/hooks/listeners_identityresolution.go
  internal/graphapi/eventstest/integrations_directorysync_ingest_test.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/azureentraid/builder.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directoryaccount_persist.go
  internal/integrations/operations/ingest_directorygroup_persist.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add isBrandDesignOnly to metadata
  internal/ent/hooks/listeners_scan_domain.go
  internal/graphapi/schema/domainscanextended.graphql
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_gather_enrichment.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  internal/integrations/definitions/cloudflare/types.go
Due: :golang: go generate, :yaml: generate config

add tests
  internal/graphapi/eventstest/events_helpers_test.go
  internal/graphapi/eventstest/integrations_degraded_test.go
  internal/integrations/operations/reconcile_test.go
  internal/integrations/runtime/health_test.go
Due: :golang: go generate, :yaml: generate config

added correct imports
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/client.go
  internal/integrations/definitions/fossa/client_test.go
  internal/integrations/definitions/fossa/examples/vulnerabilitysync/main.go
  internal/integrations/definitions/fossa/installation.go
  internal/integrations/definitions/fossa/mappings.go
  internal/integrations/definitions/fossa/mappings_test.go
  internal/integrations/definitions/fossa/operation_health.go
  internal/integrations/definitions/fossa/operation_vulnerability_sync.go
  internal/integrations/definitions/fossa/operation_vulnerability_sync_test.go
  internal/integrations/definitions/fossa/types.go
Due: :yaml: generate config

improvement in comments
  internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/errors.go
  internal/integrations/definitions/fossa/examples/vulnerabilitysync/main.go
  internal/integrations/definitions/fossa/operation_health.go
  internal/integrations/definitions/fossa/types.go
Due: :yaml: generate config

use existing scan_id if it exists to prevent picking wrong data if multiple db rows match the domain
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/hooks/listeners_scan_domain.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/domain_scan_import.go
  internal/graphapi/domainscanextended.resolvers.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/domainscanextended.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

auto apply the first brand design from domains in onboarding and add config to allow new scans update the brand design too
  internal/ent/hooks/listeners_scan_domain.go
  internal/graphapi/domainscanextended.resolvers.go
  internal/integrations/definitions/cloudflare/domain_scan_import.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/cloudflare/errors.go
  internal/integrations/definitions/cloudflare/operation_domain_scan_request.go
  internal/integrations/definitions/cloudflare/types.go
  jsonschema/api-docs.md
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix roles
  internal/integrations/runtime/health.go
  sonar-project.properties
Due: :yaml: generate config

fix unauthorized bug when member comments on procedure
  internal/ent/privacy/rule/allow_comments.go
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260903204053_integration_health.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260903204021_integration_health.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

use helper
  pkg/slateparser/utils_test.go
Due: :yaml: generate config
