Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

change actual enum types
  common/enums/custom_domain_status.go
  common/enums/custom_domain_status_test.go
Due: :golang: go generate, :terminal: build cli

fix var naming
  internal/graphapi/common/helpers.go
Due: :golang: go generate, :yaml: generate config

regenerate, add enums to generate checksum, fix new test
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/dnsverification/dnsverification.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/dnsverificationhistory/dnsverificationhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/evidence_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

More forgiving CSV uploads; granular error messages surfaced (#1792)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/enums/custom_domain_status.go
  common/enums/custom_domain_status_test.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/ent/generated/dnsverification/dnsverification.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/dnsverificationhistory/dnsverificationhistory.go
  internal/ent/historygenerated/migrate/schema.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/common/errors.go
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/errors.go
  internal/graphapi/evidence_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/gqlerrors/errors.go
  internal/graphapi/history/errors.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix: panic on nil modules
  internal/ent/interceptors/modules.go
Due: :golang: go generate, :yaml: generate config

fix: panic on nil modules (#1805)
  internal/ent/interceptors/modules.go
Due: :golang: go generate, :yaml: generate config

feat: add more risk enums
  db/seed/04_seed_uncategorized_enums.sql
Due: :postgres: atlas lint

feat: add more risk enums
  db/seed/04_seed_uncategorized_enums.sql
  db/seed/05_seed_risk_enums.sql
Due: :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260107162840_subprocessor_url.sql
  db/migrations-goose-postgres/20260107162847_subprocessor_url_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260107162824_subprocessor_url.sql
  db/migrations/20260107162831_subprocessor_url_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

feat: fix for admin
  internal/objects/service.go
  internal/objects/store/persistence.go
Due: :yaml: generate config

bump riverboat
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix cli
  cli/cmd/internalpolicy/create.go
  cli/cmd/internalpolicy/root.go
  cli/cmd/internalpolicy/update.go
  cli/cmd/procedure/create.go
  cli/cmd/procedure/root.go
  cli/cmd/procedure/update.go
  cli/cmd/task/root.go
Due: :terminal: build cli

update endpoint to match trustcenter
  fga/model/model.fga
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

feat: missing risk kind (#1806)
  db/seed/05_seed_risk_enums.sql
Due: :postgres: atlas lint

feat: additional frontmatter, validate framewrokRevision, bk pipeline secrets
  .buildkite/pipeline.yaml
  internal/ent/hooks/documents.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/common/errors.go
  internal/graphapi/errors.go
  pkg/objects/storage/markdown.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

update endpoint to match trustcenter (#1804)
  fga/model/model.fga
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

soiree refactor; reduce API surface, make exported fuctions easier to understand, remove things never used
  .golangci.yaml
  internal/ent/hooks/event_predicate_test.go
  internal/ent/hooks/eventer.go
  internal/graphapi/history/resolver.go
  internal/graphapi/resolver.go
  pkg/events/soiree/errors.go
  pkg/events/soiree/event.go
  pkg/events/soiree/event_test.go
  pkg/events/soiree/eventpool.go
  pkg/events/soiree/eventpool_test.go
  pkg/events/soiree/examples/error-handling/main.go
  pkg/events/soiree/examples/metrics/main.go
  pkg/events/soiree/examples/ordering/main.go
  pkg/events/soiree/examples/panics/main.go
  pkg/events/soiree/examples/pools/README.md
  pkg/events/soiree/examples/pools/main.go
  pkg/events/soiree/examples/redis/main.go
  pkg/events/soiree/examples/uniqueID/main.go
  pkg/events/soiree/idempotency.go
  pkg/events/soiree/listener.go
  pkg/events/soiree/metrics.go
  pkg/events/soiree/options.go
  pkg/events/soiree/options_test.go
  pkg/events/soiree/pool.go
  pkg/events/soiree/pool_test.go
  pkg/events/soiree/priority_test.go
  pkg/events/soiree/redis_store.go
  pkg/events/soiree/redis_store_test.go
  pkg/events/soiree/registry.go
  pkg/events/soiree/registry_test.go
  pkg/events/soiree/retry_store_test.go
  pkg/events/soiree/soiree.go
  pkg/events/soiree/store.go
  pkg/events/soiree/topics.go
  pkg/events/soiree/topics_test.go
  pkg/events/soiree/topics_typed.go
  pkg/events/soiree/workflow.go
  pkg/events/soiree/workflow_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint :lint-roller:

feat: additional frontmatter, validate framewrokRevision, bk pipeline secrets (#1809)
  .buildkite/pipeline.yaml
  internal/ent/hooks/documents.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/common/errors.go
  internal/graphapi/errors.go
  pkg/objects/storage/markdown.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

revert golanglint config update; add back pool name
  .golangci.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/eventer.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint :lint-roller:

task generate config
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: none

bump gqlgen plugin, regenerate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/control/control.go
  internal/ent/generated/control_create.go
  internal/ent/generated/control_update.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/subcontrol/subcontrol.go
  internal/ent/generated/subcontrol_create.go
  internal/ent/generated/subcontrol_update.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/tagdefinition.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/control_clone.go
  internal/graphapi/search.resolvers.go
  pkg/events/soiree/pool.go
  pkg/events/soiree/pool_metrics_test.go
  pkg/events/soiree/redis_store.go
  pkg/events/soiree/store.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

set trust center id on bulk
  internal/graphapi/trustcentercompliance.resolvers.go
Due: :golang: go generate, :yaml: generate config

fix flaky tests; add unnecessary comments
  internal/graphapi/control_clone.go
  pkg/events/soiree/workflow.go
Due: :golang: go generate, :yaml: generate config

fix: trust center bulk create ensure trust center id is set
  internal/graphapi/trustcentercompliance.resolvers.go
Due: :golang: go generate, :yaml: generate config

clenaup
  internal/graphapi/trustcentercompliance.resolvers.go
Due: :golang: go generate, :yaml: generate config

fix: bulk compliances trust center without trustcenterid (#1812)
  internal/graphapi/trustcentercompliance.resolvers.go
Due: :golang: go generate, :yaml: generate config

feat: bulk update control csv
  internal/graphapi/bulk_helpers.go
  internal/graphapi/control.resolvers.go
  internal/graphapi/schema/control.graphql
Due: :golang: go generate, :yaml: generate config

feat: bulk update control csv
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

feat: add bulk csv update for controls (#1811)
  .task/checksum/generate-graphql-smart
  internal/graphapi/bulk_helpers.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/control.resolvers.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/control.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix build
  cli/cmd/standard/create.go
  cli/cmd/standard/update.go
Due: :terminal: build cli

do not overwrite CorrelatedObjectType if already set by a previous function
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/objects/resolver/rules.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config

do not overwrite CorrelatedObjectType if already set by a previous function (#1815)
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/objects/resolver/rules.go
  internal/objects/upload/handler.go
Due: :golang: go generate, :yaml: generate config

regen fully
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/slateJSON.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  pkg/slateparser/utils.go
  pkg/slateparser/utils_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

if standard is in use by trustcenter or control, do not allow it to be deleted
  internal/ent/hooks/standard.go
  internal/ent/hooks/standard_test.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
