Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

one more fix
  internal/httpserve/route/router.go
Due: :yaml: generate config

Campaigns: Resend Webhook Handler (#1922)
  cmd/serve.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/campaigns.yaml
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/resend_webhook.go
  internal/httpserve/handlers/resend_webhook_test.go
  internal/httpserve/route/resend_webhook.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :auth0: fga model test, :golang: build

fix: standard is not required on docs
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenterdoc/trustcenterdoc.go
  internal/ent/generated/trustcenterdoc_create.go
  internal/ent/generated/trustcenterdoc_update.go
  internal/ent/schema/trustcenterdocument.go
  internal/ent/workflowgenerated/workflow_domain.go
  internal/ent/workflowgenerated/workflow_registry.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/actionplan.graphql
  internal/graphapi/schema/campaign.graphql
  internal/graphapi/schema/campaigntarget.graphql
  internal/graphapi/schema/control.graphql
  internal/graphapi/schema/evidence.graphql
  internal/graphapi/schema/identityholder.graphql
  internal/graphapi/schema/internalpolicy.graphql
  internal/graphapi/schema/platform.graphql
  internal/graphapi/schema/procedure.graphql
  internal/graphapi/schema/subcontrol.graphql
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

additional tests, generated output
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/workflowgenerated/workflow_domain.go
  internal/graphapi/schema/actionplan.graphql
  internal/graphapi/schema/workflowinstanceextended.graphql
  internal/graphapi/workflow_graphql_integration_test.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/workflows/fields.go
  internal/workflows/types.go
Due: :golang: go generate, :yaml: generate config

add the core engine
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/cel_evaluator.go
  internal/workflows/engine/emit.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/event_details.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/helpers.go
  internal/workflows/engine/helpers_test.go
  internal/workflows/engine/instance_builder.go
  internal/workflows/engine/notifications.go
  internal/workflows/engine/proposal_manager.go
  internal/workflows/engine/resolver.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
  internal/workflows/engine/types.go
  internal/workflows/observability/observer.go
  internal/workflows/reconciler/doc.go
  internal/workflows/reconciler/errors.go
  internal/workflows/reconciler/reconciler.go
  internal/workflows/shared_helpers.go
Due: :yaml: generate config

lets fail forward and try and do the tests correctly
  common/models/workflow.go
  internal/ent/hooks/eventer.go
  internal/ent/hooks/workflow_approval.go
  internal/workflows/cel.go
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/cel_evaluator.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/helpers.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
  pkg/events/soiree/eventpool.go
  pkg/events/soiree/pool.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix fga tests and tuple definitions to match model
  fga/model/model.fga
  fga/tests/tests.yaml
  fga/tests/tuples/_tuples.yaml
  fga/tests/tuples/workflows.yaml
  internal/ent/hooks/errors.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

proposed changes
  go.mod
  internal/ent/hooks/workflowproposal.go
  internal/ent/workflowgenerated/workflow_registry.go
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/examples_test.go
  internal/workflows/types.go
  internal/workflows/types_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix remaining tests
  go.mod
  internal/ent/hooks/workflowproposal.go
  internal/ent/hooks/workflowproposal_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/evaluator.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regenerate based on added annotations; additional engine tests
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  go.mod
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/workflow_helpers.go
  internal/ent/generated/workflow_metadata.go
  internal/ent/schema/mixin_document.go
  internal/ent/workflowgenerated/workflow_domain.go
  internal/graphapi/checksum/.schema_checksum
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/domain_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/helpers_test.go
  internal/workflows/engine/resolver.go
  internal/workflows/engine/tools_test.go
  internal/workflows/examples/main.go
  internal/workflows/fields_test.go
  internal/workflows/shared_helpers_test.go
  internal/workflows/types_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

lets make sure the example usess local
  internal/workflows/examples/main.go
Due: :yaml: generate config

fix precommit exclusion on generated docs
  .pre-commit-config.yaml
  internal/workflows/examples/main.go
  jsonschema/workflow-docs.md
Due: :yaml: generate config

do a full clean regenerate, fix the root generated file that im assuming got mangled during rebase
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

config generate output
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  jsonschema/workflow-docs.md
  jsonschema/workflow.definition.json
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs

make explictly empty for clarity
  fga/tests/tests.yaml
Due: :auth0: fga model test

update executor and example
  internal/workflows/engine/executor.go
  internal/workflows/examples/main.go
Due: :yaml: generate config

error handling
  internal/workflows/tx.go
Due: :yaml: generate config

remove internal func rule on schemas
  internal/ent/schema/workflowassignmenttarget.go
  internal/ent/schema/workflowevent.go
  internal/ent/schema/workflowinstance.go
  internal/ent/schema/workflowobjectref.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix linter, PR feedback
  .golangci.yaml
  internal/ent/hooks/event.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/interceptors/filter.go
  internal/ent/schema/workflowassignment.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/workflows/context.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/proposal_manager.go
  internal/workflows/reconciler/reconciler.go
  internal/workflows/shared_helpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint :lint-roller:, :postgres: atlas lint

remove
  internal/httpserve/handlers/snapshot.go
Due: :yaml: generate config

feat: add snapshot handler
  cmd/serve.go
  common/openapi/models.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/snapshot.go
  internal/httpserve/route/router.go
  internal/httpserve/route/snapshot.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

set cache
  internal/httpserve/handlers/snapshot.go
Due: :yaml: generate config

params
  common/openapi/models.go
  internal/httpserve/handlers/snapshot.go
Due: :yaml: generate config, :terminal: build cli

feat: add snapshot handler (#1929)
  cmd/serve.go
  common/openapi/models.go
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/snapshot.go
  internal/httpserve/route/router.go
  internal/httpserve/route/snapshot.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

set to false
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config

appease the linter
  internal/graphapi/bulk_helpers.go
  internal/graphapi/common/helpers.go
  internal/graphapi/csv_lookup_registry.go
  internal/graphapi/csv_reference.go
  internal/graphapi/csv_reference_test.go
Due: :golang: go generate, :yaml: generate config

fix minor test variances with the new csv setup; generate atlas migrations
  db/migrations-goose-postgres/20260128213424_campaignandassessmentresponses.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260128213412_campaignandassessmentresponses.sql
  db/migrations/atlas.sum
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/errors.go
  internal/graphapi/common/helpers.go
  internal/graphapi/subscriber.resolvers.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260129095659_trustcenter_subprocessor_category.sql
  db/migrations-goose-postgres/20260129095708_trustcenter_subprocessor_category_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260129095638_trustcenter_subprocessor_category.sql
  db/migrations/20260129095647_trustcenter_subprocessor_category_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

update tests
  internal/graphapi/trustcentersubprocessor_test.go
Due: :golang: go generate, :yaml: generate config

update tests
  internal/graphapi/trustcenter_test.go
Due: :golang: go generate, :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
