Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

Update internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/builder.go
Due: :yaml: generate config

Update internal/integrations/definitions/keycloak/doc.go
  internal/integrations/definitions/keycloak/doc.go
Due: :yaml: generate config

Apply suggestion from @golanglemonade
  internal/integrations/definitions/keycloak/installation.go
Due: :yaml: generate config

fix for bulk additional roles
  internal/ent/interceptors/orgmembers.go
Due: :golang: go generate, :yaml: generate config

deps: github, cf, authentik, pre-commit (#2502)
  .pre-commit-config.yaml
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/httpserve/handlers/snapshot.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/examples/directorysync/main.go
  internal/integrations/definitions/githubapp/examples/vulnerabilitysync/main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix for bulk additional roles (#2505)
  internal/ent/interceptors/orgmembers.go
Due: :golang: go generate, :yaml: generate config

added permissions, last login time
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.sum
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/installation.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

allow auditor update a review and evidences linked to a program too
  .task/checksum/generate-ent-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/evidence.go
  internal/ent/schema/review.go
  internal/graphapi/evidence_test.go
  internal/graphapi/review_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :auth0: fga model test, :terminal: build cli, :postgres: atlas lint

task regenerate
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/graphapi/query/emailtemplate.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix review
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/review.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Auditor fixes (#2510)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/evidence.go
  internal/ent/schema/review.go
  internal/graphapi/evidence_test.go
  internal/graphapi/query/emailtemplate.graphql
  internal/graphapi/query/organization.graphql
  internal/graphapi/query/orgmembership.graphql
  internal/graphapi/review_test.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli, :postgres: atlas lint

check org subscription status before running integration
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/reconciler_test.go
  internal/integrations/runtime/execution.go
Due: :yaml: generate config

handle trial case where active is false
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/reconciler_test.go
  internal/integrations/runtime/execution.go
Due: :yaml: generate config

disable integrations execution if org does not have a valid subscription (#2516)
  internal/entitlements/reconciler/reconciler.go
  internal/entitlements/reconciler/reconciler_test.go
  internal/integrations/runtime/execution.go
Due: :yaml: generate config

cleanup
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/webfinger.go
  internal/integrations/operations/ingest_generated.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth_sso_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fields select
  internal/httpserve/handlers/sso.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

cleanup
  internal/httpserve/handlers/sso.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove duplicate funcs
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/webfinger.go
  pkg/middleware/auth/auth.go
  pkg/ssoutils/email.go
  pkg/ssoutils/email_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

make sure only system and org admins can assign/delete roles from users
  internal/httpserve/handlers/roles.go
  internal/httpserve/handlers/roles_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

make sure only system and org admins can assign/delete roles from users (#2521)
  internal/httpserve/handlers/roles.go
  internal/httpserve/handlers/roles_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

comments + fmt
  internal/graphapi/controlhelpers.go
  internal/graphapi/controlhelpers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

cleanup1
  internal/graphapi/controlhelpers.go
  internal/graphapi/controlhelpers_test.go
  internal/graphapi/controlreport.resolvers.go
  internal/graphapi/controlreporthelpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

linter
  internal/graphapi/controlhelpers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

some tests
  internal/graphapi/controlhelpers_test.go
  internal/graphapi/controlreporthelpers.go
  internal/graphapi/controlreporthelpers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fixes
  internal/graphapi/controlreport_test.go
  internal/graphapi/controlreporthelpers.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

more test
  internal/graphapi/controlreport_test.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

regen
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

perf, consolidation
  internal/graphapi/controlhelpers.go
  internal/graphapi/controlreport_test.go
  internal/graphapi/controlreporthelpers.go
  internal/graphapi/controlreporthelpers_test.go
  internal/graphapi/search_context.go
  pkg/mapx/mapx.go
  pkg/mapx/mapx_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
