Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

feat: allow pattern matching in websockets to match CORS middelware (#1858)
  go.sum
  internal/graphapi/websockets.go
  internal/graphapi/websockets_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: checksum mismatch after edit of migration
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: checksum mismatch after edit of migration (#1859)
  db/migrations-goose-postgres/atlas.sum
  db/migrations/atlas.sum
Due: :postgres: atlas lint

regenerate again
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

add pagination fix, generate migrations
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260116205146_workflowassignmenttypes.sql
  db/migrations-goose-postgres/20260116205149_workflowassignmenttypes_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260116205140_workflowassignmenttypes.sql
  db/migrations/20260116205143_workflowassignmenttypes_history.sql
  db/migrations/atlas.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generate/templates/entgql/pagination.tmpl
  internal/ent/generated/gql_pagination.go
  internal/graphapi/checksum/.schema_checksum
  internal/workflows/types.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: maybe this will help
  .github/workflows/releaser.yml
Due: none

corrected, update core + common versions
  .github/workflows/releaser.yml
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

fix: go releaser (#1862)
  .github/workflows/releaser.yml
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

add manual migration, reset atlas hash, regenerate migrations, update StringField to not use reflection, update tests and callers
  db/migrations-goose-postgres/20260116180005_trust_center_entity_history_fix.sql
  db/migrations-goose-postgres/20260117222541_workflowassignmenttypes.sql
  db/migrations-goose-postgres/20260117222543_workflowassignmenttypes_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260116180000_trust_center_entity_history_fix.sql
  db/migrations/20260117222534_workflowassignmenttypes.sql
  db/migrations/20260117222537_workflowassignmenttypes_history.sql
  db/migrations/atlas.sum
  internal/workflows/helpers.go
  internal/workflows/helpers_test.go
  internal/workflows/reflection.go
  internal/workflows/reflection_test.go
  internal/workflows/resolvers/init.go
Due: :yaml: generate config, :postgres: atlas lint

rebase checksum
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix: ensure resp is nil for subscriptions
  internal/graphapi/common/extensions.go
Due: :golang: go generate, :yaml: generate config

fix: ensure resp is nil for subscriptions (#1863)
  internal/graphapi/common/extensions.go
Due: :golang: go generate, :yaml: generate config

fix
  internal/graphapi/trustcenter_test.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/models_test.go
  internal/graphapi/trustcenter_test.go
Due: :golang: go generate, :yaml: generate config

trustcenter nda requests
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  common/enums/trustcenterndarequestaccess.go
  common/enums/trustcenterndarequestatus.go
  fga/model/model.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/note.go
  internal/ent/schema/trustcenter.go
  internal/ent/schema/trustcenterndarequest.go
  internal/ent/schema/trustcentersetting.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :terminal: build cli, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260119200158_trustcenter_nda_requests.sql
  db/migrations-goose-postgres/20260119200204_trustcenter_nda_requests_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260119200142_trustcenter_nda_requests.sql
  db/migrations/20260119200148_trustcenter_nda_requests_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/trustcenterndarequest.resolvers.go
Due: :golang: go generate, :yaml: generate config

task db:create
  db/migrations-goose-postgres/20260119162447_trustcenterdoc_category.sql
  db/migrations-goose-postgres/20260119162454_trustcenterdoc_category_history.sql
  db/migrations-goose-postgres/20260119215655_trustcenter_nda_requests.sql
  db/migrations-goose-postgres/20260119215703_trustcenter_nda_requests_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260119162432_trustcenterdoc_category.sql
  db/migrations/20260119162438_trustcenterdoc_category_history.sql
  db/migrations/20260119215635_trustcenter_nda_requests.sql
  db/migrations/20260119215644_trustcenter_nda_requests_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

task db:resethash
  db/migrations-goose-postgres/20260119162447_trustcenterdoc_category.sql
  db/migrations-goose-postgres/20260119162454_trustcenterdoc_category_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260119162432_trustcenterdoc_category.sql
  db/migrations/20260119162438_trustcenterdoc_category_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

add queue constants and update dev config
  common/jobspec/queue.go
  docker/configs/riverboat/.config.dev.yaml
Due: :terminal: build cli

feat: tests for infinite loop, metrics for subs
  internal/graphapi/common/extensions.go
  internal/graphapi/resolver.go
  internal/graphapi/subscription_helpers.go
  internal/graphapi/subscription_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/websockets.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/manager_test.go
  internal/httpserve/server/server.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :golang: go generate, :yaml: generate config

add queues definitions
  common/jobspec/analytics.go
  common/jobspec/domains.go
  common/jobspec/export.go
  common/jobspec/task.go
  common/jobspec/watermark.go
Due: :terminal: build cli

cleanup
  cli/go.mod
  cli/go.sum
  internal/graphapi/models_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcenterdoc_test.go
  pkg/metrics/vars.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

Add new queue constants to jobspec (#1869)
  common/jobspec/analytics.go
  common/jobspec/domains.go
  common/jobspec/export.go
  common/jobspec/queue.go
  common/jobspec/task.go
  common/jobspec/watermark.go
  docker/configs/riverboat/.config.dev.yaml
Due: :terminal: build cli

nolint
  pkg/metrics/vars.go
Due: :yaml: generate config

feat: tests for infinite loop, metrics for subs (#1870)
  cli/go.mod
  cli/go.sum
  internal/graphapi/common/extensions.go
  internal/graphapi/models_test.go
  internal/graphapi/resolver.go
  internal/graphapi/subscription_helpers.go
  internal/graphapi/subscription_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenter_test.go
  internal/graphapi/trustcenterdoc_test.go
  internal/graphapi/websockets.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/manager_test.go
  internal/httpserve/server/server.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

remove old / now unused corejobs references for cache sync; update the enqueue function to instead construct the proper URL and make the request with a basic retry / backoff included
  cmd/serve.go
  common/jobspec/domains.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_trustcenter_cache_test.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
Due: :golang: go generate, :yaml: generate config, :golang: build, :terminal: build cli

feels slightly clunky but just going to add the scheme to the url constructor because trying to overrdie the cname field fails with validation errors
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/hooks/listeners_trustcenter_cache_test.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config

remove unnecessary empty check since we already confirm this elsewhere
  internal/ent/hooks/listeners_trustcenter_cache.go
Due: :golang: go generate, :yaml: generate config
