Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

allow anonymous access to documentdata edge (#1898)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-others-smart
  cli/go.mod
  cli/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/documentdata.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

update riverboat config, trust center domain (#1888)
  config/config-dev.example.yaml
  docker/configs/riverboat/.config.dev.yaml
Due: :yaml: generate config

expand the inject middleware to include helpers for extracting the template kind, add rule and hints, add corresponding tests
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/template_test.go
  internal/graphapi/tools_test.go
  internal/objects/hints.go
  internal/objects/hints_test.go
  internal/objects/resolver/rules.go
  internal/objects/resolver/rules_test.go
Due: :golang: go generate, :yaml: generate config

pull in gqlgen-plugin
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

update type references, permissions pass
  internal/ent/schema/campaign_target.go
  internal/ent/schema/group.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/platform.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add hook to handle status updates and email sends based off the status
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/trustcenterndarequest/trustcenterndarequest.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add resolver tests
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

fix custom enum to use migrate package
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/customtypeenum/customtypeenum.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums_test.go
  internal/ent/schema/customtypeenum.go
  internal/ent/schema/mixin_customenums.go
  internal/graphapi/customtypeenums_test.go
  internal/graphapi/models_test.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

reset migrations to not have multiple
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260123220803_customenumsandcampaigns.sql
  db/migrations-goose-postgres/20260123220807_customenumsandcampaigns_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260123220756_customenumsandcampaigns.sql
  db/migrations/20260123220759_customenumsandcampaigns_history.sql
  db/migrations/atlas.sum
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/entity/entity.go
  internal/ent/generated/entity_create.go
  internal/ent/generated/migrate/schema.go
  internal/ent/historygenerated/entityhistory/entityhistory.go
  internal/ent/historygenerated/entityhistory_create.go
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/schema/assessment_response.go
  internal/ent/schema/entity.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

migration fix
  db/migrations-goose-postgres/20260123223505_customenumsandcampaigns.sql
  db/migrations-goose-postgres/20260123223508_customenumsandcampaigns_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260123220756_customenumsandcampaigns.sql
  db/migrations/20260123220759_customenumsandcampaigns_history.sql
  db/migrations/20260123223458_customenumsandcampaigns.sql
  db/migrations/20260123223501_customenumsandcampaigns_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix lint
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config

fix custom enum name check, uncomment out edit check
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/customtypeenum/customtypeenum.go
  internal/ent/generated/customtypeenum_create.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums_test.go
  internal/ent/schema/customtypeenum.go
  internal/ent/schema/identity_holder.go
  internal/ent/schema/mixin_customenums.go
  internal/ent/schema/platform.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

go fmt
  internal/ent/hooks/customenums.go
  internal/ent/hooks/customenums_test.go
  internal/ent/schema/mixin_customenums.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

deps
  .task/checksum/generate-ent-smart
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add addition root workflows package capabilities
  internal/ent/hooks/documents_test.go
  internal/ent/privacy/utils/utils.go
  internal/workflows/README..md
  internal/workflows/cel_config_test.go
  internal/workflows/cel_test.go
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/domain.go
  internal/workflows/domain_test.go
  internal/workflows/emit.go
  internal/workflows/emit_test.go
  internal/workflows/errors.go
  internal/workflows/fields.go
  internal/workflows/fields_test.go
  internal/workflows/generated_helpers.go
  internal/workflows/generated_helpers_test.go
  internal/workflows/helpers.go
  internal/workflows/helpers_test.go
  internal/workflows/object_refs.go
  internal/workflows/object_refs_test.go
  internal/workflows/options_test.go
  internal/workflows/params.go
  internal/workflows/prefilter.go
  internal/workflows/prefilter_test.go
  internal/workflows/resolvers/init.go
  internal/workflows/shared_helpers.go
  internal/workflows/shared_helpers_test.go
  internal/workflows/targets.go
  internal/workflows/targets_test.go
  internal/workflows/types.go
  internal/workflows/types_test.go
Due: :golang: go generate, :yaml: generate config

precommit
  .pre-commit-config.yaml
  config/config-dev.example.yaml
  internal/graphapi/query/asset.graphql
  internal/graphapi/query/history/dnsverificationhistory.graphql
  internal/graphapi/query/history/internalpolicyhistory.graphql
  internal/graphapi/query/history/programhistory.graphql
  internal/graphapi/query/history/workflowassignmenthistory.graphql
  internal/graphapi/query/trustcenternda.graphql
  internal/graphapi/query/vulnerability.graphql
Due: :golang: go generate, :yaml: generate config

go fmt
  internal/workflows/options_test.go
  internal/workflows/shared_helpers.go
Due: :yaml: generate config

fix: add filters for owner and system owned when included in annotation
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/hooks/export.go
  internal/ent/hooks/export_test.go
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/control.go
  internal/ent/schema/evidence.go
  internal/ent/schema/finding.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/procedure.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/risk.go
  internal/ent/schema/subprocessor.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/task.go
  internal/ent/schema/trustcentersubprocessor.go
  internal/ent/schema/vulnerability.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix test
  internal/ent/hooks/export.go
Due: :golang: go generate, :yaml: generate config

add additional test
  internal/ent/hooks/export_test.go
Due: :golang: go generate, :yaml: generate config

regen
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
Due: :golang: go generate, :yaml: generate config

regen, releaser
  .github/workflows/releaser.yml
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

fix: add filters automatically to exports (#1902)
  .github/workflows/releaser.yml
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/export.go
  internal/ent/hooks/export_test.go
  internal/ent/hooks/exportable_generated.go
  internal/ent/schema/control.go
  internal/ent/schema/evidence.go
  internal/ent/schema/finding.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/procedure.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/risk.go
  internal/ent/schema/subprocessor.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/task.go
  internal/ent/schema/trustcentersubprocessor.go
  internal/ent/schema/vulnerability.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

expand the inject middleware to include helpers for extracting the template kind, add rule and hints, add corresponding tests (#1899)
  internal/graphapi/common/helpers.go
  internal/graphapi/common/helpers_test.go
  internal/graphapi/template_test.go
  internal/graphapi/tools_test.go
  internal/objects/hints.go
  internal/objects/hints_test.go
  internal/objects/resolver/rules.go
  internal/objects/resolver/rules_test.go
Due: :golang: go generate, :yaml: generate config

task regenearate
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

stash
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

stage updates to test entx refactor
  config/config.go
  internal/ent/hooks/campaigntarget.go
  internal/ent/schema/assessment_response.go
  internal/ent/schema/campaign_target.go
  internal/ent/schema/control.go
  internal/ent/schema/mixin_controls.go
  internal/graphapi/schema/campaign.graphql
  internal/graphapi/schema/workflowevent.graphql
  internal/graphapi/workflow_derivers.go
  internal/graphapi/workflow_helpers.go
  internal/graphapi/workflow_validation_errors.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowassignment_helpers.go
  internal/graphapi/workflowassignmentextended.resolvers.go
  internal/graphapi/workflowdefinition.resolvers.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

reconcile wfevent schema
  internal/graphapi/schema/workflowevent.graphql
Due: :golang: go generate, :yaml: generate config

add workflow hook stubs
  go.mod
  go.sum
  internal/ent/hooks/helpers.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowassignment.go
  internal/ent/hooks/workflowdefinition.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/schema/mixin_wf_approval.go
  internal/ent/schema/workflowassignment.go
  internal/ent/schema/workflowdefinition.go
  internal/ent/schema/workflowproposal.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

pull in new rev gqlgen and entx
  common/go.mod
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
