Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/gcpscc/operation_findings.go
  internal/integrations/definitions/googleworkspace/mappings.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/graphapi/customtypeenums_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix test
  internal/ent/hooks/customenums.go
  internal/graphapi/customtypeenums_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

linter
  internal/integrations/operations/ingest.go
Due: :yaml: generate config

remove recommneded from slack
  internal/integrations/definitions/slack/builder.go
Due: :yaml: generate config

come'on vscode, save all the files
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/githubapp/builder.go
Due: :yaml: generate config

more cleanup
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_directoryaccount_persist.go
Due: :yaml: generate config

clear pending deletion at once payment method added or subscription becomes active
  internal/httpserve/handlers/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

add missing config value for easier setup
  .task/checksum/generate-graphql-smart
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/awssecurityhub/config.go
  internal/integrations/types/definition.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

linter
  internal/integrations/definitions/awssecurityhub/builder.go
Due: :yaml: generate config

clear pending deletion at once payment method added or subscription becomes active (#2337)
  internal/httpserve/handlers/webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

migrations
  db/migrations-goose-postgres/20260428234644_dir_groups_edge.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260428234637_dir_groups_edge.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: fix filterExpr for nested configs
  internal/httpserve/handlers/scim/ingest.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/gcpscc/types.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/providerkit/adapters.go
  internal/integrations/types/operation.go
Due: :yaml: generate config

linter
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/githubapp/builder.go
Due: :yaml: generate config

fix: fix filterExpr for nested configs (#2339)
  internal/httpserve/handlers/scim/ingest.go
  internal/integrations/definitions/awssecurityhub/builder.go
  internal/integrations/definitions/gcpscc/builder.go
  internal/integrations/definitions/gcpscc/types.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/definitions/slack/types.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/providerkit/adapters.go
  internal/integrations/types/operation.go
Due: :yaml: generate config

gut uneeded workflow code, plugin using the integration dispatch, remove now unused themes
  internal/ent/hooks/notificationtemplate.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_email_dispatch_test.go
  internal/graphapi/campaign_errors.go
  internal/graphapi/campaign_with_targets.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/fixtures.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/operation_send_branded_campaign.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/template_catalog.go
  internal/integrations/definitions/email/template_catalog_test.go
  internal/integrations/definitions/email/template_interpolate.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/themes/templates/activation.tpl.html
  internal/integrations/definitions/email/themes/templates/base.tpl.html
  internal/integrations/definitions/email/themes/templates/basic.tpl.html
  internal/integrations/definitions/email/themes/templates/customer.tpl.html
  internal/integrations/definitions/email/themes/templates/openlane-modern.tpl.html
  internal/integrations/definitions/email/themes/templates/questionnaire.tpl.html
  internal/integrations/definitions/email/themes/templates/standard.tpl.html
  internal/integrations/definitions/email/themes/templates/trustcenter.tpl.html
  internal/integrations/definitions/email/themes/themes.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/notification_templates_integration_test.go
  internal/workflows/engine/notification_templates_test.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/send_email_integration_test.go
  internal/workflows/engine/template_renderer.go
  internal/workflows/engine/template_renderer_test.go
  internal/workflows/params.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: github disconnect, slack omitempty, integrationid links
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_asset_persist.go
  internal/integrations/operations/ingest_checkresult_persist.go
  internal/integrations/operations/ingest_contact_persist.go
  internal/integrations/operations/ingest_entity_persist.go
  internal/integrations/operations/ingest_finding_persist.go
  internal/integrations/operations/ingest_risk_persist.go
  internal/integrations/operations/ingest_vulnerability_persist.go
  internal/integrations/runtime/integration.go
  internal/integrations/types/ref.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove logs
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/types/ref.go
Due: :yaml: generate config

fix bad update
  internal/integrations/definitions/slack/mappings.go
Due: :yaml: generate config

remove unused fields, unneeded hooks, probably things that will make me hate my life trying to generate out the schmea updates
  internal/ent/hooks/campaign.go
  internal/ent/hooks/integration_test.go
  internal/ent/schema/campaign.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/query/campaign.graphql
  internal/graphapi/query/campaignextended.graphql
  internal/graphapi/query/history/campaignhistory.graphql
  internal/graphapi/search.go
  internal/httpserve/handlers/csv/sample_campaign.csv
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/email/builder.go
  internal/integrations/definitions/email/compose.go
  internal/integrations/definitions/email/doc.go
  internal/integrations/definitions/email/emailop.go
  internal/integrations/definitions/email/errors.go
  internal/integrations/definitions/email/op_branded_message.go
  internal/integrations/definitions/email/operation_send_campaign.go
  internal/integrations/definitions/email/operation_send_campaign_test.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  internal/integrations/definitions/email/resolve.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/types.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

fix: github disconnect, slack omitempty, integrationid links (#2340)
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/definitions/githubapp/auth.go
  internal/integrations/definitions/githubapp/builder.go
  internal/integrations/definitions/githubapp/types.go
  internal/integrations/definitions/slack/mappings.go
  internal/integrations/definitions/slack/operation_directory_sync.go
  internal/integrations/operations/ingest.go
  internal/integrations/operations/ingest_asset_persist.go
  internal/integrations/operations/ingest_checkresult_persist.go
  internal/integrations/operations/ingest_contact_persist.go
  internal/integrations/operations/ingest_entity_persist.go
  internal/integrations/operations/ingest_finding_persist.go
  internal/integrations/operations/ingest_risk_persist.go
  internal/integrations/operations/ingest_test.go
  internal/integrations/operations/ingest_vulnerability_persist.go
  internal/integrations/runtime/integration.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix campaign dispatch startup ordering
  internal/ent/hooks/integration_test.go
  internal/ent/hooks/listeners_campaign_recurring.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_test_email.go
  internal/httpserve/serveropts/gala.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/definitions/email/errors.go
  internal/integrations/definitions/email/resolve.go
  internal/integrations/operations/executor.go
  internal/integrations/operations/executor_test.go
  internal/integrations/operations/reconcile.go
  internal/integrations/operations/recurring_campaign.go
  internal/integrations/operations/scheduled_listener.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/execution_test.go
  internal/integrations/runtime/integration.go
  internal/integrations/runtime/recurring_campaign.go
  internal/integrations/runtime/runtime.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

move to enums
  common/enums/templateprojectionoperation.go
  common/enums/templateprojectiontarget.go
  common/enums/templateprojectiontransform.go
  common/models/template_projection.go
Due: :golang: go generate, :terminal: build cli

revert schema removals
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

add metrics for integration install vs. disconnect
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/integration.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :yaml: generate config

add metrics for integration install vs. disconnect (#2343)
  internal/integrations/runtime/credentials.go
  internal/integrations/runtime/integration.go
  pkg/metrics/helpers.go
  pkg/metrics/vars.go
Due: :yaml: generate config

update default revision bump when document details are updated
  internal/ent/hooks/revision.go
  internal/graphapi/internalpolicy_test.go
  pkg/slateparser/utils.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

remove logs
  internal/ent/hooks/revision.go
Due: :golang: go generate, :yaml: generate config

linter
  internal/ent/hooks/revision.go
Due: :golang: go generate, :yaml: generate config

update default revision bump when document details are updated (#2344)
  internal/ent/hooks/revision.go
  internal/graphapi/internalpolicy_test.go
  pkg/slateparser/utils.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix inclusion of prior commits
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generate/entc.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/query/directorygroup.graphql
  internal/graphapi/query/history/emailtemplatehistory.graphql
  internal/graphapi/query/history/trustcenterfaqhistory.graphql
  internal/graphapi/query/vulnerability.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix inclusion of prior commits (#2341)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generate/entc.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/graphapi/query/directorygroup.graphql
  internal/graphapi/query/history/emailtemplatehistory.graphql
  internal/graphapi/query/history/trustcenterfaqhistory.graphql
  internal/graphapi/query/vulnerability.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build
