Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

add graphapi field
  internal/graphapi/schema/workflowdefinitionextended.graphql
Due: :golang: go generate, :yaml: generate config

add workflow request changes, review enum / assignment, fix eligible fields bug
  common/models/workflow.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowassignment.go
  internal/graphapi/workflow_graphql_integration_test.go
  internal/graphapi/workflow_resolvers_extended_test.go
  internal/graphapi/workflow_validation_errors.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowassignment_helpers.go
  internal/graphapi/workflowassignmentextended.resolvers.go
  internal/workflows/README.md
  internal/workflows/TODO.md
  internal/workflows/domain.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/emit.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/errors.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/event_details.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/helpers.go
  internal/workflows/fields.go
  internal/workflows/fields_test.go
  internal/workflows/replacements.go
  jsonschema/workflow_schema_generator.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

generate output with new graphql schema type
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/workflowdefinitionextended.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

workflow test suite updates, http handler suite updates
  internal/httpserve/handlers/login_test.go
  internal/httpserve/handlers/oauth_login_handlers_test.go
  internal/httpserve/handlers/oauth_register_test.go
  internal/httpserve/handlers/refresh_test.go
  internal/httpserve/handlers/register_test.go
  internal/httpserve/handlers/resend_test.go
  internal/httpserve/handlers/tfavalidate_test.go
  internal/httpserve/handlers/webhook_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/examples_test.go
Due: :yaml: generate config

update README, TODO, mintor fixes
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflow_instance_cleanup.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/workflows/README.md
  internal/workflows/TODO.md
  internal/workflows/context.go
Due: :golang: go generate, :yaml: generate config

config generate
  jsonschema/workflow-docs.md
  jsonschema/workflow.definition.json
Due: none

fix tests, linter
  internal/ent/hooks/workflow_approval.go
  internal/graphapi/workflow_validators.go
  internal/graphapi/workflow_validators_test.go
  internal/graphapi/workflowdefinition.resolvers.go
Due: :golang: go generate, :yaml: generate config

split out handlers too
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

don't send email after nda signed as the attestation job will now send the email including the pdf
  common/jobspec/trustcenter.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix tests
  common/jobspec/domains.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

don't send email after nda signed as the attestation job will now send the email including the pdf (#1985)
  common/jobspec/domains.go
  common/jobspec/trustcenter.go
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

fix key
  .buildkite/pipeline.yaml
Due: none

stage integration schema updates
  go.mod
  internal/ent/schema/integration.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/vulnerability.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

try to split linter too
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

task name
  .buildkite/pipeline.yaml
Due: none

update provider storage
  common/integrations/helpers/operation_templates.go
  common/integrations/helpers/provider_state.go
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/keystore/store.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

move integration package
  cmd/serve.go
  internal/ent/hooks/eventer.go
  internal/ent/hooks/listeners_integration.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_operations.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/events.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/envelopes.go
  internal/integrations/ingest/errors.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/integrations/providers/awssecurityhub/awssecurityhub.go
  internal/integrations/providers/awssecurityhub/client.go
  internal/integrations/providers/awssecurityhub/doc.go
  internal/integrations/providers/awssecurityhub/errors.go
  internal/integrations/providers/awssecurityhub/operations.go
  internal/integrations/providers/awssecurityhub/operations_test.go
  internal/integrations/providers/azuresecuritycenter/azuresecuritycenter.go
  internal/integrations/providers/azuresecuritycenter/provider.go
  internal/integrations/providers/base_provider.go
  internal/integrations/providers/github/github_app.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/runner/operation_event.go
  pkg/events/soiree/integration.go
Due: :golang: go generate, :yaml: generate config, :golang: build

generated entx output with cel expression vars and maps
  go.mod
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

use lo
  common/helpers/collections.go
  common/helpers/collections_test.go
  internal/integrations/ingest/mapper.go
  internal/integrations/registry/registry.go
Due: :yaml: generate config, :terminal: build cli

add tests
  common/integrations/auth/authenticated_client_test.go
  common/integrations/auth/aws_test.go
  common/integrations/auth/duration_test.go
  common/integrations/auth/oauth_test.go
  common/integrations/auth/provider_decode_test.go
  common/integrations/auth/service_account_test.go
  common/integrations/config/schema_version_test.go
  common/integrations/config/spec_test.go
  common/integrations/operations/config_decode_test.go
  common/integrations/operations/metadata_test.go
  common/integrations/operations/operation_helpers_test.go
  common/integrations/operations/operation_templates_test.go
  common/integrations/operations/opsconfig_test.go
  common/integrations/operations/payloads_test.go
  common/integrations/operations/schema_test.go
  common/integrations/types/credential_test.go
  common/integrations/types/normalized_strings_test.go
Due: :terminal: build cli

fix
  Taskfile.yaml
Due: none

remove if changes for chart automation
  .buildkite/pipeline.yaml
Due: none

bump trivy version
  .buildkite/pipeline.yaml
Due: none

update sonar
  sonar-project.properties
Due: none

fix
  .buildkite/pipeline.yaml
Due: none

fix naming
  .buildkite/pipeline.yaml
Due: none

go to a lower versino for now?
  .buildkite/pipeline.yaml
Due: none

skip large generated files for trivy
  .buildkite/pipeline.yaml
Due: none

back a trivy version
  .buildkite/pipeline.yaml
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config
