Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

fix query
  internal/onboarding/catalog.go
Due: :yaml: generate config

actually fix query
  internal/onboarding/catalog.go
Due: :yaml: generate config

Fix yaml
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/taskrules/templates/onboarding.yaml
Due: :golang: go generate, :yaml: generate config

fix dupe notifications when another org event fails, dont panic in dev
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_task_rules.go
Due: :golang: go generate, :yaml: generate config

do not keep creating scans when not configured
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/runtime_services.go
Due: :yaml: generate config

rebase + tidy
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

domain scan above registry
  internal/ent/taskrules/templates/notification.yaml
Due: :golang: go generate, :yaml: generate config

deliver org-scoped notifications live over websocket subscriptions
  internal/ent/hooks/notification.go
  internal/graphapi/subscription_helpers.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/manager_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: allow resubmission without unique key errors
  internal/integrations/definitions/cloudflare/domain_scan_import.go
Due: :yaml: generate config

bruno found it, dont drop org notifications, create combined key
  internal/ent/hooks/notification.go
  internal/graphapi/subscription_helpers.go
  internal/graphsubscriptions/manager.go
  internal/graphsubscriptions/manager_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Drop error check, readme, remove duplicate ref
  internal/ent/taskrules/README.md
  internal/ent/taskrules/templates.go
  internal/ent/taskrules/templates/organization.yaml
Due: :golang: go generate, :yaml: generate config

bind, no required fields, readme fixxes
  .task/checksum/generate-openapi-smart
  common/openapi/models.go
  internal/ent/taskrules/README.md
  internal/httpserve/handlers/onboarding_questions.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

respect disabled for all in dispatch
  internal/ent/taskrules/README.md
  internal/integrations/definitions/cloudflare/builder.go
  internal/integrations/definitions/cloudflare/domain_scan_listeners.go
  internal/integrations/definitions/slack/builder.go
  internal/integrations/operations/dispatcher.go
  internal/integrations/runtime/runtime.go
  internal/integrations/types/runtime_services.go
Due: :golang: go generate, :yaml: generate config

add skips to tests
  internal/graphapi/integration_linking_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

regenerate output
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
Due: :yaml: generate config

fix runtime test input
  internal/integrations/definitions/cloudflare/mappings_test.go
Due: :yaml: generate config

entx updates
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config

task regenerate
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

fix remaining tests
  go.mod
  internal/graphapi/trustcenter_subscriber_integration_test.go
  internal/integrations/operations/ingest_link.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

mod tidy
  cli/go.sum
  common/go.sum
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

remove local override
  go.mod
  internal/graphapi/integration_linking_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix test leaking
  go.mod
  go.sum
  internal/graphapi/integration_linking_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

regenerate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-onboarding-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

send notification to auditors when a program is marked ready
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/notifications/consts.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/program.go
Due: :golang: go generate, :yaml: generate config

fix: lookup correct assesment on test send vs. real, remove unique constraint on assessment
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  db/migrations-goose-postgres/20260723204917_assessment_name.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260723204906_assessment_name.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/assessment_response.go
  internal/ent/schema/assessment.go
  internal/graphapi/assessment_test.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/handlers/questionnaire.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

Add test to confirm bug fix
  internal/httpserve/handlers/questionnaire_preview_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

bump iam to v0.35.1
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix: lookup correct assessment on test send vs. real (#2629)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  db/migrations-goose-postgres/20260723204917_assessment_name.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260723204906_assessment_name.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/assessment_response.go
  internal/ent/schema/assessment.go
  internal/graphapi/assessment_test.go
  internal/graphapi/checksum/.schema_checksum
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_preview_test.go
  internal/integrations/definitions/email/operation_send_questionnaire_campaign.go
  pkg/middleware/auth/auth.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix: allow get of standard before registration complete
  internal/onboarding/catalog.go
Due: :yaml: generate config

fix: allow get of standard before registration complete (#2630)
  internal/onboarding/catalog.go
Due: :yaml: generate config

keydir fixes panic
  internal/httpserve/serveropts/keydir.go
  internal/httpserve/serveropts/keywatch.go
Due: :yaml: generate config

invite auditor if need be
  internal/ent/notifications/program.go
Due: :golang: go generate, :yaml: generate config

send notification to auditors when a program is marked ready (#2627)
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/notifications/consts.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/program.go
Due: :golang: go generate, :yaml: generate config

user of an org should be unable to delete themselves if they own another org
  internal/ent/hooks/user.go
  internal/graphapi/user_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
