Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

clear tests before start; add ordering
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager_test.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
Due: :yaml: generate config

clear tests before start; add ordering (#1932)
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager_test.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
Due: :yaml: generate config

add wait for events guard on most tests; refactor a few tests structured incorrectly
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager_test.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
Due: :yaml: generate config

add wait for events guard on most tests; refactor a few tests structured incorrectly (#1934)
  internal/workflows/engine/approval_concurrency_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/evaluator_test.go
  internal/workflows/engine/examples_test.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager_test.go
  internal/workflows/engine/resolver_test.go
  internal/workflows/engine/tools_test.go
Due: :yaml: generate config

generate updates
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/historygenerated/migrate/schema.go
  internal/ent/historygenerated/trustcenterndarequesthistory/trustcenterndarequesthistory.go
  internal/graphapi/schemahistory/ent.graphql
Due: :golang: go generate, :yaml: generate config

generate
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
Due: :golang: go generate, :yaml: generate config

generate gql
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

tesT
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/trustcentersetting.resolvers.go
  internal/graphapi/trustcentersetting_test.go
  internal/graphapi/trustcentersubprocessor.resolvers.go
Due: :golang: go generate, :yaml: generate config

add first_name, last_name and company name
  common/jobspec/trustcenter.go
  internal/ent/hooks/documentdata.go
  internal/graphapi/trustcenternda.json.tpl
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

enqueue the job attestation job and append other data into the json
  internal/ent/hooks/documentdata.go
  internal/graphapi/trustcenterndatmpl.go
Due: :golang: go generate, :yaml: generate config

enqueue the right id to the job
  common/jobspec/trustcenter.go
  internal/ent/hooks/documentdata.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

revert clearing. we should only remove it at this level but the actual file exists so we can just use that
  internal/ent/hooks/template.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/trustcenternda_test.go
Due: :golang: go generate, :yaml: generate config

fix tests
  internal/graphapi/trustcenterdoc_test.go
  internal/graphapi/trustcenternda_test.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

fix lint
  internal/ent/hooks/documentdata.go
Due: :golang: go generate, :yaml: generate config

fix : bulk mark notifications
  .gitignore
  .task/checksum/generate-graphql-smart
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/notification.generated.go
  internal/graphapi/generated/prelude.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/notification.resolvers.go
  internal/graphapi/schema/notification.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config

use Exists
  internal/ent/hooks/documentdata.go
Due: :golang: go generate, :yaml: generate config

add campaign extended
  internal/graphapi/query/campaignextended.graphql
Due: :golang: go generate, :yaml: generate config

set to false
  internal/ent/generate/entc.go
Due: :golang: go generate, :yaml: generate config

update go mod with new gqlgen and entx, update plugin configuration
  go.mod
  go.sum
  internal/ent/generate/entc.go
  internal/graphapi/generate/gen_gqlgen.go
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

appease the linter
  internal/graphapi/bulk_helpers.go
  internal/graphapi/common/helpers.go
  internal/graphapi/csv_lookup_registry.go
  internal/graphapi/csv_reference.go
  internal/graphapi/csv_reference_test.go
Due: :golang: go generate, :yaml: generate config

fix minor test variances with the new csv setup; generate atlas migrations
  db/migrations-goose-postgres/20260128213424_campaignandassessmentresponses.sql
  db/migrations/20260128213412_campaignandassessmentresponses.sql
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/errors.go
  internal/graphapi/common/helpers.go
  internal/graphapi/subscriber.resolvers.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix schema and fga setup for campaigns <-> assessments
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  fga/model/model.fga
  fga/tests/tests.yaml
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/assessment/assessment.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/schema/assessment.go
  internal/ent/schema/campaign.go
  internal/graphapi/campaign_with_targets_integration_test.go
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test, :postgres: atlas lint

add exclusion for linting
  .golangci.yaml
Due: :golangci-lint: lint :lint-roller:

reset migrations
  db/migrations-goose-postgres/20260130195904_campaignsassessements.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260130195856_campaignsassessements.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

regenerate output
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/assessment/assessment.go
  internal/ent/generated/runtime/runtime.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :terminal: build cli
