Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs, :golangci-lint: lint :lint-roller:, :golang: go test graphapi, :golang: go test - all except graphapi, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
  ...

:helm: update helm chart:
  key: helm_automation
  depends_on: generate_config
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:arrows_counterclockwise: finalize config PRs:
  key: post_merge_automation
  depends_on: helm_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
        SLACK_WEBHOOK_URL: SLACK_WEBHOOK_URL
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
  ...

:broom: cleanup draft PRs:
  key: cleanup_draft_prs
  depends_on: post_merge_automation
  if: build.branch == "main"
  plugins:
  - cluster-secrets#v1.0.0:
      variables:
        GITHUB_TOKEN: GITHUB_TOKEN
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci
      always_pull: true
  ...

:buildkite: upload test analytics report:
  key: test-analytics
  skip: true
  cancel_on_build_failing: false
  depends_on:
  - go_test_graph
  - go_test_no_graph
  ...

feat: cleanup nda request logic, actually send email when signed
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

feat: cleanup nda request logic, actually send email when signed (#1943)
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

check for impersonation context and allow system admin
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/documentdata.go
  internal/ent/schema/documentdata.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Fix merge conflicts
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/query/workflow.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config

merge orgin/main
  internal/ent/hooks/trustcenterndarequest.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

speed up config schema generation
  jsonschema/schema_generator.go
Due: none

help with flaky tests
  internal/graphapi/campaign_dispatch_test.go
  internal/graphapi/campaign_with_targets_test.go
  internal/graphapi/csv_reference_test.go
  internal/graphapi/usersetting_test.go
Due: :golang: go generate, :yaml: generate config

help with flaky tests (#1945)
  internal/graphapi/campaign_dispatch_test.go
  internal/graphapi/campaign_with_targets_test.go
  internal/graphapi/csv_reference_test.go
  internal/graphapi/usersetting_test.go
Due: :golang: go generate, :yaml: generate config

remove deprecated sendemail cli
  cli/cmd/trustcenternda/sendemail.go
Due: :terminal: build cli

feat: add role to auth context, cleanup noisy logs on org owner
  internal/ent/hooks/memberhelpers.go
  internal/ent/privacy/rule/organization.go
  internal/graphapi/seed_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/proposal_manager_test.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/token_sso_test.go
Due: :golang: go generate, :yaml: generate config

pr fixes
  pkg/middleware/auth/auth.go
Due: :yaml: generate config

iam dep
  common/go.mod
  common/go.sum
Due: :terminal: build cli

fix conflicts
  cli/go.mod
  cli/go.sum
Due: :terminal: build cli

feat: add role to auth context, cleanup noisy logs on org owner (#1942)
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/hooks/memberhelpers.go
  internal/ent/privacy/rule/organization.go
  internal/graphapi/seed_test.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/proposal_manager_test.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/token_sso_test.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

speed up config schema generation (#1947)
  jsonschema/schema_generator.go
Due: none

deps: go 1.25.6
  cli/go.mod
  common/go.mod
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

deps: go 1.25.6 (#1948)
  cli/go.mod
  common/go.mod
  go.mod
  go.work
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix reviews
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/documentdata.go
  internal/ent/schema/documentdata.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Allow system admin/impersonation to update documentdata (#1944)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/documentdata.go
  internal/ent/schema/documentdata.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/query/workflow.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  db/migrations-goose-postgres/20260129095659_trustcenter_subprocessor_category.sql
  db/migrations-goose-postgres/20260129095708_trustcenter_subprocessor_category_history.sql
  db/migrations/20260129095638_trustcenter_subprocessor_category.sql
  db/migrations/20260129095647_trustcenter_subprocessor_category_history.sql
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task db:create
  db/migrations-goose-postgres/20260201013134_trustcenter_subprocessor_category.sql
  db/migrations-goose-postgres/20260201013144_trustcenter_subprocessor_category_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260201013109_trustcenter_subprocessor_category.sql
  db/migrations/20260201013120_trustcenter_subprocessor_category_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

version
  cli/go.mod
  cli/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test graphapi, :golang: go test - all except graphapi, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

cleanup
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/trustcentersubprocessor.go
  internal/ent/hooks/wildcardtuples.go
  internal/ent/interceptors/subprocessor.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config

anoter flakey test, fix
  internal/graphapi/jobrunner_test.go
  internal/graphapi/models_test.go
  internal/graphapi/trustcentersubprocessor_test.go
Due: :golang: go generate, :yaml: generate config

fix comment
  internal/ent/hooks/wildcardtuples.go
Due: :golang: go generate, :yaml: generate config

feat: seed subprocessor enums
  db/seed/06_seed_subprocessor_category_enums.sql
Due: :postgres: atlas lint

feat: seed subprocessor enums (#1951)
  db/seed/06_seed_subprocessor_category_enums.sql
Due: :postgres: atlas lint

add super basic package
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/handlers.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/shortlinks/client.go
  pkg/shortlinks/doc.go
  pkg/shortlinks/errors.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs

appease the linter
  pkg/shortlinks/client.go
  pkg/shortlinks/errors.go
Due: :yaml: generate config

fmt
  internal/ent/csvgenerated/csv_generated.go
Due: :golang: go generate, :yaml: generate config

Add basic URL shortener package with POST payload (#1954)
  config/.env.example
  config/config-dev.example.yaml
  config/config.example.yaml
  config/helm-values.yaml
  internal/ent/csvgenerated/csv_generated.go
  internal/httpserve/handlers/handlers.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/shortlinks/client.go
  pkg/shortlinks/doc.go
  pkg/shortlinks/errors.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :helm: update helm chart, :arrows_counterclockwise: finalize config PRs, :broom: cleanup draft PRs

stage up some new schemas and graphql extended schemas based on work in flight
  common/enums/channel.go
  common/enums/channel_test.go
  common/enums/notificationcadence.go
  common/enums/notificationchannelstatus.go
  common/enums/notificationtemplateformat.go
  common/enums/workflow.go
  common/models/email_branding.go
  common/models/workflow.go
  internal/ent/schema/campaign.go
  internal/ent/schema/emailbranding.go
  internal/ent/schema/notification.go
  internal/ent/schema/notificationpreference.go
  internal/ent/schema/notificationtemplate.go
  internal/ent/schema/organization.go
  internal/ent/schema/usersetting.go
  internal/ent/schema/workflowassignment.go
  internal/graphapi/schema/vulnerability_extended.graphql
  internal/graphapi/schema/vulnerability_summary.graphql
  internal/graphapi/schema/workflowadmin.graphql
  internal/graphapi/schema/workflowproposalextended.graphql
  internal/workflows/params.go
  internal/workflows/tx.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

comment out policy and group perms stuff, fix enums
  common/enums/errors.go
  common/enums/workflow.go
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/emailbranding.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

missing edge and graphql schema
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/campaign.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/schema/workflowassignmentextended.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :helm: update helm chart: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :arrows_counterclockwise: finalize config PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :broom: cleanup draft PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint :lint-roller:: any of: **.go, .golangci.yaml
  :golang: go test graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except graphapi: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
