Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

Attempt to auto set org avatar from domain icons (#2537)
  go.mod
  go.sum
  internal/ent/hooks/listeners_gala_registration_test.go
  internal/ent/hooks/listeners_organization_avatar.go
  internal/httpserve/serveropts/gala.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

Update docker/docker-compose-keycloak.yml
  docker/docker-compose-keycloak.yml
Due: none

fix handler tests
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/webfinger.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/middleware/auth/auth.go
  pkg/ssoutils/enforcement.go
  pkg/ssoutils/enforcement_test.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint handlers package :lint-roller:

fix autojoin, duration, add revocation
  common/openapi/models.go
  db/migrations-goose-postgres/20260618163350_ssoexcemptions.sql
  db/migrations-goose-postgres/20260618163353_ssoexcemptions_history.sql
  db/migrations/20260618163342_ssoexcemptions.sql
  db/migrations/20260618163346_ssoexcemptions_history.sql
  internal/ent/checksum/.history_schema_checksum
  internal/ent/hooks/errors.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/orgsetting_sso.go
  internal/ent/hooks/usersettings.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/invite.go
  internal/httpserve/handlers/sso.go
  internal/httpserve/handlers/sso_exemption_test.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  internal/httpserve/handlers/switch.go
  internal/httpserve/handlers/webfinger.go
  pkg/middleware/auth/auth.go
  pkg/middleware/auth/auth_sso_test.go
  pkg/middleware/auth/token_sso_test.go
  pkg/ssoutils/enforcement.go
  pkg/ssoutils/enforcement_test.go
  pkg/ssoutils/load.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

fmt
  internal/httpserve/handlers/support.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

linter
  internal/ent/hooks/orgmembership_sso.go
  internal/ent/schema/orgmembership.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

referer change
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/httpserve/handlers/trustcenter_anonymousjwt_test.go
  internal/httpserve/route/trustcenter_anonymousjwt.go
  pkg/middleware/ratelimit/ratelimiter.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

remove unused scopes, add cap support, regenerate migrations
  common/openapi/models.go
  db/migrations-goose-postgres/20260623191751_ssoexclusions.sql
  db/migrations-goose-postgres/20260623191754_ssoexclusions_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260623191743_ssoexclusions.sql
  db/migrations/20260623191746_ssoexclusions_history.sql
  db/migrations/atlas.sum
  go.mod
  go.sum
  internal/ent/privacy/rule/scopes.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

referer change (#2541)
  internal/httpserve/handlers/trustcenter_anonymousjwt.go
  internal/httpserve/handlers/trustcenter_anonymousjwt_test.go
  internal/httpserve/route/trustcenter_anonymousjwt.go
  pkg/middleware/ratelimit/ratelimiter.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: graph rate limit missing dry-run config flag
  internal/httpserve/serveropts/graph_ratelimit_test.go
  internal/httpserve/serveropts/option.go
Due: :yaml: generate config

fix: graph rate limit missing dry-run config flag (#2543)
  internal/httpserve/serveropts/graph_ratelimit_test.go
  internal/httpserve/serveropts/option.go
Due: :yaml: generate config

superadmins and owners should be in the admin managed group
  internal/ent/hooks/managedgroups.go
  internal/graphapi/group_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

superadmins and owners should be in the admin managed group (#2544)
  internal/ent/hooks/managedgroups.go
  internal/graphapi/group_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix bug with yaml
  pkg/catalog/catalog.go
Due: :yaml: generate config

add jit provisioning field
  internal/ent/hooks/errors.go
  internal/ent/hooks/orgsetting_sso.go
  internal/ent/hooks/usersettings.go
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/scopes_test.go
  internal/ent/schema/organizationsetting.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

db migrations
  db/migrations-goose-postgres/20260626162851_ssoexclusions.sql
  db/migrations-goose-postgres/20260626162855_ssoexclusions_history.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260626162843_ssoexclusions.sql
  db/migrations/20260626162846_ssoexclusions_history.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

fix: add mw to graph, user query for non-db user, org interceptor, task assinger
  cli/go.mod
  cli/go.sum
  internal/ent/hooks/task.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/user.go
  internal/graphapi/resolver.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/support.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  pkg/middleware/impersonation/impersonation.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

add tests for bugs found
  internal/ent/interceptors/organization.go
  internal/httpserve/handlers/support_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: add mw to graph, user query for non-db user, org interceptor, task assinger
  internal/ent/hooks/task.go
  internal/ent/interceptors/organization.go
  internal/ent/interceptors/user.go
  internal/graphapi/resolver.go
  internal/graphapi/supportuserextension.go
  internal/graphapi/user.resolvers.go
  internal/graphapi/user_test.go
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/support.go
  internal/httpserve/handlers/support_test.go
  internal/httpserve/serveropts/option.go
  internal/testutils/client.go
  pkg/middleware/impersonation/impersonation.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

missing
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/schema/contact.go
  internal/ent/schema/subprocessor.go
  internal/entitlements/features/features.go
  pkg/catalog/catalog_sandbox.yaml
  pkg/catalog/gencatalog/gencatalog_sandbox.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix tests, catalog gen
  pkg/catalog/catalog.go
  pkg/catalog/catalog.yaml
  pkg/catalog/gencatalog/gencatalog.go
Due: :yaml: generate config

fix tests
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/accountfeatures_test.go
  internal/httpserve/handlers/login_test.go
  internal/integrations/operations/ingest_generated.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

feat: on sub pause, keep free modules
  internal/httpserve/handlers/webhook.go
  internal/httpserve/handlers/webhook_helpers.go
  internal/httpserve/handlers/webhook_test.go
  pkg/catalog/catalog.go
  pkg/catalog/catalog_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

auditors should be able to see platforms
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

auditors should be able to see platforms (#2548)
  fga/model/generated/crud.fga
  fga/model/roles/roles.fga
Due: :auth0: fga model test

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
