Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

check for trustcenter existence before creation as errors still filling grafana up
  internal/httpserve/handlers/webhook_helpers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

only log error when errnotsignular (#2399)
  internal/httpserve/handlers/webhook_helpers.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

add object storage template hint
  internal/ent/hooks/nda_attestation.go
Due: :golang: go generate, :yaml: generate config

WIP : directory sync | keycloak integration
  internal/integrations/definitions/keycloak/builder.go
  internal/integrations/definitions/keycloak/client.go
  internal/integrations/definitions/keycloak/doc.go
  internal/integrations/definitions/keycloak/errors.go
  internal/integrations/definitions/keycloak/example/groups.json
  internal/integrations/definitions/keycloak/example/user.json
  internal/integrations/definitions/keycloak/installation.go
  internal/integrations/definitions/keycloak/mappings.go
  internal/integrations/definitions/keycloak/mappings_test.go
  internal/integrations/definitions/keycloak/operation_directory_sync.go
  internal/integrations/definitions/keycloak/operation_health.go
  internal/integrations/definitions/keycloak/types.go
Due: :yaml: generate config

fix: hint + add logging before generic errors
  internal/ent/hooks/nda_attestation.go
Due: :golang: go generate, :yaml: generate config

fixed mapping , moved compose file to docker directory and added task commands
  docker/Taskfile.yaml
  docker/docker-compose-authentik.yml
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/mappings_test.go
Due: :yaml: generate config

the IntegrationMappingDirectoryAccountAccountType is written in one line
  internal/integrations/definitions/authentik/mappings.go
Due: :yaml: generate config

Fix reviews
  internal/ent/hooks/assessment.go
  internal/ent/hooks/listeners_questionnaire_transform.go
Due: :golang: go generate, :yaml: generate config

fix(files): derive providedFileExtension from OriginalName
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :yaml: generate config

revert invite changes
  internal/ent/privacy/rule/invite.go
Due: :golang: go generate, :yaml: generate config

Update internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fallback
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :yaml: generate config

fix(files): derive providedFileExtension from OriginalName (#2403)
  internal/objects/store/persistence.go
  internal/objects/store/persistence_test.go
Due: :yaml: generate config

fix url generation, generate out config
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/documentdata.go
  internal/integrations/definitions/email/errors.go
  internal/integrations/definitions/email/system_emails.go
  internal/integrations/definitions/email/testing.go
  internal/integrations/definitions/email/url.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

Update internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
Due: :yaml: generate config

Apply suggestions from code review
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/operation_health.go
Due: :yaml: generate config

Update internal/integrations/definitions/authentik/types.go
  internal/integrations/definitions/authentik/types.go
Due: :yaml: generate config

remove pdf processing
  go.mod
  go.sum
  internal/objects/validators/mime.go
  internal/objects/validators/mime_test.go
  pkg/objects/storage/errors.go
  pkg/objects/storage/utils.go
  pkg/objects/storage/utils_test.go
  pkg/objects/testdata/sample.pdf
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

fix(storage): serve previewable MIMEs inline; re-detect octet-stream
  common/storagetypes/disposition.go
  internal/httpserve/handlers/filedownload.go
  internal/objects/store/persistence.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

harden disposition formatting, dedupe MIME re-detection
  common/storagetypes/disposition.go
  common/storagetypes/disposition_test.go
  internal/httpserve/handlers/filedownload.go
  internal/objects/store/persistence.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

improvements
  common/storagetypes/disposition_test.go
  internal/httpserve/handlers/filedownload.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

addressing comments
  internal/httpserve/handlers/filedownload.go
  pkg/objects/storage/disposition.go
  pkg/objects/storage/disposition_test.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

Update internal/httpserve/handlers/filedownload.go
  internal/httpserve/handlers/filedownload.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

using defualt postgre container now , user need not to provide eenvs now , added docs
  docker/docker-compose-authentik.yml
  docker/pg-init-scripts/init.sql
  internal/integrations/definitions/authentik/doc.go
  internal/integrations/definitions/authentik/installation.go
  internal/integrations/definitions/authentik/mappings.go
  internal/integrations/definitions/authentik/operation_directory_sync.go
  internal/integrations/definitions/authentik/operation_health.go
Due: :yaml: generate config

lint issue fixed
  internal/integrations/definitions/authentik/doc.go
Due: :yaml: generate config

linter
  internal/ent/hooks/nda_attestation.go
Due: :golang: go generate, :yaml: generate config

test bug removed
  internal/integrations/definitions/authentik/mappings_test.go
Due: :yaml: generate config

fix(storage): serve previewable MIMEs inline; re-detect octet-stream (#2405)
  internal/httpserve/handlers/filedownload.go
  pkg/objects/storage/disposition.go
  pkg/objects/storage/disposition_test.go
  pkg/objects/storage/providers/r2/provider.go
  pkg/objects/storage/providers/s3/provider.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

test failing fix
  internal/integrations/definitions/authentik/mappings.go
Due: :yaml: generate config

fix the url construction to include slug, fix the computed hash
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/nda_attestation.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/email/url_test.go
Due: :golang: go generate, :yaml: generate config

use the old helper
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/nda_attestation_test.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/email/url_test.go
Due: :golang: go generate, :yaml: generate config

restore back the query i accidentally removed in the last commit and add tests to confirm the url generation
  internal/ent/hooks/documentdata.go
  internal/integrations/definitions/email/url.go
  internal/integrations/definitions/email/url_test.go
  pkg/urlx/urlx_test.go
Due: :golang: go generate, :yaml: generate config

yml modification and mapping modification as well
  docker/configs/authentik/.env-example
  docker/docker-compose-authentik.yml
  internal/integrations/definitions/authentik/mappings.go
Due: :yaml: generate config

parse uploaded docs in all management modes
  common/enums/allenums_test.go
  common/enums/documentmanagementmode.go
  internal/ent/hooks/documents.go
  internal/ent/hooks/revision.go
  pkg/objects/upload.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli

drop HTML import path
  go.mod
  internal/objects/validators/mime.go
  pkg/objects/storage/errors.go
  pkg/objects/storage/utils.go
  pkg/objects/storage/utils_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

PR feedback
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/documentdata.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/nda_attestation.go
  internal/httpserve/serveropts/gala.go
  internal/integrations/definitions/email/types.go
  internal/integrations/operations/payment_reminder.go
  internal/integrations/runtime/payment_reminder.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
