Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

:golang: go generate:
  key: generate
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - generate:checksums
      propagate-environment: true
  ...

:yaml: generate config:
  key: generate_config
  cancel_on_build_failing: true
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - task
      - config:ci
      propagate-environment: true
      volumes:
      - $GOCACHE:$GOCACHE
      - $GOMODCACHE:$GOMODCACHE
  ...

:construction: create draft config PR:
  key: draft_pr_automation
  depends_on: generate_config
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:link: link PRs:
  key: link_pr_automation
  depends_on: draft_pr_automation
  if: build.pull_request.id != null
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      always_pull: true
      command:
      - sh
      - -c
  ...

:golangci-lint: lint graphapi package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_graphapi
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:graphapi
      always_pull: true
  ...

:golangci-lint: lint handlers package :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_handlers
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:handlers
      always_pull: true
  ...

:golangci-lint: lint - non-api packages :lint-roller::
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  cancel_on_build_failing: true
  timeout_in_minutes: 30
  key: lint_non_api
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/theopenlane/build-image:latest
      command:
      - task
      - go:lint:ci:no-api
      always_pull: true
  ...

:golang: go test - graphapi only:
  agents:
    queue: $LARGE_RUNNER_QUEUE
    size: $RUNNER_LARGE
    location: NYC
  key: go_test_graph
  cancel_on_build_failing: true
  env:
    TEST_DB_URL: docker://postgres:{{matrix.version}}
  matrix:
    setup:
      version:
      - 17-alpine
  plugins:
  - docker#v5.13.0:
  ...

:auth0: fga model test:
  agents:
    queue: $SMALL_RUNNER_QUEUE
    size: $RUNNER_SMALL
  key: fga_test
  plugins:
  - docker#v5.13.0:
      image: openfga/cli:v0.5.1
      propagate-environment: true
      command:
      - model
      - test
      - --tests
      - fga/tests/tests.yaml

add ordering support for faq (#2141)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/gql_pagination.go
  internal/ent/historygenerated/gql_pagination.go
  internal/ent/schema/trustcenterfaq.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historygenerated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/historyschema/schema.graphql
  internal/graphapi/schema/ent.graphql
  internal/graphapi/schemahistory/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

remove created_by filter when deleting as mismatch maybe there especially when created by an admin/api or seeded via harmonize e.g
  internal/ent/hooks/orgmembers.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update internal/objects/validators/mime.go
  internal/objects/validators/mime.go
Due: :yaml: generate config

Fix managed group deletion (#2145)
  internal/ent/hooks/orgmembers.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update exportFiles MIME types to include application/zip
  internal/objects/validators/mime.go
Due: :yaml: generate config

Add PDF and Markdown types to exportFiles
  internal/objects/validators/mime.go
Due: :yaml: generate config

bump stripe version config and test webhooks still work
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  pkg/entitlements/config.go
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

fixes
  .task/checksum/generate-catalog-smart
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/finding.go
  internal/ent/hooks/organization.go
  internal/ent/hooks/severity.go
  internal/ent/hooks/vulnerability.go
  internal/ent/schema/finding.go
  internal/ent/schema/vulnerability.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

update notification template and integration schema
  common/enums/allenums_test.go
  common/enums/integrationstatus.go
  common/enums/templatecontext.go
  internal/ent/hooks/emailtemplate.go
  internal/ent/hooks/emailtemplate_test.go
  internal/ent/hooks/notificationtemplate.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/integration.go
  internal/ent/schema/notificationtemplate.go
Due: :golang: go generate, :yaml: generate config, :terminal: build cli, :postgres: atlas lint

unable to create program from control with comments on descriptions
  internal/ent/hooks/slateJSON.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

unable to create program from control with comments on descriptions (#2151)
  internal/ent/hooks/slateJSON.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

update cgo
  .buildkite/hooks/environment
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

do not use -a
  Taskfile.yaml
Due: none

check for existing gravatar url
  internal/ent/hooks/group.go
Due: :golang: go generate, :yaml: generate config

cgo, no -a
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

remove GOMAXPROCS
  .buildkite/pipeline.yaml
Due: none

check for existing gravatar url (#2154)
  internal/ent/hooks/group.go
Due: :golang: go generate, :yaml: generate config

update cgo (#2153)
  .buildkite/hooks/environment
  .buildkite/pipeline.yaml
  Taskfile.yaml
Due: none

use small queue for small jobs
  .buildkite/pipeline.yaml
Due: none

use small queue for small jobs (#2155)
  .buildkite/pipeline.yaml
Due: none

github app install metadata, CEL directory ingest, integration scoped credential plumbing
  common/integrations/state/state.go
  common/integrations/types/operation.go
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_errors.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_github_webhook_flow_test.go
  internal/httpserve/handlers/integration_github_webhook_test.go
  internal/integrations/ingest/defaults_directory_accounts.go
  internal/integrations/ingest/defaults_directory_accounts_test.go
  internal/integrations/ingest/defaults_github.go
  internal/integrations/ingest/directory_accounts.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/integrations/providers/github/github_app_provider_test.go
  internal/integrations/providers/github/operations.go
  internal/keystore/broker.go
  internal/keystore/keystore_test_helpers.go
  internal/keystore/operations_manager.go
  internal/keystore/operations_manager_test.go
  internal/keystore/store.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli

wire up workflow metadata
  internal/graphapi/workflow_metadata_extensions.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

clean up some cruft, make the contract boundaries tighter
  Taskfile.yaml
  internal/integrations/HELPER_REUSE_GUIDE.md
  internal/integrations/IMPLEMENTATION_PLAN.md
  internal/integrations/README.md
  internal/integrations/TODO.md
  internal/integrations/ingest/adapters.go
  internal/integrations/ingest/bindings.go
  internal/integrations/ingest/func.go
  internal/integrations/ingest/mapper.go
  internal/integrations/providers/catalog/catalog.go
  internal/integrations/providers/catalog/catalog_test.go
  internal/integrations/providers/scaffold/doc.go
  internal/integrations/providers/scaffold/main.go
  internal/integrations/providers/scaffold/templates/client.go.tmpl
  internal/integrations/providers/scaffold/templates/doc.go.tmpl
  internal/integrations/providers/scaffold/templates/errors.go.tmpl
  internal/integrations/providers/scaffold/templates/operations.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_apikey.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_custom.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_oauth.go.tmpl
  internal/integrations/providers/scaffold/templates/provider_test.go.tmpl
  internal/integrations/scope/types.go
  internal/workflows/engine/integration_executor.go
Due: :yaml: generate config

refactor to try and use generated approach
  cmd/serve.go
  common/integrations/operations/metadata.go
  common/integrations/operations/metadata_test.go
  common/integrations/types/ingest_capabilities.go
  common/integrations/types/operation.go
  go.mod
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/integrations/README.md
  internal/integrations/ingest/README.md
  internal/integrations/ingest/bindings.go
  internal/integrations/ingest/defaults_directory_accounts_test.go
  internal/integrations/ingest/dispatch.go
  internal/integrations/ingest/events.go
  internal/integrations/ingest/mapping_index.go
  internal/integrations/providers/aws/operations_securityhub.go
  internal/integrations/providers/github/github.go
  internal/integrations/providers/github/github_app_provider.go
  internal/integrations/providers/github/ingest_mappings.go
  internal/integrations/providers/github/operations.go
  internal/integrations/providers/googleworkspace/googleworkspace.go
  internal/integrations/providers/googleworkspace/ingest_mappings.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/registry/registry.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/integration_executor_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

allow ctx on webhook
  internal/httpserve/handlers/integration_github_webhook.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

simplify
  internal/httpserve/handlers/errors.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/integration_config.go
  internal/httpserve/handlers/integration_github_app_flow_test.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_test_helpers_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/gala.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/activation/doc.go
  internal/integrations/activation/errors.go
  internal/integrations/activation/service.go
  internal/integrations/activation/service_test.go
  internal/integrations/auth/doc.go
  internal/integrations/ingest/runtime.go
  internal/integrations/providers/aws/operations_health.go
  internal/integrations/providers/awssts/awssts.go
  internal/integrations/runtime/runtime.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

criteria per integration source
  internal/integrations/activation/doc.go
  internal/integrations/activation/errors.go
  internal/integrations/activation/service.go
  internal/integrations/activation/service_test.go
  internal/integrations/auth/authenticated_client.go
  internal/integrations/auth/credential_payload.go
  internal/integrations/auth/rest_client.go
  internal/integrations/ingest/errors.go
  internal/integrations/ingest/func.go
  internal/integrations/providers/microsoftteams/operations.go
  internal/integrations/scope/evaluator.go
  internal/integrations/state/state.go
  internal/integrations/state/state_test.go
  internal/integrations/targetresolver/types.go
Due: :yaml: generate config

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**
