Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

reconcile rebase
  common/integrations/helpers/doc.go
  common/integrations/helpers/errors.go
  common/integrations/helpers/metadata.go
  common/integrations/helpers/oauth.go
  common/integrations/types/alert.go
  go.mod
  internal/httpserve/handlers/integration_github_app.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_helpers.go
  internal/httpserve/handlers/integration_vulnerabilities.go
  internal/integrations/providers/github/errors.go
  internal/integrations/providers/github/github_app.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

add tests
  common/integrations/auth/authenticated_client_test.go
  common/integrations/auth/aws_test.go
  common/integrations/auth/duration_test.go
  common/integrations/auth/oauth_test.go
  common/integrations/auth/provider_decode_test.go
  common/integrations/auth/service_account_test.go
  common/integrations/config/schema_version_test.go
  common/integrations/config/spec_test.go
  common/integrations/operations/config_decode_test.go
  common/integrations/operations/metadata_test.go
  common/integrations/operations/operation_helpers_test.go
  common/integrations/operations/operation_templates_test.go
  common/integrations/operations/opsconfig_test.go
  common/integrations/operations/payloads_test.go
  common/integrations/operations/schema_test.go
  common/integrations/types/credential_test.go
  common/integrations/types/normalized_strings_test.go
Due: :terminal: build cli

fix linter errors
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/integrationgenerated/integration_mapping_generated.go
  internal/httpserve/handlers/integration_github_webhook.go
  internal/httpserve/handlers/integration_operations.go
  internal/integrations/ingest/events.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/integrations/providers/aws/client_helpers.go
  internal/integrations/providers/aws/operations_securityhub.go
  internal/integrations/providers/awssts/awssts.go
  internal/integrations/providers/azuresecuritycenter/provider.go
  internal/integrations/providers/cloudflare/operations.go
  internal/integrations/providers/gcpscc/operations.go
  internal/integrations/providers/github/vulnerabilities.go
  internal/integrations/providers/googleworkspace/operations.go
  internal/integrations/providers/vercel/operations.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/engine/notification_templates.go
  internal/workflows/engine/template_renderer.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

update README
  internal/integrations/ingest/README.md
Due: :yaml: generate config

config generate
  jsonschema/workflow.definition.json
Due: none

errors
  internal/workflows/engine/errors.go
  internal/workflows/engine/template_renderer.go
Due: :yaml: generate config

PR feedback
  common/integrations/auth/oauth.go
  common/integrations/operations/errors.go
  common/integrations/operations/operation_helpers.go
  internal/graphapi/workflow_validators.go
  internal/integrations/ingest/vulnerabilities.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

fix: add allowctx for mark notifications as read
  internal/graphapi/notification.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: add allowctx for mark notifications as read (#2003)
  internal/graphapi/notification.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

task db:create and fix hook
  common/openapi/models.go
  internal/ent/hooks/assessment_response.go
  internal/ent/schema/assessment_response.go
  internal/graphapi/assessmentresponse_test.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :terminal: build cli, :postgres: atlas lint

draft on update only
  internal/graphapi/assessmentresponse_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix review
  internal/httpserve/authmanager/authmanager.go
  internal/httpserve/handlers/questionnaire_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: ticker never stopped
  .task/checksum/generate-others-smart
  internal/graphapi/checksum/.history_schema_checksum
  pkg/middleware/ratelimit/limitstore_test.go
  pkg/middleware/ratelimit/map_limit_store.go
  pkg/middleware/ratelimit/map_limit_store_test.go
  pkg/middleware/ratelimit/ratelimiter.go
Due: :golang: go generate, :yaml: generate config

lo helpers, jsonx package and tests
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/interceptors/filter.go
  internal/graphapi/common/helpers.go
  internal/graphapi/csv_reference.go
  internal/graphapi/discussionhelpers.go
  internal/graphapi/grouppermissionshelpers.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/httpserve/handlers/openapi_examples.go
  internal/integrations/ingest/envelopes.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/keystore/store.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/helpers.go
  internal/workflows/replacements.go
  internal/workflows/shared_helpers.go
  pkg/jsonx/doc.go
  pkg/jsonx/errors.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
  pkg/objects/upload.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

add fallback
  pkg/jsonx/jsonx.go
Due: :yaml: generate config

Add new `jsonx` package helpers and replace call sites (#2006)
  internal/ent/hooks/authzmutationhelpers.go
  internal/ent/hooks/customenums.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/interceptors/filter.go
  internal/graphapi/common/helpers.go
  internal/graphapi/csv_reference.go
  internal/graphapi/discussionhelpers.go
  internal/graphapi/grouppermissionshelpers.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/httpserve/handlers/openapi_examples.go
  internal/integrations/ingest/envelopes.go
  internal/integrations/ingest/mapper.go
  internal/integrations/ingest/vulnerabilities.go
  internal/keystore/store.go
  internal/workflows/engine/integration_executor.go
  internal/workflows/helpers.go
  internal/workflows/replacements.go
  internal/workflows/shared_helpers.go
  pkg/jsonx/doc.go
  pkg/jsonx/errors.go
  pkg/jsonx/jsonx.go
  pkg/jsonx/jsonx_test.go
  pkg/objects/upload.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

fix test
  internal/graphapi/entity_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Add doc automation step to pipeline.yaml (#1992)
  .buildkite/pipeline.yaml
Due: none

update logx to inject durable fields we persist in logging context so they are there when context is restored
  internal/ent/eventqueue/gala_adapter_test.go
  pkg/gala/context_auth.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
  pkg/logx/context.go
  pkg/logx/context_test.go
  pkg/logx/middleware.go
Due: :golang: go generate, :yaml: generate config

revert changes to existing soiree listeners or ent hooks
  internal/ent/hooks/event.go
  internal/ent/hooks/listeners_entitlements.go
  internal/ent/hooks/listeners_metadata_behavior_test.go
  internal/ent/hooks/listeners_trustcenter_cache.go
  internal/ent/notifications/events.go
  internal/ent/notifications/events_test.go
  internal/ent/notifications/exports.go
  internal/ent/notifications/exports_test.go
  internal/ent/notifications/mentions.go
  internal/ent/notifications/mentions_test.go
  internal/ent/notifications/payload_helpers.go
Due: :golang: go generate, :yaml: generate config

back out another unneeded change
  cmd/serve.go
Due: :golang: build

finish last of the cleanup
  README.md
  cmd/serve.go
  go.mod
  internal/ent/eventqueue/gala_adapter_test.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/event.go
  internal/ent/hooks/event_gala_hook.go
  internal/ent/hooks/eventer.go
  internal/ent/hooks/listeners_entitlements.go
  internal/httpserve/serveropts/gala.go
  internal/workflows/options.go
  internal/workflows/shared_helpers.go
  pkg/gala/README.md
  pkg/gala/context_auth.go
  pkg/gala/dispatcher.go
  pkg/gala/docs/plan.md
  pkg/gala/errors.go
  pkg/gala/gala.go
  pkg/gala/gala_test.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

bump known outstanding deps; fix deprecated warning in linter command
  .github/workflows/releaser.yml
  Taskfile.yaml
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/all-in-one/Dockerfile.all-in-one
  docker/docker-compose-fga.yml
  go.mod
  go.sum
  pkg/logx/context_test.go
  pkg/logx/middleware.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

revvert the workflows changes for now
  internal/workflows/engine/eventhandlers.go
Due: :yaml: generate config

fix: ticker never stopped (#2005)
  internal/graphapi/checksum/.history_schema_checksum
  pkg/middleware/ratelimit/limitstore_test.go
  pkg/middleware/ratelimit/map_limit_store.go
  pkg/middleware/ratelimit/map_limit_store_test.go
  pkg/middleware/ratelimit/ratelimiter.go
Due: :golang: go generate, :yaml: generate config

fix: edge to entity type is on org, allow name on create
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generated/runtime/runtime.go
  internal/ent/historygenerated/runtime/runtime.go
  internal/ent/schema/entity.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/entity.resolvers.go
  internal/graphapi/generated/actionplan.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/entity.graphql
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

add negative test
  internal/graphapi/entity_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
