Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

set trustcenter id to custom data
  internal/ent/hooks/custom_domain.go
Due: :golang: go generate, :yaml: generate config

fix test
  internal/graphapi/customdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix workflkow context permissions
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/hooks/workflowproposal_test.go
  internal/graphapi/workflowadmin.resolvers.go
  internal/graphapi/workflowadmin_helpers.go
  internal/graphapi/workflowassignmentextended.resolvers.go
  internal/graphapi/workflowproposalextended.resolvers.go
  internal/graphapi/workflowproposalpreview_helpers.go
  internal/workflows/cleanup.go
  internal/workflows/context.go
  internal/workflows/context_test.go
  internal/workflows/engine/emit.go
  internal/workflows/engine/emit_reconciler_test.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/evaluator.go
  internal/workflows/engine/eventhandlers.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/proposal_manager.go
  internal/workflows/reconciler/reconciler.go
  internal/workflows/seeder.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix tests
  internal/graphapi/customdomain_test.go
  internal/graphapi/tools_trustcenter_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: edge access for integration is org owned
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/schema/actionplan.go
  internal/ent/schema/asset.go
  internal/ent/schema/campaign.go
  internal/ent/schema/campaign_target.go
  internal/ent/schema/checkresult.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/directorysyncrun.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/finding.go
  internal/ent/schema/hush.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/notificationtemplate.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/vulnerability.go
  internal/ent/schema/workflowinstance.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: edge access for integration is org owned
  internal/ent/schema/asset.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: edge access for integration is org owned (#2718)
  .task/checksum/generate-ent-smart
  internal/ent/authzgenerated/accessmap.go
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/schema/actionplan.go
  internal/ent/schema/asset.go
  internal/ent/schema/campaign.go
  internal/ent/schema/campaign_target.go
  internal/ent/schema/checkresult.go
  internal/ent/schema/directoryaccount.go
  internal/ent/schema/directorygroup.go
  internal/ent/schema/directorymembership.go
  internal/ent/schema/directorysyncrun.go
  internal/ent/schema/emailtemplate.go
  internal/ent/schema/finding.go
  internal/ent/schema/hush.go
  internal/ent/schema/integrationrun.go
  internal/ent/schema/integrationwebhook.go
  internal/ent/schema/internalpolicy.go
  internal/ent/schema/notificationtemplate.go
  internal/ent/schema/remediation.go
  internal/ent/schema/review.go
  internal/ent/schema/vulnerability.go
  internal/ent/schema/workflowinstance.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

only set the trustcenter id if one exists
  internal/ent/hooks/custom_domain.go
Due: :golang: go generate, :yaml: generate config

ignore not singular error
  internal/ent/hooks/custom_domain.go
Due: :golang: go generate, :yaml: generate config

add helper to cleanup scheams
  .golangci.yaml
  Taskfile.yaml
  internal/ent/generate/entdrop/README.md
  internal/ent/generate/entdrop/main.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:

fix: banner left behind
  internal/ent/generate/entdrop/main.go
  internal/graphapi/ent.resolvers.go
  internal/graphapi/history/ent.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

extend trustcenter domain to support preview domains too
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterdomain.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/schema/trustcenterdomain.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

feat : added fossa files
  internal/integrations/definitions/catalog/catalog.go
  internal/integrations/definitions/fossa/api.go
  internal/integrations/definitions/fossa/builder.go
  internal/integrations/definitions/fossa/client.go
  internal/integrations/definitions/fossa/client_test.go
  internal/integrations/definitions/fossa/config.go
  internal/integrations/definitions/fossa/doc.go
  internal/integrations/definitions/fossa/errors.go
  internal/integrations/definitions/fossa/examples/finding.json
  internal/integrations/definitions/fossa/examples/vulnerability.json
  internal/integrations/definitions/fossa/installation.go
  internal/integrations/definitions/fossa/mappings.go
  internal/integrations/definitions/fossa/mappings_test.go
  internal/integrations/definitions/fossa/operation_directory_sync.go
  internal/integrations/definitions/fossa/operation_health.go
  internal/integrations/definitions/fossa/operation_vulnerability_sync.go
  internal/integrations/definitions/fossa/operation_vulnerability_sync_test.go
  internal/integrations/definitions/fossa/types.go
Due: :yaml: generate config

update tests
  .task/checksum/generate-graphql-smart
  internal/graphapi/query/trustcenterdomain.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/trustcenterdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

added a testing harness
  internal/integrations/definitions/fossa/client.go
  internal/integrations/definitions/fossa/client_test.go
  internal/integrations/definitions/fossa/examples/vulnerabilitysync/main.go
  internal/integrations/definitions/fossa/installation.go
  internal/integrations/definitions/fossa/mappings.go
  internal/integrations/definitions/fossa/mappings_test.go
  internal/integrations/definitions/fossa/operation_vulnerability_sync_test.go
Due: :yaml: generate config

add tests to catch enforcement
  internal/graphapi/trustcenterdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Extend trustcenter domain to support previews (#2720)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/generated/trustcenterdomain.generated.go
  internal/graphapi/model/gen_models.go
  internal/graphapi/query/trustcenterdomain.graphql
  internal/graphapi/schema/trustcenterdomain.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
  internal/graphapi/testclient/models.go
  internal/graphapi/trustcenterdomain.resolvers.go
  internal/graphapi/trustcenterdomain_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

back out ordering dependency for integrations runtime so it can be safely removed from the ent client
  internal/ent/generate/templates/ent/config.tmpl
  internal/ent/generated/client.go
  internal/ent/historygenerated/client.go
  internal/ent/hooks/assessment_response.go
  internal/ent/hooks/email_config.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/organizationsetting.go
  internal/ent/hooks/slack_config.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/entdb/client.go
  internal/graphapi/campaign_dispatch.go
  internal/graphapi/campaign_test_email.go
  internal/graphapi/domain_scan_review.go
  internal/graphapi/emailtemplatecatalog.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcenterdomain_test.go
  internal/httpserve/handlers/questionnaire_test.go
  internal/httpserve/handlers/resend_questionnaire_test.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/runtime.go
  internal/workflows/engine/send_email.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

now move workflows
  cmd/serve.go
  internal/ent/generate/templates/ent/config.tmpl
  internal/ent/generated/client.go
  internal/ent/historygenerated/client.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowassignment.go
  internal/ent/hooks/workflowdefinition.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/hooks/workflowproposal_test.go
  internal/entdb/client.go
  internal/graphapi/tools_test.go
  internal/graphapi/workflow_graphql_integration_test.go
  internal/graphapi/workflow_helpers.go
  internal/graphapi/workflow_resolvers_extended_test.go
  internal/graphapi/workflowadmin.resolvers.go
  internal/graphapi/workflowassignment.resolvers.go
  internal/graphapi/workflowassignmentextended.resolvers.go
  internal/graphapi/workflowassignmenttarget.resolvers.go
  internal/graphapi/workflowdefinition.resolvers.go
  internal/graphapi/workflowdefinitionextended.resolvers.go
  internal/graphapi/workflowevent.resolvers.go
  internal/graphapi/workflowinstance.resolvers.go
  internal/graphapi/workflowinstanceextended.resolvers.go
  internal/graphapi/workflowobjectref.resolvers.go
  internal/graphapi/workflowproposalextended.resolvers.go
  internal/httpserve/serveropts/gala.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/approval_timing_test.go
  internal/workflows/engine/default.go
  internal/workflows/engine/proposal_manager_test.go
  internal/workflows/engine/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: build

regenerate output
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/generated/client.go
  internal/ent/hooks/invite.go
  internal/ent/hooks/listeners_nda_attestation.go
  internal/ent/hooks/onboarding.go
  internal/ent/hooks/subscriber.go
  internal/ent/hooks/trustcenterndarequest.go
  internal/ent/hooks/usersettings.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
Due: :golang: go generate, :yaml: generate config

linter
  internal/graphapi/emailtemplatecatalog.go
  internal/graphapi/emailtemplateextended.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add pkg/singleton for basic wrapper i can import into other packages and reuse
  cmd/serve.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/workflow_approval.go
  internal/ent/hooks/workflowproposal.go
  internal/ent/hooks/workflowproposal_test.go
  internal/graphapi/workflow_graphql_integration_test.go
  internal/graphapi/workflow_helpers.go
  internal/graphapi/workflow_resolvers_extended_test.go
  internal/graphapi/workflowadmin.resolvers.go
  internal/httpserve/handlers/tools_test.go
  internal/httpserve/serveropts/gala.go
  internal/httpserve/serveropts/integration_base.go
  internal/integrations/runtime/runtime.go
  internal/workflows/engine/approval_flow_test.go
  internal/workflows/engine/default.go
  internal/workflows/engine/send_email.go
  pkg/singleton/doc.go
  pkg/singleton/singleton.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golang: build

add on exhausted, reconcile loop fix and duplicates, shift uniqueness verification point
  internal/graphapi/integration_lifecycle_test.go
  internal/graphapi/listeners_integration_cleanup_test.go
  internal/graphapi/listeners_organization_cleanup_test.go
  internal/graphapi/recurring_schedule_test.go
  internal/graphapi/tools_test.go
  internal/integrations/operations/reconcile.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/runtime.go
  internal/testutils/integrations/auth.go
  internal/testutils/integrations/builder.go
  internal/testutils/integrations/builder_test.go
  internal/testutils/integrations/client.go
  internal/testutils/integrations/doc.go
  internal/testutils/integrations/errors.go
  internal/testutils/integrations/handlers.go
  internal/testutils/integrations/types.go
  pkg/gala/listener.go
  pkg/gala/schedule.go
  pkg/gala/schedule_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add on exhausted, reconcile loop fix and duplicates, shift uniqueness verification point (#2722)
  internal/graphapi/integration_lifecycle_test.go
  internal/graphapi/listeners_integration_cleanup_test.go
  internal/graphapi/listeners_organization_cleanup_test.go
  internal/graphapi/recurring_schedule_test.go
  internal/graphapi/tools_test.go
  internal/integrations/operations/reconcile.go
  internal/integrations/runtime/execution.go
  internal/integrations/runtime/reconcile_loops.go
  internal/integrations/runtime/runtime.go
  internal/testutils/integrations/auth.go
  internal/testutils/integrations/builder.go
  internal/testutils/integrations/builder_test.go
  internal/testutils/integrations/client.go
  internal/testutils/integrations/doc.go
  internal/testutils/integrations/errors.go
  internal/testutils/integrations/handlers.go
  internal/testutils/integrations/types.go
  pkg/gala/listener.go
  pkg/gala/schedule.go
  pkg/gala/schedule_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix rebase
  common/go.sum
Due: :terminal: build cli

remove unused search code
  .task/checksum/generate-catalog-smart
  go.mod
  go.sum
  internal/ent/csvgenerated/csv_generated.go
  internal/graphapi/search.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

drop more unused code
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/hooks/export_test.go
  internal/ent/hooks/helpers.go
  internal/ent/hooks/tuples.go
  internal/ent/privacy/rule/allow_mutation_valid_signup_token.go
  internal/ent/privacy/rule/deny_questionnaire.go
  internal/ent/privacy/token/email_signup_token.go
  internal/ent/privacy/token/filedownload.go
  internal/ent/privacy/token/job_runner.go
  internal/ent/privacy/token/oauth_token.go
  internal/ent/privacy/token/org_invite_token.go
  internal/ent/privacy/token/reset_token.go
  internal/ent/privacy/token/verify_token.go
  internal/ent/schema/mixin_customenums.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/httpserve/handlers/integration_flow_test.go
  internal/httpserve/route/router.go
  internal/httpserve/route/router_test.go
  internal/integrations/mappingtest/mappingtest.go
  internal/integrations/providerkit/schema.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

cleanup
  .task/checksum/generate-ent-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/generate/entc.go
  internal/genhelpers/pruneops.go
Due: :golang: go generate, :yaml: generate config

rebase+regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/tools_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :terminal: build cli

drop config level preview zone id for trustcenter
  cmd/serve.go
  config/config-dev.example.yaml
  config/config.example.yaml
  config/config.go
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/hooks/dnsverification.go
  internal/ent/hooks/trustcenter.go
  internal/ent/hooks/trustcentersetting.go
  internal/graphapi/listeners_trustcenter_cache_test.go
  internal/graphapi/tools_test.go
  internal/graphapi/trustcentersetting_test.go
  internal/trustcenterurl/trustcenterurl.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golang: build

task config:generate again
  config/.env.example
  jsonschema/api-docs.md
  jsonschema/core.config.json
  jsonschema/workflow-docs.md
Due: :yaml: generate config

task config:generate again
  jsonschema/api-docs.md
  jsonschema/workflow-docs.md
Due: none

fix tests
  internal/ent/hooks/tools_test.go
  internal/graphapi/listeners_trustcenter_cache_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:
