Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

more go mod
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

lock down fields, v1, plan to move to field letting settings
  internal/graphapi/anonaccess_test.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/graphapi/trustcenterndarequest_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

org settings use restored caller, not empty org caller
  internal/ent/hooks/listeners_entitlements.go
Due: :golang: go generate, :yaml: generate config

test name
  internal/graphapi/assessmentpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

edit
  internal/ent/schema/assessmentpolicy.go
  internal/graphapi/assessmentpolicy_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

rebase + regen
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  fga/model/generated/version.fga
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/edge_cleanup.go
  internal/ent/generated/history_from_mutation.go
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/graphclient.go
Due: :golang: go generate, :yaml: generate config, :auth0: fga model test

regen with new entx
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/trustcenterndarequest.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

feat: use entityops + anon field instead of relying on updating mutation in resolver
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/anonaccess_test.go
  internal/graphapi/anonymousmutationextension.go
  internal/graphapi/callerextensions.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/testdata/uploads/emails.csv
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

fix: limit notification type that trigger task rule
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/taskrules/notification.go
Due: :golang: go generate, :yaml: generate config

entx update
  common/go.mod
  common/go.sum
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

migrate template mapping to gala
  internal/controls/template_mapping.go
  internal/ent/hooks/listeners_template_mapping.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_test.go
  internal/graphapi/testharness/harness.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: limit notification type that trigger task rule (#2874)
  internal/ent/hooks/listeners_task_rules.go
  internal/ent/hooks/listeners_task_rules_test.go
  internal/ent/taskrules/notification.go
Due: :golang: go generate, :yaml: generate config

feat: use entityops + anon field instead of relying on updating mutation in resolver (#2871)
  .task/checksum/generate-ent-smart
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_registry.go
  internal/ent/schema/subscriber.go
  internal/ent/schema/trustcenterndarequest.go
  internal/graphapi/anonaccess_test.go
  internal/graphapi/anonymousmutationextension.go
  internal/graphapi/callerextensions.go
  internal/graphapi/resolver.go
  internal/graphapi/subscriber.resolvers.go
  internal/graphapi/testdata/uploads/emails.csv
  internal/graphapi/trustcenterndarequest.resolvers.go
  internal/graphapi/trustcenterndarequest_test.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add internal address filtering for webhooks
  .task/checksum/generate-ent-smart
  config/.env.example
  config/config.example.yaml
  config/configmap-config-file.yaml
  config/helm-values.yaml
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/workflowdefinition/workflowdefinition.go
  internal/ent/hooks/errors.go
  internal/ent/hooks/workflowdefinition.go
  internal/ent/hooks/workflowdefinition_test.go
  internal/ent/schema/workflowdefinition.go
  internal/workflows/engine/engine.go
  internal/workflows/engine/executor.go
  internal/workflows/engine/executor_test.go
  internal/workflows/engine/tools_test.go
  internal/workflows/options.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/urlx/address.go
  pkg/urlx/address_test.go
  pkg/urlx/errors.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :postgres: atlas lint

wire up gala in test
  internal/graphapi/testharness/harness.go
  internal/testutils/client.go
Due: :golang: go generate, :yaml: generate config

Exists does not return NotFound
  internal/graphapi/control_clone.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

use gala attributes instead
  internal/ent/hooks/listeners_template_mapping.go
  internal/graphapi/control_clone.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Revert "Auto create control mappings on control imports (#2840)"
  internal/controls/clone.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_clone_mappings.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Revert "Auto create control mappings on control imports (#2840)" (#2878)
  internal/controls/clone.go
  internal/graphapi/control_clone.go
  internal/graphapi/control_clone_mappings.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: case sensitive verfication, need to ensure email uses is the lowercased one
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

fix: case sensitive verfication, need to ensure email uses is the lowercased one (#2879)
  internal/httpserve/handlers/ent.go
  internal/httpserve/handlers/register.go
  internal/httpserve/handlers/register_test.go
Due: :yaml: generate config, :golangci-lint: lint handlers package :lint-roller:

use better error message, cleanup tests
  internal/ent/privacy/rule/errors.go
  internal/ent/privacy/rule/modules.go
  internal/graphapi/errors.go
  internal/graphapi/personalorg_modules_test.go
  internal/graphapi/testharness/seed.go
  internal/workflows/webhooks.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

config regen
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

move to validator for reuse, try to fix timeout test
  internal/ent/hooks/workflowdefinition.go
  internal/ent/schema/workflowdefinition.go
  internal/ent/validator/outbound.go
  internal/ent/validator/outbound_test.go
  internal/graphapi/onboarding_test.go
  internal/workflows/errors.go
  internal/workflows/webhooks.go
  internal/workflows/webhooks_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

dont wait forever
  pkg/gala/errors.go
  pkg/gala/gala.go
Due: :yaml: generate config

comments
  internal/integrations/definitions/fossa/operation_vulnerability_sync.go
Due: :yaml: generate config

patch resolver, pull in new gqlgen
  go.mod
  go.sum
  internal/graphapi/entitycatalog.resolvers.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

task config generate
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :yaml: generate config

extend tests to make sure permissions cannot be added to system owned entities
  internal/graphapi/assessment_test.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

Update internal/ent/schema/trustcentersetting.go
  internal/ent/schema/trustcentersetting.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint
