Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:, :golangci-lint: lint - non-api packages :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :auth0: fga model test, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :graphql: lint graphql schema, :docker: docker pr build

Path conditions:
  :golang: go generate: any of: go.{mod,sum}, internal/ent/**, internal/graphapi/**, common/enums/**
  :yaml: generate config: any of: go.{mod,sum}, internal/**, pkg/**, config/**
  :construction: create draft config PR: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :link: link PRs: any of: config/configmap-config-file.yaml, config/helm-values.yaml
  :golangci-lint: lint graphapi package :lint-roller:: any of: internal/graphapi/**.go, .golangci.yaml
  :golangci-lint: lint handlers package :lint-roller:: any of: internal/httpserve/handlers/**.go, .golangci.yaml
  :golangci-lint: lint - non-api packages :lint-roller:: any of: **.go, .golangci.yaml, but not: internal/graphapi/**, internal/httpserve/handlers/**
  :golang: go test - graphapi only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - handlers only: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: go test - all except api: any of: **.go, go.{mod,sum}, but not: cli/**
  :auth0: fga model test: any of: fga/**
  :buildkite: upload test analytics report: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload PR reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :github: upload reports: any of: **.go, go.{mod,sum}, but not: cli/**
  :golang: build: any of: **.go, go.{mod,sum}, cmd/**, docker/Dockerfile, but not: cli/**
  :terminal: build cli: any of: go.{mod,sum}, cli/**, common/**
  :postgres: atlas lint: any of: db/**, internal/ent/schema/**
  :graphql: lint graphql schema: any of: **.graphql
  :docker: docker pr build: any of: **.go, go.{mod,sum}, docker/Dockerfile, but not: cli/**

add ctx to allow
  internal/ent/hooks/trustcenter.go
Due: :golang: go generate, :yaml: generate config

config:gen
  config/helm-values.yaml
Due: :yaml: generate config, :construction: create draft config PR, :link: link PRs

db:create
  db/migrations-goose-postgres/20260924033217_scan_origin.sql
  db/migrations-goose-postgres/atlas.sum
  db/migrations/20260924033202_scan_origin.sql
  db/migrations/atlas.sum
Due: :postgres: atlas lint

linter
  internal/ent/hooks/listeners_scan_report.go
Due: :golang: go generate, :yaml: generate config

allow support user to delete objects
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/trustcenter.go
  internal/graphapi/authz_bulk.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add tests for support user deletion
  internal/ent/privacy/rule/scopes.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix tests
  internal/ent/privacy/rule/scopes_test.go
Due: :golang: go generate, :yaml: generate config

Support user should be able to delete objects (#2839)
  internal/ent/privacy/rule/scopes.go
  internal/ent/privacy/rule/scopes_test.go
  internal/ent/privacy/rule/trustcenter.go
  internal/graphapi/authz_bulk.go
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

link findings to reviews, retry jitter, larger groupings, fix trust center doc creation, log gala panic
  internal/ent/hooks/listeners_scan_report.go
  internal/integrations/definitions/gemini/operation_report_scan_part.go
  internal/integrations/definitions/gemini/operation_report_scan_request.go
  internal/integrations/definitions/gemini/report_scan_listeners.go
  internal/integrations/definitions/gemini/report_scan_soc2.go
  pkg/docextract/extract.go
  pkg/docextract/extract_test.go
  pkg/docextract/retry.go
  pkg/docextract/retry_test.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
  pkg/docextract/soc2/stream.go
  pkg/docextract/soc2/stream_test.go
  pkg/gala/gala.go
  pkg/gala/registry.go
Due: :golang: go generate, :yaml: generate config

linter
  pkg/docextract/retry.go
  pkg/docextract/soc2/link.go
Due: :yaml: generate config

do not block on pii, use matched blocks
  internal/integrations/definitions/gemini/operation_report_scan_request.go
  pkg/modelarmor/client.go
Due: :yaml: generate config

revert bad change, fix other test
  pkg/docextract/schema/findings.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
  pkg/gala/registry.go
Due: :yaml: generate config

better logic
  internal/integrations/definitions/gemini/report_scan_listeners.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/link_test.go
Due: :yaml: generate config

cleanup, minio -> silo, utils
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  docker/docker-compose-storage.yml
  go.mod
  go.sum
  pkg/docextract/soc2/identity.go
  pkg/docextract/soc2/link.go
  pkg/docextract/soc2/stream.go
  pkg/objects/examples/docker-compose.yml
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

not today batman
  go.mod
  go.sum
Due: :golang: go generate, :yaml: generate config, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :docker: docker pr build

I guess you won
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
Due: :terminal: build cli

remove creds json option, remove extra allow context, fix default email
  config/.env.example
  config/config.example.yaml
  config/helm-values.yaml
  internal/ent/hooks/listeners_notification_email.go
  internal/ent/hooks/listeners_scan_report.go
  internal/integrations/definitions/gemini/client.go
  internal/integrations/definitions/gemini/types.go
  internal/testutils/reportscan/README.md
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/docextract/client.go
  pkg/docextract/errors.go
  pkg/docextract/extract_test.go
  pkg/modelarmor/client.go
Due: :golang: go generate, :yaml: generate config, :construction: create draft config PR, :link: link PRs

add mappings on controls import/cloning
  internal/graphapi/control_clone.go
  internal/graphapi/control_clone_mappings.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

add tests
  internal/graphapi/control_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

comment lint
  internal/graphapi/control_clone_mappings.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:

fix: enforce role level assignment before mutation
  internal/ent/hooks/organization.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/rule/invite.go
  internal/ent/privacy/rule/membership.go
  internal/ent/schema/invite.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/invite_test.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

cleaner
  internal/ent/privacy/rule/invite.go
Due: :golang: go generate, :yaml: generate config

fix: move modoules check after filter, remove orgbypass on questionnaires, fix minio
  docker/docker-compose-storage.yml
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/filter_test.go
  internal/graphapi/control_test.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
  pkg/objects/examples/docker-compose.yml
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

fix: move modoules check after filter, remove orgbypass on questionnaires, fix minio (#2842)
  docker/docker-compose-storage.yml
  internal/ent/interceptors/controls.go
  internal/ent/interceptors/filter_test.go
  internal/graphapi/control_test.go
  internal/httpserve/handlers/questionnaire.go
  internal/httpserve/handlers/questionnaire_test.go
  pkg/objects/examples/docker-compose.yml
  pkg/objects/storage/providers/r2/provider_test.go
  pkg/objects/storage/providers/s3/provider_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golangci-lint: lint handlers package :lint-roller:

fix null returns when an existing non active subscriber is readded
  internal/ent/hooks/subscriber.go
Due: :golang: go generate, :yaml: generate config

fix: enforce role level assignment before mutation (#2841)
  internal/ent/hooks/organization.go
  internal/ent/privacy/policy/base.go
  internal/ent/privacy/rule/invite.go
  internal/ent/privacy/rule/membership.go
  internal/ent/schema/invite.go
  internal/ent/schema/orgmembership.go
  internal/graphapi/invite_test.go
  internal/graphapi/orgmembers_test.go
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :postgres: atlas lint

feat: add order by subprocessor name, commit test from prior PR
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/gql_pagination.go
  internal/ent/interceptors/controls_test.go
  internal/ent/schema/trustcentersubprocessor.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

feat: add order by subprocessor name, commit test from prior PR (#2844)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/gql_pagination.go
  internal/ent/interceptors/controls_test.go
  internal/ent/schema/trustcentersubprocessor.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

fix: harden file interceptor
  internal/ent/interceptors/file.go
  internal/ent/interceptors/file_test.go
Due: :golang: go generate, :yaml: generate config

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  cli/go.mod
  cli/go.sum
  common/go.mod
  common/go.sum
  go.mod
  go.sum
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/entityops/entity_listener.go
  internal/ent/entityops/entity_notification.go
  internal/ent/hooks/subscriber.go
  internal/ent/schema/invite.go
  internal/ent/schema/subscriber.go
  internal/graphapi/bulk.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/generate/gen_gqlgen.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/invite.resolvers.go
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :golangci-lint: lint graphapi package :lint-roller:, :golang: go test - graphapi only, :golang: go test - handlers only, :golang: go test - all except api, :buildkite: upload test analytics report, :github: upload PR reports, :github: upload reports, :golang: build, :terminal: build cli, :postgres: atlas lint, :docker: docker pr build

add annotation
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/hooks/subscriber.go
  internal/ent/schema/assessment_response.go
  internal/ent/schema/subscriber.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/testclient/checksum/.client_checksum
Due: :golang: go generate, :yaml: generate config, :postgres: atlas lint

task regenerate
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-openapi-smart
  internal/ent/checksum/.history_schema_checksum
  internal/ent/checksum/.schema_checksum
  internal/ent/csvgenerated/csv_generated.go
  internal/ent/generated/gql_mutation_input.go
  internal/graphapi/checksum/.history_schema_checksum
  internal/graphapi/checksum/.schema_checksum
  internal/graphapi/clientschema/checksum/.schema_checksum
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/ent.generated.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/historyschema/checksum/.history_schema_checksum
  internal/graphapi/schema/ent.graphql
  internal/graphapi/testclient/checksum/.client_checksum
  internal/graphapi/testclient/models.go
  internal/httpserve/handlers/csv/sample_subscriber.csv
  internal/httpserve/specs/zz_generated_spec_types.go
Due: :golang: go generate, :yaml: generate config

just remove that.
  internal/ent/interceptors/file.go
Due: :golang: go generate, :yaml: generate config

update test to pass
  internal/ent/interceptors/file_test.go
Due: :golang: go generate, :yaml: generate config

drop runtime integration provider config from json output
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/types/runtime_integration.go
  jsonschema/Taskfile.yaml
Due: :yaml: generate config

drop runtime integration provider config from json output (#2847)
  internal/httpserve/specs/openlane.openapi.json
  internal/httpserve/specs/openlane.openapi.yaml
  internal/integrations/types/runtime_integration.go
  jsonschema/Taskfile.yaml
Due: :yaml: generate config
