Repository theopenlane/core: changes, and which Buildkite steps are due for each by the changed paths.
All: :test_tube: Go Tests & Builds, :database: Database Changes, :auth0: FGA Changes, :gear: Config Changes

Path conditions:
  :test_tube: Go Tests & Builds: any of: **/*.go, go.mod, go.sum
  :database: Database Changes: any of: db/migrations/**/*.sql
  :auth0: FGA Changes: any of: fga/**
  :gear: Config Changes: any of: config/**, .buildkite/**

fix updates to client
  pkg/windmill/client.go
Due: :test_tube: Go Tests & Builds

linter, docs
  docker/docker-compose-windmill.yml
  docs/Jobs.md
  docs/images/arch.png
  docs/images/jobs.png
  internal/ent/entconfig/config.go
  pkg/windmill/client.go
  pkg/windmill/types.go
Due: :test_tube: Go Tests & Builds

generate
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  docs/Jobs.md
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :gear: Config Changes

doesnt error
  Taskfile.yaml
  docker/configs/windmill/.env-example
  docker/docker-compose-windmill.yml
Due: none

docs
  docs/Jobs.md
  internal/ent/schema/jobresult.go
  internal/ent/schema/scheduledjob.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/generated/root_.generated.go
  pkg/openlaneclient/models.go
Due: :test_tube: Go Tests & Builds

docs: jobs results should use job runner token
  docs/Jobs.md
Due: none

initial cut at oauth integration handlers
  Taskfile.yaml
  config/.env.example
  config/config.example.yaml
  config/config.go
  docker/docker-compose-oauth-test.yml
  docs/field-encryption.md
  docs/oauth-integrations.md
  internal/ent/hooks/encryption.go
  internal/ent/hooks/encryption_test.go
  internal/ent/hooks/hush.go
  internal/ent/interceptors/encryption.go
  internal/ent/schema/example_encrypted_schema.go
  internal/ent/schema/hush.go
  internal/ent/schema/mixin_encryption.go
  internal/ent/schema/mixin_encryption_test.go
  internal/httpserve/handlers/handlers.go
  internal/httpserve/handlers/oauth_integration_binding_test.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
  internal/httpserve/route/oauth_integration.go
  internal/httpserve/route/router.go
  internal/httpserve/serveropts/option.go
  jsonschema/api-docs.md
  jsonschema/core.config.json
  pkg/models/models.go
  pkg/models/oauth_models_test.go
  pkg/testutils/integrations/README.md
  pkg/testutils/integrations/index.html
Due: :test_tube: Go Tests & Builds, :gear: Config Changes

call backs
  internal/ent/hooks/encryption.go
  internal/ent/hooks/encryption_test.go
  internal/ent/interceptors/encryption.go
  internal/ent/schema/example_encrypted_schema.go
  internal/ent/schema/mixin_encryption.go
  internal/ent/schema/mixin_encryption_test.go
  internal/httpserve/handlers/oauth_integration_binding_test.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
  internal/httpserve/route/oauth_integration.go
  pkg/models/models.go
  pkg/models/oauth_models_test.go
Due: :test_tube: Go Tests & Builds

try and finangle encryption config given its not accessible within the hooks
  internal/ent/hooks/encryption.go
  internal/ent/hush/cmd/hush/main.go
  internal/ent/hush/crypto/hooks_test.go
  internal/ent/hush/crypto/rotation_test.go
  internal/ent/hush/crypto/tink.go
  internal/ent/hush/crypto/tink_test.go
  internal/ent/hush/crypto/utils_test.go
  internal/ent/schema/defaults.go
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_helpers.go
  internal/httpserve/serveropts/option.go
  pkg/models/models.go
Due: :test_tube: Go Tests & Builds

move REST handlers to graph
  internal/ent/hooks/encryption.go
  internal/ent/hooks/encryption_test.go
  internal/graphapi/integration_test.go
  internal/graphapi/models_test.go
  internal/graphapi/query/integration.graphql
  internal/httpserve/handlers/oauth_integration_flow.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
  internal/httpserve/route/oauth_integration.go
  internal/httpserve/route/router.go
  pkg/testutils/integrations/index.html
Due: :test_tube: Go Tests & Builds

cleanup
  .golangci.yaml
Due: none

config generated
  config/.env.example
  config/config.example.yaml
  config/configmap.yaml
  config/helm-values.yaml
  config/pushsecrets/core-server-fieldlevelencryption-keyset.yaml
  jsonschema/api-docs.md
  jsonschema/core.config.json
Due: :gear: Config Changes

finish up the integration resolvers
  internal/graphapi/integration.resolvers.go
  internal/graphapi/query/integration.graphql
Due: :test_tube: Go Tests & Builds

fix test setups
  internal/ent/hooks/encryption_test.go
  internal/ent/hush/hush_test.go
Due: :test_tube: Go Tests & Builds

rebase
  internal/ent/generated/jobtemplate/jobtemplate.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/generated/scheduledjob/scheduledjob.go
  internal/ent/generated/standard/standard.go
  internal/ent/hooks/exportable_generated.go
  internal/ent/hush/crypto/hooks_test.go
  internal/ent/schema/jobtemplate.go
  internal/ent/schema/scheduledjob.go
  internal/graphapi/integration.resolvers.go
  internal/graphapi/integration_test.go
  internal/graphapi/models_test.go
  internal/httpserve/handlers/oauth_integration_flow_test.go
Due: :test_tube: Go Tests & Builds

docs: jobs results should use job runner token (#1038)
  docs/Jobs.md
Due: none

add tests for middleware and handlers; clean uo errors, linter
  docs/impersonation.md
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
Due: :test_tube: Go Tests & Builds

checksums and config
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  config/configmap.yaml
  config/helm-values.yaml
Due: :gear: Config Changes

PR feedback
  README.md
  Taskfile.yaml
  fga/Taskfile.yaml
  internal/httpserve/handlers/impersonation.go
Due: :test_tube: Go Tests & Builds, :auth0: FGA Changes

maybe don't mangle files
  pkg/models/models.go
Due: :test_tube: Go Tests & Builds

Impersonation Middleware and REST Handlers (#1034)
  .task/checksum/generate-ent-smart
  .task/checksum/generate-graphql-smart
  .task/checksum/generate-others-smart
  README.md
  Taskfile.yaml
  cmd/cli/Taskfile.yaml
  config/configmap.yaml
  config/helm-values.yaml
  docs/impersonation.md
  fga/Taskfile.yaml
  go.mod
  go.sum
  internal/httpserve/handlers/impersonation.go
  internal/httpserve/handlers/impersonation_test.go
  internal/httpserve/handlers/openapi.go
  internal/httpserve/route/impersonation.go
  internal/httpserve/route/router.go
  pkg/corejobs/export.go
  pkg/middleware/cors/cors.go
  pkg/middleware/impersonation/doc.go
  pkg/middleware/impersonation/impersonation.go
  pkg/middleware/impersonation/impersonation_test.go
  pkg/models/models.go
  pkg/testutils/impersonation/README.md
  pkg/testutils/impersonation/index.html
Due: :test_tube: Go Tests & Builds, :auth0: FGA Changes, :gear: Config Changes

fix tests
  internal/ent/hooks/file.go
  internal/graphapi/evidence_test.go
Due: :test_tube: Go Tests & Builds

build err
  internal/ent/hooks/file.go
Due: :test_tube: Go Tests & Builds

restrict files, except user files, to an organization, add query tests
  .task/checksum/install-tools
  internal/ent/generated/evidence/evidence.go
  internal/ent/generated/evidencehistory/evidencehistory.go
  internal/ent/generated/migrate/schema.go
  internal/ent/hooks/file.go
  internal/ent/interceptors/file.go
  internal/ent/schema/file.go
  internal/ent/schema/mixin_objectowned.go
  internal/ent/schema/mixin_orgowned.go
  internal/graphapi/clientschema/schema.graphql
  internal/graphapi/file_test.go
  internal/graphapi/generated/root_.generated.go
  internal/graphapi/models_test.go
  internal/graphapi/schema/ent.graphql
  internal/middleware/objects/permissions.go
  pkg/enums/evidencestatus.go
Due: :test_tube: Go Tests & Builds

fix for pat
  internal/ent/hooks/file.go
Due: :test_tube: Go Tests & Builds

fix, need cleanup still
  internal/graphapi/helpers.go
  internal/middleware/objects/middleware.go
Due: :test_tube: Go Tests & Builds

fix
  internal/ent/hooks/file.go
Due: :test_tube: Go Tests & Builds

wip, need to cleanup
  internal/ent/generated/file/file.go
  internal/ent/generated/runtime/runtime.go
  internal/ent/hooks/file.go
  internal/graphapi/helpers.go
  internal/graphapi/integration.resolvers.go
  internal/middleware/objects/middleware.go
  pkg/openlaneclient/models.go
Due: :test_tube: Go Tests & Builds

linter
  internal/ent/schema/mixin_objectowned.go
Due: :test_tube: Go Tests & Builds
